<div *ngIf="sharedProp.userLogged.permissions[0].role == 9; then thenBlockPatient else elseBlockPatient"></div>

<!-- Patient default init -->
<ng-template #thenBlockPatient>
  <app-patients></app-patients>
</ng-template>

<!-- All users default init -->
<ng-template #elseBlockPatient>
  <br/><br/>

  <div class="welcome_header">
    <img class="welcome_logo" src="../../../../assets/img/logo.png" alt="Sirius RIS">
    <br/><br/>
    <h1>{{ 'START_PAGE.WELCOME' | i18n }}</h1>
  </div>

  <br/>

  <div class="welcome_card">
    <h2 class="underline-fail-alt">{{ 'START_PAGE.ABOUT_TITLE' | i18n }}</h2>
    <strong>{{ 'START_PAGE.ABOUT_BRAND' | i18n }}</strong> {{ 'START_PAGE.ABOUT_TEXT' | i18n }}<br/>
    <br/>
    <mat-chip-list>
      <mat-chip>{{ 'START_PAGE.TECH_ANGULAR' | i18n }}</mat-chip>
      <mat-chip>{{ 'START_PAGE.TECH_RXJS' | i18n }}</mat-chip>
      <mat-chip>{{ 'START_PAGE.TECH_OHIF' | i18n }}</mat-chip>
      <mat-chip>{{ 'START_PAGE.TECH_NODE' | i18n }}</mat-chip>
      <mat-chip>{{ 'START_PAGE.TECH_MONGODB' | i18n }}</mat-chip>
      <mat-chip>{{ 'START_PAGE.TECH_DOCKER' | i18n }}</mat-chip>
    </mat-chip-list>

    <br/><hr class="dashed" /><br/>

    <h2 class="underline-ok-alt">{{ 'START_PAGE.HELP_TITLE' | i18n }}</h2>
    <ul>
      <li>{{ 'START_PAGE.HELP_GITHUB' | i18n }} <strong><a href="https://github.com/opendicom/sirius-ris" target="_blank">GitHub</a></strong> & <strong><a href="https://hub.docker.com/search?q=opendicom%2Fsirius" target="_blank">DockerHub</a></strong></li>
      <li><strong><a class="link-alt" href="mailto:info@opendicom.com?subject=Solicitud de soporte para Sirius RIS">{{ 'START_PAGE.HELP_SUPPORT' | i18n }}</a></strong></li>
    </ul>
  </div>

  <div class="welcome_card slim" mat-menu-item><mat-icon>speed</mat-icon> {{ 'START_PAGE.CARD_SIMPLE' | i18n }}</div>
  <div class="welcome_card slim" mat-menu-item><mat-icon>verified_user</mat-icon> {{ 'START_PAGE.CARD_ROBUST' | i18n }}</div>
  <div class="welcome_card slim" mat-menu-item><mat-icon>visibility</mat-icon> <strong>{{ 'START_PAGE.CARD_OPAQUE_STRONG' | i18n }}</strong> {{ 'START_PAGE.CARD_OPAQUE_TEXT' | i18n }}</div>
  <div class="welcome_card slim" mat-menu-item><mat-icon>badge</mat-icon> {{ 'START_PAGE.CARD_IDENTITY_LEAD' | i18n }} <strong>{{ 'START_PAGE.CARD_IDENTITY_STRONG1' | i18n }}</strong> | <strong>{{ 'START_PAGE.CARD_IDENTITY_STRONG2' | i18n }}</strong></div>
  <div class="welcome_card slim" mat-menu-item><mat-icon>account_tree</mat-icon> {{ 'START_PAGE.CARD_PRIVILEGES_LEAD' | i18n }} <strong>{{ 'START_PAGE.CARD_PRIVILEGES_STRONG' | i18n }}</strong> {{ 'START_PAGE.CARD_PRIVILEGES_TAIL' | i18n }}</div>

  <div class="clear"></div>

  <img class="earth_planet" src="../../../../assets/img/earth_planet_purple.png" alt="Earth planet">
</ng-template>