<div *ngIf="sharedProp.userLogged.permissions[0].role == 9; then thenBlockPatient else elseBlockPatient"></div>

<!-- Patient default init -->
<ng-template #thenBlockPatient>
  <app-patients></app-patients>
</ng-template>

<!-- All users default init -->
<ng-template #elseBlockPatient>
  <br/><br/>

  <div class="welcome_header">
    <img class="welcome_logo" src="../../../../assets/img/logo.png" alt="Sirius RIS">
    <br/><br/>
    <h1>Bienvenidos a Sirius RIS</h1>
  </div>

  <br/>

  <div class="welcome_card">
    <h2 class="underline-fail-alt">Acerca de</h2>
    <strong>Sirius RIS</strong> es un sistema de información radiológica de código abierto que fué desarrollado gracias a las siguientes tecnologías.<br/>
    <br/>
    <mat-chip-list>
      <mat-chip>Angular</mat-chip>
      <mat-chip>RxJS</mat-chip>
      <mat-chip>OHIF</mat-chip>
      <mat-chip>NodeJS</mat-chip>
      <mat-chip>MongoDB</mat-chip>
      <mat-chip>Docker</mat-chip>
    </mat-chip-list>

    <br/><hr class="dashed" /><br/>

    <h2 class="underline-ok-alt">Ayuda</h2>
    <ul>
      <li>Documentación oficial en <strong><a href="https://github.com/opendicom/sirius-ris" target="_blank">GitHub</a></strong> & <strong><a href="https://hub.docker.com/search?q=opendicom%2Fsirius" target="_blank">DockerHub</a></strong></li>
      <li>Servicio de <strong><a class="link-alt" href="mailto:info@opendicom.com?subject=Solicitud de soporte para Sirius RIS">soporte oficial</a></strong></li>
    </ul>
  </div>

  <div class="welcome_card slim" mat-menu-item><mat-icon>speed</mat-icon> Simple, eficiente y rápido</div>
  <div class="welcome_card slim" mat-menu-item><mat-icon>verified_user</mat-icon> Robusto, seguro y auditable</div>
  <div class="welcome_card slim" mat-menu-item><mat-icon>visibility</mat-icon> <strong>Interfaz opaca</strong> para respetar ambientes radiológicos</div>
  <div class="welcome_card slim" mat-menu-item><mat-icon>badge</mat-icon> Identificación inequivoca de personas | <strong>ISO-3166</strong> | <strong>UNAOID/ICAO v1.0</strong></div>
  <div class="welcome_card slim" mat-menu-item><mat-icon>account_tree</mat-icon>Sistema de <strong>privilegios escalables</strong> para usuarios</div>

  <div class="clear"></div>

  <img class="earth_planet" src="../../../../assets/img/earth_planet_purple.png" alt="Earth planet">
</ng-template>