/*----------------------------------------------------------------------------------------------------------------------*/
/* WELCOME PAGE */
/*----------------------------------------------------------------------------------------------------------------------*/
.welcome_header{
  text-align: center;
  color: var(--opposite-color-01);
}

h1 {
  font-size: 33px;
}

a {
  color: var(--pink);
  text-decoration: none;
}

.link-alt {
  color: var(--opposite-color-02);
}

.welcome_logo {
  max-width: 150px !important;
  max-height: 100% !important;
  opacity: 0.8;
}

.welcome_card {
  float: left;
  width: 35%;
  margin-left: 10%;
  margin-top: 20px;
  z-index: 1;
  color: var(--opposite-color-01);
  background-color: var(--base-color-03);
  opacity: 0.8;
  border-left: 2px solid var(--green-highlighted);
  padding: 25px;
  border-radius: 5px;
}

.welcome_card .mat-icon {
  color: var(--base-icon-color);
}

.mat-menu-item:hover {
  background-color: var(--base-color-03) !important;
}

ul {
  padding-left: 12px !important;
}

.slim{
  padding: 6px 25px 6px 25px !important;
  margin-left: 3% !important;
}

.earth_planet {
  position: fixed;
  bottom: -10%;
  right: -10%;
  z-index: -1;
  max-height: 90%;
  opacity: var(--earth-planet-opacity);
}
/*----------------------------------------------------------------------------------------------------------------------*/
