<form class="form-element" #form_data="ngForm" (ngSubmit)="onSubmit(form_data)">
  <img src="../../../../assets/img/logo_vertical.png" alt="Signin">

  <br/><br/><hr class="dashed" /><br/>

  <mat-form-field appearance="fill" class="sub-element">
    <mat-label>Documento</mat-label>
    <input matInput type="text" name="document" ngModel required placeholder="Ingrese su documento">
  </mat-form-field>

  <br/>

  <mat-form-field appearance="fill" class="sub-element">
    <mat-label>Contraseña</mat-label>
    <input matInput type="password" name="password" ngModel required placeholder="Ingrese su contraseña">
  </mat-form-field>

  <br/>

  <button mat-flat-button color="primary" class="sub-element submit-button" type="submit">INICIAR SESIÓN</button>

  <br/><br/>

  <div class="document-section" *ngIf="sharedProp.mainSettings.appSettings != undefined">
    <mat-form-field appearance="fill" class="medium">
      <mat-label>País del documento</mat-label>
      <mat-select name="doc_country_code" [(ngModel)]="sharedProp.mainSettings.appSettings.default_country" required >
        <div *ngFor="let currentCode of getKeys(country_codes, true)">
          <mat-option value="{{ currentCode }}"><span class="flag-icon flag-icon-{{ country_codes[currentCode].alpha_2 | lowercase }}"></span>&nbsp;&nbsp;&nbsp;{{ country_codes[currentCode].name }}</mat-option>
        </div>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" class="medium">
      <mat-label>Tipo de documento</mat-label>
      <mat-select name="doc_type" [(ngModel)]="sharedProp.mainSettings.appSettings.default_doc_type" required >
        <div *ngFor="let currentDocType of document_types | keyvalue: unsorted">
          <mat-option value="{{ currentDocType.key }}">{{ currentDocType.value }}</mat-option>
        </div>
      </mat-select>
    </mat-form-field>
  </div>

  <div *ngIf="GET_full_status && sharedProp.mainSettings.appSettings != undefined"><!--Full status information-->
    <br/><hr class="dashed" />
    <strong>AJUSTES PRINCIPALES</strong>
    <hr class="dashed" />
    <div fxLayout="row" fxLayoutAlign="start start">
      <div class="input-wrapper text-left divider-alt"> <!-- start fxLayout wrapper -->
        <small>
          Backend URL: {{ sharedProp.mainSettings.appSettings.backend_url }}<br/>
          File max size: {{ sharedProp.mainSettings.appSettings.file_max_size }}<br/>
          Default page sizes: {{ sharedProp.mainSettings.appSettings.default_page_sizes }}<br/>
          Check-in default size: {{ sharedProp.mainSettings.appSettings.check_in_default_size }}<br/>
        </small>
      </div> <!-- end fxLayout wrapper -->

      <div class="input-wrapper text-left divider-alt"> <!-- start fxLayout wrapper -->
        <small>
          Default country: {{ sharedProp.mainSettings.appSettings.default_country }}<br/>
          Default country isoCode: {{ sharedProp.mainSettings.appSettings.default_country_isoCode }}<br/>
          Default country name: {{ sharedProp.mainSettings.appSettings.default_country_name }}<br/>
          Default state isoCode: {{ sharedProp.mainSettings.appSettings.default_state_isoCode }}
        </small>
      </div> <!-- end fxLayout wrapper -->

      <div class="input-wrapper text-left"> <!-- start fxLayout wrapper -->
        <small>
          Default state name: {{ sharedProp.mainSettings.appSettings.default_state_name }}<br/>
          Default city name: {{ sharedProp.mainSettings.appSettings.default_city_name }}<br/>
          Default document type: {{ sharedProp.mainSettings.appSettings.default_doc_type }}<br/>
          Default UTC: {{ sharedProp.mainSettings.appSettings.default_utc }}
        </small>
      </div> <!-- end fxLayout wrapper -->
    </div>
  </div>
</form>
