<form class="form-element" [formGroup]="form" (ngSubmit)="onSubmit()">
  <div fxLayout="row" fxLayoutAlign="start start">

    <div class="input-wrapper divider"> <!-- start fxLayout wrapper -->
      <h4>{{ 'SLOTS.BATCH.SERVICE_H4' | i18n }}</h4>
      <mat-form-field appearance="fill" class="large">
        <mat-label>{{ 'SLOTS.BATCH.SERVICE_LABEL' | i18n }}</mat-label>
        <mat-select formControlName="domain" (closed)="onChangeService()" placeholder="{{ 'SLOTS.BATCH.SERVICE_PLACEHOLDER' | i18n }}">
          <div *ngFor="let currentService of availableServices">
            <div *ngFor="let currentBranch of availableBranches">
              <div *ngFor="let currentOrganization of availableOrganizations">
                <mat-option (click)="setBranch(currentService.fk_branch, currentService.fk_equipments)" *ngIf="currentBranch.fk_organization == currentOrganization._id && currentService.fk_branch == currentBranch._id" value="{{ currentOrganization._id + '.' + currentBranch._id + '.' + currentService._id }}">{{ currentOrganization.short_name }} ► {{ currentBranch.short_name }} ► {{ currentService.name }}</mat-option>
              </div>
            </div>
          </div>
        </mat-select>
      </mat-form-field>

      <h4>{{ 'SLOTS.BATCH.EQUIPMENT_H4' | i18n }}</h4>
      <mat-form-field appearance="fill" class="large">
        <mat-label>{{ 'SLOTS.BATCH.EQUIPMENT_LABEL' | i18n }}</mat-label>
        <mat-select formControlName="fk_equipment" placeholder="{{ 'SLOTS.BATCH.EQUIPMENT_PLACEHOLDER' | i18n }}">
          <div *ngFor="let currentEquipment of availableEquipments">
            <mat-option value="{{ currentEquipment._id }}">{{ currentEquipment.name }}</mat-option>
          </div>
        </mat-select>
      </mat-form-field>

      <hr class="dashed" /><br/>

      <h4>{{ 'SLOTS.BATCH.DATE_RANGE_H4' | i18n }}</h4>
      <mat-form-field appearance="fill" class="large">
        <mat-label>{{ 'SLOTS.BATCH.DATE_RANGE_LABEL' | i18n }}</mat-label>
        <mat-date-range-input [rangePicker]="picker" [min]="minDate" [max]="maxDate" (click)="picker.open()">
          <input matStartDate  formControlName="range_start" readonly placeholder="{{ 'SLOTS.BATCH.START_DATE_PLACEHOLDER' | i18n }}">
          <input matEndDate formControlName="range_end" readonly placeholder="{{ 'SLOTS.BATCH.END_DATE_PLACEHOLDER' | i18n }}">
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field>

      <br/><hr class="dashed" /><br/>

      <h4>{{ 'SLOTS.BATCH.DAYS_OF_WEEK_H4' | i18n }}</h4>
      <div class="item-container" formArrayName="day">
        <ng-container *ngFor="let currentDay of daysOfWeek | keyvalue; let key = index">
          <mat-checkbox color="primary" (change)="onCheckDay($event, key)">{{ currentDay.value }}</mat-checkbox>
        </ng-container>
      </div>

      <br/><br/>
    </div> <!-- end fxLayout wrapper -->

    <div class="input-wrapper"> <!-- start fxLayout wrapper -->
      <h4>{{ 'SLOTS.BATCH.URGENCY_H4' | i18n }}</h4>
      <mat-radio-group color="primary" formControlName="urgency">
        <mat-radio-button value="true">{{ 'SLOTS.BATCH.YES' | i18n }}</mat-radio-button>
        <mat-radio-button value="false">{{ 'SLOTS.BATCH.NO' | i18n }}</mat-radio-button>
      </mat-radio-group>

      <br/><br/><hr class="dashed" /><br/>

      <h4>{{ 'SLOTS.BATCH.START_SHIFT_H4' | i18n }} <span class="label-info">{{ 'SLOTS.BATCH.FORMAT_24HS' | i18n }}</span>:</h4>
      <mat-form-field appearance="fill">
        <mat-label>{{ 'SLOTS.BATCH.START_LABEL' | i18n }}</mat-label>
        <input type="time" matInput formControlName="start" min="00:00" max="24:00">
     </mat-form-field>

      <h4>{{ 'SLOTS.BATCH.END_SHIFT_H4' | i18n }} <span class="label-info">{{ 'SLOTS.BATCH.FORMAT_24HS' | i18n }}</span>:</h4>
      <mat-form-field appearance="fill">
        <mat-label>{{ 'SLOTS.BATCH.END_LABEL' | i18n }}</mat-label>
        <input type="time" matInput formControlName="end" min="00:00" max="24:00">
     </mat-form-field>
    </div> <!-- end fxLayout wrapper -->

  </div>

  <div class="action-wrapper"fxLayout="row" fxLayoutAlign="end center">
    <div> <!-- start fxLayout wrapper -->
      <button mat-flat-button type="button" (click)="onCancel();">{{ 'SLOTS.BATCH.CANCEL_BUTTON' | i18n }}</button>
      <button mat-flat-button type="submit" color="primary">{{ 'SLOTS.BATCH.SAVE_BUTTON' | i18n }}</button> <!-- [disabled]="form_data.invalid" -->
    </div> <!-- end fxLayout wrapper -->
  </div>
</form>
