.main-toolbar{
  position: fixed;
  position: -webkit-fixed;  /* For macOS/iOS Safari */
  top: 0;                   /* Sets the fixed toolbar to be on top */
  z-index: 1000;            /* Ensure that your app's content doesn't overlap the toolbar */

  color: #ddd;
  background-color: #27293d;
  border-bottom: 3px solid;
    -o-border-image: linear-gradient(to right, #743ad5 0%, #d53a9d 100%);
       border-image: linear-gradient(to right, #743ad5 0%, #d53a9d 100%);
  border-image-slice: 1;
}

.logo {
  display: inline;
  max-height: 60% !important;
  margin-right: 10px;
  cursor: pointer;
}

.main-container{
  width: 100%;
  min-height: calc(100vh - 64px);
  background-color: #1e1e2f;
}

.main-sidenav {
  position:fixed;
  padding-top: 64px;
  color: #ddd;
  background-color: #2d2d47;
}

.main-content {
  padding: 64px 12px 12px 12px;
}
