services:
  opendicom_sirius_database:
    container_name: opendicom_sirius_database
    image: opendicom/sirius-database:1.1.2
    env_file: ./docker-compose.env
    volumes:
      - ./database/dumps:/dumps
      - ./database/data:/data/db
      - ./database/cron/crontab_file:/etc/crontab
      - ./database/backups/:/backups
    ports:
      - 27017:27017
    restart: unless-stopped
    networks:
      - opendicom_net

  opendicom_sirius_backend:
    container_name: opendicom_sirius_backend
    image: opendicom/sirius-backend:1.3.0
    env_file: ./docker-compose.env
    ports:
      - 2000:2000
    depends_on:
      - opendicom_sirius_database
    restart: unless-stopped
    networks:
      - opendicom_net

  opendicom_sirius_frontend:
    container_name: opendicom_sirius_frontend
    image: opendicom/sirius-frontend:1.3.0
    env_file: ./docker-compose.env
    ports:
      - 4000:80
    depends_on:
      - opendicom_sirius_backend
    restart: unless-stopped
    networks:
      - opendicom_net

networks:
  opendicom_net:
    name: opendicom_net
