<div *ngIf="sharedFunctions.response; then thenBlockTable else elseBlockTable"></div>

<ng-template #thenBlockTable>
  <div #main_list>
    <table mat-table [dataSource]="sharedFunctions.response.data" class="mat-elevation-z1">

      <!-- element action -->
      <ng-container matColumnDef="element_action">
        <th mat-header-cell *matHeaderCellDef> Acciones </th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button color="accent" aria-label="Editar" matTooltip="Editar" routerLink="/organizations/form/update/{{ element._id }}">
            <mat-icon>edit</mat-icon>
          </button>

          <!-- Superusuario, Administrador, Concesiones: [11: Acceso a logs de elementos] -->
          <span *ngIf="sharedProp.userLogged.permissions[0].role == 1 || sharedProp.userLogged.permissions[0].role == 2 || (sharedProp.userLogged.permissions[0].concession && sharedFunctions.checkConcessions(sharedProp, [11]))" >
            <button mat-icon-button color="accent" aria-label="Logs del elemento" matTooltip="Logs del elemento" routerLink="/logs/element/{{ sharedProp.element }}/{{ element._id }}">
              <mat-icon>format_list_bulleted</mat-icon>
            </button>
          </span>
        </td>
      </ng-container>

      <!-- short_name -->
      <ng-container matColumnDef="short_name">
        <th mat-header-cell *matHeaderCellDef> Nombre corto </th>
        <td mat-cell *matCellDef="let element">
          <span *ngIf="element.short_name" innerHTML="{{ element.short_name | highlighter : sharedProp.filter }}"></span>
        </td>
      </ng-container>

      <!-- name -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Nombre </th>
        <td mat-cell *matCellDef="let element">
          <span *ngIf="element.name" innerHTML="{{ element.name | highlighter : sharedProp.filter }}"></span>
        </td>
      </ng-container>

      <!-- OID -->
      <ng-container matColumnDef="OID">
        <th mat-header-cell *matHeaderCellDef> OID </th>
        <td mat-cell *matCellDef="let element">
          <span *ngIf="element.OID" innerHTML="{{ element.OID | highlighter : sharedProp.filter }}"></span>
        </td>
      </ng-container>

      <!-- country_code -->
      <ng-container matColumnDef="country_code">
        <th mat-header-cell *matHeaderCellDef> País </th>
        <td mat-cell *matCellDef="let element">
          <span *ngIf="element.country_code" matTooltip="{{ country_codes[element.country_code].name }}" class="flag-icon flag-icon-{{ country_codes[element.country_code].alpha_2 | lowercase }}"></span>
        </td>
      </ng-container>

      <!-- structure_id -->
      <ng-container matColumnDef="structure_id">
        <th mat-header-cell *matHeaderCellDef> ID Estructura </th>
        <td mat-cell *matCellDef="let element">
          <span *ngIf="element.structure_id" innerHTML="{{ element.structure_id | highlighter : sharedProp.filter }}"></span>
        </td>
      </ng-container>

      <!-- suffix -->
      <ng-container matColumnDef="suffix">
        <th mat-header-cell *matHeaderCellDef> Sufijo </th>
        <td mat-cell *matCellDef="let element">
          <span *ngIf="element.suffix" innerHTML="{{ element.suffix | highlighter : sharedProp.filter }}"></span>
        </td>
      </ng-container>

      <!-- status -->
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> Estado </th>
        <td mat-cell *matCellDef="let element">
          <div *ngIf="element.status; then thenBlock else elseBlock"></div>
          <ng-template #thenBlock><mat-icon class="color-ok" matTooltip="Activo">done</mat-icon></ng-template>
          <ng-template #elseBlock><mat-icon class="color-fail" matTooltip="Inactivo">clear</mat-icon></ng-template>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</ng-template>

<!-- Await response or not response -->
<ng-template #elseBlockTable>
  <div fxLayout="row" fxLayoutAlign="center center" class="response-info">
    Aguarde, aún no hay resultados.
  </div>
</ng-template>

<!-- No Data -->
<div *ngIf="sharedFunctions.response.message;" fxLayout="row" fxLayoutAlign="center center" class="response-info">
  {{ sharedFunctions.response.message }}
</div>

<!-- Export to XSLX -->
<div class="text-right" *ngIf="sharedFunctions.response"><button mat-flat-button color="accent" class="export-xslx" (click)="tableToExcel()"><mat-icon class="export-icon">get_app</mat-icon> EXPORTAR LISTADO</button></div>