<form class="form-element" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div fxLayout="row" fxLayoutAlign="start start">
  
      <div class="input-wrapper divider"> <!-- start fxLayout wrapper -->
        <!-- Only superuser can set patient organization -->
        <div [class.non-display]="sharedProp.userLogged.permissions[0].role !== 1">
          <h4>{{ 'pathologies.organization' | translate }}:</h4>
          <mat-form-field appearance="fill" class="large">
            <mat-label>{{ 'pathologies.organization' | translate }}</mat-label>
            <mat-select formControlName="fk_organization" [placeholder]="'pathologies.select_organization' | translate">
              <div *ngFor="let currentOrganization of availableOrganizations">
                <mat-option value="{{ currentOrganization._id }}">{{ currentOrganization.short_name }} ({{ currentOrganization.name }})</mat-option>
              </div>
            </mat-select>
          </mat-form-field>
        </div>

        <h4>{{ 'pathologies.name' | translate }}:</h4>
        <mat-form-field appearance="fill" class="medium">
          <mat-label>{{ 'pathologies.name' | translate }}</mat-label>
          <input matInput type="text" formControlName="name" [placeholder]="'pathologies.name_placeholder' | translate">
        </mat-form-field>
  
        <h4>{{ 'pathologies.description' | translate }}:</h4>
          <mat-form-field appearance="fill" class="full">
          <mat-label>{{ 'pathologies.description' | translate }}</mat-label>
        <textarea matInput formControlName="description" [placeholder]="'pathologies.description_placeholder' | translate"></textarea>
        </mat-form-field>
  
        <hr class="dashed" /><br/>
  
        <h4>{{ 'pathologies.status' | translate }}:</h4>
        <mat-radio-group [attr.aria-label]="'pathologies.status' | translate" color="primary" formControlName="status">
          <mat-radio-button value="true">{{ 'pathologies.active' | translate }}</mat-radio-button>
          <mat-radio-button value="false">{{ 'pathologies.inactive' | translate }}</mat-radio-button>
        </mat-radio-group>
  
        <br/><br/>
      </div> <!-- end fxLayout wrapper -->
  
      <div class="input-wrapper text-center"> <!-- start fxLayout wrapper -->
        <img class="form_nodes" src="../../../../../assets/img/nodes.png" alt="nodes">
      </div> <!-- end fxLayout wrapper -->
  
    </div>
  
    <div class="action-wrapper"fxLayout="row" fxLayoutAlign="end center">
      <div> <!-- start fxLayout wrapper -->
        <button mat-flat-button type="button" (click)="onCancel();">{{ 'pathologies.cancel' | translate }}</button>
        <button mat-flat-button type="submit" color="primary">{{ 'pathologies.save' | translate }}</button> <!-- [disabled]="form_data.invalid" -->
      </div> <!-- end fxLayout wrapper -->
    </div>
  </form>
  