.male {
  color: var(--light-blue);
}

.female {
  color: var(--pink);
}

.other {
  color: var(--green-highlighted);
}

.current-info {
  float: left;
  margin-right: 10px;
  padding: 5px 12px 5px 5px;
}

.performing-firts {
  font-size: 18px;
}

.details-title {
  margin-bottom: 5px !important;
}

.no-dicom {
  color: var(--base-color-05);
  margin-left: -12.6%;
  font-size: 120px;
}

.adjust-mat-dialog-content-ohif {
  min-height: 860px !important;
}

.view-button {
  background-color: var(--purple-opaque);
  color: #ffffff;
}

.download-button {
background-color: var(--green-opaque);
color: #ffffff;
}