<form class="form-element">
  <div fxLayout="row" fxLayoutAlign="start start">
    <div class="input-wrapper divider-alt"> <!-- start fxLayout wrapper -->
      <h3 class="details-title">{{ 'APPOINTMENTS.FORM_UPDATE.APPOINTMENT_DETAILS_TITLE' | i18n }}</h3>
      <div class="current-wrap">
        <!-- appointment_date -->
        <div class="current-info divider-alt">
          <small>{{ 'APPOINTMENTS.FORM_INSERT.SUMMARY.APPOINTMENT_DATE' | i18n }}</small><br/>
          <span *ngIf="this.sharedProp.current_datetime" class="appointment-firts">{{ this.sharedProp.current_datetime.dateDay + '/' + this.sharedProp.current_datetime.dateMonth + '/' + this.sharedProp.current_datetime.dateYear }}</span>
        </div>

        <!-- appointment_start -->
        <div class="current-info divider-alt">
          <small>{{ 'APPOINTMENTS.FORM_INSERT.SUMMARY.START_TIME' | i18n }}</small><br/>
          <span *ngIf="this.sharedProp.current_datetime" class="appointment-firts">{{ this.sharedProp.current_datetime.startHours + ':' + this.sharedProp.current_datetime.startMinutes }}</span>
        </div>

        <!-- appointment_end -->
        <div class="current-info divider-alt">
          <small>{{ 'APPOINTMENTS.FORM_INSERT.SUMMARY.END_TIME' | i18n }}</small><br/>
          <span *ngIf="this.sharedProp.current_datetime" class="appointment-firts">{{ this.sharedProp.current_datetime.endHours + ':' + this.sharedProp.current_datetime.endMinutes }}</span>
        </div>

        <!-- equipment -->
        <div class="current-info text-center divider-alt">
          <small>{{ 'APPOINTMENTS.FORM_INSERT.SUMMARY.EQUIPMENT' | i18n }}</small><br/>
          <span *ngIf="this.sharedProp.current_equipment" class="badge-accent" matTooltip="{{ 'AET: ' + this.sharedProp.current_equipment.details.AET }}">
            <span>{{ this.sharedProp.current_equipment.details.name }}</span>
          </span>
        </div>

        <!-- urgency -->
        <div class="current-info text-center">
          <small>{{ 'APPOINTMENTS.FORM_INSERT.SUMMARY.URGENCY' | i18n }}</small><br/>
          <div *ngIf="this.sharedProp.current_urgency; then thenBlockUrgency else elseBlockUrgency"></div>
          <ng-template #thenBlockUrgency><mat-icon class="color-fail" matTooltip="{{ 'SLOTS.LIST.TOOLTIPS.URGENT' | i18n }}">directions_run</mat-icon></ng-template>
          <ng-template #elseBlockUrgency><mat-icon color="accent" matTooltip="{{ 'SLOTS.LIST.TOOLTIPS.NORMAL' | i18n }}">man</mat-icon></ng-template>
        </div>

        <div class="clear"></div>
      </div>

      <hr class="dashed" /><br/>

      <h3 class="details-title">{{ 'APPOINTMENTS.FORM_INSERT.SUMMARY.PREPARATION_TITLE' | i18n }}</h3>
      <div class="current-wrap preparation-wrap">
        <!-- preparation -->
        <div class="current-info">
          <div *ngIf="this.sharedProp.current_procedure && this.sharedProp.current_procedure.preparation !== undefined && this.sharedProp.current_procedure.preparation.length > 0; then thenBlockPreparation else elseBlockPreparation"></div>

          <ng-template #thenBlockPreparation>
            <span innerHTML="{{ this.sharedProp.current_procedure.preparation }}"></span>
          </ng-template>

          <ng-template #elseBlockPreparation>
            <span>{{ 'APPOINTMENTS.FORM_INSERT.SUMMARY.NO_PREPARATION' | i18n }}</span>
          </ng-template>
        </div>

        <div class="clear"></div>
      </div>


      <hr class="dashed" />
      <div class="text-center">
        <small>Study IUID</small><br/><span class="label-accent">{{ this.sharedProp.current_study_iuid }}</span>
      </div>
    </div> <!-- end fxLayout wrapper -->

    <div class="input-wrapper"> <!-- start fxLayout wrapper -->
      <span *ngIf="this.sharedProp.current_patient">
        <span *ngIf="this.sharedProp.current_patient.person">
          <h3 class="details-title">{{ 'APPOINTMENTS.FORM_INSERT.PATIENT.TITLE' | i18n }}</h3>
          <div class="current-wrap">
            <!-- documents -->
            <div class="current-info">
              <small>{{ 'APPOINTMENTS.FORM_INSERT.PATIENT.DOCUMENTS' | i18n }}</small><br/>
              <span *ngFor="let current of this.sharedProp.current_patient.person.documents" >
                <span matTooltip="{{ country_codes[current.doc_country_code].name }}" class="flag-icon flag-icon-{{ country_codes[current.doc_country_code].alpha_2 | lowercase }}"></span>&nbsp;
                <span matTooltip="{{ ('DOCUMENT_TYPES.' + current.doc_type) | i18n }}">
                  <span>{{ current.document }}</span>
                </span>
                <br/>
              </span>
            </div>

            <!-- names -->
            <div class="current-info">
              <small>{{ 'APPOINTMENTS.FORM_INSERT.PATIENT.FULL_NAME' | i18n }}</small><br/>
              <span class="current-firts">
                <span>{{ this.sharedProp.current_patient.person.name_01 }}</span>

                <span *ngIf="this.sharedProp.current_patient.person.name_02">
                  <span> {{ this.sharedProp.current_patient.person.name_02 }}</span>
                </span>

                <span> {{ this.sharedProp.current_patient.person.surname_01 }}</span>

                <span *ngIf="this.sharedProp.current_patient.person.surname_02">
                  <span> {{ this.sharedProp.current_patient.person.surname_02 }}</span>
                </span>
              </span>
            </div>

            <div class="clear"></div>
          </div>

          <div class="clear"></div>

          <div class="current-wrap">
            <!-- birth_date -->
            <div class="current-info">
              <small>{{ 'APPOINTMENTS.FORM_INSERT.PATIENT.BIRTH_DATE' | i18n }}</small><br/>
              <span class="current-firts">{{ this.sharedProp.current_patient.person.birth_date | date:"dd/MM/yyyy":"UTC" }}</span>
            </div>

            <!-- genre -->
            <div class="current-info text-center">
              <small>{{ 'APPOINTMENTS.FORM_INSERT.PATIENT.GENDER' | i18n }}</small><br/>
              <span [ngSwitch]="this.sharedProp.current_patient.person.gender" matTooltip="{{ ('GENDER_TYPES.' + this.sharedProp.current_patient.person.gender) | i18n }}">
                <span *ngSwitchCase="1"><mat-icon class="male">man</mat-icon></span>
                <span *ngSwitchCase="2"><mat-icon class="female">woman</mat-icon></span>
                <span *ngSwitchCase="3"><mat-icon class="other">wc</mat-icon></span>
              </span>
            </div>

            <!-- status -->
            <div class="current-info text-center">
              <small>{{ 'APPOINTMENTS.FORM_INSERT.PATIENT.STATUS' | i18n }}</small><br/>
              <span *ngIf="this.sharedProp.current_patient.status; then thenBlock else elseBlock"></span>
              <ng-template #thenBlock><mat-icon class="color-ok" matTooltip="{{ 'BRANCHES.LIST.STATUS.ACTIVE' | i18n }}">done</mat-icon></ng-template>
              <ng-template #elseBlock><mat-icon class="color-fail" matTooltip="{{ 'BRANCHES.LIST.STATUS.INACTIVE' | i18n }}">clear</mat-icon></ng-template>
            </div>
            <div class="clear"></div>
          </div>

        </span>
      </span>

      <hr class="dashed"/><br/>

      <span *ngIf="this.sharedProp.current_imaging">
        <span *ngIf="this.sharedProp.current_imaging.organization && this.sharedProp.current_imaging.branch && this.sharedProp.current_imaging.service && this.sharedProp.current_modality">
          <h3 class="details-title">{{ 'APPOINTMENTS.FORM_INSERT.STUDY.TITLE' | i18n }}</h3>

          <div class="current-wrap">
            <!-- imaging -->
            <div class="current-info">
              <small>{{ 'APPOINTMENTS.FORM_INSERT.STUDY.DOMAIN_HIERARCHY' | i18n }}</small><br/>
              <span class="current-firts">{{ this.sharedProp.current_imaging.organization.short_name + ' ► ' + this.sharedProp.current_imaging.branch.short_name + ' ► ' + this.sharedProp.current_imaging.service.name }}</span>
            </div>

            <div class="clear"></div>
          </div>

          <div class="clear"></div>

          <div class="current-wrap">
            <!-- procedure -->
            <div class="current-info text-center">
              <small>{{ 'APPOINTMENTS.FORM_INSERT.STUDY.PROCEDURE' | i18n }}</small><br/>
              <span class="badge-alt">
                <span *ngIf="this.sharedProp.current_procedure">{{ this.sharedProp.current_procedure.name }}</span>
              </span>
            </div>

            <!-- modality -->
            <div class="current-info text-center">
              <small>{{ 'APPOINTMENTS.FORM_INSERT.STUDY.MODALITY' | i18n }}</small><br/>
              <span class="badge" matTooltip="{{ this.sharedProp.current_modality.code_meaning }}">
                <span>{{ this.sharedProp.current_modality.code_value }}</span>
              </span>
            </div>

            <!-- informed_consent -->
            <div class="current-info text-center">
              <small>{{ 'APPOINTMENTS.FORM_INSERT.STUDY.REQUIRES_INFORMED_CONSENT' | i18n }}</small><br/>
              <span *ngIf="this.sharedProp.current_procedure && this.sharedProp.current_procedure.informed_consent; then thenBlock else elseBlock"></span>
              <ng-template #thenBlock><mat-icon class="color-ok" matTooltip="{{ 'PROCEDURES.FORM.YES' | i18n }}">done</mat-icon></ng-template>
              <ng-template #elseBlock><mat-icon class="color-fail" matTooltip="{{ 'PROCEDURES.FORM.NO' | i18n }}">clear</mat-icon></ng-template>
            </div>

            <div class="clear"></div>
          </div>

        </span>
      </span>
    </div> <!-- end fxLayout wrapper -->
  </div>

  <hr class="dashed"/>

  <mat-tab-group (selectedTabChange)="adjustFullCalendarToUpdate()">

    <!-- APPOINTMENT TAB: ------------------------------------------------------------------------------------------------------------------ -->
    <mat-tab>
      <ng-template mat-tab-label><mat-icon class="tab-icon">perm_contact_calendar</mat-icon> {{ 'APPOINTMENTS.FORM_UPDATE.TABS.DETAILS' | i18n }} 
      <mat-icon *ngIf="detailsTabErrors" class="validate-error-tab" matTooltip="{{ 'APPOINTMENTS.FORM_UPDATE.TABS.VALIDATION_ERROR_TOOLTIP' | i18n }}">priority_high</mat-icon>
      </ng-template>
      <app-tab-details></app-tab-details>
    </mat-tab>
    <!-- APPOINTMENT TAB: ------------------------------------------------------------------------------------------------------------------ -->

    <!-- SLOT TAB: ------------------------------------------------------------------------------------------------------------------------- -->
    <mat-tab>
      <ng-template mat-tab-label><mat-icon class="tab-icon">date_range</mat-icon> {{ 'APPOINTMENTS.FORM_UPDATE.TABS.COORDINATION_DETAILS' | i18n }}</ng-template>
      <app-tab-slot></app-tab-slot>
    </mat-tab>
    <!-- SLOT TAB: ------------------------------------------------------------------------------------------------------------------------- -->

    <!-- HISTORY TAB: ---------------------------------------------------------------------------------------------------------------- -->
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="tab-icon">history</mat-icon> {{ 'APPOINTMENTS.FORM_UPDATE.TABS.PREVIOUS_STUDIES' | i18n }}
      </ng-template>

      <div *ngIf="previous; then thenBlockTable else elseBlockTable"></div>

      <ng-template #thenBlockTable>
        <div #main_list>
          <table mat-table [dataSource]="previous">
            <!-- flow_state -->
            <ng-container matColumnDef="flow_state">
              <th mat-header-cell *matHeaderCellDef class="text-center column-alt">{{ 'APPOINTMENTS.FORM_UPDATE.PREVIOUS_STUDIES.TABLE.WORKFLOW' | i18n }}</th>
              <td mat-cell *matCellDef="let element" class="text-center">
                <!--See report-->
                <span *ngIf="element.flow_state == 'P09'">
                  <button mat-mini-fab class="small_button" type="button" (click)="sharedFunctions.reportReview(element._id)" matTooltip="{{ 'APPOINTMENTS.FORM_UPDATE.PREVIOUS_STUDIES.TABLE.VIEW_REPORT' | i18n }}" color="accent">
                    <mat-icon>playlist_add_check</mat-icon>
                  </button>
                  <br/>
                </span>

                <!--flow_state-->
                <span class="badge badge-mini {{ element.flow_state }}" matTooltip="{{ element.cancellation_reasons ? (('CANCELLATION_REASONS.' + element.cancellation_reasons) | i18n) : '' }}" *ngIf="element.flow_state">{{ ('PERFORMING_FLOW_STATES.' + element.flow_state) | i18n }}</span>
              </td>
            </ng-container>

            <!-- date -->
            <ng-container matColumnDef="date">
              <th mat-header-cell *matHeaderCellDef class="text-center column-alt"> {{ 'APPOINTMENTS.LIST.TABLE.DATE' | i18n }} </th>
              <td mat-cell *matCellDef="let element" class="text-center">
                <span *ngIf="element.date">{{ element.date | date : "dd/MM/yyyy" : "UTC" }}</span>
              </td>
            </ng-container>

            <!-- checkin_time -->
            <ng-container matColumnDef="checkin_time">
              <th mat-header-cell *matHeaderCellDef class="text-center column-alt"> {{ 'APPOINTMENTS.FORM_UPDATE.PREVIOUS_STUDIES.TABLE.CHECKIN_TIME' | i18n }} </th>
              <td mat-cell *matCellDef="let element" class="text-center">
                <span *ngIf="element.date">{{ element.date | date : "HH:mm" : "UTC" }}</span>
              </td>
            </ng-container>

            <!-- patient_age -->
            <ng-container matColumnDef="patient_age">
              <th mat-header-cell *matHeaderCellDef matTooltip="{{ 'APPOINTMENTS.LIST.TOOLTIPS.AGE' | i18n }}" class="text-center column-alt"> {{ 'APPOINTMENTS.LIST.TABLE.AGE' | i18n }} </th>
              <td mat-cell *matCellDef="let element" class="text-center">
                <span *ngIf="element.patient">
                  <span *ngIf="element.patient.person">
                    <span>{{ sharedFunctions.calculateAge(element.patient.person.birth_date, element.date) }}</span>
                  </span>
                </span>
              </td>
            </ng-container>

            <!-- details -->
            <ng-container matColumnDef="details">
              <th mat-header-cell *matHeaderCellDef class="text-center column-alt"> {{ 'APPOINTMENTS.LIST.TABLE.DETAILS' | i18n }} </th>
              <td mat-cell *matCellDef="let element">
                <!-- procedure -->
                <span *ngIf="element.procedure">
                  <span class="badge-alt" matTooltip="{{ element.procedure.code }}">{{ element.procedure.name }}</span>
                </span>

                <div class="clear"></div><hr class="dashed" />

                <!-- equipment -->        
                <span *ngIf="element.equipment; then thenBlockTableEquipment else elseBlockTableEquipment"></span>
                    <ng-template #thenBlockTableEquipment>
                    <span class="badge-accent" matTooltip="{{ 'AET: ' + element.equipment.AET }}">
                    <span>{{ element.equipment.name }}</span>
                    </span>
                </ng-template>
                <ng-template #elseBlockTableEquipment>{{ 'BRANCHES.LIST.NO_DATA' | i18n }}</ng-template>

                <!-- modality -->
                <span *ngIf="element.modality; then thenBlockTableModality else elseBlockTableModality"></span>
                <ng-template #thenBlockTableModality>
                  <span class="badge" matTooltip="{{ element.modality.code_meaning }}">{{ element.modality.code_value }}</span>
                </ng-template>
                <ng-template #elseBlockTableModality>{{ 'BRANCHES.LIST.NO_DATA' | i18n }}</ng-template>
              </td>
            </ng-container>

            <!-- domain -->
            <ng-container matColumnDef="domain">
              <th mat-header-cell *matHeaderCellDef class="text-center column-alt">{{ 'APPOINTMENTS.LIST.TABLE.DOMAIN' | i18n }}</th>
              <td mat-cell *matCellDef="let element">
                <div *ngIf="element.appointment" class="domain-container">
                  <!--referring-->
                  <small><strong>{{ 'APPOINTMENTS.LIST.DOMAIN.REQUESTING' | i18n }}</strong></small>
                  <span *ngIf="element.appointment.referring; then thenBlockReferring else elseBlockReferring"></span>
                  <ng-template #thenBlockReferring>
                    <small>
                      <span *ngIf="element.appointment.referring.organization">{{ element.appointment.referring.organization.short_name }}</span>
                      <span *ngIf="element.appointment.referring.branch"> ► {{ element.appointment.referring.branch.short_name }}</span>
                      <span *ngIf="element.appointment.referring.service"> ► {{ element.appointment.referring.service.name }}</span>
                    </small>
                  </ng-template>
                  <ng-template #elseBlockReferring>{{ 'BRANCHES.LIST.NO_DATA' | i18n }}</ng-template>

                  <hr class="dashed" />

                  <!--imaging-->
                  <small><strong>{{ 'APPOINTMENTS.LIST.DOMAIN.IMAGING' | i18n }}</strong></small>
                  <span *ngIf="element.appointment.imaging; then thenBlockImaging else elseBlockImaging"></span>
                  <ng-template #thenBlockImaging>
                    <small>
                      <span *ngIf="element.appointment.imaging.organization">{{ element.appointment.imaging.organization.short_name }}</span>
                      <span *ngIf="element.appointment.imaging.branch"> ► {{ element.appointment.imaging.branch.short_name }}</span>
                      <span *ngIf="element.appointment.imaging.service"> ► {{ element.appointment.imaging.service.name }}</span>
                    </small>
                  </ng-template>
                  <ng-template #elseBlockImaging>{{ 'BRANCHES.LIST.NO_DATA' | i18n }}</ng-template>

                  <hr class="dashed" />

                  <!--reporting-->
                  <small><strong>{{ 'APPOINTMENTS.LIST.DOMAIN.REPORTING' | i18n }}</strong></small>
                  <span *ngIf="element.appointment.reporting; then thenBlockReporting else elseBlockReporting"></span>
                  <ng-template #thenBlockReporting>
                    <small>
                      <span *ngIf="element.appointment.reporting.organization">{{ element.appointment.reporting.organization.short_name }}</span>
                      <span *ngIf="element.appointment.reporting.branch"> ► {{ element.appointment.reporting.branch.short_name }}</span>
                      <span *ngIf="element.appointment.reporting.service"> ► {{ element.appointment.reporting.service.name }}</span>
                    </small>
                  </ng-template>
                  <ng-template #elseBlockReporting>{{ 'BRANCHES.LIST.NO_DATA' | i18n }}</ng-template>
                </div>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </div>
      </ng-template>
              
      <!-- Await previous or not previous -->
      <ng-template #elseBlockTable>
        <div fxLayout="row" fxLayoutAlign="center center" class="response-info">
          {{ 'APPOINTMENTS.FORM_UPDATE.PREVIOUS_STUDIES.NO_STUDIES_FOUND' | i18n }}
        </div>
      </ng-template>
    </mat-tab>
    <!-- HISTORY TAB: ---------------------------------------------------------------------------------------------------------------- -->

  </mat-tab-group>

  <div class="action-wrapper"fxLayout="row" fxLayoutAlign="end center">
    <div> <!-- start fxLayout wrapper -->
      <button mat-flat-button type="button" (click)="onCancel();">{{ 'COMMON.CANCEL' | i18n | uppercase }}</button>
      <button mat-flat-button type="button" color="primary" (click)="onSubmitMaster()" >{{ 'COMMON.SAVE' | i18n | uppercase }}</button>
    </div> <!-- end fxLayout wrapper -->
  </div>
</form>
