.events-col {
    padding-left: 15px;
}

.event {
    cursor: pointer;
    padding: 2px 5px 2px 5px;
    background-color: var(--soft-color-01);
    border-radius: 3px;
}

.amend {
    background-color: #b63b38;
    color: #fff;
}

.ip_client {
    background-color: #363c50;
    color: #fff;
}

.e2 {
    background-color: #607d8b;
    color: #fff;
}

.e3 {
    background-color: #b03688;
    color: #fff;
}

.e4 {
    background-color: #f44336;
    color: #fff;
}

.e5 {
    background-color: #743ad5;
    color: #fff;
}

.e6 {
    background-color: #14a074;
    color: #fff;
}

.e7 {
    background-color: goldenrod;
    color: #fff;
}

.sign-auth {
    color: #1e1e2f;
    background-color: #b0bec5aa;
}

/* Stripped table: */
.mat-row:nth-child(even){
  background-color: var(--base-color-03);
}

.mat-row:nth-child(odd){
  background-color: var(--list-color-hover);
}

.machine-icon {
    position: relative !important;
    top: 6px !important;
}