.documents {
  padding-left: 10px !important;
}

.male {
  color: #05a3ff;
}

.female {
  color: #d53a9d;
}

.other {
  color: var(--highlighted-green);
}

.imaging {
   border-left: 2px solid var(--highlighted-green);
}