<div *ngIf="sharedFunctions.response; then thenBlockTable else elseBlockTable"></div>

<ng-template #thenBlockTable>
  <div #main_list>
    <table mat-table [dataSource]="sharedFunctions.response.data" class="mat-elevation-z1">
      <!-- select element -->
      <ng-container matColumnDef="select_element">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox *ngIf="sharedFunctions.response.pager" [checked]="this.sharedProp.getTotalChecked() == sharedFunctions.response.pager.viewed_items" (change)="this.sharedProp.onSelectAll($event)" matTooltip="Seleccionar todos (Página actual)"></mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let element; let i = index;">
          <mat-checkbox [(ngModel)]="this.sharedProp.checked_items[i]" (change)="this.sharedProp.onCheckItem($event, element._id, i)" class="itemCheck" color="primary" value="{{ element._id }}"></mat-checkbox>
        </td>
      </ng-container>

      <!-- element_action -->
      <ng-container matColumnDef="element_action">
        <th mat-header-cell *matHeaderCellDef> Acciones </th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button color="accent" aria-label="Editar" matTooltip="Editar" routerLink="/appointments/form/request/{{ element._id }}">
            <mat-icon>edit</mat-icon>
          </button>
          
          <!-- Superusuario, Administrador, Concesiones: [11: Acceso a logs de elementos] -->
          <span *ngIf="sharedProp.userLogged.permissions[0].role == 1 || sharedProp.userLogged.permissions[0].role == 2 || (sharedProp.userLogged.permissions[0].concession && sharedFunctions.checkConcessions(sharedProp, [11]))" >
            <button mat-icon-button color="accent" aria-label="Logs del elemento" matTooltip="Logs del elemento" routerLink="/logs/element/{{ sharedProp.element }}/{{ element._id }}">
              <mat-icon>format_list_bulleted</mat-icon>
            </button>
          </span>

          <button mat-icon-button color="accent" aria-label="Detalles de la solicitud" matTooltip="Detalles de la solicitud" (click)="sharedFunctions.openDialog('appointment_requests_details', element);">
            <mat-icon>info</mat-icon>
          </button>

          <span *ngIf="element.flow_state !== 'AR05' && element.flow_state !== 'AR06'">
            <button mat-icon-button color="accent" aria-label="Crear cita a partir de la solicitud" matTooltip="Crear cita a partir de la solicitud" (click)="addAppointment(element)">
              <mat-icon>control_point</mat-icon>
            </button>
          </span>
        </td>
      </ng-container>

      <!-- flow_state -->
      <ng-container matColumnDef="flow_state">
        <th mat-header-cell *matHeaderCellDef>Flujo de solicitud</th>
        <td mat-cell *matCellDef="let element" class="text-center">
          <span class="badge {{ element.flow_state }}" matTooltip="{{ cancellation_reasons[element.cancellation_reasons] }}" *ngIf="element.flow_state">{{ appointmentRequestsFlowStates[element.flow_state] }}</span>
        </td>
      </ng-container>

      <!-- date -->
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef class="column-alt text-center">Fecha</th>
        <td mat-cell *matCellDef="let element" class="column-alt text-center">
          <span *ngIf="sharedProp.mainSettings.appSettings != undefined">{{ element.createdAt | date:'dd/MM/yyyy':sharedProp.mainSettings.appSettings.default_utc }}</span><!-- Fix Mongoose Timestamps -->
        </td>
      </ng-container>

      <!-- document -->
      <ng-container matColumnDef="document">
        <th mat-header-cell *matHeaderCellDef class="documents"> Documento </th>
        <td class="documents" mat-cell *matCellDef="let element">
          <span *ngIf="element.patient">
            <span *ngIf="element.patient.doc_country_code"><span matTooltip="{{ country_codes[element.patient.doc_country_code].name }}" class="flag-icon flag-icon-{{ country_codes[element.patient.doc_country_code].alpha_2 | lowercase }}"></span>&nbsp;</span>
            <span matTooltip="{{ document_types[element.patient.doc_type] }}">
              <span innerHTML="{{ element.patient.document | highlighter : sharedProp.filter }}"></span>
            </span>
          </span>
        </td>
      </ng-container>

      <!-- names -->
      <ng-container matColumnDef="names">
        <th mat-header-cell *matHeaderCellDef> Nombres </th>
        <td mat-cell *matCellDef="let element">
            <span *ngIf="element.patient">
              <span innerHTML="{{ element.patient.name_01 | highlighter : sharedProp.filter }}"></span>

              <span *ngIf="element.patient.name_02">
                <span innerHTML="{{ ' ' + element.patient.name_02 | highlighter : sharedProp.filter }}"></span>
              </span>
            </span>
        </td>
      </ng-container>

      <!-- surnames -->
      <ng-container matColumnDef="surnames">
        <th mat-header-cell *matHeaderCellDef> Apellidos </th>
        <td mat-cell *matCellDef="let element">
            <span *ngIf="element.patient">
              <span innerHTML="{{ element.patient.surname_01 | highlighter : sharedProp.filter }}"></span>

              <span *ngIf="element.patient.surname_02">
                <span innerHTML="{{ ' ' + element.patient.surname_02 | highlighter : sharedProp.filter }}"></span>
              </span>
            </span>
        </td>
      </ng-container>

      <!-- patient_age -->
      <ng-container matColumnDef="patient_age">
        <th mat-header-cell *matHeaderCellDef matTooltip="Edad al momento de realizar la solicitud del estudio" class="column-alt text-center"> Edad </th>
        <td mat-cell *matCellDef="let element" class="column-alt text-center">
          <span *ngIf="element.patient">
            <span>{{ sharedFunctions.calculateAge(element.patient.birth_date, element.createdAt) }}</span>
          </span>
        </td>
      </ng-container>

      <!-- gender -->
      <ng-container matColumnDef="gender">
        <th mat-header-cell *matHeaderCellDef class="text-center"> Género </th>
        <td mat-cell *matCellDef="let element" class="text-center">
          <span *ngIf="element.patient">
            <div [ngSwitch]="element.patient.gender" matTooltip="{{ gender_types[element.patient.gender] }}">
              <span *ngSwitchCase="1"><mat-icon class="male">man</mat-icon></span>
              <span *ngSwitchCase="2"><mat-icon class="female">woman</mat-icon></span>
              <span *ngSwitchCase="3"><mat-icon class="other">wc</mat-icon></span>
            </div>
          </span>
        </td>
      </ng-container>

      <!-- phone_numbers -->
      <ng-container matColumnDef="phone_numbers">
        <th mat-header-cell *matHeaderCellDef class="text-center"> Teléfonos </th>
        <td mat-cell *matCellDef="let element">
          <span *ngIf="element.patient">
            <span *ngFor="let current of element.patient.phone_numbers" >
              <span class="badge-accent">
                <span innerHTML="{{ current + ' ' | highlighter : sharedProp.filter }}"></span>
              </span>
            </span>
          </span>
        </td>
      </ng-container>

      <!-- details -->
      <ng-container matColumnDef="details">
        <th mat-header-cell *matHeaderCellDef class="text-center"> Detalle </th>
        <td mat-cell *matCellDef="let element">
          <span *ngIf="element.study">
            <!-- procedure -->
            <span *ngIf="element.procedure">
              <span class="badge-alt" matTooltip="{{ element.procedure.code }}">
                <span innerHTML="{{ element.procedure.name | highlighter : sharedProp.filter }}"></span>
              </span>
            </span>

            <!-- modality -->
            <span *ngIf="element.modality; then thenBlockTableModality else elseBlockTableModality"></span>
            <ng-template #thenBlockTableModality>
              <span class="badge" matTooltip="{{ element.modality.code_meaning }}">{{ element.modality.code_value }}</span>
            </ng-template>
            <ng-template #elseBlockTableModality>(Sin dato)</ng-template>
          </span>
        </td>
      </ng-container>

      <!-- referring -->
      <ng-container matColumnDef="referring">
        <th mat-header-cell *matHeaderCellDef class="column-alt text-center"> Institución Solicitante </th>
        <td mat-cell *matCellDef="let element" class="column-alt text-center">
          <span *ngIf="element.referring && element.referring.organization; then thenBlockReferringOrganization else elseBlockReferringOrganization"></span>
          <ng-template #thenBlockReferringOrganization>
            <span innerHTML="{{ element.referring.organization.short_name | highlighter : sharedProp.filter }}"></span>
            <span *ngIf="element.referring.branch"> - 
                <span innerHTML="{{ element.referring.branch.short_name | highlighter : sharedProp.filter }}"></span>
            </span>
          </ng-template>
          <ng-template #elseBlockReferringOrganization>(Sin dato)</ng-template>
        </td>
      </ng-container>

      <!-- imaging -->
      <ng-container matColumnDef="imaging">
        <th mat-header-cell *matHeaderCellDef class="column-alt text-center imaging"> Institución realizadora </th>
        <td mat-cell *matCellDef="let element" class="column-alt text-center imaging">
          <span *ngIf="element.imaging && element.imaging.organization; then thenBlockImagingOrganization else elseBlockImagingOrganization"></span>
          <ng-template #thenBlockImagingOrganization>
            <span innerHTML="{{ element.imaging.organization.short_name | highlighter : sharedProp.filter }}"></span>
            <span *ngIf="element.imaging.branch"> - 
                <span innerHTML="{{ element.imaging.branch.short_name | highlighter : sharedProp.filter }}"></span>
            </span>
          </ng-template>
          <ng-template #elseBlockImagingOrganization>(Sin dato)</ng-template>
        </td>
      </ng-container>

      <!-- urgency -->
      <ng-container matColumnDef="urgency">
        <th mat-header-cell *matHeaderCellDef class="text-center"> Urgencia </th>
        <td mat-cell *matCellDef="let element" class="text-center">
          <div *ngIf="element.urgency; then thenBlock else elseBlock"></div>
          <ng-template #thenBlock><mat-icon class="color-fail" matTooltip="Urgente">directions_run</mat-icon></ng-template>
          <ng-template #elseBlock><mat-icon color="accent" matTooltip="Normal">man</mat-icon></ng-template>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</ng-template>

<!-- Await response or not response -->
<ng-template #elseBlockTable>
  <div fxLayout="row" fxLayoutAlign="center center" class="response-info">
    Aguarde, aún no hay resultados.
  </div>
</ng-template>

<!-- No Data -->
<div *ngIf="sharedFunctions.response.message;" fxLayout="row" fxLayoutAlign="center center" class="response-info">
  {{ sharedFunctions.response.message }}
</div>

<!-- Export to XSLX -->
<div class="text-right" *ngIf="sharedFunctions.response"><button mat-flat-button color="accent" class="export-xslx" (click)="tableToExcel()"><mat-icon class="export-icon">get_app</mat-icon> EXPORTAR LISTADO</button></div>
