.documents {
  padding-left: 10px !important;
}

.male {
  color: var(--light-blue);
}

.female {
  color: var(--pink);
}

.other {
  color: var(--green-highlighted);
}

.imaging {
   border-left: 2px solid var(--green-highlighted);
}