<form class="form-element" [formGroup]="form" (ngSubmit)="onSubmit()" *ngIf="sharedProp.mainSettings != undefined">
  <mat-tab-group>

    <!-- PATIENT TAB: --------------------------------------------------------------------------------------------------- -->
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="tab-icon">person</mat-icon>
        {{ 'APPOINTMENTS.FORM_REQUEST.FORM.TABS.PATIENT' | i18n }}
        <mat-icon *ngIf="patientTabErrors" class="validate-error-tab" matTooltip="{{ 'APPOINTMENTS.FORM_REQUEST.FORM.TABS.VALIDATION_ERROR_TOOLTIP' | i18n }}">priority_high</mat-icon>
      </ng-template>

      <div formGroupName="patient">
        <div fxLayout="row" fxLayoutAlign="start start">
          <div class="input-wrapper divider">
            <h4>{{ 'APPOINTMENTS.FORM_INSERT.PATIENT.DOCUMENTS' | i18n }}</h4>
            <mat-form-field appearance="fill" class="medium document_inputs">
              <mat-label>{{ 'USERS.FORM.PERSON_TAB.DOC_COUNTRY_PLACEHOLDER' | i18n }}</mat-label>
              <mat-select formControlName="doc_country_code">
                <div *ngFor="let currentCode of getKeys(country_codes, true)">
                  <mat-option value="{{ currentCode }}"><span class="flag-icon flag-icon-{{ country_codes[currentCode].alpha_2 | lowercase }}"></span>&nbsp;&nbsp;&nbsp;{{ country_codes[currentCode].name }}</mat-option>
                </div>
              </mat-select>
            </mat-form-field>

            <br/>

            <mat-form-field appearance="fill" class="medium document_inputs">
              <mat-label>{{ 'USERS.FORM.PERSON_TAB.DOC_TYPE_PLACEHOLDER' | i18n }}</mat-label>
              <mat-select formControlName="doc_type">
                <div *ngFor="let currentDocTypeKey of documentTypesKeys">
                  <mat-option value="{{ currentDocTypeKey }}">{{ ('DOCUMENT_TYPES.' + currentDocTypeKey) | i18n }}</mat-option>
                </div>
              </mat-select>
            </mat-form-field>

            <br/>

            <mat-form-field appearance="fill" class="medium document_inputs">
              <mat-label>{{ 'USERS.FORM.PERSON_TAB.DOCUMENT_PLACEHOLDER' | i18n }}</mat-label>
              <input matInput type="text" formControlName="document" placeholder="{{ 'USERS.FORM.PERSON_TAB.DOCUMENT_INPUT' | i18n }}">
            </mat-form-field>

            <div class="clear"></div>
            <hr class="dashed" /><br/>

            <h4>{{ 'USERS.FORM.PERSON_TAB.NAMES_TITLE' | i18n }}</h4>
            <mat-form-field appearance="fill" class="medium">
              <mat-label>{{ 'USERS.FORM.PERSON_TAB.NAME1_PLACEHOLDER' | i18n }}</mat-label>
              <input matInput icSpecialCharsWS type="text" formControlName="name_01" placeholder="{{ 'USERS.FORM.PERSON_TAB.NAME1_INPUT' | i18n }}">
            </mat-form-field>

            <mat-form-field appearance="fill" class="medium">
              <mat-label>{{ 'USERS.FORM.PERSON_TAB.NAME2_PLACEHOLDER' | i18n }}</mat-label>
              <input matInput icSpecialCharsWS type="text" formControlName="name_02" placeholder="{{ 'USERS.FORM.PERSON_TAB.NAME2_INPUT' | i18n }}">
            </mat-form-field>

            <br/>

            <h4>{{ 'USERS.FORM.PERSON_TAB.SURNAMES_TITLE' | i18n }}</h4>
            <mat-form-field appearance="fill" class="medium">
              <mat-label>{{ 'USERS.FORM.PERSON_TAB.SURNAME1_PLACEHOLDER' | i18n }}</mat-label>
              <input matInput icSpecialCharsWS type="text" formControlName="surname_01" placeholder="{{ 'USERS.FORM.PERSON_TAB.SURNAME1_INPUT' | i18n }}">
            </mat-form-field>

            <mat-form-field appearance="fill" class="medium">
              <mat-label>{{ 'USERS.FORM.PERSON_TAB.SURNAME2_PLACEHOLDER' | i18n }}</mat-label>
              <input matInput icSpecialCharsWS type="text" formControlName="surname_02" placeholder="{{ 'USERS.FORM.PERSON_TAB.SURNAME2_INPUT' | i18n }}">
            </mat-form-field>

            <hr class="dashed" /><br/>

            <h4 [class.required-error]="form.get('patient.gender')?.invalid && form.get('patient.gender')?.touched">{{ 'USERS.FORM.PERSON_TAB.GENDER_TITLE' | i18n }}</h4>
            <mat-radio-group color="primary" formControlName="gender">
              <mat-radio-button *ngFor="let currentGenderKey of genderTypesKeys" value="{{ currentGenderKey }}">{{ ('GENDER_TYPES.' + currentGenderKey) | i18n }}</mat-radio-button>
            </mat-radio-group>

            <br/><br/>
          </div>

          <div class="input-wrapper">
            <h4>{{ 'USERS.FORM.PERSON_TAB.BIRTH_DATE_TITLE' | i18n }}</h4>
            <mat-form-field appearance="fill" class="medium" (click)="picker.open()">
              <mat-label>{{ 'ACTION.SELECT_DATE' | i18n }}</mat-label>
              <input matInput [matDatepicker]="picker" formControlName="birth_date" (keydown)="false">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
              <mat-hint align="end">{{ 'SLOTS.FORM.DATE_HINT' | i18n }}</mat-hint>
            </mat-form-field>

            <br/><br/><hr class="dashed" /><br/>

            <h4>{{ 'USERS.FORM.PERSON_TAB.PHONE_TITLE' | i18n }}</h4>
            <mat-form-field appearance="fill" class="large">
              <mat-label>{{ 'USERS.FORM.PERSON_TAB.PHONE_PLACEHOLDER' | i18n }}</mat-label>
              <input matInput icNumbers type="text" formControlName="phone_numbers[0]" placeholder="{{ 'USERS.FORM.PERSON_TAB.PHONE_INPUT' | i18n }}">
              <mat-icon matSuffix>phone</mat-icon>
              <mat-hint align="start">{{ 'USERS.FORM.PERSON_TAB.PHONE_HINT' | i18n }}</mat-hint>
            </mat-form-field>

            <br/><br/>

            <h4>{{ 'USERS.FORM.USER_TAB.EMAIL_TITLE' | i18n }}</h4>
            <mat-form-field appearance="fill" class="large">
              <mat-label>{{ 'USERS.FORM.USER_TAB.EMAIL_PLACEHOLDER' | i18n }}</mat-label>
              <input matInput type="text" formControlName="email" placeholder="{{ 'USERS.FORM.USER_TAB.EMAIL_INPUT' | i18n }}">
              <mat-icon matSuffix>mail</mat-icon>
            </mat-form-field>
          </div>
        </div>
      </div>
    </mat-tab>
    <!-- PATIENT TAB: --------------------------------------------------------------------------------------------------- -->


    <!-- MAIN DATA TAB: ------------------------------------------------------------------------------------------------ -->
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="tab-icon">assignment</mat-icon>
        {{ 'APPOINTMENTS.FORM_REQUEST.FORM.TABS.MAIN_DATA' | i18n }}
        <mat-icon *ngIf="mainTabErrors" class="validate-error-tab" matTooltip="{{ 'APPOINTMENTS.FORM_REQUEST.FORM.TABS.VALIDATION_ERROR_TOOLTIP' | i18n }}">priority_high</mat-icon>
      </ng-template>

      <div fxLayout="row wrap" fxLayoutAlign="start start">
        <!-- performing + requesting institutions -->
        <div class="input-wrapper divider" fxFlex="50" style="min-width: 260px;">
          <!-- imaging (organization + branch set together) -->
          <div formGroupName="imaging">
            <h4>{{ 'APPOINTMENTS.FORM_REQUEST.FORM.IMAGING_LABEL' | i18n }}:</h4>
            <mat-form-field appearance="fill" class="large">
              <mat-label>{{ 'APPOINTMENTS.FORM_REQUEST.FORM.IMAGING_PLACEHOLDER' | i18n }}</mat-label>
              <mat-select formControlName="branch" placeholder="{{ 'APPOINTMENTS.FORM_REQUEST.FORM.IMAGING_SELECT' | i18n }}" (selectionChange)="onImagingBranchChange($event.value)">
                <div *ngFor="let currentBranch of availableBranches">
                  <div *ngFor="let currentOrganization of availableOrganizations">
                    <mat-option *ngIf="currentBranch.fk_organization == currentOrganization._id" value="{{ currentBranch._id }}">{{ currentOrganization.short_name }} ► {{ currentBranch.short_name }} ({{ currentBranch.name }})</mat-option>
                  </div>
                </div>
              </mat-select>
            </mat-form-field>
          </div>

          <br/>

          <!-- referring (organization only) -->
          <div formGroupName="referring">
            <h4>{{ 'APPOINTMENTS.FORM_REQUEST.FORM.REFERRING_LABEL' | i18n }}:</h4>
            <mat-form-field appearance="fill" class="large">
              <mat-label>{{ 'APPOINTMENTS.FORM_REQUEST.FORM.REFERRING_PLACEHOLDER' | i18n }}</mat-label>
              <mat-select formControlName="organization" placeholder="{{ 'APPOINTMENTS.FORM_REQUEST.FORM.REFERRING_SELECT' | i18n }}">
                <div *ngFor="let currentOrganization of availableOrganizations">
                  <mat-option value="{{ currentOrganization._id }}">{{ currentOrganization.short_name }} ({{ currentOrganization.name }})</mat-option>
                </div>
              </mat-select>
            </mat-form-field>
          </div>

          <br/><br/>
        </div>

        <!-- workflow state + urgency -->
        <div class="input-wrapper" fxFlex="50" style="min-width: 260px;">
          <!-- flow_state (use form.get(...).value: form.value excludes disabled controls, e.g. AR05/AR06) -->
          <span *ngIf="form.get('flow_state')?.value">
            <h4>{{ 'APPOINTMENTS.FORM_REQUEST.WORKFLOW' | i18n }}</h4>
            <mat-form-field appearance="fill" class="large">
              <mat-label>{{ 'APPOINTMENTS.FORM_REQUEST.WORKFLOW' | i18n }}</mat-label>
              <mat-select formControlName="flow_state">
                <div *ngFor="let currentFSKey of appointmentRequestsFlowStateKeys">
                  <div *ngIf="currentFSKey == 'AR05' || currentFSKey == 'AR06'; then thenBlockFS else elseBlockFS"></div>
                  <ng-template #thenBlockFS>
                    <mat-option *ngIf="currentFSKey == form.get('flow_state')?.value" value="{{ currentFSKey }}">{{ ('APPOINTMENTS_REQUESTS_FLOW_STATES.' + currentFSKey) | i18n }}</mat-option>
                  </ng-template>
                  <ng-template #elseBlockFS>
                    <mat-option value="{{ currentFSKey }}">{{ ('APPOINTMENTS_REQUESTS_FLOW_STATES.' + currentFSKey) | i18n }}</mat-option>
                  </ng-template>
                </div>
              </mat-select>
            </mat-form-field>
          </span>

          <br/>

          <h4>{{ 'APPOINTMENTS.FORM_REQUEST.URGENCY' | i18n }}</h4>
          <mat-radio-group color="primary" formControlName="urgency">
            <mat-radio-button value="true">{{ 'ACTION.URGENCY_HIGH' | i18n }}</mat-radio-button>
            <mat-radio-button value="false">{{ 'ACTION.URGENCY_NORMAL' | i18n }}</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>

      <hr class="dashed" />

      <!-- annotations / anamnesis / indications (one full-width column per row, below requesting institution) -->
      <div fxLayout="row" fxLayoutAlign="start start">
        <div class="input-wrapper divider">
          <h4>{{ 'ACTION.ANAMNESIS' | i18n }} <span class="label-info">min: 10, max: 1000</span>:</h4>
          <ckeditor formControlName="anamnesis" [editor]="ckEditor" [config]="sharedProp.mainSettings.CKEditorConfig" data=""></ckeditor>
        </div>

        <div class="input-wrapper">
          <h4>{{ 'APPOINTMENTS.FORM_INSERT.DETAILS.INDICATIONS' | i18n }} <span class="label-info">min: 10, max: 1000</span>:</h4>
          <ckeditor formControlName="indications" [editor]="ckEditor" [config]="sharedProp.mainSettings.CKEditorConfig" data=""></ckeditor>
        </div>
      </div>

      <hr class="dashed" />

      <div class="input-wrapper">
        <h4>{{ 'APPOINTMENTS.FORM_REQUEST.ANNOTATIONS' | i18n }} <span class="label-info">min: 10, max: 2000</span>:</h4>
        <ckeditor formControlName="annotations" [editor]="ckEditor" [config]="sharedProp.mainSettings.CKEditorConfig" data=""></ckeditor>

      </div>
    </mat-tab>
    <!-- MAIN DATA TAB: ------------------------------------------------------------------------------------------------ -->


    <!-- STUDY TAB: ----------------------------------------------------------------------------------------------------- -->
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="tab-icon">assignment_ind</mat-icon>
        {{ 'APPOINTMENTS.FORM_REQUEST.FORM.TABS.STUDY' | i18n }}
        <mat-icon *ngIf="studyTabErrors" class="validate-error-tab" matTooltip="{{ 'APPOINTMENTS.FORM_REQUEST.FORM.TABS.VALIDATION_ERROR_TOOLTIP' | i18n }}">priority_high</mat-icon>
      </ng-template>

      <div fxLayout="row" fxLayoutAlign="start start" formGroupName="study">
        <div class="input-wrapper divider">
          <!-- fk_modality (select) - single source for the requested study modality -->
          <h4>{{ 'APPOINTMENTS.FORM_REQUEST.FORM.MODALITY_LABEL' | i18n }}</h4>
          <mat-form-field appearance="fill" class="large">
            <mat-label>{{ 'APPOINTMENTS.FORM_REQUEST.FORM.MODALITY_PLACEHOLDER' | i18n }}</mat-label>
            <mat-select formControlName="fk_modality" placeholder="{{ 'APPOINTMENTS.FORM_REQUEST.FORM.MODALITY_SELECT' | i18n }}">
              <div *ngFor="let currentModality of availableModalities">
                <mat-option value="{{ currentModality._id }}">{{ currentModality.code_value }} - {{ currentModality.code_meaning }}</mat-option>
              </div>
            </mat-select>
          </mat-form-field>

          <br/><br/>
        </div>

        <div class="input-wrapper text-center disclaimer-wrap">
          <!-- Disclaimer -->
          <div class="current-info">
            <mat-icon>info</mat-icon>&nbsp;&nbsp; {{ 'APPOINTMENTS.FORM_REQUEST.DISCLAIMER' | i18n }}
          </div>

          <div class="clear"></div>
        </div>
      </div>
    </mat-tab>
    <!-- STUDY TAB: ----------------------------------------------------------------------------------------------------- -->


    <!-- PHYSICIAN TAB: ------------------------------------------------------------------------------------------------ -->
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="tab-icon">local_hospital</mat-icon>
        {{ 'APPOINTMENTS.FORM_REQUEST.FORM.TABS.EXTRA' | i18n }}
        <mat-icon *ngIf="extraTabErrors" class="validate-error-tab" matTooltip="{{ 'APPOINTMENTS.FORM_REQUEST.FORM.TABS.VALIDATION_ERROR_TOOLTIP' | i18n }}">priority_high</mat-icon>
      </ng-template>

      <div fxLayout="row" fxLayoutAlign="start start" formGroupName="extra">
        <div class="input-wrapper divider">
          <h4>{{ 'APPOINTMENTS.FORM_REQUEST.REQUESTING_PHYSICIAN' | i18n }}</h4>

          <mat-form-field appearance="fill" class="large">
            <mat-label>{{ 'APPOINTMENTS.FORM_REQUEST.FORM.PHYSICIAN_ID_LABEL' | i18n }}</mat-label>
            <input matInput type="text" formControlName="physician_id" placeholder="{{ 'APPOINTMENTS.FORM_REQUEST.FORM.PHYSICIAN_ID_LABEL' | i18n }}">
          </mat-form-field>

          <mat-form-field appearance="fill" class="large">
            <mat-label>{{ 'APPOINTMENTS.FORM_INSERT.PATIENT.FULL_NAME' | i18n }}</mat-label>
            <input matInput type="text" formControlName="physician_name" placeholder="{{ 'APPOINTMENTS.FORM_INSERT.PATIENT.FULL_NAME' | i18n }}">
          </mat-form-field>

          <mat-form-field appearance="fill" class="large">
            <mat-label>{{ 'APPOINTMENTS.FORM_REQUEST.PHYSICIAN_CONTACT' | i18n }}</mat-label>
            <input matInput type="text" formControlName="physician_contact" placeholder="{{ 'APPOINTMENTS.FORM_REQUEST.PHYSICIAN_CONTACT' | i18n }}">
          </mat-form-field>

          <br/><br/>
        </div>

        <div class="input-wrapper text-center disclaimer-wrap">
          <!-- Disclaimer -->
          <div class="current-info">
            <mat-icon>warning</mat-icon>&nbsp;&nbsp; {{ 'APPOINTMENTS.FORM_REQUEST.DISCLAIMER_REQUESTING_PHYSICIAN' | i18n }}
          </div>

          <div class="clear"></div>
        </div>
      </div>
    </mat-tab>
    <!-- PHYSICIAN TAB: ------------------------------------------------------------------------------------------------ -->

  </mat-tab-group>

  <div class="action-wrapper" fxLayout="row" fxLayoutAlign="end center">
    <div>
      <button mat-flat-button type="button" (click)="onCancel();">{{ 'COMMON.CANCEL' | i18n | uppercase }}</button>
      <button mat-flat-button type="submit" color="primary">{{ 'COMMON.SAVE' | i18n | uppercase }}</button>
    </div>
  </div>
</form>
