.male {
  color: var(--light-blue);
}

.female {
  color: var(--pink);
}

.other {
  color: var(--green-highlighted);
}

.current-info {
  float: left;
  margin-right: 10px;
  padding: 5px 12px 5px 5px;
}

.current-first {
  font-size: 16px;
}

.badge-alt {
    margin-left: 0px !important;
    margin-right: 4px !important;
}