<h1 mat-dialog-title class="underline-fail"><mat-icon>event_busy</mat-icon>&nbsp; {{ 'DIALOGS.OVERLAP_EVENTS.TITLE' | i18n }}</h1>
<div mat-dialog-content>
  <h3>{{ 'DIALOGS.OVERLAP_EVENTS.MESSAGE' | i18n }}</h3>
  {{ 'DIALOGS.OVERLAP_EVENTS.DURATION' | i18n }} <strong>{{ data }} {{ 'DIALOGS.OVERLAP_EVENTS.MINUTES' | i18n }}</strong> {{ 'DIALOGS.OVERLAP_EVENTS.EQUIPMENT' | i18n }}
</div>
<div mat-dialog-actions>
  <span class="mat-spacer"></span>
  <button mat-flat-button mat-dialog-close [mat-dialog-close]="true" color="primary" cdkFocusInitial>{{ 'DIALOGS.OVERLAP_EVENTS.OK' | i18n }}</button>
</div>
