<!-- ------------------------------------------------------------------------------------------------------------------------ -->
<!-- SIDENAV -->
<!-- ------------------------------------------------------------------------------------------------------------------------ -->
<h2>Menú principal</h2>

<mat-list>
  <h3>Coordinación</h3>

  <mat-list-item routerLink="/slots/list">
    <mat-icon>date_range</mat-icon><span>Turnos</span>
  </mat-list-item>

  <mat-divider></mat-divider>

  <mat-list-item routerLink="/appointments/list">
    <mat-icon>event_available</mat-icon><span>Citas</span>
  </mat-list-item>


  <h3>Recepción</h3>

  <mat-list-item>
    <mat-icon>today</mat-icon><span>Coordinaciones</span>
  </mat-list-item>


  <h3>Realización</h3>

  <mat-list-item>
    <mat-icon>assignment_ind</mat-icon><span>Estudios</span>
  </mat-list-item>


  <span *ngIf="sharedProp.userLogged.permissions[0].role == 1">
    <h3>Funciones avanzadas</h3>

    <mat-list-item>
      <mat-icon>all_inbox</mat-icon><span>Casillero médico</span>
    </mat-list-item>

    <mat-divider></mat-divider>

    <mat-list-item>
      <mat-icon>search</mat-icon><span>Busqueda avanzada</span>
    </mat-list-item>

    <mat-divider></mat-divider>

    <mat-list-item>
      <mat-icon>query_stats</mat-icon><span>Estadística</span>
    </mat-list-item>

    <mat-divider></mat-divider>

    <mat-list-item>
      <mat-icon>attach_money</mat-icon><span>Facturación</span>
    </mat-list-item>

  </span>

  <br/>

  <h3>Administrador</h3>

  <mat-list-item routerLink="/settings">
    <mat-icon>settings</mat-icon><span>Configuración de sistema</span>
  </mat-list-item>

</mat-list>
<!-- ------------------------------------------------------------------------------------------------------------------------ -->
