/*----------------------------------------------------------------------------------------------------------------------*/
/* SIDENAV: */
/*----------------------------------------------------------------------------------------------------------------------*/
h2 {
  margin: 10px;
  text-align: center;
}

h3 {
  margin: 10px;
  text-align: center;
  border-bottom: 2px solid;
    -o-border-image: linear-gradient(to right, #743ad5 0%, #d53a9d 100%);
       border-image: linear-gradient(to right, #743ad5 0%, #d53a9d 100%);
  border-image-slice: 1;
}

mat-list-item {
  cursor: pointer;
}

span {
  margin-left: 10px;
  font-size: 15px;
}
/*----------------------------------------------------------------------------------------------------------------------*/
