<!-- ------------------------------------------------------------------------------------------------------------------------ -->
<!-- FOOTER -->
<!-- ------------------------------------------------------------------------------------------------------------------------ -->
<div class="main-footer" fxLayout="row" fxLayoutAlign="center center">
  <div>
    <br/>
    <strong>Sirius RIS</strong><br/>
    <small>Frontend: 1.1.1 | Backend: 1.2.0 | Database: 1.1.2 </small><br/>
    <small>opendicom</small><br/><br/>
  </div>
</div>
<!-- ------------------------------------------------------------------------------------------------------------------------ -->
