<!-- ------------------------------------------------------------------------------------------------------------------------ -->
<!-- FOOTER -->
<!-- ------------------------------------------------------------------------------------------------------------------------ -->
<div class="main-footer" fxLayout="row" fxLayoutAlign="center center">
  <div>
    <br/>
    <strong>Sirius RIS</strong><br/>
    <small>Frontend: {{ sirius_frontend_version }} | Backend: {{ sirius_backend_version }} | Database: {{ sirius_db_version }} </small><br/>
    <small>opendicom</small><br/><br/>
  </div>
</div>
<!-- ------------------------------------------------------------------------------------------------------------------------ -->
