.form-title {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 1px;
}

.male {
  color: var(--light-blue);
}

.female {
  color: var(--pink);
}

.other {
  color: var(--green-highlighted);
}

.current-info {
  float: left;
  margin-right: 10px;
  padding: 5px 12px 5px 5px;
}

.current-first {
  font-size: 16px;
}

.appointment-firts {
  font-size: 18px;
}

.details-title {
  margin-bottom: 5px !important;
}

.details-wrap {
  background-color: #43466ea6;
  min-height: 200px;
  padding-top: 5px;
}

li {
  margin-top: 6px;
  margin-bottom: 6px;
}

.extra-spacing {
  margin-top: 10px !important;
  margin-bottom: 14px !important;
}

.mat-expansion-panel {
  background-color: #43466e73;
}

.report-underline {
  border-bottom: 3px solid var(--gray-opacity);
}

.pathologies-title {
  position: relative;
  top: -6px;
}

.sign-button {
  background: var(--purple-opaque);
  color: #ffffff;
}

.signatures-warn {
  background-color: #733ad522;
  border-radius: 5px;
}

.mat-pathology {
  background-color: var(--green-opaque) !important;
}

.label-editor {
  font-size: 13px;
  opacity: 0.75;
  background-color: var(--gray);
  color: #fff;
  border-radius: 5px 5px 0px 0px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;
}

.dose{
  text-align: center;
  opacity: 0.8;
  background-color: var(--petct-recomended-dose-color);
  border-radius: 5px;
  padding: 5px 12px 5px 5px;
}

.badge-dose{
  float: none !important;
}

.pdf_preview {
  background-color: var(--green-opaque) !important;
  color: #fff;
}

.label-template {
  cursor: pointer;
  font-size: 13px;
  opacity: 0.75;
  background-color: var(--pink);
  color: #fff;
  border-radius: 5px;
  padding-top: 14px;
  padding-bottom: 1px;
  padding-left: 7px;
  padding-right: 4px;
  margin-left: 2px;
  margin-right: 2px;
}

.no-dicom {
  color: var(--base-color-05);
  margin-left: -12.6%;
  font-size: 120px;
}

.badge-mini {
  float: none !important;
}

.history_small_button{
  margin-left: 6px !important;
  margin-bottom: 7px !important;
  width: 25px !important;
  height: 25px !important;
  border-radius: 5px !important;
  padding: 0% !important;
}

.history_small_button .mat-icon {
    color: #27293dc3 !important;
}

.history_small_button mat-icon {
  position: relative !important;
  margin: 0px !important;
  top: -8px !important;
}

.current_item {
  color: var(--pink);
}

.iframe-container {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
}

.mat-mini-fab {
  box-shadow: none !important;
}

.action-wrapper{
  background-color: var(--report-rewiew-bg-color) !important;
}

.current-info .mat-accent {
  color: var(--base-icon-color) !important;
}

.mat-expansion-panel {
    background-color: var(--base-color-05);
    color: var(--oposite-color-02) !important;
}

.mat-expansion-panel:not([class*="mat-elevation-z"]) {
    box-shadow: none !important;
}

.mat-expansion-panel-header-title {
    color: var(--oposite-color-02) !important;
}