<mat-toolbar class="second-toolbar" *ngIf="sharedProp.action.content_title">
  <mat-icon>{{ sharedProp.action.content_icon }}</mat-icon>&nbsp;&nbsp;<span>{{ sharedProp.action.content_title }}</span>

  <span class="mat-spacer"></span>

  <button mat-flat-button color="primary" routerLink="{{ sharedProp.action.add_button }}" *ngIf="sharedProp.action.add_button">
    <mat-icon>add</mat-icon> AÑADIR
  </button>

  <!-- ------------------------------------------------------------------------------------------------------------------------ -->
  <!-- SPECIFIC CASES: -->
  <!-- ------------------------------------------------------------------------------------------------------------------------ -->
  <span *ngIf="sharedProp.action.add_slots_batch">
    &nbsp;
    <button mat-flat-button color="accent" routerLink="{{ sharedProp.action.add_slots_batch }}">
      <mat-icon>content_copy</mat-icon> GENERAR LOTE
    </button>
  </span>

  <span *ngIf="sharedProp.action.manage_drafts">
    &nbsp;
    <button mat-flat-button color="accent" routerLink="{{ sharedProp.action.manage_drafts }}"><mat-icon>free_cancellation</mat-icon> VER CITAS EN CURSO</button>
  </span>

  <!-- Only superuser can add machine users -->
  <span *ngIf="sharedProp.action.add_machine && sharedProp.userLogged.permissions[0].role == 1">
    &nbsp;
    <button mat-flat-button color="accent" routerLink="{{ sharedProp.action.add_machine }}">
      <mat-icon>add_box</mat-icon> AÑADIR USUARIO MAQUINA
    </button>
  </span>
  <!-- ------------------------------------------------------------------------------------------------------------------------ -->
</mat-toolbar>

<div *ngIf="sharedProp.action.filters_form">
  <div class="main-action" fxLayout="row" fxLayoutAlign="start center">
    <div class="filters"> <!-- start fxLayout wrapper -->
      <mat-form-field appearance="outline" *ngIf="sharedProp.action.filters.search">
        <mat-label>Buscar</mat-label>
        <input matInput type="search" placeholder="Criterio de busqueda [RegEx]" [(ngModel)]="sharedProp.filter" (keyup.enter)="onSearch();">
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>

      <mat-form-field appearance="outline" *ngIf="sharedProp.action.filters.date_range">
        <mat-label>Seleccione rango de fechas</mat-label>
        <mat-date-range-input [rangePicker]="picker" (click)="picker.open()">
          <input matStartDate [(ngModel)]="sharedProp.date_range.start" readonly placeholder="Fecha inicio">
          <input matEndDate [(ngModel)]="sharedProp.date_range.end" readonly placeholder="Fecha fin">
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker (closed)="onSearch();"></mat-date-range-picker>
      </mat-form-field>

      <mat-form-field appearance="outline" (click)="picker.open()" *ngIf="sharedProp.action.filters.date">
        <mat-label>Seleccione fecha</mat-label>
        <input matInput [(ngModel)]="sharedProp.date" [matDatepicker]="picker" (keydown)="false">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker (closed)="onSearch();"></mat-datepicker>
      </mat-form-field>

      <mat-form-field appearance="outline" *ngIf="sharedProp.action.filters.flow_state">
        <mat-label>Flujo del elemento</mat-label>
        <mat-select [(ngModel)]="sharedProp.flow_state" (selectionChange)="onSearch();">
          <div *ngFor="let currentFS of flow_states[sharedProp.element] | keyvalue">
            <mat-option value="{{ currentFS.key }}">{{ currentFS.value }}</mat-option>
          </div>
        </mat-select>
      </mat-form-field>
      
      <mat-form-field appearance="outline" *ngIf="sharedProp.action.filters.modality">
        <mat-label>Modalidad</mat-label>
        <mat-select [(ngModel)]="sharedProp.modality" (selectionChange)="onSearch();">
          <div *ngFor="let currentModality of modalities">
            <mat-option value="{{ currentModality._id }}" (click)="setCurrentCodeValue(currentModality.code_value)">{{ currentModality.code_value }}</mat-option>
          </div>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" *ngIf="sharedProp.action.filters.status">
        <mat-label>Estado</mat-label>
        <mat-select [(ngModel)]="sharedProp.status" (selectionChange)="onSearch();">
          <mat-option value="true">Activo</mat-option>
          <mat-option value="false">Inactivo</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" *ngIf="sharedProp.action.filters.urgency">
        <mat-label>Urgencia</mat-label>
        <mat-select [(ngModel)]="sharedProp.urgency" (selectionChange)="onSearch();">
          <mat-option value="true">Urgente</mat-option>
          <mat-option value="false">Normal</mat-option>
        </mat-select>
      </mat-form-field>

      <!-- fk_user -->
      <span *ngIf="sharedProp.action.filters.fk_user">
        <span [ngSwitch]="sharedProp.action.filters.fk_user">
          <!-- fk_user (aggregation user._id) -->
          <span *ngSwitchCase="'user._id'">
            <!-- 1: Superusuario, 2: Administrador (Non display only) -->
            <mat-form-field appearance="outline" [class.non-display]="sharedProp.userLogged.permissions[0].role != 1 && sharedProp.userLogged.permissions[0].role != 2">
              <mat-label>ID Usuario</mat-label>
              <input matInput type="search" placeholder="_id de usuario" [(ngModel)]="sharedProp.fk_user" (keyup.enter)="onSearch();">
              <mat-icon matSuffix>user</mat-icon>
            </mat-form-field>
          </span>

          <!-- reporting users (performing) -->
          <span *ngSwitchCase="'appointment.reporting.fk_reporting._id'">
            <button mat-flat-button color="primary" matTooltip="Mostrar solo los estudios asignados al usuario" class="button_filters" (click)="setReportingUser();">
              <mat-icon>move_to_inbox</mat-icon>&nbsp; VER SOLO ESTUDIOS ASIGNADOS
            </button>
          </span>
        </span>
      </span>

      <!-- event log -->
      <mat-form-field appearance="outline" *ngIf="sharedProp.action.filters.log_event">
        <mat-label>Evento</mat-label>
        <mat-select [(ngModel)]="sharedProp.log_event" (selectionChange)="onSearch();">
          <div *ngFor="let currentEvent of eventsLog | keyvalue">
            <mat-option value="{{ currentEvent.key}}">{{ currentEvent.value }}</mat-option>
          </div>
        </mat-select>
      </mat-form-field>

      <!-- reset seach -->
      <button mat-flat-button color="accent" class="button_filters clean_button" (click)="onSearch(1, true);" *ngIf="sharedProp.action.filters.clear_filters && sharedProp.action.advanced_search === false">
        <mat-icon>cleaning_services</mat-icon>&nbsp; LIMPIAR BÚSQUEDA
      </button>

      <!-- clear list selection -->
      <button mat-flat-button color="accent" class="button_filters" (click)="deleteSelectedItems()" *ngIf="this.sharedProp.selected_items.length > 0">
        <mat-icon>delete_forever</mat-icon>&nbsp; BORRAR SELECCIÓN ({{ this.sharedProp.getTotalChecked() }})
      </button>

      <!-- search info -->
      <button mat-icon-button color="accent" class="button_filters" matTooltip="Ayuda para búsquedas" (click)="this.sharedFunctions.openDialog('search_info', true);">
        <mat-icon>help</mat-icon>
      </button>
    </div> <!-- end fxLayout wrapper -->

    <span class="mat-spacer"></span>

    <!-- ------------------------------------------------------------------------------------------------------------------------ -->
    <!-- PAGER -->
    <!-- ------------------------------------------------------------------------------------------------------------------------ -->
    <div *ngIf="sharedProp.action.filters.pager && sharedFunctions.response.pager"> <!-- start fxLayout wrapper -->
      <div class="pager">
        <div class="pager-info divider-alt">
          Total: {{ sharedFunctions.response.pager.total_items }} <br/>
          Mostrados: {{ sharedFunctions.response.pager.viewed_items }} <br/>
          <hr class="dashed" />
          <div>
            <mat-icon class="pager-arrows" (click)="prevPage(sharedFunctions.response.pager);" [class.pager-disabled]="sharedFunctions.response.pager.actual_page === 1">chevron_left</mat-icon>
            <mat-icon class="pager-disabled">remove</mat-icon>
            <mat-icon class="pager-arrows" (click)="nextPage(sharedFunctions.response.pager);" [class.pager-disabled]="sharedFunctions.response.pager.actual_page === sharedFunctions.response.pager.number_of_pages">chevron_right</mat-icon>
          </div>
        </div>

        <div class="pager-select">
          Página
          <mat-form-field class="pager-input" appearance="standard">
            <mat-select class="pager-input-select" [(ngModel)]="sharedFunctions.response.pager.actual_page" (selectionChange)="onSearch(sharedFunctions.response.pager.actual_page);">
              <mat-option *ngFor="let currentPage of counterPages(sharedFunctions.response.pager.number_of_pages);" [value]="currentPage">{{ currentPage }}</mat-option>
            </mat-select>
          </mat-form-field>
          de {{ sharedFunctions.response.pager.number_of_pages }}
          <br/>
          Items por página:
          <mat-form-field class="pager-input" appearance="standard" style="margin-top: -17px;">
            <mat-select class="pager-input-select" [(ngModel)]="sharedFunctions.response.pager.items_per_page" (selectionChange)="setPageLimit(sharedFunctions.response.pager.items_per_page);">
              <mat-option *ngFor="let currentSize of page_sizes" [value]="currentSize">{{ currentSize }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="clear"></div>
      </div>
    </div>
    <!-- ------------------------------------------------------------------------------------------------------------------------ -->

  </div>
</div>

<!-- ------------------------------------------------------------------------------------------------------------------------ -->
<!-- ADVANCED SEARCH: -->
<!-- ------------------------------------------------------------------------------------------------------------------------ -->
<div *ngIf="sharedProp.action.advanced_search" class="form-element advanced-search-panel">
  <div fxLayout="row" fxLayoutAlign="start start">
    <div class="input-wrapper divider"> <!-- start fxLayout wrapper -->
      <h2 class="form-title text-center underline-fail-alt">Buscar palabras clave:</h2>
    
      <h4>Anamnesis <span class="label-info">CITA</span>:</h4>
      <mat-form-field appearance="outline" class="large">
        <mat-label>Buscar palabra sobre anamnesis</mat-label>
        <input matInput type="text" [(ngModel)]="sharedProp.advanced_search.anamnesis" placeholder="Buscar palabra sobre el contenido del anamnesis" (keyup.enter)="onSearch();">
      </mat-form-field>
    
      <br/><br/>

      <h3 class="form-title text-center underline-ok-alt">En el contenido del <span class="label-info">INFORME</span>:</h3>
    
      <div fxLayout="row" fxLayoutAlign="start start">
        <div class="input-wrapper divider-alt"> <!-- start fxLayout wrapper -->
          <h4>Dato clínico:</h4>
          <mat-form-field appearance="outline" class="full">
            <mat-label>Palabra en dato clínico</mat-label>
            <input matInput type="text" [(ngModel)]="sharedProp.advanced_search.clinical_info" placeholder="Buscar palabra sobre el dato clínico" (keyup.enter)="onSearch();">
          </mat-form-field>
    
          <br/>
    
          <h4>Hallazgos:</h4>
          <mat-form-field appearance="outline" class="full">
            <mat-label>Palabra en hallazgos</mat-label>
            <input matInput type="text" [(ngModel)]="sharedProp.advanced_search.procedure_findings" placeholder="Buscar palabra sobre los hallazgos" (keyup.enter)="onSearch();">
          </mat-form-field>
        </div> <!-- end fxLayout wrapper -->
    
        <div class="input-wrapper"> <!-- start fxLayout wrapper -->
          <h4>Procedimiento:</h4>
          <mat-form-field appearance="outline" class="full">
            <mat-label>Palabra en procedimiento</mat-label>
            <input matInput type="text" [(ngModel)]="sharedProp.advanced_search.procedure_description" placeholder="Buscar palabra sobre el procedimiento" (keyup.enter)="onSearch();">
          </mat-form-field>
    
          <br/>
  
          <h4>En suma:</h4>
          <mat-form-field appearance="outline" class="full">
            <mat-label>Palabra en el en suma</mat-label>
            <input matInput type="text" [(ngModel)]="sharedProp.advanced_search.summary" placeholder="Buscar palabra sobre en suma" (keyup.enter)="onSearch();">
          </mat-form-field>
        </div> <!-- end fxLayout wrapper -->
      </div>
    
      <hr class="dashed"/><br/>

      <h2 class="form-title text-center underline-fail-alt">Patologías del <span class="label-info">INFORME</span>:</h2>
  
      <div fxLayout="row" fxLayoutAlign="start start">
        <div class="input-wrapper"> <!-- start fxLayout wrapper -->
          <span><small><mat-icon>coronavirus</mat-icon></small><span class="pathologies-title"> Patologías:</span></span>
          <br/>
          <mat-form-field class="full" appearance="outline">
            <mat-label>Patologías</mat-label>
            <input type="text" [(ngModel)]="sharedProp.pathologies_input" matInput (keyup)="filterPathologies($event)" [matAutocomplete]="autoPathologies">
            <mat-autocomplete #autoPathologies="matAutocomplete">
              <mat-option (click)="addPathology(currentPathology)" *ngFor="let currentPathology of sharedProp.filteredPathologies" [value]="currentPathology.name">
                {{ currentPathology.name }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div> <!-- end fxLayout wrapper -->

        <div class="input-wrapper"> <!-- start fxLayout wrapper -->
          <span *ngIf="sharedProp.advanced_search.pathologies.length > 0; then thenBlockPathologies else elseBlockPathologies"></span>
          <ng-template #thenBlockPathologies>
            <small>
              <mat-chip-list>
                <mat-chip class="mat-pathology" *ngFor="let currentPathology of sharedProp.advanced_search.pathologies; let i = index">
                  <small>{{ currentPathology.name }}</small> 
                  <mat-icon matTooltip="Quitar patología" (click)="removePathology(currentPathology)">close</mat-icon>
                </mat-chip>
              </mat-chip-list>
            </small>
          </ng-template>
          <ng-template #elseBlockPathologies>
            <div class="text-center"><span class="label-accent">Sin filtrar por patologías</span></div>
          </ng-template>
        </div> <!-- end fxLayout wrapper -->
      </div>

      <!-- Only superuser can set pathologies organization -->
      <div [class.non-display]="sharedProp.userLogged.permissions[0].role !== 1">
        <hr class="dashed"/><br/>
        <h4>Organización <span class="label-accent">Administradora de patologías</span>:</h4>
        <mat-form-field appearance="outline" class="full">
          <mat-label>Organización</mat-label>
          <mat-select [(ngModel)]="sharedProp.current_organization" placeholder="Seleccione la organización" (selectionChange)="onChangeOrganization($event);">
            <div *ngFor="let currentOrganization of availableOrganizations">
              <mat-option value="{{ currentOrganization._id }}">{{ currentOrganization.short_name }} ({{ currentOrganization.name }})</mat-option>
            </div>
          </mat-select>
        </mat-form-field>
      </div>

      <br/>
    </div> <!-- end fxLayout wrapper -->
    
    <div class="input-wrapper"> <!-- start fxLayout wrapper -->
      <h2 class="form-title text-center underline-fail-alt">Médicos involucrados:</h2>

      <h4>Médico solicitante <span class="label-info">SOLICITUD</span>:</h4>
      <mat-form-field appearance="outline" class="large">
        <mat-label>Nombre/s o Apellido/s del médico solicitante</mat-label>
        <input matInput type="text" [(ngModel)]="sharedProp.advanced_search.referring_physician" placeholder="Nombre/s o Apellido/s del médico solicitante" (keyup.enter)="onSearch();">
      </mat-form-field>

      <br/><br/>

      <h3 class="form-title text-center underline-ok-alt">Sobre la <span class="label-info">FIRMA</span> y <span class="label-info">AUTENTICACIÓN</span> del <span class="label-info">INFORME</span>:</h3>

      
      <div fxLayout="row" fxLayoutAlign="start start">
        <div class="input-wrapper divider-alt"> <!-- start fxLayout wrapper -->
          <span *ngIf="this.sharedProp.current_signer_users">
            <h4>Firmado por:</h4>
            <mat-form-field appearance="outline" class="full">
              <mat-label>Usuario firmante</mat-label>
              <mat-select [(ngModel)]="sharedProp.advanced_search.signing_user" placeholder="Seleccione el usuario firmante" (selectionChange)="onSearch();">
                <div *ngFor="let currentSignUser of this.sharedProp.current_signer_users">
                  <mat-option *ngIf="currentSignUser.person" value="{{ currentSignUser._id }}">
                    <!--names-->
                    {{ currentSignUser.person.name_01 }}
                    <span *ngIf="currentSignUser.person.name_02">
                      {{ ' ' + currentSignUser.person.name_02 }}
                    </span>
                    <!--surnames-->
                    {{ ' ' + currentSignUser.person.surname_01 }}
                    <span *ngIf="currentSignUser.person.surname_02">
                      {{ ' ' + currentSignUser.person.surname_02 }}
                    </span>
                  </mat-option>
                </div>
              </mat-select>
            </mat-form-field>
          </span>
        </div> <!-- end fxLayout wrapper -->

        <div class="input-wrapper"> <!-- start fxLayout wrapper -->
          <span *ngIf="this.sharedProp.current_authenticator_users">
            <h4>Autenticado por:</h4>
            <mat-form-field appearance="outline" class="full">
              <mat-label>Usuario autenticador</mat-label>
              <mat-select [(ngModel)]="sharedProp.advanced_search.authenticator_user" placeholder="Seleccione el usuario autenticador" (selectionChange)="onSearch();">
                <div *ngFor="let currentAuthUser of this.sharedProp.current_authenticator_users">
                  <mat-option *ngIf="currentAuthUser.person" value="{{ currentAuthUser._id }}">
                    <!--names-->
                    {{ currentAuthUser.person.name_01 }}
                    <span *ngIf="currentAuthUser.person.name_02">
                      {{ ' ' + currentAuthUser.person.name_02 }}
                    </span>
                    <!--surnames-->
                    {{ ' ' + currentAuthUser.person.surname_01 }}
                    <span *ngIf="currentAuthUser.person.surname_02">
                      {{ ' ' + currentAuthUser.person.surname_02 }}
                    </span>
                  </mat-option>
                </div>
              </mat-select>
            </mat-form-field>
          </span>
        </div> <!-- end fxLayout wrapper -->
      </div>

      <hr class="dashed"/>

      <div class="text-center">
        <img class="form_nodes" src="../../../../../assets/img/nodes.png" alt="nodes">
      </div>

    </div> <!-- end fxLayout wrapper -->
  </div>
    
  <div class="clear"></div>
  <hr class="soft-alt"/>
    
  <div class="text-center">
    <br/>
        
    <!-- advanced search -->
    <button mat-flat-button color="primary" class="button_filters" (click)="onSearch();">
      <mat-icon>search</mat-icon>&nbsp; BUSCAR
    </button>
    
    <!-- reset seach -->
    <button mat-flat-button color="accent" class="button_filters clean_button" (click)="advancedSearchClear()" *ngIf="sharedProp.action.filters.clear_filters">
      <mat-icon>cleaning_services</mat-icon>&nbsp; LIMPIAR BÚSQUEDA
    </button>
    
    <div class="clear"></div>
    <br/>
  </div>
</div>
<!-- ------------------------------------------------------------------------------------------------------------------------ -->