<h1 mat-dialog-title class="underline-fail"><mat-icon>delete_forever</mat-icon>&nbsp; {{ 'DIALOGS.DELETE_APPOINTMENT_DRAFT.TITLE' | i18n }}</h1>
<div mat-dialog-content>
  <h3>{{ 'DIALOGS.DELETE_APPOINTMENT_DRAFT.CONFIRM_DISCARD' | i18n }}</h3>
  {{ 'DIALOGS.DELETE_APPOINTMENT_DRAFT.WARNING' | i18n }}<br/>

  <br/><hr class="dashed" />

  <h3 class="details-title">{{ 'DIALOGS.DELETE_APPOINTMENT_DRAFT.APPOINTMENT_DETAILS' | i18n }}</h3>
  <!-- appointment_date -->
  <div class="current-info divider-alt">
    <small>{{ 'DIALOGS.DELETE_APPOINTMENT_DRAFT.APPOINTMENT_DATE' | i18n }}</small><br/>
    <span class="appointment-firts">{{ formatted_datetime.dateDay + '/' + formatted_datetime.dateMonth + '/' + formatted_datetime.dateYear }}</span>
  </div>

  <!-- appointment_start -->
  <div class="current-info divider-alt">
    <small>{{ 'DIALOGS.DELETE_APPOINTMENT_DRAFT.START_TIME' | i18n }}</small><br/>
    <span class="appointment-firts">{{ formatted_datetime.startHours + ':' + formatted_datetime.startMinutes }}</span>
  </div>

  <!-- appointment_end -->
  <div class="current-info divider-alt">
    <small>{{ 'DIALOGS.DELETE_APPOINTMENT_DRAFT.END_TIME' | i18n }}</small><br/>
    <span class="appointment-firts">{{ formatted_datetime.endHours + ':' + formatted_datetime.endMinutes }}</span>
  </div>

  <!-- equipment -->
  <div class="current-info text-center divider-alt">
    <small>{{ 'DIALOGS.DELETE_APPOINTMENT_DRAFT.EQUIPMENT' | i18n }}</small><br/>
    <span class="badge-accent" matTooltip="{{ 'AET: ' + data.slot.equipment.AET }}">
      <span>{{ data.slot.equipment.name }}</span>
    </span>
  </div>

  <!-- urgency -->
  <div class="current-info text-center">
    <small>{{ 'DIALOGS.DELETE_APPOINTMENT_DRAFT.URGENCY' | i18n }}</small><br/>
    <div *ngIf="data.urgency; then thenBlockUrgency else elseBlockUrgency"></div>
    <ng-template #thenBlockUrgency><mat-icon class="color-fail" matTooltip="{{ 'DIALOGS.DELETE_APPOINTMENT_DRAFT.URGENT' | i18n }}">directions_run</mat-icon></ng-template>
    <ng-template #elseBlockUrgency><mat-icon color="accent" matTooltip="{{ 'DIALOGS.DELETE_APPOINTMENT_DRAFT.NORMAL' | i18n }}">man</mat-icon></ng-template>
  </div>

  <div class="clear"></div>
  <hr class="dashed" />

  <h3 class="details-title">{{ 'DIALOGS.DELETE_APPOINTMENT_DRAFT.PATIENT_DETAILS' | i18n }}</h3>

  <!-- documents -->
  <div class="current-info">
    <small>{{ 'DIALOGS.DELETE_APPOINTMENT_DRAFT.DOCUMENTS' | i18n }}</small><br/>
    <span *ngFor="let current of data.patient.person.documents" >
      <span matTooltip="{{ country_codes[current.doc_country_code].name }}" class="flag-icon flag-icon-{{ country_codes[current.doc_country_code].alpha_2 | lowercase }}"></span>&nbsp;
      <span matTooltip="{{ document_types[current.doc_type] }}">
        <span innerHTML="{{ current.document | highlighter : sharedProp.filter }}"></span>
      </span>
      <br/>
    </span>
  </div>

  <!-- names -->
  <div class="current-info">
    <small>{{ 'DIALOGS.DELETE_APPOINTMENT_DRAFT.FULL_NAME' | i18n }}</small><br/>
    <span class="current-firts">
      <span>{{ data.patient.person.name_01 }}</span>

      <span *ngIf="data.patient.person.name_02">
        <span> {{ data.patient.person.name_02 }}</span>
      </span>

      <span> {{ data.patient.person.surname_01 }}</span>

      <span *ngIf="data.patient.person.surname_02">
        <span> {{ data.patient.person.surname_02 }}</span>
      </span>
    </span>
  </div>

  <!-- birth_date -->
  <div class="current-info">
    <small>{{ 'DIALOGS.DELETE_APPOINTMENT_DRAFT.BIRTH_DATE' | i18n }}</small><br/>
    <span class="current-firts">{{ data.patient.person.birth_date | date:"dd/MM/yyyy":"UTC" }}</span>
  </div>

  <!-- genre -->
  <div class="current-info text-center">
    <small>{{ 'DIALOGS.DELETE_APPOINTMENT_DRAFT.GENDER' | i18n }}</small><br/>
    <span [ngSwitch]="data.patient.person.gender" matTooltip="{{ gender_types[data.patient.person.gender] }}">
      <span *ngSwitchCase="1"><mat-icon class="male">man</mat-icon></span>
      <span *ngSwitchCase="2"><mat-icon class="female">woman</mat-icon></span>
      <span *ngSwitchCase="3"><mat-icon class="other">wc</mat-icon></span>
    </span>
  </div>

  <!-- status -->
  <div class="current-info text-center">
    <small>{{ 'DIALOGS.DELETE_APPOINTMENT_DRAFT.STATUS' | i18n }}</small><br/>
    <span *ngIf="data.patient.status; then thenBlock else elseBlock"></span>
    <ng-template #thenBlock><mat-icon class="color-ok" matTooltip="{{ 'DIALOGS.DELETE_APPOINTMENT_DRAFT.ACTIVE' | i18n }}">done</mat-icon></ng-template>
    <ng-template #elseBlock><mat-icon class="color-fail" matTooltip="{{ 'DIALOGS.DELETE_APPOINTMENT_DRAFT.INACTIVE' | i18n }}">clear</mat-icon></ng-template>
  </div>


  <div class="clear"></div>
  <hr class="dashed" />

  <h3 class="details-title">{{ 'DIALOGS.DELETE_APPOINTMENT_DRAFT.STUDY_PERFORMANCE' | i18n }}</h3>

  <!-- imaging -->
  <div class="current-info">
    <small>{{ 'DIALOGS.DELETE_APPOINTMENT_DRAFT.ORG_BRANCH_SERVICE' | i18n }}</small><br/>
    <span class="current-firts">{{ data.imaging.organization.short_name + ' ► ' + data.imaging.branch.short_name + ' ► ' + data.imaging.service.name }}</span>
  </div>

  <div class="clear"></div>
  <hr class="dashed" />

  <!-- procedure -->
  <div class="current-info text-center">
    <small>{{ 'DIALOGS.DELETE_APPOINTMENT_DRAFT.PROCEDURE_TO_PERFORM' | i18n }}</small><br/>
    <span class="badge-alt">
      <span>{{ data.procedure.name }}</span>
    </span>
  </div>

  <!-- modality -->
  <div class="current-info text-center">
    <small>{{ 'DIALOGS.DELETE_APPOINTMENT_DRAFT.MODALITY' | i18n }}</small><br/>
    <span class="badge" matTooltip="{{ data.modality.code_meaning }}">
      <span>{{ data.modality.code_value }}</span>
    </span>
  </div>

  <!-- informed_consent -->
  <div class="current-info text-center">
    <small>{{ 'DIALOGS.DELETE_APPOINTMENT_DRAFT.REQUIRES_CONSENT' | i18n }}</small><br/>
    <span *ngIf="data.procedure.informed_consent; then thenBlock else elseBlock"></span>
    <ng-template #thenBlock><mat-icon class="color-ok" matTooltip="{{ 'DIALOGS.DELETE_APPOINTMENT_DRAFT.YES' | i18n }}">done</mat-icon></ng-template>
    <ng-template #elseBlock><mat-icon class="color-fail" matTooltip="{{ 'DIALOGS.DELETE_APPOINTMENT_DRAFT.NO' | i18n }}">clear</mat-icon></ng-template>
  </div>

  <div class="clear"></div>
  <hr class="dashed" />
</div>
<div mat-dialog-actions>
  <span class="mat-spacer"></span>
  <button mat-button mat-dialog-close [mat-dialog-close]="false">{{ 'DIALOGS.DELETE_APPOINTMENT_DRAFT.CANCEL' | i18n }}</button>
  <button mat-flat-button mat-dialog-close [mat-dialog-close]="true" color="primary" cdkFocusInitial>{{ 'DIALOGS.DELETE_APPOINTMENT_DRAFT.YES_DISCARD' | i18n }}</button>
</div>
