.male {
  color: #05a3ff;
}

.female {
  color: #d53a9d;
}

.other {
  color: #05ffa1;
}

.current-info {
  float: left;
  margin-right: 10px;
  padding: 5px 12px 5px 5px;
}

.appointment-firts {
  font-size: 18px;
}

.details-title {
  margin-bottom: 5px !important;
}
