.current-wrap {
  background-color: #2e304b;
  border-radius: 4px;
  padding: 0px 0px 0px 12px;
  margin-bottom: 10px;
}

.current-info {
  float: left;
  margin-right: 10px;
  padding: 5px 12px 5px 5px;
}

.current-first {
  font-size: 16px;
}

.unselected {
  color: #bebec4;
}

.calendar-cancel-icon {
  color: #383a53;
  margin-left: -12.6%;
  font-size: 120px;
}
