.settings-content {
  background-color: var(--settings-bg-color);
  border-radius: 4px;
  padding: 6px;
  text-align: center;
}

.sirius {
  max-width: 250px;
  opacity: var(--sirius-opacity);
}

button {
  margin-right: 8px;
  margin-bottom: 8px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: var(--settings-btn-bg-color);
  color: var(--opposite-color-02) !important;
  width: 30%;
}
