<div class="settings-content">
  <div class="settings-card">
    {{ 'SETTINGS.DESCRIPTION_PRE' | i18n }} <strong>{{ 'SETTINGS.DESCRIPTION_BRAND' | i18n }}</strong>.<br/>
    {{ 'SETTINGS.DESCRIPTION_ADVICE' | i18n }}
  </div>

  <br/>

  <button *ngIf="sharedProp.userLogged.permissions[0].role == 1" mat-button routerLink="/organizations/list">
    <mat-icon>apartment</mat-icon><br/>
    {{ 'SETTINGS.ORGANIZATIONS' | i18n }}
  </button>

  <button *ngIf="sharedProp.userLogged.permissions[0].role == 1" mat-button routerLink="/branches/list">
    <mat-icon>account_tree</mat-icon><br/>
    {{ 'SETTINGS.BRANCHES' | i18n }}
  </button>

  <button mat-button routerLink="/services/list">
    <mat-icon>health_and_safety</mat-icon><br/>
    {{ 'SETTINGS.SERVICES' | i18n }}
  </button>

  <button *ngIf="sharedProp.userLogged.permissions[0].role == 1" mat-button routerLink="/modalities/list">
    <mat-icon>multiple_stop</mat-icon><br/>
    {{ 'SETTINGS.MODALITIES' | i18n }}
  </button>

  <button *ngIf="sharedProp.userLogged.permissions[0].role == 1" mat-button routerLink="/equipments/list">
    <mat-icon>precision_manufacturing</mat-icon><br/>
    {{ 'SETTINGS.EQUIPMENTS' | i18n }}
  </button>

  <button mat-button routerLink="/procedures/list">
    <mat-icon>format_list_numbered</mat-icon><br/>
    {{ 'SETTINGS.PROCEDURES' | i18n }}
  </button>

  <button mat-button routerLink="/procedure_categories/list">
    <mat-icon>category</mat-icon><br/>
    {{ 'SETTINGS.PROCEDURE_CATEGORIES' | i18n }}
  </button>

  <button mat-button routerLink="/pathologies/list">
    <mat-icon>coronavirus</mat-icon><br/>
    {{ 'SETTINGS.PATHOLOGIES' | i18n }}
  </button>

  <button mat-button routerLink="/users/list">
    <mat-icon>people</mat-icon><br/>
    {{ 'SETTINGS.USERS' | i18n }}
  </button>

  <button *ngIf="sharedProp.userLogged.permissions[0].role == 1" mat-button routerLink="/files/list">
    <mat-icon>folder</mat-icon><br/>
    {{ 'SETTINGS.FILES' | i18n }}
  </button>

  <br/><hr class="dashed" />

  <img class="sirius" src="../../../../assets/img/sirius.png" alt="">

</div>
