<div class="settings-content">
  <div class="settings-card">
    Las siguientes configuraciones afectan los registros a lo largo de todo el flujo de datos y el modo de funcionamiento de la aplicación <strong>Sirius RIS</strong>.<br/>
    En caso de no estar seguro de la maniobra a realizar, le recomendamos que consulte con el personal calificado para dicha tarea.
  </div>

  <br/>

  <button mat-button routerLink="/organizations/list">
    <mat-icon>apartment</mat-icon><br/>
    Organizaciones
  </button>

  <button mat-button routerLink="/branches/list">
    <mat-icon>account_tree</mat-icon><br/>
    Sucursales
  </button>

  <button mat-button>
    <mat-icon>health_and_safety</mat-icon><br/>
    Servicios
  </button>

  <br/>

  <button mat-button routerLink="/modalities/list">
    <mat-icon>multiple_stop</mat-icon><br/>
    Modalidades
  </button>

  <button mat-button>
    <mat-icon>precision_manufacturing</mat-icon><br/>
    Equipamiento
  </button>

  <button mat-button>
    <mat-icon>format_list_numbered</mat-icon><br/>
    Tipos de estudios / Procedimientos
  </button>

  <br/>

  <button mat-button>
    <mat-icon>people</mat-icon><br/>
    Cuentas de usuarios
  </button>

  <button mat-button>
    <mat-icon>hail</mat-icon><br/>
    Registro de profesionales
  </button>

  <button mat-button>
    <mat-icon>airline_seat_flat</mat-icon><br/>
    Registro de pacientes
  </button>

  <br/>

  <img class="sirius" src="../../../../assets/img/sirius.png" alt="">

</div>
