<div class="form-element">
    <mat-tab-group>
        <!-- MEDICAL LOCKER TAB: ----------------------------------------------------------------------------------------------------------------------- -->
        <mat-tab>
            <ng-template mat-tab-label>
              <mat-icon class="tab-icon">how_to_reg</mat-icon> {{ 'MEDICAL_LOCKER.ASSIGNED_REPORTS' | i18n }}
            </ng-template>
            <app-locker></app-locker>
        </mat-tab>
        <!-- MEDICAL LOCKER TAB: ----------------------------------------------------------------------------------------------------------------------- -->

        <!-- PHYSICIAN ASSIGNMENT TAB: ----------------------------------------------------------------------------------------------------------------------- -->
        <mat-tab>
            <ng-template mat-tab-label>
              <mat-icon class="tab-icon">assignment_ind</mat-icon> {{ 'MEDICAL_LOCKER.PHYSICIAN_ASSIGNMENT' | i18n }}
            </ng-template>
            <app-reporting-assignment></app-reporting-assignment>
        </mat-tab>
        <!-- PHYSICIAN ASSIGNMENT TAB: ----------------------------------------------------------------------------------------------------------------------- -->
    </mat-tab-group>
    <br/>
</div>