<div *ngIf="sharedFunctions.response; then thenBlockTable else elseBlockTable"></div>

<ng-template #thenBlockTable>
  <table mat-table [dataSource]="sharedFunctions.response.data" class="mat-elevation-z1">

    <!-- select element-->
    <ng-container matColumnDef="select_element">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox></mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let element">
        <mat-checkbox color="primary" value="{{ element._id }}"></mat-checkbox>
      </td>
    </ng-container>

    <!-- element action -->
    <ng-container matColumnDef="element_action">
      <th mat-header-cell *matHeaderCellDef> Acciones </th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button color="accent" aria-label="Editar" matTooltip="Editar" routerLink="/slots/form/update/{{ element._id }}">
          <mat-icon>edit</mat-icon>
        </button>
      </td>
    </ng-container>

    <!-- organization -->
    <ng-container matColumnDef="organization">
      <th mat-header-cell *matHeaderCellDef> Organización </th>
      <td mat-cell *matCellDef="let element">
        <span *ngIf="element.organization; then thenBlockTableOrganization else elseBlockTableOrganization"></span>
        <ng-template #thenBlockTableOrganization>
          <span innerHTML="{{ element.organization.short_name | highlighter : sharedProp.filter }}"></span>
        </ng-template>
        <ng-template #elseBlockTableOrganization>(Sin dato)</ng-template>
      </td>
    </ng-container>

    <!-- branch -->
    <ng-container matColumnDef="branch">
      <th mat-header-cell *matHeaderCellDef> Sucursal </th>
      <td mat-cell *matCellDef="let element">
        <span *ngIf="element.branch; then thenBlockTableBranch else elseBlockTableBranch"></span>
        <ng-template #thenBlockTableBranch>
          <span innerHTML="{{ element.branch.short_name | highlighter : sharedProp.filter }}"></span>
        </ng-template>
        <ng-template #elseBlockTableBranch>(Sin dato)</ng-template>
      </td>
    </ng-container>

    <!-- service -->
    <ng-container matColumnDef="service">
      <th mat-header-cell *matHeaderCellDef> Servicio </th>
      <td mat-cell *matCellDef="let element">
        <span *ngIf="element.service; then thenBlockTableService else elseBlockTableService"></span>
        <ng-template #thenBlockTableService>
          <span innerHTML="{{ element.service.name | highlighter : sharedProp.filter }}"></span>
        </ng-template>
        <ng-template #elseBlockTableService>(Sin dato)</ng-template>
      </td>
    </ng-container>

    <!-- date_name -->
    <ng-container matColumnDef="date_name">
      <th mat-header-cell *matHeaderCellDef class="column-alt text-center"> Día </th>
      <td mat-cell *matCellDef="let element" class="column-alt text-center">
        <span *ngIf="element.start">{{ element.start | date : "EEEE" | titlecase }}</span>
      </td>
    </ng-container>

    <!-- date -->
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef class="column-alt text-center"> Fecha </th>
      <td mat-cell *matCellDef="let element" class="column-alt text-center">
        <span *ngIf="element.start">{{ element.start | date : "dd/MM/yyyy" : "UTC" }}</span>
      </td>
    </ng-container>

    <!-- schedule -->
    <ng-container matColumnDef="schedule">
      <th mat-header-cell *matHeaderCellDef class="column-alt text-center"> Horario </th>
      <td mat-cell *matCellDef="let element" class="column-alt text-center">
        <span *ngIf="element.start">De {{ element.start | date : "HH:mm" : "UTC" }} a </span>
        <span *ngIf="element.end">{{ element.end | date : "HH:mm" : "UTC"}} hs</span>
      </td>
    </ng-container>

    <!-- equipment -->
    <ng-container matColumnDef="equipment">
      <th mat-header-cell *matHeaderCellDef class="text-center"> Equipamiento </th>
      <td mat-cell *matCellDef="let element">
        <span *ngIf="element.equipment; then thenBlockTableEquipment else elseBlockTableEquipment"></span>
        <ng-template #thenBlockTableEquipment>
          <span class="badge-accent" matTooltip="{{ 'AET: ' + element.equipment.AET }}">
            <span innerHTML="{{ element.equipment.name | highlighter : sharedProp.filter }}"></span>
          </span>
        </ng-template>
        <ng-template #elseBlockTableEquipment>(Sin dato)</ng-template>
      </td>
    </ng-container>

    <!-- modality -->
    <ng-container matColumnDef="modality">
      <th mat-header-cell *matHeaderCellDef> Modalidad </th>
      <td mat-cell *matCellDef="let element">
        <span *ngIf="element.modality; then thenBlockTableModality else elseBlockTableModality"></span>
        <ng-template #thenBlockTableModality>
          <span class="badge" matTooltip="{{ element.modality.code_meaning }}">
            <span innerHTML="{{ element.modality.code_value | highlighter : sharedProp.filter }}"></span>
          </span>
        </ng-template>
        <ng-template #elseBlockTableModality>(Sin dato)</ng-template>
      </td>
    </ng-container>

    <!-- urgency -->
    <ng-container matColumnDef="urgency">
      <th mat-header-cell *matHeaderCellDef class="text-center"> Urgencia </th>
      <td mat-cell *matCellDef="let element" class="text-center">
        <div *ngIf="element.urgency; then thenBlock else elseBlock"></div>
        <ng-template #thenBlock><mat-icon class="color-fail" matTooltip="Urgente">directions_run</mat-icon></ng-template>
        <ng-template #elseBlock><mat-icon color="accent" matTooltip="Normal">man</mat-icon></ng-template>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</ng-template>

<!-- Await response or not response -->
<ng-template #elseBlockTable>
  <div fxLayout="row" fxLayoutAlign="center center" class="response-info">
    Aguarde, aún no hay resultados.
  </div>
</ng-template>

<!-- No Data -->
<div *ngIf="sharedFunctions.response.message;" fxLayout="row" fxLayoutAlign="center center" class="response-info">
  {{ sharedFunctions.response.message }}
</div>
