.documents {
    padding-left: 10px;
}

mat-chip.line-break {
    height: auto;
    line-height: 1.1em;
}

.badge-mini {
    float: none !important;
}

.small_button{
    margin-left: 6px !important;
    margin-bottom: 7px !important;
    width: 25px !important;
    height: 25px !important;
    border-radius: 5px !important;
    padding: 0% !important;
}

.small_button .mat-icon {
    color: #27293dc3 !important;
}

.small_button mat-icon {
    position: relative !important;
    margin: 0px !important;
    top: -8px !important;
}

.reporting-indicator {
    margin-top: 9px;
    font-size: 9px;
    cursor: pointer;
}

.patient-details {
  cursor: pointer;
  color: var(--highlighted-gold);
}

.report-control-badge {
    background-color: var(--report-control-bg-color);
    color: var(--report-control-txt-color);
}

.report-control-pristine {
    color: var(--highlighted-green) !important;
}

.report-control-good {
    color: var(--highlighted-gold);
}

.report-control-warn {
    color: #ff7c7c;
}

.report-control-finished {
    color: var(--report-control-txt-finished);

}