<div *ngIf="sharedFunctions.response; then thenBlockTable else elseBlockTable"></div>

<ng-template #thenBlockTable>
  <div #main_list>
    <table mat-table [dataSource]="sharedFunctions.response.data" class="mat-elevation-z1">
      <!-- report_indicator -->
      <ng-container matColumnDef="report_indicator">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <!-- reporting indicator -->
          <!-- Superusuario, Supervisor, Médico, Concesiones: [6: Gestión de informes] -->
          <span *ngIf="sharedProp.userLogged.permissions[0].role == 1 || sharedProp.userLogged.permissions[0].role == 3 || sharedProp.userLogged.permissions[0].role == 4 || (sharedProp.userLogged.permissions[0].concession && sharedFunctions.checkConcessions(sharedProp, [6]))">
            <span *ngIf="element.appointment && element.appointment.reporting && element.appointment.reporting.fk_reporting; then thenBlockUserAssigned else elseBlockUserNotAssigned"></span>

            <!-- Report user assigned -->
            <ng-template #thenBlockUserAssigned>
              <div *ngIf="element.appointment.reporting.fk_reporting._id == sharedProp.userLogged.user_id; then thenBlockReporting else elseBlockReporting"></div>
              <ng-template #thenBlockReporting>
                <mat-icon class="reporting-indicator" matTooltip="Este estudio se encuentra asignado al usuario" color="primary">circle</mat-icon>
              </ng-template>
              <ng-template #elseBlockReporting>
                <mat-icon class="reporting-indicator" matTooltip="Este estudio NO se encuentra asignado al usuario, pero es visible debido a su acceso (dominio)" color="accent">circle</mat-icon>
              </ng-template>
            </ng-template>

            <!-- No report cases -->
            <ng-template #elseBlockUserNotAssigned>
              <mat-icon class="reporting-indicator" matTooltip="Este estudio NO posee ningún usuario informador asignado, es posible que el mismo no requira informe. Aún así es visible debido a su acceso (dominio)" color="warn">circle</mat-icon>
            </ng-template>

          </span>
        </td>
      </ng-container>

      <!-- element action -->
      <ng-container matColumnDef="element_action">
        <th mat-header-cell *matHeaderCellDef class="text-center"> Acciones </th>
        <td mat-cell *matCellDef="let element">

          <!-- Superusuario, Administrador, Concesiones: [5: Gestión de estudios] -->
          <span *ngIf="sharedProp.userLogged.permissions[0].role == 1 || sharedProp.userLogged.permissions[0].role == 2 || (sharedProp.userLogged.permissions[0].concession && sharedFunctions.checkConcessions(sharedProp, [5]))" >
            <button mat-icon-button color="accent" aria-label="Editar" matTooltip="Editar" routerLink="/performing/form/update/{{ element._id }}/performing">
              <mat-icon>edit</mat-icon>
            </button>
          </span>

          <!-- Superusuario, Administrador, Concesiones: [11: Acceso a logs de elementos] -->
          <span *ngIf="sharedProp.userLogged.permissions[0].role == 1 || sharedProp.userLogged.permissions[0].role == 2 || (sharedProp.userLogged.permissions[0].concession && sharedFunctions.checkConcessions(sharedProp, [11]))" >
            <button mat-icon-button color="accent" aria-label="Logs del elemento" matTooltip="Logs del elemento" routerLink="/logs/element/{{ sharedProp.element }}/{{ element._id }}">
              <mat-icon>format_list_bulleted</mat-icon>
            </button>
          </span>

          <br/>

          <button mat-icon-button color="accent" aria-label="Archivos asociados" matTooltip="Archivos asociados" (click)="performingDownloads(element)">
            <mat-icon>cloud_download</mat-icon>
          </button>

          <!-- Superusuario, Administrador, Concesiones: [12: Reenvío de correos] -->
          <span *ngIf="sharedProp.userLogged.permissions[0].role == 1 || sharedProp.userLogged.permissions[0].role == 2 || (sharedProp.userLogged.permissions[0].concession && sharedFunctions.checkConcessions(sharedProp, [12]))">
            <button mat-icon-button color="accent" class="smaller-icons" aria-label="Reenvío de correos" matTooltip="Reenvío de correos" (click)="mailDelivery(element)">
              <mat-icon>forward_to_inbox</mat-icon>
            </button>
          </span>
        </td>
      </ng-container>

      <!-- flow_state -->
      <ng-container matColumnDef="flow_state">
        <th mat-header-cell *matHeaderCellDef class="text-center">Flujo de estudio</th>
        <td mat-cell *matCellDef="let element" class="text-center">
          
          <span [ngSwitch]="element.flow_state">
            <!-- insert_report -->
            <span *ngSwitchCase="'P06'">
              <!-- Superusuario, Administrador, Supervisor, Médico, Concesiones: [6: Gestión de informes] -->
              <span *ngIf="sharedProp.userLogged.permissions[0].role == 1 || sharedProp.userLogged.permissions[0].role == 2 || sharedProp.userLogged.permissions[0].role == 3 || sharedProp.userLogged.permissions[0].role == 4 || (sharedProp.userLogged.permissions[0].concession && sharedFunctions.checkConcessions(sharedProp, [6]))">
                <button mat-mini-fab class="small_button" type="button" color="accent" matTooltip="Crear informe" aria-label="Crear informe" routerLink="/reports/form/insert/{{ element._id }}">
                  <mat-icon>playlist_add</mat-icon>
                </button>
              </span>
            </span>

            <!-- update_report and sign_report -->
            <span *ngSwitchCase="'P07'">
              <!-- Superusuario, Administrador, Supervisor, Médico, Concesiones: [6: Gestión de informes] -->
              <span *ngIf="sharedProp.userLogged.permissions[0].role == 1 || sharedProp.userLogged.permissions[0].role == 2 || sharedProp.userLogged.permissions[0].role == 3 || sharedProp.userLogged.permissions[0].role == 4 || (sharedProp.userLogged.permissions[0].concession && sharedFunctions.checkConcessions(sharedProp, [6]))">
                <button mat-mini-fab class="small_button" type="button" color="accent" matTooltip="Editar informe" aria-label="Editar informe" routerLink="/reports/form/update/{{ element._id }}">
                  <mat-icon>edit_note</mat-icon>
                </button>
              </span>

              <button mat-mini-fab class="small_button" type="button" (click)="sharedFunctions.reportReview(element._id)" matTooltip="Revisar informe" color="accent">
                <mat-icon>manage_search</mat-icon>
              </button>
            </span>

            <!-- sign_report and authenticate_report -->
            <span *ngSwitchCase="'P08'">
              <!-- Superusuario, Administrador, Supervisor, Médico, Concesiones: [6: Gestión de informes] -->
              <span *ngIf="sharedProp.userLogged.permissions[0].role == 1 || sharedProp.userLogged.permissions[0].role == 2 || sharedProp.userLogged.permissions[0].role == 3 || sharedProp.userLogged.permissions[0].role == 4 || (sharedProp.userLogged.permissions[0].concession && sharedFunctions.checkConcessions(sharedProp, [6]))">
                <button mat-mini-fab class="small_button" type="button" color="warn" matTooltip="Editar informe (Si realiza cambios sobre este informe se destruiran las firmas actuales)" aria-label="Editar informe" routerLink="/reports/form/update/{{ element._id }}">
                  <mat-icon>edit_note</mat-icon>
                </button>
              </span>

              <button mat-mini-fab class="small_button" type="button" (click)="sharedFunctions.reportReview(element._id)" matTooltip="Revisar informe" color="accent">
                <mat-icon>manage_search</mat-icon>
              </button>
            </span>

            <!--view_report and amend-->
            <span *ngSwitchCase="'P09'">
              <button mat-mini-fab class="small_button" type="button" (click)="sharedFunctions.reportReview(element._id)" matTooltip="Ver informe" color="accent">
                <mat-icon>playlist_add_check</mat-icon>
              </button>
            </span>
          </span>

          <!-- DICOM ACCESS -->
          <span *ngIf="element.flow_state == 'P06' || element.flow_state == 'P07' || element.flow_state == 'P08' || element.flow_state == 'P09'">
            <!-- Superusuario, Administrador, Supervisor, Médico, Concesiones: [21: Acceso al servicio de imágenes del PACS] -->
            <span *ngIf="sharedProp.userLogged.permissions[0].role == 1 || sharedProp.userLogged.permissions[0].role == 2 || sharedProp.userLogged.permissions[0].role == 3 || sharedProp.userLogged.permissions[0].role == 4 || (sharedProp.userLogged.permissions[0].concession && sharedFunctions.checkConcessions(sharedProp, [21]))">
              <button mat-mini-fab class="small_button" type="button" (click)="dicomAccess(element)" matTooltip="Ver imágenes" color="accent">
                <mat-icon>visibility</mat-icon>
              </button>
            </span>
            <br/>
          </span>

          <!-- flow_state -->
          <span class="badge badge-mini {{ element.flow_state }}" matTooltip="{{ cancellation_reasons[element.cancellation_reasons] }}" *ngIf="element.flow_state">{{ performing_flow_states[element.flow_state] }}</span>
        </td>
      </ng-container>

      <!-- date -->
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef class="column-alt text-center"> Fecha </th>
        <td mat-cell *matCellDef="let element" class="column-alt text-center">
          <span *ngIf="element.date">{{ element.date | date : "dd/MM/yyyy" : "UTC" }}</span>
        </td>
      </ng-container>

      <!-- report control -->
      <ng-container matColumnDef="report_control">
        <th mat-header-cell *matHeaderCellDef class="column-alt text-center"> Control informe </th>
        <td mat-cell *matCellDef="let element" class="column-alt text-center">
          <!-- Check if current performing is cancelled or not -->
          <span *ngIf="element.flow_state !== 'P11'; then thenBlockNotCancelled else elseBlockCancelled"></span>
          <ng-template #thenBlockNotCancelled>

            <!-- Check if procedure requires or not report -->
            <span *ngIf="element.date && element.procedure && element.procedure.reporting_delay !== undefined && element.procedure.reporting_delay !== null && element.procedure.reporting_delay !== ''; then thenBlocklReportControl else elseBlocklReportControl"></span>

            <ng-template #thenBlocklReportControl>
              <span class="badge">
              <!-- Authenticate control -->
              <span *ngIf="element.flow_state == 'P09'; then thenBlockAuthenticated else elseBlockNotAuthenticated"></span>
              <ng-template #thenBlockAuthenticated>  
                <small>
                  <!-- Create authDaysPassed to prevent multiple function exectution: -->
                  <ng-container *ngIf="sharedFunctions.getDaysPassed(element.date, sharedFunctions.authenticated_performing[element._id]) as authDaysPassed">
                    <!-- Days passed count: -->
                    <ng-container *ngIf="authDaysPassed != 'zero'; else noDaysPassed">
                      Autenticado: {{ sharedFunctions.authenticated_performing[element._id] | date:'dd/MM/yyyy':'UTC' }}&nbsp;<br/>
                      <span class="report-control-finished">{{ authDaysPassed }} día/s de espera</span>
                    </ng-container>

                    <!-- Authenticated on the day: -->
                    <ng-template #noDaysPassed>
                      Autenticado en el día
                    </ng-template>
                  </ng-container>
                </small>          
              </ng-template>

              <ng-template #elseBlockNotAuthenticated>
                <small>
                  <span *ngIf="element.appointment && element.appointment.report_before">
                    Requerido antes de:<br/>{{ element.appointment.report_before | date : "dd/MM/yyyy" : "UTC" }}&nbsp;<br/>
                    <!-- Create reportBeforeDays to prevent multiple function exectution: -->
                    <ng-container *ngIf="sharedFunctions.getDaysPassed(element.date, element.appointment.report_before) as reportBeforeDays">    

                      <!-- Define ng-template 'temp' that accepts a context with the daysPassed variable (prevent multiple function exectutio): -->
                      <ng-template #temp let-daysPassed="daysPassed">
                        <span [ngClass]="{
                          'report-control-pristine': daysPassed < 1,
                          'report-control-good': daysPassed < reportBeforeDays,
                          'report-control-warn': daysPassed >= reportBeforeDays
                        }">
                          {{ daysPassed == 'zero' ? 0 : daysPassed  }} día/s de espera
                        </span>
                      </ng-template>

                      <!-- Use ng-container with *ngTemplateOutlet to pass the result of getDaysPassed(date) to the ng-template context: -->
                      <ng-container *ngTemplateOutlet="temp; context: { daysPassed: sharedFunctions.getDaysPassed(element.date) }"></ng-container>
                    </ng-container>
                  </span>
                </small>
              </ng-template>
              </span>
            </ng-template>

            <ng-template #elseBlocklReportControl>
              <mat-icon matTooltip="El procedimiento de este estudio NO requiere ser informado.">info</mat-icon>
            </ng-template>
          </ng-template>

          <!--Cancelled (disable control)-->
          <ng-template #elseBlockCancelled></ng-template>
        </td>
      </ng-container>
      
      <!-- checkin_time -->
      <ng-container matColumnDef="checkin_time">
        <th mat-header-cell *matHeaderCellDef class="column-alt text-center"> Hora<br/>recepción </th>
        <td mat-cell *matCellDef="let element" class="column-alt text-center">
          <span *ngIf="element.date">{{ element.date | date : "HH:mm" : "UTC" }}</span>
        </td>
      </ng-container>

      <!-- documents -->
      <ng-container matColumnDef="documents">
        <th mat-header-cell *matHeaderCellDef class="documents"> Documentos </th>
        <td class="documents" mat-cell *matCellDef="let element">
          <span *ngIf="element.patient">
            <span *ngIf="element.patient.person" class="patient-details" (click)="sharedFunctions.openDialog('patient_details', { 'patient' : element.patient, 'destiny' : sharedProp.element })">
              <span *ngFor="let current of element.patient.person.documents" >
                <span matTooltip="{{ country_codes[current.doc_country_code].name }}" class="flag-icon flag-icon-{{ country_codes[current.doc_country_code].alpha_2 | lowercase }}"></span>&nbsp;
                <span matTooltip="{{ document_types[current.doc_type] }}">
                  <span innerHTML="{{ current.document | highlighter : sharedProp.filter }}"></span>
                </span>
                <br/>
              </span>
            </span>
          </span>
        </td>
      </ng-container>

      <!-- names -->
      <ng-container matColumnDef="names">
        <th mat-header-cell *matHeaderCellDef> Nombres </th>
        <td mat-cell *matCellDef="let element">
          <span *ngIf="element.patient">
            <span *ngIf="element.patient.person">
              <span innerHTML="{{ element.patient.person.name_01 | highlighter : sharedProp.filter }}"></span>

              <span *ngIf="element.patient.person.name_02">
                <span innerHTML="{{ ' ' + element.patient.person.name_02 | highlighter : sharedProp.filter }}"></span>
              </span>
            </span>
          </span>
        </td>
      </ng-container>

      <!-- surnames -->
      <ng-container matColumnDef="surnames">
        <th mat-header-cell *matHeaderCellDef> Apellidos </th>
        <td mat-cell *matCellDef="let element">
          <span *ngIf="element.patient">
            <span *ngIf="element.patient.person">
              <span innerHTML="{{ element.patient.person.surname_01 | highlighter : sharedProp.filter }}"></span>

              <span *ngIf="element.patient.person.surname_02">
                <span innerHTML="{{ ' ' + element.patient.person.surname_02 | highlighter : sharedProp.filter }}"></span>
              </span>
            </span>
          </span>
        </td>
      </ng-container>

      <!-- patient_age -->
      <ng-container matColumnDef="patient_age">
        <th mat-header-cell *matHeaderCellDef matTooltip="Edad al momento de la realización del estudio" class="column-alt text-center"> Edad </th>
        <td mat-cell *matCellDef="let element" class="column-alt text-center">
          <span *ngIf="element.patient">
            <span *ngIf="element.patient.person">
              <span>{{ sharedFunctions.calculateAge(element.patient.person.birth_date, element.date) }}</span>
            </span>
          </span>
        </td>
      </ng-container>

      <!-- details -->
      <ng-container matColumnDef="details">
        <th mat-header-cell *matHeaderCellDef class="text-center"> Detalle </th>
        <td mat-cell *matCellDef="let element">
          <!-- procedure -->
          <span *ngIf="element.procedure">
            <span class="badge-alt" matTooltip="{{ element.procedure.code }}">
              <span innerHTML="{{ element.procedure.name | highlighter : sharedProp.filter }}"></span>
            </span>
          </span>

          <div class="clear"></div><hr class="dashed" />

          <!-- equipment -->        
          <span *ngIf="element.equipment; then thenBlockTableEquipment else elseBlockTableEquipment"></span>
              <ng-template #thenBlockTableEquipment>
              <span class="badge-accent" matTooltip="{{ 'AET: ' + element.equipment.AET }}">
              <span innerHTML="{{ element.equipment.name | highlighter : sharedProp.filter }}"></span>
              </span>
          </ng-template>
          <ng-template #elseBlockTableEquipment>(Sin dato)</ng-template>

          <!-- modality -->
          <span *ngIf="element.modality; then thenBlockTableModality else elseBlockTableModality"></span>
          <ng-template #thenBlockTableModality>
            <span class="badge" matTooltip="{{ element.modality.code_meaning }}">{{ element.modality.code_value }}</span>
          </ng-template>
          <ng-template #elseBlockTableModality>(Sin dato)</ng-template>
        </td>
      </ng-container>

      <!-- outpatient_inpatient -->
      <ng-container matColumnDef="outpatient_inpatient">
        <th mat-header-cell *matHeaderCellDef class="text-center"> Hospitalización </th>
        <td mat-cell *matCellDef="let element" class="text-center">
          <span *ngIf="element.appointment">
              <div *ngIf="element.appointment.outpatient; then thenBlock else elseBlock"></div>
              <ng-template #thenBlock><mat-icon color="accent" matTooltip="Ambulatorio">house</mat-icon></ng-template>
              <ng-template #elseBlock><mat-icon class="color-fail" matTooltip="Internado">hotel</mat-icon></ng-template>
          </span>
        </td>
      </ng-container>

      <!-- urgency -->
      <ng-container matColumnDef="urgency">
        <th mat-header-cell *matHeaderCellDef class="text-center"> Urgencia </th>
        <td mat-cell *matCellDef="let element" class="text-center">
          <span *ngIf="element.appointment">
              <div *ngIf="element.appointment.urgency; then thenBlock else elseBlock"></div>
              <ng-template #thenBlock><mat-icon class="color-fail" matTooltip="Urgente">directions_run</mat-icon></ng-template>
              <ng-template #elseBlock><mat-icon color="accent" matTooltip="Normal">man</mat-icon></ng-template>
          </span>
        </td>
      </ng-container>

      <!-- status -->
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef class="divider-alt"> Estado </th>
        <td mat-cell *matCellDef="let element" class="divider-alt">
          <div *ngIf="element.status; then thenBlock else elseBlock"></div>
          <ng-template #thenBlock><mat-icon class="color-ok" matTooltip="Activo">done</mat-icon></ng-template>
          <ng-template #elseBlock><mat-icon class="color-fail" matTooltip="Inactivo">clear</mat-icon></ng-template>
        </td>
      </ng-container>

      <!-- domain -->
      <ng-container matColumnDef="domain">
        <th mat-header-cell *matHeaderCellDef class="text-center">Dominio</th>
        <td mat-cell *matCellDef="let element">
          <div *ngIf="element.appointment" class="domain-container">
            <!--referring-->
            <small><strong>Solicitante: </strong></small>
            <span *ngIf="element.appointment.referring; then thenBlockReferring else elseBlockReferring"></span>
            <ng-template #thenBlockReferring>
              <small>
                <span *ngIf="element.appointment.referring.organization" innerHTML="{{ element.appointment.referring.organization.short_name | highlighter : sharedProp.filter }}"></span>
                <span *ngIf="element.appointment.referring.branch" innerHTML=" ► {{ element.appointment.referring.branch.short_name | highlighter : sharedProp.filter }}"></span>
                <span *ngIf="element.appointment.referring.service" innerHTML=" ► {{ element.appointment.referring.service.name | highlighter : sharedProp.filter }}"></span>
              </small>
            </ng-template>
            <ng-template #elseBlockReferring>(Sin dato)</ng-template>

            <hr class="dashed" />

            <!--imaging-->
            <small><strong>Realizador: </strong></small>
            <span *ngIf="element.appointment.imaging; then thenBlockImaging else elseBlockImaging"></span>
            <ng-template #thenBlockImaging>
              <small>
                <span *ngIf="element.appointment.imaging.organization" innerHTML="{{ element.appointment.imaging.organization.short_name | highlighter : sharedProp.filter }}"></span>
                <span *ngIf="element.appointment.imaging.branch" innerHTML=" ► {{ element.appointment.imaging.branch.short_name | highlighter : sharedProp.filter }}"></span>
                <span *ngIf="element.appointment.imaging.service" innerHTML=" ► {{ element.appointment.imaging.service.name | highlighter : sharedProp.filter }}"></span>
              </small>
            </ng-template>
            <ng-template #elseBlockImaging>(Sin dato)</ng-template>

            <hr class="dashed" />

            <!--reporting-->
            <small><strong>Informador: </strong></small>
            <span *ngIf="element.appointment.reporting; then thenBlockReporting else elseBlockReporting"></span>
            <ng-template #thenBlockReporting>
              <small>
                <span *ngIf="element.appointment.reporting.organization" innerHTML="{{ element.appointment.reporting.organization.short_name | highlighter : sharedProp.filter }}"></span>
                <span *ngIf="element.appointment.reporting.branch" innerHTML=" ► {{ element.appointment.reporting.branch.short_name | highlighter : sharedProp.filter }}"></span>
                <span *ngIf="element.appointment.reporting.service" innerHTML=" ► {{ element.appointment.reporting.service.name | highlighter : sharedProp.filter }}"></span>
              </small>
            </ng-template>
            <ng-template #elseBlockReporting>(Sin dato)</ng-template>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</ng-template>

<!-- Await response or not response -->
<ng-template #elseBlockTable>
  <div fxLayout="row" fxLayoutAlign="center center" class="response-info">
    Aguarde, aún no hay resultados.
  </div>
</ng-template>

<!-- No Data -->
<div *ngIf="sharedFunctions.response.message;" fxLayout="row" fxLayoutAlign="center center" class="response-info">
  {{ sharedFunctions.response.message }}
</div>

<!-- Export to XSLX -->
<div class="text-right" *ngIf="sharedFunctions.response"><button mat-flat-button color="accent" class="export-xslx" (click)="tableToExcel()"><mat-icon class="export-icon">get_app</mat-icon> EXPORTAR LISTADO</button></div>