.domain-container {
    background-color: rgba(255, 255, 255, 0.035);
    margin: 0px -17px 0px 8px;
    padding: 8px;
    border-radius: 5px;
}

.documents {
    padding-left: 10px;
}

mat-chip.line-break {
    height: auto;
    line-height: 1.1em;
}

/* Appointments Flow States: */
.P01, .P02, .P03, .P04, .P05 {
    background-color: #d53a9d;
}

.P06, .P07 {
    background-color: #05ff9f87;
}

.P08 {
    background-color: #ff6f69;
}