/*----------------------------------------------------------------------------------------------------------------------*/
/* FORM: */
/*----------------------------------------------------------------------------------------------------------------------*/
.form-element ::ng-deep .mat-form-field-outline {
    background-color: #2d2d47;
}
  
.button_filters {
    top: -4px;
    padding-top: 4px !important;
    padding-bottom: 4px !important;
    font-size: 12px !important;
    margin-bottom: 4px !important;
}
/*----------------------------------------------------------------------------------------------------------------------*/

.no-result-text {
    font-size: 15px !important;
    opacity: 0.7 !important;
}

.no-result-icon {
    margin-left: -80px;
    font-size: 90px !important;
    opacity: 0.7 !important;
}

.node-spacing {
    padding-top: 50px;
}

.summary {
    font-size: 18px;
    background-color: #b0bec50e;
    margin: 1% 2% 1% 1%;
    padding: 1%;
    border-radius: 5px;
}

/*----------------------------------------------------------------------------------------------------------------------*/
/* AUTO WITH SELECT: */
/*----------------------------------------------------------------------------------------------------------------------*/
::ng-deep .mat-select-value:has(>.auto-width)  {
    max-width: 100%;
    min-width: 100%;
    width: auto;
}

::ng-deep .mat-form-field-infix:has(>.auto-width) {
    width: auto !important;
    min-width: 180px !important;
    padding-right: 13px !important;
}
/*----------------------------------------------------------------------------------------------------------------------*/