.documents {
  cursor: pointer;
  padding-left: 10px;
}

.repeated_surname {
  background-color: #de615c;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
  margin-left: 5px;
}

.badge-dose{
  opacity: 0.8;
}

.male {
  color: #05a3ff;
}

.female {
  color: #d53a9d;
}

.other {
  color: #05ffa1;
}
