<div *ngIf="sharedFunctions.response; then thenBlockTable else elseBlockTable"></div>

<ng-template #thenBlockTable>
  <div #main_list>
    <table mat-table [dataSource]="sharedFunctions.response.data" class="mat-elevation-z1">

      <!-- order -->
      <ng-container matColumnDef="order">
        <th mat-header-cell *matHeaderCellDef> Nº </th>
        <td mat-cell *matCellDef="let element; let i = index">{{i + 1}}</td>
      </ng-container>

      <!-- element action -->
      <ng-container matColumnDef="element_action">
        <th mat-header-cell *matHeaderCellDef class="text-center"> Acciones </th>
        <td mat-cell *matCellDef="let element" class="text-center" style="padding-bottom: 0px !important; margin-bottom: 0px !important;">
          
          <span *ngIf="sharedFunctions.nested_response">
            <span *ngIf="sharedFunctions.nested_response.data">
              <span *ngIf="getKeys(sharedFunctions.nested_response.data).length > 0; then thenBlockPerforming else elseBlockPerforming;"></span>

              <ng-template #thenBlockPerforming>
                <!-- Search for fk_appointment in nested response -->
                <span *ngIf="getKeys(matchIN(sharedFunctions.nested_response.data, 'fk_appointment', element._id)).length > 0; then thenBlockMatch else elseBlockMatch;"></span>

                <ng-template #thenBlockMatch>
                  <span *ngFor="let currentNested of sharedFunctions.nested_response.data">
                    <span *ngIf="element._id == currentNested.fk_appointment">
                      <!-- update performing -->
                      <button mat-mini-fab class="small_button" type="button" color="primary" matTooltip="Editar estudio" aria-label="Editar" routerLink="/performing/form/update/{{ currentNested._id }}/check-in{{ currentNested.flow_state == 'P03' ? '/1' : currentNested.flow_state == 'P04' ? '/3' : '' }}">
                        <mat-icon>edit</mat-icon>
                      </button>
        
                      <!-- insert more performing as same fk_appointment -->
                      <!-- 1: Superusuario, 2: Administrador, 8: Recepcionista, Concesiones: [4: Gestión de recepciones) -->
                      <span *ngIf="sharedProp.userLogged.permissions[0].role == 1 || sharedProp.userLogged.permissions[0].role == 2 || sharedProp.userLogged.permissions[0].role == 8 || (sharedProp.userLogged.permissions[0].concession && sharedFunctions.checkConcessions(sharedProp, [4]))">
                        <button mat-mini-fab class="small_button" type="button" color="accent" matTooltip="Recepcionar otro estudio con la misma cita" aria-label="Recepcionar otro estudio con la misma cita" routerLink="/performing/form/insert/{{ element._id }}/check-in">
                          <mat-icon>add_location_alt</mat-icon>
                        </button>
                      </span>

                      <br/>

                      <!-- performing flow_state -->
                      <small class="badge badge-mini {{ currentNested.flow_state }}" matTooltip="{{ cancellation_reasons[currentNested.cancellation_reasons] }}" *ngIf="currentNested.flow_state">{{ performing_flow_states[currentNested.flow_state] }}</small>

                      <!-- MWL -->
                      <span *ngIf="element.accession_date; then thenBlockMWL else elseBlockMWL;"></span>
                      <ng-template  #thenBlockMWL>
                        <button mat-icon-button class="small_button" color="accent" type="button" matTooltip="Enviado a MWL: {{ element.accession_date | accno_date }}" (click)="mwlResend(element._id, element.accession_date)">
                          <mat-icon>done_all</mat-icon>
                        </button>
                      </ng-template >
                      
                      <ng-template  #elseBlockMWL>
                        <button mat-icon-button class="small_button" color="accent" type="button" matTooltip="Enviar a MWL" (click)="sharedFunctions.sendToMWL(element._id, true, { element: sharedProp.element, params: sharedProp.params })">
                          <mat-icon>upload</mat-icon>
                        </button>
                      </ng-template >

                      <hr class="soft-alt"/>

                    </span>
                  </span>
                </ng-template>

                <ng-template #elseBlockMatch>
                  <!-- insert first performing | Duplicated button on diferent cases -->
                  <!-- 1: Superusuario, 2: Administrador, 8: Recepcionista, Concesiones: [4: Gestión de recepciones) -->
                  <span *ngIf="sharedProp.userLogged.permissions[0].role == 1 || sharedProp.userLogged.permissions[0].role == 2 || sharedProp.userLogged.permissions[0].role == 8 || (sharedProp.userLogged.permissions[0].concession && sharedFunctions.checkConcessions(sharedProp, [4]))">
                    <button mat-mini-fab class="small_button" type="button" color="primary" matTooltip="Recepcionar" aria-label="Recepcionar" routerLink="/performing/form/insert/{{ element._id }}/check-in">
                      <mat-icon>location_on</mat-icon>
                    </button>
                  </span>
                </ng-template>
                
              </ng-template>

              <ng-template #elseBlockPerforming>
                <!-- insert first performing | Duplicated button on diferent cases -->
                <!-- 1: Superusuario, 2: Administrador, 8: Recepcionista, Concesiones: [4: Gestión de recepciones) -->
                <span *ngIf="sharedProp.userLogged.permissions[0].role == 1 || sharedProp.userLogged.permissions[0].role == 2 || sharedProp.userLogged.permissions[0].role == 8 || (sharedProp.userLogged.permissions[0].concession && sharedFunctions.checkConcessions(sharedProp, [4]))">
                  <button mat-mini-fab class="small_button" type="button" color="primary" matTooltip="Recepcionar" aria-label="Recepcionar" routerLink="/performing/form/insert/{{ element._id }}/check-in">
                    <mat-icon>location_on</mat-icon>
                  </button>
                </span>
              </ng-template>
              
            </span>
          </span>

        </td>
      </ng-container>

      <!-- schedule -->
      <ng-container matColumnDef="schedule">
        <th mat-header-cell *matHeaderCellDef class="column-alt text-center"> Horario </th>
        <td mat-cell *matCellDef="let element" class="column-alt text-center">
          <span *ngIf="element.start">{{ element.start | date : "HH:mm" : "UTC" }} a </span>
          <span *ngIf="element.end">{{ element.end | date : "HH:mm" : "UTC"}} hs</span>
        </td>
      </ng-container>

      <!-- documents -->
      <ng-container matColumnDef="documents">
        <th mat-header-cell *matHeaderCellDef class="documents"> Documentos </th>
        <td class="documents" mat-cell *matCellDef="let element">
          <span *ngIf="element.patient">
            <span *ngIf="element.patient.person" class="patient-details" (click)="sharedFunctions.openDialog('patient_details', { 'patient' : element.patient, 'destiny' : 'check-in' })">
              <span *ngFor="let current of element.patient.person.documents" >
                <span matTooltip="{{ country_codes[current.doc_country_code].name }}" class="flag-icon flag-icon-{{ country_codes[current.doc_country_code].alpha_2 | lowercase }}"></span>&nbsp;
                <span matTooltip="{{ document_types[current.doc_type] }}">
                  <span innerHTML="{{ current.document | highlighter : sharedProp.filter }}"></span>
                </span>
                <br/>
              </span>
            </span>
          </span>
        </td>
      </ng-container>

      <!-- names -->
      <ng-container matColumnDef="names">
        <th mat-header-cell *matHeaderCellDef> Nombres </th>
        <td mat-cell *matCellDef="let element">
          <span *ngIf="element.patient">
            <span *ngIf="element.patient.person">
              <span innerHTML="{{ element.patient.person.name_01 | highlighter : sharedProp.filter }}"></span>

              <span *ngIf="element.patient.person.name_02">
                <span innerHTML="{{ ' ' + element.patient.person.name_02 | highlighter : sharedProp.filter }}"></span>
              </span>
            </span>
          </span>
        </td>
      </ng-container>

      <!-- surnames -->
      <ng-container matColumnDef="surnames">
        <th mat-header-cell *matHeaderCellDef> Apellidos </th>
        <td mat-cell *matCellDef="let element">
          <span *ngIf="element.patient">
            <span *ngIf="element.patient.person">
              <span
                matTooltip="{{ sharedProp.duplicatedSurnamesController.repeatedSurnames[element.patient.person.surname_01] > 1 ? 'ATENCIÓN: Apellido duplicado.' : ''}}"
                [class.repeated_surname]="sharedProp.duplicatedSurnamesController.repeatedSurnames[element.patient.person.surname_01] > 1"
                innerHTML="{{ element.patient.person.surname_01 | highlighter : sharedProp.filter }}"
              ></span>

              <span *ngIf="element.patient.person.surname_02">
                <span
                  matTooltip="{{ sharedProp.duplicatedSurnamesController.repeatedSurnames[element.patient.person.surname_02] > 1 ? 'ATENCIÓN: Apellido duplicado.' : ''}}"
                  [class.repeated_surname]="sharedProp.duplicatedSurnamesController.repeatedSurnames[element.patient.person.surname_02] > 1"
                  innerHTML="{{ ' ' + element.patient.person.surname_02 | highlighter : sharedProp.filter }}"
                ></span>
              </span>
            </span>
          </span>
        </td>
      </ng-container>

      <!-- patient_age -->
      <ng-container matColumnDef="patient_age">
        <th mat-header-cell *matHeaderCellDef matTooltip="Edad al momento de la realización del estudio" class="column-alt text-center"> Edad </th>
        <td mat-cell *matCellDef="let element" class="column-alt text-center">
          <span *ngIf="element.patient">
            <span *ngIf="element.patient.person">
              <span>{{ sharedFunctions.calculateAge(element.patient.person.birth_date, element.start) }}</span>
            </span>
          </span>
        </td>
      </ng-container>

      <!-- gender -->
      <ng-container matColumnDef="gender">
        <th mat-header-cell *matHeaderCellDef class="text-center"> Género </th>
        <td mat-cell *matCellDef="let element" class="text-center">
          <span *ngIf="element.patient">
            <span *ngIf="element.patient.person">
              <div [ngSwitch]="element.patient.person.gender" matTooltip="{{ gender_types[element.patient.person.gender] }}">
                <span *ngSwitchCase="1"><mat-icon class="male">man</mat-icon></span>
                <span *ngSwitchCase="2"><mat-icon class="female">woman</mat-icon></span>
                <span *ngSwitchCase="3"><mat-icon class="other">wc</mat-icon></span>
              </div>
            </span>
          </span>
        </td>
      </ng-container>

      <!-- height -->
      <ng-container matColumnDef="height" class="text-center">
        <th mat-header-cell *matHeaderCellDef> Altura </th>
        <td mat-cell *matCellDef="let element">
          <span *ngIf="element.private_health">{{ element.private_health.height }} <small>cm</small></span>
        </td>
      </ng-container>

      <!-- weight -->
      <ng-container matColumnDef="weight" class="text-center">
        <th mat-header-cell *matHeaderCellDef> Peso </th>
        <td mat-cell *matCellDef="let element">
          <span *ngIf="element.private_health">{{ element.private_health.weight }} <small>kg</small></span>
        </td>
      </ng-container>

      <!-- details -->
      <ng-container matColumnDef="details">
        <th mat-header-cell *matHeaderCellDef class="text-center"> Detalle </th>
        <td mat-cell *matCellDef="let element">
          <!-- procedure -->
          <span *ngIf="element.procedure">
            <span class="badge-alt" matTooltip="{{ element.procedure.code }}">
              <span innerHTML="{{ element.procedure.name | highlighter : sharedProp.filter }}"></span>
            </span>
          </span>

          <!-- recomended_dose -->
          <span *ngIf="sharedProp.current_modality_code_value && sharedProp.current_modality_code_value == 'PT' && element.private_health">
            <div class="clear"></div><hr class="dashed" />
            
            <span class="badge-warn badge-dose MBq" matTooltip="Dósis recomendada">
              <span>{{ sharedFunctions.calculateDose(element.private_health.weight, element.procedure.coefficient) }} MBq</span>
            </span>

            <span class="badge-warn badge-dose mCi" matTooltip="Dósis recomendada">
              <span>{{ sharedFunctions.MBqTomCi(sharedFunctions.calculateDose(element.private_health.weight, element.procedure.coefficient)) }} mCi</span>
            </span>
          </span>

          <!-- contrast -->
          <span *ngIf="sharedProp.current_modality_code_value && sharedProp.current_modality_code_value != 'PT' && element.contrast && element.contrast.use_contrast == true">
            <span class="badge-warn badge-dose" matTooltip="Tipo de contraste: {{ element.contrast.description }}">Con contraste</span>
          </span>

          <div class="clear"></div><hr class="dashed" />

          <!-- equipment -->
          <span *ngIf="element.slot">
            <span *ngIf="element.slot.equipment; then thenBlockTableEquipment else elseBlockTableEquipment"></span>
            <ng-template #thenBlockTableEquipment>
              <span class="badge-accent" matTooltip="{{ 'AET: ' + element.slot.equipment.AET }}">
                <span innerHTML="{{ element.slot.equipment.name | highlighter : sharedProp.filter }}"></span>
              </span>
            </ng-template>
            <ng-template #elseBlockTableEquipment>(Sin dato)</ng-template>
          </span>
        </td>
      </ng-container>

      <!-- private_health -->
      <ng-container matColumnDef="private_health">
        <th mat-header-cell *matHeaderCellDef> Información sensible </th>
        <td mat-cell *matCellDef="let element;">
          <span *ngIf="element.private_health">
            <span *ngFor="let currentPrivateHealth of getKeys(element.private_health) | keyvalue;">
              <span *ngIf="currentPrivateHealth.value !== 'height' && currentPrivateHealth.value !== 'weight' && currentPrivateHealth.value !== undefined && currentPrivateHealth.value !== null && element.private_health[toString(currentPrivateHealth.value)] === true;">
                <span class="private_health" >{{ this.privateHealthLang.ES[toString(currentPrivateHealth.value)] }}</span><br/>
              </span>
            </span>
          </span>
        </td>
      </ng-container>

      <!-- wait_time -->
      <ng-container matColumnDef="wait_time">
        <th mat-header-cell *matHeaderCellDef class="text-center"> Reposo/Espera </th>
        <td mat-cell *matCellDef="let element;" class="text-center">
          <span *ngIf="element.procedure">
            <div *ngIf="element.procedure.wait_time; then thenBlock else elseBlock"></div>
            <ng-template #thenBlock><small>{{ element.procedure.wait_time }} min</small></ng-template>
            <ng-template #elseBlock><mat-icon class="color-fail" matTooltip="NO">clear</mat-icon></ng-template>
          </span>
        </td>
      </ng-container>

      <!-- outpatient_inpatient -->
      <ng-container matColumnDef="outpatient_inpatient">
        <th mat-header-cell *matHeaderCellDef class="text-center"> Hospitalización </th>
        <td mat-cell *matCellDef="let element" class="text-center">
          <div *ngIf="element.outpatient; then thenBlock else elseBlock"></div>
          <ng-template #thenBlock><mat-icon color="accent" matTooltip="Ambulatorio">house</mat-icon></ng-template>
          <ng-template #elseBlock><mat-icon class="color-fail" matTooltip="Internado">hotel</mat-icon></ng-template>
        </td>
      </ng-container>

      <!-- urgency -->
      <ng-container matColumnDef="urgency">
        <th mat-header-cell *matHeaderCellDef class="text-center"> Urgencia </th>
        <td mat-cell *matCellDef="let element" class="text-center">
          <div *ngIf="element.urgency; then thenBlock else elseBlock"></div>
          <ng-template #thenBlock><mat-icon class="color-fail" matTooltip="Urgente">directions_run</mat-icon></ng-template>
          <ng-template #elseBlock><mat-icon color="accent" matTooltip="Normal">man</mat-icon></ng-template>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</ng-template>

<!-- Await response or not response -->
<ng-template #elseBlockTable>
  <div fxLayout="row" fxLayoutAlign="center center" class="response-info">
    Aguarde, aún no hay resultados.
  </div>
</ng-template>

<!-- No Data -->
<div *ngIf="sharedFunctions.response.message;" fxLayout="row" fxLayoutAlign="center center" class="response-info">
  {{ sharedFunctions.response.message }}
</div>

<!-- Export to XSLX -->
<div class="text-right" *ngIf="sharedFunctions.response"><button mat-flat-button color="accent" class="export-xslx" (click)="tableToExcel()"><mat-icon class="export-icon">get_app</mat-icon> EXPORTAR LISTADO</button></div>