<div *ngIf="sharedFunctions.response; then thenBlockTable else elseBlockTable"></div>

<ng-template #thenBlockTable>
  <table mat-table [dataSource]="sharedFunctions.response.data" class="mat-elevation-z1">

    <!-- order -->
    <ng-container matColumnDef="order">
      <th mat-header-cell *matHeaderCellDef> Nº </th>
      <td mat-cell *matCellDef="let element; let i = index">{{i + 1}}</td>
    </ng-container>

    <!-- element action -->
    <ng-container matColumnDef="element_action">
      <th mat-header-cell *matHeaderCellDef class="text-center"> Acciones </th>
      <td mat-cell *matCellDef="let element" class="text-center">
        <div *ngIf="element.accession_number; then thenAccessionNumber else elseAccessionNumber;"></div>
        <ng-template #thenAccessionNumber>
          <button mat-flat-button class="small_button"  color="accent" type="button" matTooltip="Fecha y hora de envío: {{ element.accession_number | accno_date }}" (click)="mwlResend(element._id, element.accession_number)">
            <mat-icon>done_all</mat-icon> ENVIADO A MWL
          </button>
        </ng-template>

        <ng-template #elseAccessionNumber>
          <button mat-flat-button class="small_button" type="button" color="primary" aria-label="Recepcionar" routerLink="/performing/form/insert/{{ element._id }}"> <!-- (click)="sharedFunctions.sendToMWL(element._id, true, { element: sharedProp.element, params: sharedProp.params })"> -->
            <mat-icon>location_on</mat-icon> RECEPCIONAR
          </button>
        </ng-template>
      </td>
    </ng-container>

    <!-- schedule -->
    <ng-container matColumnDef="schedule">
      <th mat-header-cell *matHeaderCellDef class="column-alt text-center"> Horario </th>
      <td mat-cell *matCellDef="let element" class="column-alt text-center">
        <span *ngIf="element.start">{{ element.start | date : "HH:mm" : "UTC" }} a </span>
        <span *ngIf="element.end">{{ element.end | date : "HH:mm" : "UTC"}} hs</span>
      </td>
    </ng-container>

    <!-- documents -->
    <ng-container matColumnDef="documents">
      <th mat-header-cell *matHeaderCellDef class="documents"> Documentos </th>
      <td class="documents" mat-cell *matCellDef="let element">
        <span *ngIf="element.patient">
          <span *ngIf="element.patient.person">
            <span *ngFor="let current of element.patient.person.documents" >
              <span matTooltip="{{ country_codes[current.doc_country_code].name }}" class="flag-icon flag-icon-{{ country_codes[current.doc_country_code].alpha_2 | lowercase }}"></span>&nbsp;
              <span matTooltip="{{ document_types[current.doc_type] }}">
                <span innerHTML="{{ current.document | highlighter : sharedProp.filter }}"></span>
              </span>
              <br/>
            </span>
          </span>
        </span>
      </td>
    </ng-container>

    <!-- names -->
    <ng-container matColumnDef="names">
      <th mat-header-cell *matHeaderCellDef> Nombres </th>
      <td mat-cell *matCellDef="let element">
        <span *ngIf="element.patient">
          <span *ngIf="element.patient.person">
            <span innerHTML="{{ element.patient.person.name_01 | highlighter : sharedProp.filter }}"></span>

            <span *ngIf="element.patient.person.name_02">
              <span innerHTML="{{ ' ' + element.patient.person.name_02 | highlighter : sharedProp.filter }}"></span>
            </span>
          </span>
        </span>
      </td>
    </ng-container>

    <!-- surnames -->
    <ng-container matColumnDef="surnames">
      <th mat-header-cell *matHeaderCellDef> Apellidos </th>
      <td mat-cell *matCellDef="let element">
        <span *ngIf="element.patient">
          <span *ngIf="element.patient.person">
            <span
              matTooltip="{{ sharedProp.duplicatedSurnamesController.repeatedSurnames[element.patient.person.surname_01] > 1 ? 'ATENCIÓN: Apellido duplicado.' : ''}}"
              [class.repeated_surname]="sharedProp.duplicatedSurnamesController.repeatedSurnames[element.patient.person.surname_01] > 1"
              innerHTML="{{ element.patient.person.surname_01 | highlighter : sharedProp.filter }}"
            ></span>

            <span *ngIf="element.patient.person.surname_02">
              <span
                matTooltip="{{ sharedProp.duplicatedSurnamesController.repeatedSurnames[element.patient.person.surname_02] > 1 ? 'ATENCIÓN: Apellido duplicado.' : ''}}"
                [class.repeated_surname]="sharedProp.duplicatedSurnamesController.repeatedSurnames[element.patient.person.surname_02] > 1"
                innerHTML="{{ ' ' + element.patient.person.surname_02 | highlighter : sharedProp.filter }}"
              ></span>
            </span>
          </span>
        </span>
      </td>
    </ng-container>

    <!-- details -->
    <ng-container matColumnDef="details">
      <th mat-header-cell *matHeaderCellDef class="text-center"> Detalle </th>
      <td mat-cell *matCellDef="let element">
        <!-- procedure -->
        <span *ngIf="element.procedure">
          <span class="badge-alt" matTooltip="{{ element.procedure.code }}">
            <span innerHTML="{{ element.procedure.name | highlighter : sharedProp.filter }}"></span>
          </span>
        </span>

        <div class="clear"></div><hr class="dashed" />

        <!-- equipment -->
        <span *ngIf="element.slot">
          <span *ngIf="element.slot.equipment; then thenBlockTableEquipment else elseBlockTableEquipment"></span>
          <ng-template #thenBlockTableEquipment>
            <span class="badge-accent" matTooltip="{{ 'AET: ' + element.slot.equipment.AET }}">
              <span innerHTML="{{ element.slot.equipment.name | highlighter : sharedProp.filter }}"></span>
            </span>
          </ng-template>
          <ng-template #elseBlockTableEquipment>(Sin dato)</ng-template>
        </span>
      </td>
    </ng-container>

    <!-- outpatient_inpatient -->
    <ng-container matColumnDef="outpatient_inpatient">
      <th mat-header-cell *matHeaderCellDef class="text-center"> Hospitalización </th>
      <td mat-cell *matCellDef="let element" class="text-center">
        <div *ngIf="element.outpatient; then thenBlock else elseBlock"></div>
        <ng-template #thenBlock><mat-icon color="accent" matTooltip="Ambulatorio">house</mat-icon></ng-template>
        <ng-template #elseBlock><mat-icon class="color-fail" matTooltip="Internado">hotel</mat-icon></ng-template>
      </td>
    </ng-container>

    <!-- urgency -->
    <ng-container matColumnDef="urgency">
      <th mat-header-cell *matHeaderCellDef class="text-center"> Urgencia </th>
      <td mat-cell *matCellDef="let element" class="text-center">
        <div *ngIf="element.urgency; then thenBlock else elseBlock"></div>
        <ng-template #thenBlock><mat-icon class="color-fail" matTooltip="Urgente">directions_run</mat-icon></ng-template>
        <ng-template #elseBlock><mat-icon color="accent" matTooltip="Normal">man</mat-icon></ng-template>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</ng-template>

<!-- Await response or not response -->
<ng-template #elseBlockTable>
  <div fxLayout="row" fxLayoutAlign="center center" class="response-info">
    Aguarde, aún no hay resultados.
  </div>
</ng-template>

<!-- No Data -->
<div *ngIf="sharedFunctions.response.message;" fxLayout="row" fxLayoutAlign="center center" class="response-info">
  {{ sharedFunctions.response.message }}
</div>
