<h1 mat-dialog-title class="underline-ok"><mat-icon>key</mat-icon>&nbsp; {{ 'DIALOGS.PASSWORD_REQUEST.TITLE' | i18n }}</h1>
<div mat-dialog-content>
    <div class="form-element text-center">
        <h4>{{ 'DIALOGS.PASSWORD_REQUEST.ENTER_USER_PASSWORD' | i18n }}</h4>
        <mat-form-field appearance="fill" class="medium">
            <mat-label>{{ 'DIALOGS.PASSWORD_REQUEST.PASSWORD' | i18n }}</mat-label>
            <input matInput type="password" [(ngModel)]="sharedFunctions.requested_password" class="text-center" placeholder="{{ 'DIALOGS.PASSWORD_REQUEST.ENTER_PASSWORD' | i18n }}">
        </mat-form-field>
    </div>
</div>
<div mat-dialog-actions>
  <span class="mat-spacer"></span>
  <button mat-button mat-dialog-close [mat-dialog-close]="false">{{ 'DIALOGS.PASSWORD_REQUEST.CANCEL' | i18n }}</button>
  <button mat-flat-button mat-dialog-close [mat-dialog-close]="true" color="primary" cdkFocusInitial>{{ 'DIALOGS.PASSWORD_REQUEST.ACCEPT' | i18n }}</button>
</div>