<h1 mat-dialog-title class="underline-ok"><mat-icon>manage_search</mat-icon>&nbsp; Detalles del informe</h1>
<div mat-dialog-content *ngIf="sharedProp.mainSettings.appSettings != undefined">

  <mat-tab-group>

    <!-- REPORT TAB: ------------------------------------------------------------------------------------------------------------------ -->
    <mat-tab *ngIf="data.last_report">
      <ng-template mat-tab-label>
        <mat-icon class="tab-icon">description</mat-icon> Informe
      </ng-template>

      <div fxLayout="row" fxLayoutAlign="start start">
        <div class="input-wrapper"> <!-- start fxLayout wrapper -->

          <div fxLayout="row" fxLayoutAlign="start start">
            <div class="input-wrapper"> <!-- start fxLayout wrapper -->
              <h3 class="form-title">
                Fecha de creación: 
                <span class="label-accent">{{ data.last_report.createdAt | date:'dd/MM/yyyy HH:mm':sharedProp.mainSettings.appSettings.default_utc }}</span><br/><!-- Fix Mongoose Timestamps -->
    
                <span *ngIf="data.last_report.authenticated.user !== undefined && data.last_report.authenticated.user.person !== undefined; then thenBlockAuthenticate else elseBlockAuthenticate"></span>
                <ng-template #thenBlockAuthenticate>
                  Autenticado por: 
                  <span class="label-alt" matTooltip="Autenticado: {{ data.last_report.authenticated.datetime | date:'dd/MM/yyyy HH:mm':'UTC' }}">
                    {{ data.last_report.authenticated.user.person.name_01 }}
                    <span *ngIf="data.last_report.authenticated.user.person.name_02">{{ ' ' + data.last_report.authenticated.user.person.name_02 }}</span>
    
                    {{ ' ' + data.last_report.authenticated.user.person.surname_01 }}
                    <span *ngIf="data.last_report.authenticated.user.person.surname_02">{{ ' ' + data.last_report.authenticated.user.person.surname_02 }}</span>
                  </span><br/>
                </ng-template>
                <ng-template #elseBlockAuthenticate>
                  <span class="label-fail">SIN AUTENTICAR</span><br/>
                </ng-template>
    
                <span *ngIf="data.last_report.medical_signatures[0].user !== undefined && data.last_report.medical_signatures[0].user.person !== undefined; then thenBlockSignatures else elseBlockSignatures"></span>
                <ng-template #thenBlockSignatures>
                  Firmado por:
                  <span *ngFor="let current_signature of data.last_report.medical_signatures">
                    <span class="label-info" matTooltip="Firmado: {{ current_signature.createdAt | date:'dd/MM/yyyy HH:mm':sharedProp.mainSettings.appSettings.default_utc }}"><!-- Fix Mongoose Timestamps -->
                      {{ current_signature.user.person.name_01 }}
                      <span *ngIf="current_signature.user.person.name_02">{{ ' ' + current_signature.user.person.name_02 }}</span>
    
                      {{ ' ' + current_signature.user.person.surname_01 }}
                      <span *ngIf="current_signature.user.person.surname_02">{{ ' ' + current_signature.user.person.surname_02 }}</span>
                    </span>
                  </span>
                </ng-template>
                <ng-template #elseBlockSignatures>
                  <span class="label-fail">SIN FIRMAR</span>
                </ng-template>
              </h3>
            </div> <!-- end fxLayout wrapper -->

            <div class="input-wrapper text-right"> <!-- start fxLayout wrapper -->
              <span *ngIf="data.last_report.pathologies.length > 0; then thenBlockPathologies else elseBlockPathologies"></span>
              <ng-template #thenBlockPathologies>
                <small>
                  <mat-chip-list>
                    <mat-chip class="mat-pathology" *ngFor="let currentPathology of data.last_report.pathologies; let i = index">
                      <small>{{ currentPathology.name }}</small>
                    </mat-chip>
                  </mat-chip-list>
                </small>
              </ng-template>
              <ng-template #elseBlockPathologies>
                <span class="label-accent">El informe no posee patologías asignadas</span>
              </ng-template>
            </div> <!-- end fxLayout wrapper -->
          </div>

          <div class="report-wrap">
            <span *ngIf="data.last_report.clinical_info">
              <h3 class="report-underline"><strong>Dato clínico:</strong></h3>
              <span innerHTML="{{ data.last_report.clinical_info }}"></span>
            </span>
            
            <span *ngIf="data.last_report.procedure_description">
              <br/><hr class="soft-alt" /><br/>

              <h3 class="report-underline"><strong>Procedimiento:</strong></h3>
              <span innerHTML="{{ data.last_report.procedure_description }}"></span>
            </span>

            <span *ngIf="data.last_report.findings[0]">
              <br/><hr class="soft-alt" /><br/>

              <h3 class="report-underline"><strong>{{ data.last_report.findings[0].title }}:</strong></h3>
              <span innerHTML="{{ data.last_report.findings[0].procedure_findings }}"></span>
            </span>

            <span *ngIf="data.last_report.summary">
              <br/><hr class="soft-alt" /><br/>

              <h3 class="report-underline"><strong>En suma:</strong></h3>
              <span innerHTML="{{ data.last_report.summary }}"></span>
            </span>
            
            <br/>
          </div>
        </div> <!-- end fxLayout wrapper -->
      </div>

      <!-- FORMS: --------------------------------------------------------------------------------------------------------------------- -->
      <span *ngIf="data.last_report.authenticated.user !== undefined && data.last_report.authenticated.user.person !== undefined; then thenBlockAuthenticated else elseBlockAuthenticated"></span>
      <ng-template #thenBlockAuthenticated>
        <!--ammend_report-->
        <!-- Superusuario, Supervisor, Concesiones: [9: Enmendar informes] -->
        <span *ngIf="sharedProp.userLogged.permissions[0].role == 1 || sharedProp.userLogged.permissions[0].role == 3 || (sharedProp.userLogged.permissions[0].concession && sharedFunctions.checkConcessions(sharedProp, [9]))">
          <div class="settings-card">
            <mat-icon>info</mat-icon><strong class="amend-title"> Recuerde que al enmendar un informe:</strong>
            <ul>
              <li>Se creará un <strong>nuevo informe</strong> asociado a la realización actual.</li>
              <li>Dicha realización volverá al estado de flujo de <strong>Informe borrador</strong> con el contenido del último informe autenticado para comenzar a editar una enmienda.</li>
              <li>Todos los infomes previos firmados y autenticados permaneceran en la base de datos por reglamentación legal.</li>
            </ul>

            <hr class="soft-alt"/><br/>

            <div class="text-right">
              <button mat-flat-button type="button" (click)="onSubmit('amend')" color="warn"><mat-icon>rule</mat-icon> ENMENDAR INFORME</button>
            </div>
          </div>
        </span>
      </ng-template>

      <ng-template #elseBlockAuthenticated>
        <!-- Superusuario, Supervisor, Concesiones: [7: Firmar informes, 8: Autenticar informes] -->
        <form *ngIf="sharedProp.userLogged.permissions[0].role == 1 || sharedProp.userLogged.permissions[0].role == 3 || (sharedProp.userLogged.permissions[0].concession && sharedFunctions.checkConcessions(sharedProp, [7, 8]))" [formGroup]="form">
          <div class="form-element" fxLayout="row" fxLayoutAlign="end center" style="background: #2d2d47;">
            <div class="text-right"> <!-- start fxLayout wrapper -->
              <mat-form-field appearance="fill" class="full">
                <mat-label>Contraseña</mat-label>
                <input matInput type="password" formControlName="password" placeholder="Ingrese su contraseña">
              </mat-form-field>
              <br/>

              <!-- Superusuario, Supervisor, Concesiones: [7: Firmar informes] -->
              <span *ngIf="sharedProp.userLogged.permissions[0].role == 1 || sharedProp.userLogged.permissions[0].role == 3 || (sharedProp.userLogged.permissions[0].concession && sharedFunctions.checkConcessions(sharedProp, [7]))">
                <button mat-flat-button type="button" (click)="onSubmit('sign')" class="sign-button"><mat-icon>draw</mat-icon> FIRMAR</button>
              </span>

              <!-- Superusuario, Supervisor, Concesiones: [8: Autenticar informes] -->
              <span *ngIf="sharedProp.userLogged.permissions[0].role == 1 || sharedProp.userLogged.permissions[0].role == 3 || (sharedProp.userLogged.permissions[0].concession && sharedFunctions.checkConcessions(sharedProp, [8]))">
                <button mat-flat-button type="button" (click)="onSubmit('authenticate')" color="primary"><mat-icon>workspace_premium</mat-icon> AUTENTICAR</button>
              </span>

              <!-- Superusuario, Supervisor, (Concesiones: [7: Firmar informes] AND [8: Autenticar informes]) -->
              <span *ngIf="sharedProp.userLogged.permissions[0].role == 1 || sharedProp.userLogged.permissions[0].role == 3 || ((sharedProp.userLogged.permissions[0].concession && sharedFunctions.checkConcessions(sharedProp, [7])) && (sharedProp.userLogged.permissions[0].concession && sharedFunctions.checkConcessions(sharedProp, [8])))">
                <button mat-flat-button type="button" (click)="onSubmit('sign-authenticate')" color="accent"><mat-icon>draw</mat-icon> FIRMAR Y AUTENTICAR <mat-icon>workspace_premium</mat-icon></button>
              </span>
            </div> <!-- end fxLayout wrapper -->
          </div>
        </form>
      </ng-template>
      <!-- FORMS: --------------------------------------------------------------------------------------------------------------------- -->
    </mat-tab>
    <!-- REPORT TAB: ------------------------------------------------------------------------------------------------------------------ -->

    <!-- AMEND TAB: ------------------------------------------------------------------------------------------------------------------- -->
    <mat-tab *ngIf="data.amendments_data !== false">
      <ng-template mat-tab-label>
        <mat-icon class="tab-icon">rule</mat-icon> Enmiendas
      </ng-template>

      <div fxLayout="row" fxLayoutAlign="start start">
        <div class="input-wrapper"> <!-- start fxLayout wrapper -->

          <span *ngFor="let current_report of data.amendments_data; let i = index">
            <h3 class="form-title text-center underline-fail-alt">Informe histórico {{ data.amendments_data.length - i  + ' de ' + data.amendments_data.length }}</h3>

            <div fxLayout="row" fxLayoutAlign="start start">
              <div class="input-wrapper"> <!-- start fxLayout wrapper -->
                <h3 class="form-title">
                  Fecha de creación: 
                  <span class="label-accent">{{ current_report.createdAt | date:'dd/MM/yyyy HH:mm':sharedProp.mainSettings.appSettings.default_utc }}</span><br/>

                  Autenticado por: 
                  <span class="label-alt" matTooltip="Autenticado: {{ current_report.authenticated.datetime | date:'dd/MM/yyyy HH:mm':'UTC' }}">
                    {{ current_report.authenticated.user.person.name_01 }}
                    <span *ngIf="current_report.authenticated.user.person.name_02">{{ ' ' + current_report.authenticated.user.person.name_02 }}</span>

                    {{ ' ' + current_report.authenticated.user.person.surname_01 }}
                    <span *ngIf="current_report.authenticated.user.person.surname_02">{{ ' ' + current_report.authenticated.user.person.surname_02 }}</span>
                  </span><br/>

                  Firmado por:
                  <span *ngFor="let current_signature of current_report.medical_signatures">
                    <span class="label-info" matTooltip="Firmado: {{ current_signature.createdAt | date:'dd/MM/yyyy HH:mm':sharedProp.mainSettings.appSettings.default_utc }}">
                      {{ current_signature.user.person.name_01 }}
                      <span *ngIf="current_signature.user.person.name_02">{{ ' ' + current_signature.user.person.name_02 }}</span>

                      {{ ' ' + current_signature.user.person.surname_01 }}
                      <span *ngIf="current_signature.user.person.surname_02">{{ ' ' + current_signature.user.person.surname_02 }}</span>
                    </span>
                  </span>
                </h3>
              </div> <!-- end fxLayout wrapper -->

              <div class="input-wrapper"> <!-- start fxLayout wrapper -->
                <span *ngIf="current_report.pathologies.length > 0; then thenBlockCurrentPathologies else elseBlockCurrentPathologies"></span>
                <ng-template #thenBlockCurrentPathologies>
                  <small>
                    <mat-chip-list>
                      <mat-chip class="mat-pathology" *ngFor="let currentPathology of current_report.pathologies; let i = index">
                        <small>{{ currentPathology.name }}</small>
                      </mat-chip>
                    </mat-chip-list>
                  </small>
                </ng-template>
                <ng-template #elseBlockCurrentPathologies>
                  <span class="label-accent">El informe no posee patologías asignadas</span>
                </ng-template>
              </div> <!-- end fxLayout wrapper -->
            </div>

            <mat-accordion>
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Haga click aquí para mostrar u ocultar el contenido del informe Nº {{ data.amendments_data.length - i }}
                  </mat-panel-title>
                </mat-expansion-panel-header>
                
                <br/>

                <div class="report-wrap">
                  <span *ngIf="current_report.clinical_info">
                    <h3 class="report-underline"><strong>Dato clínico:</strong></h3>
                    <span innerHTML="{{ current_report.clinical_info }}"></span>
                  </span>

                  <span *ngIf="current_report.procedure_description">
                    <br/><hr class="soft-alt" /><br/>
        
                    <h3 class="report-underline"><strong>Procedimiento:</strong></h3>
                    <span innerHTML="{{ current_report.procedure_description }}"></span>
                  </span>
      
                  <span *ngIf="current_report.findings[0]">
                    <br/><hr class="soft-alt" /><br/>
      
                    <h3 class="report-underline"><strong>{{ current_report.findings[0].title }}:</strong></h3>
                    <span innerHTML="{{ current_report.findings[0].procedure_findings }}"></span>
                  </span>
                  
                  <span *ngIf="current_report.summary">
                    <br/><hr class="soft-alt" /><br/>
        
                    <h3 class="report-underline"><strong>En suma:</strong></h3>
                    <span innerHTML="{{ current_report.summary }}"></span>
                  </span>

                  <br/>
                </div>

              </mat-expansion-panel>
            </mat-accordion>

            <br/>
          </span>

        </div> <!-- end fxLayout wrapper -->
      </div>
    </mat-tab>
    <!-- AMEND TAB: ------------------------------------------------------------------------------------------------------------------- -->

  </mat-tab-group>

  <hr class="dashed" />
</div>
<div mat-dialog-actions>
  <span class="mat-spacer"></span>
  <button mat-flat-button mat-dialog-close [mat-dialog-close]="true" color="basic" cdkFocusInitial><mat-icon>close</mat-icon> CERRAR</button>
</div>
