.report-wrap {
    background-color: var(--base-color-05);
    color: var(--oposite-color-02);
    padding: 20px;
    border-radius: 6px;
}

.sign-button {
    background: #733ad5a9;
    color: #ffffff;
}

.form-element {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
    padding-left: 15px !important;
}

.amend-title {
    position: relative;
    top: -6px;
}

.mat-pathology {
    background-color: var(--green-opaque) !important;
}

.mat-expansion-panel {
    background-color: var(--base-color-05);
    color: var(--oposite-color-02) !important;
}

.mat-expansion-panel:not([class*="mat-elevation-z"]) {
    box-shadow: none !important;
}

.mat-expansion-panel-header-title {
    color: var(--oposite-color-02) !important;
}