<form class="form-element" [formGroup]="form" (ngSubmit)="onSubmit()" *ngIf="sharedProp.mainSettings != undefined">
  <div fxLayout="row" fxLayoutAlign="start start">

    <div class="input-wrapper divider"> <!-- start fxLayout wrapper -->
      <h4>{{ 'PROCEDURES.FORM.NAME_LABEL' | i18n }}</h4>
      <mat-form-field appearance="fill" class="large">
        <mat-label>{{ 'PROCEDURES.FORM.NAME_PLACEHOLDER' | i18n }}</mat-label>
        <input matInput type="text" formControlName="name" placeholder="{{ 'PROCEDURES.FORM.NAME_INPUT' | i18n }}">
      </mat-form-field>

      <h4>{{ 'PROCEDURES.FORM.BRANCH_LABEL' | i18n }}</h4>
      <mat-form-field appearance="fill" class="large">
        <mat-label>{{ 'PROCEDURES.FORM.BRANCH_PLACEHOLDER' | i18n }}</mat-label>
        <mat-select formControlName="domain" (selectionChange)="onChangeBranch($event)" placeholder="{{ 'PROCEDURES.FORM.BRANCH_SELECT' | i18n }}">
          <div *ngFor="let currentBranch of availableBranches">
            <div *ngFor="let currentOrganization of availableOrganizations">
              <mat-option *ngIf="currentBranch.fk_organization == currentOrganization._id" value="{{ currentOrganization._id + '.' + currentBranch._id }}">{{ currentOrganization.short_name }} ► {{ currentBranch.short_name }}</mat-option>
            </div>
          </div>
        </mat-select>
      </mat-form-field>

      <h4>{{ 'PROCEDURES.FORM.EQUIPMENT_LABEL' | i18n }}</h4>
      <mat-form-field appearance="fill" class="large">
        <mat-label>{{ 'PROCEDURES.FORM.EQUIPMENT_PLACEHOLDER' | i18n }}</mat-label>
        <mat-select formControlName="equipments" (closed)="onChangeEquipment()" placeholder="{{ 'PROCEDURES.FORM.EQUIPMENT_SELECT' | i18n }}" multiple>
          <div *ngFor="let currentEquipment of availableEquipments">
            <mat-option #matOption (click)="addModalities(matOption.selected, currentEquipment._id, currentEquipment.fk_modalities)" value="{{ currentEquipment._id }}">{{ currentEquipment.name }}</mat-option>
          </div>
        </mat-select>
      </mat-form-field>

      <h4>{{ 'PROCEDURES.FORM.DURATION_LABEL' | i18n }}: <span class="label-info">{{ 'PROCEDURES.FORM.DURATION_HINT' | i18n }}</span>:</h4>
      <span *ngIf="getKeys(selectedEquipments).length > 0; then thenBlockDurationEquipment else elseBlockDurationEquipment"></span>
      <ng-template #thenBlockDurationEquipment>
        <span *ngIf="getKeys(selectedDurations).length > 0;">
          <span *ngFor="let currentDuration of getKeys(selectedDurations);">
            <mat-form-field appearance="fill">
              <mat-label>{{ selectedDurations[currentDuration].name }}</mat-label>
              <input matInput icNumbers type="text" [(ngModel)]="selectedDurations[currentDuration].duration" [ngModelOptions]="{standalone: true}" required placeholder="{{ 'PROCEDURES.FORM.DURATION_INPUT' | i18n }}">
            </mat-form-field>
          </span>
        </span>
      </ng-template>
      <ng-template #elseBlockDurationEquipment>
        <span class="label-accent">{{ 'PROCEDURES.FORM.NO_EQUIPMENT_SELECTED' | i18n }}</span><br/><br/>
      </ng-template>

      <h4>{{ 'PROCEDURES.FORM.MODALITY_LABEL' | i18n }}</h4>
      <mat-form-field appearance="fill" class="large">
        <mat-label>{{ 'PROCEDURES.FORM.MODALITY_PLACEHOLDER' | i18n }}</mat-label>
        <mat-select formControlName="fk_modality" placeholder="{{ 'PROCEDURES.FORM.MODALITY_SELECT' | i18n }}" (selectionChange)="onChangeModality($event)">
          <div *ngFor="let currentModality of availableModalities">
            <mat-option value="{{ currentModality._id }}">{{ currentModality.code_value }} ({{ currentModality.code_meaning }})</mat-option>
          </div>
        </mat-select>
      </mat-form-field>

      <div [class.non-display]="enableCoefPETInput === false">
        <h4>{{ 'PROCEDURES.FORM.COEFFICIENT_LABEL' | i18n }} <span class="label-info">{{ 'PROCEDURES.FORM.COEFFICIENT_HINT' | i18n }}</span>:</h4>
        <mat-form-field appearance="fill">
          <mat-label>{{ 'PROCEDURES.FORM.COEFFICIENT_LABEL' | i18n }}</mat-label>
          <input icNumbersWD type="text" matInput formControlName="coefficient">
        </mat-form-field>
      </div>

      <br/><br/><hr class="dashed"/><br/>

      <h4>{{ 'PROCEDURES.FORM.STATUS_LABEL' | i18n }}</h4>
      <mat-radio-group color="primary" formControlName="status">
        <mat-radio-button value="true">{{ 'PROCEDURES.FORM.STATUS_ACTIVE' | i18n }}</mat-radio-button>
        <mat-radio-button value="false">{{ 'PROCEDURES.FORM.STATUS_INACTIVE' | i18n }}</mat-radio-button>
      </mat-radio-group>

      <br/><br/><hr class="dashed"/><br/>

      <h4>{{ 'PROCEDURES.FORM.INFORMED_CONSENT_QUESTION' | i18n }}</h4>
      <mat-radio-group color="primary" formControlName="informed_consent">
        <mat-radio-button value="true">{{ 'PROCEDURES.FORM.YES' | i18n }}</mat-radio-button>
        <mat-radio-button value="false">{{ 'PROCEDURES.FORM.NO' | i18n }}</mat-radio-button>
      </mat-radio-group>

      <br/><br/><hr class="dashed"/><br/>

      <h4>{{ 'PROCEDURES.FORM.HAS_INTERVIEW_QUESTION' | i18n }}</h4>
      <mat-radio-group color="primary" formControlName="has_interview">
        <mat-radio-button value="true">{{ 'PROCEDURES.FORM.YES' | i18n }}</mat-radio-button>
        <mat-radio-button value="false">{{ 'PROCEDURES.FORM.NO' | i18n }}</mat-radio-button>
      </mat-radio-group>

      <br/><br/><hr class="dashed"/><br/>

      <div fxLayout="row" fxLayoutAlign="start start">
        <div class="input-wrapper sub-wrapper"> <!-- start fxLayout wrapper -->
          <h4>{{ 'PROCEDURES.FORM.SNOMED_LABEL' | i18n }}</h4>
          <mat-form-field appearance="fill" class="full">
            <mat-label>{{ 'PROCEDURES.FORM.SNOMED_PLACEHOLDER' | i18n }}</mat-label>
            <input matInput type="text" formControlName="snomed" placeholder="{{ 'PROCEDURES.FORM.SNOMED_INPUT' | i18n }}">
          </mat-form-field>
        </div> <!-- end fxLayout wrapper -->

        <div class="input-wrapper sub-wrapper"> <!-- start fxLayout wrapper -->
          <h4>{{ 'PROCEDURES.FORM.ALT_CODE_LABEL' | i18n }}</h4>
          <mat-form-field appearance="fill" class="full">
            <mat-label>{{ 'PROCEDURES.FORM.ALT_CODE_PLACEHOLDER' | i18n }}</mat-label>
            <input matInput type="text" formControlName="code" placeholder="{{ 'PROCEDURES.FORM.ALT_CODE_INPUT' | i18n }}">
          </mat-form-field>
        </div> <!-- end fxLayout wrapper -->
      </div>

      <br/><hr class="dashed"/><br/>

      <div fxLayout="row" fxLayoutAlign="start start">
        <div class="input-wrapper sub-wrapper"> <!-- start fxLayout wrapper -->
          <h4>{{ 'PROCEDURES.FORM.REPORTING_DELAY_QUESTION' | i18n }}</h4>
          <mat-radio-group color="primary" formControlName="reporting_delay_controller" (change)="onChangeEnableController($event, 'reporting_delay', '0')">
            <mat-radio-button value="true">{{ 'PROCEDURES.FORM.YES' | i18n }}</mat-radio-button>
            <mat-radio-button value="false">{{ 'PROCEDURES.FORM.NO' | i18n }}</mat-radio-button>
          </mat-radio-group>

        </div> <!-- end fxLayout wrapper -->

        <div class="input-wrapper sub-wrapper"> <!-- start fxLayout wrapper -->
          <span *ngIf="enableField" [class.non-display]="enableField.reporting_delay === false">
            <h4>{{ 'PROCEDURES.FORM.REPORTING_DELAY_LABEL' | i18n }} <span class="label-info">{{ 'PROCEDURES.FORM.REPORTING_DELAY_HINT' | i18n }}</span>:</h4>
            <mat-form-field appearance="fill">
              <mat-label>{{ 'PROCEDURES.FORM.REPORTING_DELAY_PLACEHOLDER' | i18n }}</mat-label>
              <input icNumbers type="text" matInput formControlName="reporting_delay">
            </mat-form-field>
          </span>
        </div> <!-- end fxLayout wrapper -->
      </div>

      <br/><hr class="dashed"/><br/>

      <div fxLayout="row" fxLayoutAlign="start start">
        <div class="input-wrapper sub-wrapper"> <!-- start fxLayout wrapper -->
          <h4>{{ 'PROCEDURES.FORM.WAIT_TIME_QUESTION' | i18n }}</h4>
          <mat-radio-group color="primary" formControlName="wait_time_controller" (change)="onChangeEnableController($event, 'wait_time', '15')">
            <mat-radio-button value="true">{{ 'PROCEDURES.FORM.YES' | i18n }}</mat-radio-button>
            <mat-radio-button value="false">{{ 'PROCEDURES.FORM.NO' | i18n }}</mat-radio-button>
          </mat-radio-group>

        </div> <!-- end fxLayout wrapper -->

        <div class="input-wrapper sub-wrapper"> <!-- start fxLayout wrapper -->
          <span *ngIf="enableField" [class.non-display]="enableField.wait_time === false">
            <h4>{{ 'PROCEDURES.FORM.WAIT_TIME_LABEL' | i18n }} <span class="label-info">{{ 'PROCEDURES.FORM.WAIT_TIME_HINT' | i18n }}</span>:</h4>
            <mat-form-field appearance="fill">
              <mat-label>{{ 'PROCEDURES.FORM.WAIT_TIME_PLACEHOLDER' | i18n }}</mat-label>
              <input icNumbers type="text" matInput formControlName="wait_time">
            </mat-form-field>
          </span>
        </div> <!-- end fxLayout wrapper -->
      </div>

      <br/>
    </div> <!-- end fxLayout wrapper -->

    <div class="input-wrapper"> <!-- start fxLayout wrapper -->
      <h4>{{ 'PROCEDURES.FORM.PREPARATION_LABEL' | i18n }} <span class="label-info">{{ 'PROCEDURES.FORM.TEXT_AREA_HINT' | i18n }}</span>:</h4>
      <ckeditor formControlName="preparation" #preparation [editor]="preparationEditor" [config]="sharedProp.mainSettings.CKEditorConfig" data=""></ckeditor>

      <br/><hr class="dashed"/><br/>

      <h4>{{ 'PROCEDURES.FORM.PROCEDURE_TEMPLATE_LABEL' | i18n }} <span class="label-info">{{ 'PROCEDURES.FORM.TEXT_AREA_HINT' | i18n }}</span>:</h4>
      <ckeditor formControlName="procedure_template" #procedure_template [editor]="procedureTemplateEditor" [config]="sharedProp.mainSettings.CKEditorConfig" data=""></ckeditor>

      <br/><hr class="dashed"/><br/>

      <h4>{{ 'PROCEDURES.FORM.REPORT_TEMPLATE_LABEL' | i18n }} <span class="label-info">{{ 'PROCEDURES.FORM.TEXT_AREA_HINT' | i18n }}</span>:</h4>
      <ckeditor formControlName="report_template" #report_template [editor]="reportTemplateEditor" [config]="sharedProp.mainSettings.CKEditorConfig" data=""></ckeditor>

    </div> <!-- end fxLayout wrapper -->

  </div>

  <div class="action-wrapper"fxLayout="row" fxLayoutAlign="end center">
    <div> <!-- start fxLayout wrapper -->
      <button mat-flat-button type="button" (click)="onCancel();">{{ 'PROCEDURES.FORM.CANCEL' | i18n }}</button>
      <button mat-flat-button type="submit" color="primary">{{ 'PROCEDURES.FORM.SAVE' | i18n }}</button> <!-- [disabled]="form_data.invalid" -->
    </div> <!-- end fxLayout wrapper -->
  </div>
</form>
