<h1 mat-dialog-title class="underline-ok"><mat-icon>forward_to_inbox</mat-icon>&nbsp; Reenvío de correos</h1>
<div mat-dialog-content>
    <br/>
    <p>Por favor, chequeé y/o especifíque la dirección de <strong>correo electrónico</strong> de <strong>destino</strong> a la cual se enviarán dichos correos.</p>
    <br/>

    <form class="form-element text-center" [formGroup]="form">
        <mat-form-field appearance="fill" class="large">
            <mat-label>E-mail</mat-label>
            <input matInput type="text" formControlName="email" placeholder="Ej: nombre@casilla.com">
            <mat-icon matSuffix>mail</mat-icon>
        </mat-form-field>
        
        <br/>
        
        <div *ngIf="data.fk_appointment then thenBlockPerforming else elseBlockAppointment"></div>

        <ng-template #thenBlockPerforming>
            <button mat-flat-button type="button" [disabled]="appointmentButtonDisabled" class="appointment-button" (click)="resendEmail('appointment', data.fk_appointment)">
                <mat-icon>send</mat-icon>&nbsp;<small>REENVIAR CORREO DE CITA</small>
            </button>

            &nbsp;

            <button mat-flat-button type="button" [disabled]="reportButtonDisabled" class="report-button" (click)="resendEmail('report', data._id)">
                <mat-icon>send</mat-icon>&nbsp;<small>REENVIAR CORREO DE INFORME</small>
            </button>
        </ng-template>

        <ng-template #elseBlockAppointment>
            <button mat-flat-button type="button" [disabled]="appointmentButtonDisabled" class="appointment-button" (click)="resendEmail('appointment', data._id)">
                <mat-icon>send</mat-icon>&nbsp;<small>REENVIAR CORREO DE CITA</small>
            </button>
        </ng-template>
    </form>

    <br/><hr class="dashed" /><br/>
</div>

<div mat-dialog-actions>
  <span class="mat-spacer"></span>
  <button mat-flat-button mat-dialog-close [mat-dialog-close]="false">CERRAR</button>
</div>