<div *ngIf="sharedFunctions.response; then thenBlockTable else elseBlockTable"></div>

<ng-template #thenBlockTable>
  <div #main_list>
    <table mat-table [dataSource]="sharedFunctions.response.data" class="mat-elevation-z1">

      <!-- element action -->
      <ng-container matColumnDef="element_action">
        <th mat-header-cell *matHeaderCellDef> Acciones </th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button color="accent" aria-label="Editar" matTooltip="Editar" routerLink="/equipments/form/update/{{ element._id }}">
            <mat-icon>edit</mat-icon>
          </button>

          <!-- Superusuario, Administrador, Concesiones: [11: Acceso a logs de elementos] -->
          <span *ngIf="sharedProp.userLogged.permissions[0].role == 1 || sharedProp.userLogged.permissions[0].role == 2 || (sharedProp.userLogged.permissions[0].concession && sharedFunctions.checkConcessions(sharedProp, [11]))" >
            <button mat-icon-button color="accent" aria-label="Logs del elemento" matTooltip="Logs del elemento" routerLink="/logs/element/{{ sharedProp.element }}/{{ element._id }}">
              <mat-icon>format_list_bulleted</mat-icon>
            </button>
          </span>
        </td>
      </ng-container>

      <!-- organization -->
      <ng-container matColumnDef="organization">
        <th mat-header-cell *matHeaderCellDef> Organización </th>
        <td mat-cell *matCellDef="let element">
          <span *ngIf="element.organization; then thenBlockTableOrganization else elseBlockTableOrganization"></span>
          <ng-template #thenBlockTableOrganization>
            <span innerHTML="{{ element.organization.short_name | highlighter : sharedProp.filter }}"></span>
          </ng-template>
          <ng-template #elseBlockTableOrganization>(Sin dato)</ng-template>
        </td>
      </ng-container>

      <!-- branch -->
      <ng-container matColumnDef="branch">
        <th mat-header-cell *matHeaderCellDef> Sucursal </th>
        <td mat-cell *matCellDef="let element">
          <span *ngIf="element.branch; then thenBlockTableBranch else elseBlockTableBranch"></span>
          <ng-template #thenBlockTableBranch>
            <span innerHTML="{{ element.branch.short_name | highlighter : sharedProp.filter }}"></span>
          </ng-template>
          <ng-template #elseBlockTableBranch>(Sin dato)</ng-template>
        </td>
      </ng-container>

      <!-- name -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Nombre </th>
        <td mat-cell *matCellDef="let element">
          <span class="badge-accent" *ngIf="element.name" innerHTML="{{ element.name | highlighter : sharedProp.filter }}"></span>
        </td>
      </ng-container>

      <!-- serial_number -->
      <ng-container matColumnDef="serial_number">
        <th mat-header-cell *matHeaderCellDef> S/N </th>
        <td mat-cell *matCellDef="let element">
          <span *ngIf="element.serial_number" innerHTML="{{ element.serial_number | highlighter : sharedProp.filter }}"></span>
        </td>
      </ng-container>

      <!-- AET -->
      <ng-container matColumnDef="AET">
        <th mat-header-cell *matHeaderCellDef> AET </th>
        <td mat-cell *matCellDef="let element">
          <span *ngIf="element.AET" innerHTML="{{ element.AET | highlighter : sharedProp.filter }}"></span>
        </td>
      </ng-container>

      <!-- modalities -->
      <ng-container matColumnDef="modalities">
        <th mat-header-cell *matHeaderCellDef> Modalidades </th>
        <td mat-cell *matCellDef="let element">
          <span *ngIf="element.modalities; then thenBlockTableModalities else elseBlockTableModalities"></span>
          <ng-template #thenBlockTableModalities>
            <div *ngFor="let current of element.modalities">
              <span class="badge" matTooltip="{{ current.code_meaning }}">{{ current.code_value }}</span>
            </div>
          </ng-template>
          <ng-template #elseBlockTableModalities>(Sin dato)</ng-template>
        </td>
      </ng-container>

      <!-- status -->
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> Estado </th>
        <td mat-cell *matCellDef="let element">
          <div *ngIf="element.status; then thenBlock else elseBlock"></div>
          <ng-template #thenBlock><mat-icon class="color-ok" matTooltip="Activo">done</mat-icon></ng-template>
          <ng-template #elseBlock><mat-icon class="color-fail" matTooltip="Inactivo">clear</mat-icon></ng-template>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</ng-template>

<!-- Await response or not response -->
<ng-template #elseBlockTable>
  <div fxLayout="row" fxLayoutAlign="center center" class="response-info">
    Aguarde, aún no hay resultados.
  </div>
</ng-template>

<!-- No Data -->
<div *ngIf="sharedFunctions.response.message;" fxLayout="row" fxLayoutAlign="center center" class="response-info">
  {{ sharedFunctions.response.message }}
</div>

<!-- Export to XSLX -->
<div class="text-right" *ngIf="sharedFunctions.response"><button mat-flat-button color="accent" class="export-xslx" (click)="tableToExcel()"><mat-icon class="export-icon">get_app</mat-icon> EXPORTAR LISTADO</button></div>
