.documents {
    padding-left: 10px;
}

mat-chip.line-break {
    height: auto;
    line-height: 1.1em;
}

.badge-mini {
    float: none !important;
}

.small_button{
    margin-left: 6px !important;
    margin-bottom: 7px !important;
    width: 25px !important;
    height: 25px !important;
    border-radius: 5px !important;
    padding: 0% !important;
}

.small_button .mat-icon {
    color: #27293dc3 !important;
}

.small_button mat-icon {
    position: relative !important;
    margin: 0px !important;
    top: -8px !important;
}

.patient-details {
  cursor: pointer;
  color: var(--gold-highlighted);
}

.report-control-pristine {
    color: var(--green-opaque) !important;
}

.report-control-good {
    color: var(--gold-highlighted);
}

.report-control-warn {
    color: #ff7c7c;
}

.report-control-finished {
    color: var(--report-control-txt-finished);
}

.bg-color-ok{
  background-color: var(--green-opaque) !important;
}

.bg-color-fail{
  background-color: var(--orange) !important;
}