<div *ngIf="loading; then loadingBlock else contentBlock"></div>

<!-- Loading indicator -->
<ng-template #loadingBlock>
  <div fxLayout="row" fxLayoutAlign="center center" class="loading-spinner" style="height: 400px;">
    <mat-progress-spinner mode="indeterminate" diameter="65"></mat-progress-spinner>
  </div>
</ng-template>

<!-- Content -->
<ng-template #contentBlock>
  <div *ngIf="sharedFunctions.response; then thenBlockTable else elseBlockTable"></div>

<ng-template #thenBlockTable>
  <div #main_list>
    <table mat-table [dataSource]="sharedFunctions.response.data" class="mat-elevation-z1">

      <!-- log_id -->
      <ng-container matColumnDef="log_id">
        <th mat-header-cell *matHeaderCellDef class="text-center divider"> {{ 'LOGS.LIST_BY_USER.TABLE.LOG_ID' | i18n }} </th>
        <td mat-cell *matCellDef="let element" class="text-center divider">
          <small *ngIf="element._id">{{ element._id }}</small>
        </td>
      </ng-container>

      <!-- datetime -->
      <ng-container matColumnDef="datetime">
        <th mat-header-cell *matHeaderCellDef class="column-alt text-center divider"> {{ 'LOGS.LIST_BY_USER.TABLE.DATETIME' | i18n }}</th>
        <td mat-cell *matCellDef="let element" class="column-alt text-center divider">
          <span *ngIf="element.datetime">{{ element.datetime | date : "dd/MM/yyyy HH:mm:ss" : "UTC" }}</span>
        </td>
      </ng-container>

      <!-- event -->
      <ng-container matColumnDef="event">
        <th mat-header-cell *matHeaderCellDef class="events-col"> {{ 'LOGS.LIST_BY_USER.TABLE.EVENT' | i18n }} </th>
        <td mat-cell *matCellDef="let element" class="events-col">
          <span *ngIf="element.event">
            <span class="event e{{ element.event }}">{{ ('EVENTS_LOG.' + element.event) | i18n }}</span>
            <span *ngIf="element.element">
              {{ 'LOGS.LIST_BY_USER.TABLE.OF' | i18n }} <strong matTooltip="{{ element.element._id }}">{{ ('ELEMENTS_TYPES.' + element.element.type) | i18n }}</strong>
              <span *ngIf="element.element.details">
                <hr class="dashed" />
                <div [ngSwitch]="element.element.details">
                  <span *ngSwitchCase="'amend'"><span class="event amend">{{ 'LOGS.LIST_BY_USER.TABLE.AMEND' | i18n }}</span></span>
                  <span *ngSwitchDefault><small>{{ 'LOGS.LIST_BY_USER.TABLE.DETAILS' | i18n }}{{ element.element.details }}</small></span>
                </div>
              </span>
            </span>
          </span>
        </td>
      </ng-container>

      <!-- fk_user -->
      <ng-container matColumnDef="fk_user">
        <th mat-header-cell *matHeaderCellDef>{{ 'LOGS.LIST_BY_USER.TABLE.USER' | i18n }}</th>
        <td mat-cell *matCellDef="let element">
          <small *ngIf="element.user">
            {{ element.user.person.name_01 }}
            <span *ngIf="element.user.person.name_02">{{ ' ' + element.user.person.name_02 }}</span>
        
            {{ ' ' + element.user.person.surname_01 }}
            <span *ngIf="element.user.person.surname_02">{{ ' ' + element.user.person.surname_02 }}</span>
          </small>
        </td>
      </ng-container>

      <!-- organization -->
      <ng-container matColumnDef="organization">
        <th mat-header-cell *matHeaderCellDef> {{ 'LOGS.LIST_BY_USER.TABLE.ORGANIZATION' | i18n }} </th>
        <td mat-cell *matCellDef="let element">
          <span *ngIf="element.organization; then thenBlockTableOrganization else elseBlockTableOrganization"></span>
          <ng-template #thenBlockTableOrganization>
            <span innerHTML="{{ element.organization.short_name | highlighter : sharedProp.filter }}"></span>
          </ng-template>
          <ng-template #elseBlockTableOrganization>{{ 'LOGS.LIST_BY_USER.NO_DATA' | i18n }}</ng-template>
        </td>
      </ng-container>

      <!-- ip_client -->
      <ng-container matColumnDef="ip_client">
        <th mat-header-cell *matHeaderCellDef> {{ 'LOGS.LIST_BY_USER.TABLE.IP_CLIENT' | i18n }} </th>
        <td mat-cell *matCellDef="let element">
          <mat-chip-list>
            <mat-chip class="ip_client"><small *ngIf="element.ip_client" innerHTML="{{ element.ip_client | highlighter : sharedProp.filter }}"></small></mat-chip>
          </mat-chip-list>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</ng-template>

<!-- Await response or not response -->
<ng-template #elseBlockTable>
  <div fxLayout="row" fxLayoutAlign="center center" class="response-info">
    {{ 'LOGS.LIST_BY_USER.WAIT_NO_RESULTS' | i18n }}
  </div>
</ng-template>

<!-- No Data -->
<div *ngIf="sharedFunctions.response.message;" fxLayout="row" fxLayoutAlign="center center" class="response-info">
  {{ sharedFunctions.response.message }}
</div>

<!-- Export to XSLX -->
<div class="text-right" *ngIf="sharedFunctions.response"><button mat-flat-button color="accent" class="export-xslx" (click)="tableToExcel()"><mat-icon class="export-icon">get_app</mat-icon> {{ 'LOGS.LIST_BY_USER.EXPORT_LIST' | i18n }}</button></div>
</ng-template>