.events-col {
    padding-left: 15px;
}

.event {
    cursor: pointer;
    padding: 2px 5px 2px 5px;
    background-color: var(--soft-color-01);
    color: #fff;
    border-radius: 3px;
}

.amend {
    background-color: #b63b38;
    color: #fff;
}

.ip_client {
    background-color: #363c50;
    color: #fff;
}

.e2 {
    background-color: var(--gray);
    color: #fff;
}

.e3 {
    background-color: var(--pink-alt);
    color: #fff;
}

.e4 {
    background-color: var(--orange-intense);
    color: #fff;
}

.e5 {
    background-color: var(--purple);
    color: #fff;
}

.e6 {
    background-color: #14a074;
    color: #fff;
}

.e7 {
    background-color: var(--gold);
    color: #fff;
}

.sign-auth {
    color: #1e1e2f;
    background-color: #b0bec5aa;
}

/* Stripped table: */
.mat-row:nth-child(even){
  background-color: var(--base-color-03);
}

.mat-row:nth-child(odd){
  background-color: var(--list-color-hover);
}

