<div *ngIf="ohifPath !== undefined && ohifPath !== null && ohifPath !== ''; then thenBlockViewer else elseBlockResponseTable"></div>

<!-- DICOM VIEWER -->
<ng-template #thenBlockViewer>
  <div class="viewer-container text-right">
    <button mat-flat-button type="button" color="accent" (click)="clearOHIFPath();"><mat-icon>close</mat-icon> {{ 'PATIENTS.LIST.CLOSE_VIEWER' | i18n }}</button><br/><hr class="dashed" />
    <app-dcm-viewer src="{{ ohifPath }}"></app-dcm-viewer>
  </div>
</ng-template>

<!-- LIST -->
<ng-template #elseBlockResponseTable>
  <div *ngIf="sharedFunctions.response; then thenBlockTable else elseBlockTable"></div>

  <ng-template #thenBlockTable>
    <div #main_list>
      <table mat-table [dataSource]="sharedFunctions.response.data" class="mat-elevation-z1">

        <!-- element action -->
        <ng-container matColumnDef="element_action">
          <th mat-header-cell *matHeaderCellDef> {{ 'PATIENTS.LIST.TABLE.ACTIONS' | i18n }} </th>
          <td mat-cell *matCellDef="let element">
              <div *ngIf="element.flow_state == 'P09'; then thenBlockFS else elseBlockFS"></div>
              
              <!--patient actions-->
              <ng-template #thenBlockFS>
                  <!--view_report-->
                  <button mat-icon-button class="small_button" type="button" (click)="pdfService.createPDF('report', element._id)" matTooltip="{{ 'PATIENTS.LIST.TOOLTIPS.VIEW_REPORT' | i18n }}" color="accent">
                      <mat-icon>description</mat-icon>
                  </button>

                  <!--view dicom in HTML-->
                  <button mat-icon-button color="accent" (click)="getStudyDICOM(element._id, 'ohif')" matTooltip="{{ 'PATIENTS.LIST.TOOLTIPS.VIEW_IMAGES' | i18n }}">
                      <mat-icon>visibility</mat-icon>
                  </button>

                  <!--download dicom-->
                  <button mat-icon-button color="accent" (click)="getStudyDICOM(element._id, 'dicom.zip')" matTooltip="{{ 'PATIENTS.LIST.TOOLTIPS.DOWNLOAD_IMAGES' | i18n }}">
                    <mat-icon>download</mat-icon>
                  </button>
              </ng-template>

              <!-- flow_state -->
              <ng-template #elseBlockFS>
                <span class="badge badge-mini {{ element.flow_state }}" matTooltip="{{ element.cancellation_reasons ? (('CANCELLATION_REASONS.' + element.cancellation_reasons) | i18n) : '' }}" *ngIf="element.flow_state">{{ ('PERFORMING_FLOW_STATES.' + element.flow_state) | i18n }}</span>
              </ng-template>
          </td>
        </ng-container>

        <!-- date -->
        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef class="column-alt text-center"> {{ 'PATIENTS.LIST.TABLE.DATE' | i18n }} </th>
          <td mat-cell *matCellDef="let element" class="column-alt text-center">
            <span *ngIf="element.date">{{ element.date | date : "dd/MM/yyyy" : "UTC" }}</span>
          </td>
        </ng-container>

        <!-- checkin_time -->
        <ng-container matColumnDef="checkin_time">
          <th mat-header-cell *matHeaderCellDef class="column-alt text-center"> {{ 'PATIENTS.LIST.TABLE.CHECKIN_TIME' | i18n }}<br/> </th>
          <td mat-cell *matCellDef="let element" class="column-alt text-center">
            <span *ngIf="element.date">{{ element.date | date : "HH:mm" : "UTC" }}</span>
          </td>
        </ng-container>

        <!-- documents -->
        <ng-container matColumnDef="documents">
          <th mat-header-cell *matHeaderCellDef class="documents"> {{ 'PATIENTS.LIST.TABLE.DOCUMENTS' | i18n }} </th>
          <td class="documents" mat-cell *matCellDef="let element">
            <span *ngIf="element.patient">
              <span *ngIf="element.patient.person">
                <span *ngFor="let current of element.patient.person.documents" >
                  <span matTooltip="{{ country_codes[current.doc_country_code].name }}" class="flag-icon flag-icon-{{ country_codes[current.doc_country_code].alpha_2 | lowercase }}"></span>&nbsp;
                  <span matTooltip="{{ ('DOCUMENT_TYPES.' + current.doc_type) | i18n }}">
                    <span>{{ current.document }}</span>
                  </span>
                  <br/>
                </span>
              </span>
            </span>
          </td>
        </ng-container>

        <!-- names -->
        <ng-container matColumnDef="names">
          <th mat-header-cell *matHeaderCellDef> {{ 'PATIENTS.LIST.TABLE.NAMES' | i18n }} </th>
          <td mat-cell *matCellDef="let element">
            <span *ngIf="element.patient">
              <span *ngIf="element.patient.person">
                <span>{{ element.patient.person.name_01 }}</span>

                <span *ngIf="element.patient.person.name_02">
                  <span>{{ ' ' + element.patient.person.name_02 }}</span>
                </span>
              </span>
            </span>
          </td>
        </ng-container>

        <!-- surnames -->
        <ng-container matColumnDef="surnames">
          <th mat-header-cell *matHeaderCellDef> {{ 'PATIENTS.LIST.TABLE.SURNAMES' | i18n }} </th>
          <td mat-cell *matCellDef="let element">
            <span *ngIf="element.patient">
              <span *ngIf="element.patient.person">
                <span>{{ element.patient.person.surname_01 }}</span>

                <span *ngIf="element.patient.person.surname_02">
                  <span>{{ ' ' + element.patient.person.surname_02 }}</span>
                </span>
              </span>
            </span>
          </td>
        </ng-container>

        <!-- details -->
        <ng-container matColumnDef="details">
          <th mat-header-cell *matHeaderCellDef class="text-center"> {{ 'PATIENTS.LIST.TABLE.DETAILS' | i18n }} </th>
          <td mat-cell *matCellDef="let element">
            <!-- procedure -->
            <span *ngIf="element.procedure">
              <span class="badge-alt" matTooltip="{{ element.procedure.code }}">
                <span>{{ element.procedure.name }}</span>
              </span>
            </span>

            <div class="clear"></div><hr class="dashed" />

            <!-- equipment -->        
            <span *ngIf="element.equipment; then thenBlockTableEquipment else elseBlockTableEquipment"></span>
                <ng-template #thenBlockTableEquipment>
                <span class="badge-accent" matTooltip="{{ 'PATIENTS.LIST.AET_PREFIX' | i18n }}{{ element.equipment.AET }}">
                <span>{{ element.equipment.name }}</span>
                </span>
            </ng-template>
            <ng-template #elseBlockTableEquipment>{{ 'PATIENTS.LIST.NO_DATA' | i18n }}</ng-template>

            <!-- modality -->
            <span *ngIf="element.modality; then thenBlockTableModality else elseBlockTableModality"></span>
            <ng-template #thenBlockTableModality>
              <span class="badge" matTooltip="{{ element.modality.code_meaning }}">{{ element.modality.code_value }}</span>
            </ng-template>
            <ng-template #elseBlockTableModality>{{ 'PATIENTS.LIST.NO_DATA' | i18n }}</ng-template>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </ng-template>

  <!-- Await response or not response -->
  <ng-template #elseBlockTable>
    <div fxLayout="row" fxLayoutAlign="center center" class="response-info">
      {{ 'PATIENTS.LIST.WAIT_NO_RESULTS' | i18n }}
    </div>
  </ng-template>

  <!-- No Data -->
  <div *ngIf="sharedFunctions.response.message;" fxLayout="row" fxLayoutAlign="center center" class="response-info">
    {{ sharedFunctions.response.message }}
  </div>
</ng-template>