<form class="form-element" [formGroup]="form" (ngSubmit)="onSubmit()">
  <div fxLayout="row" fxLayoutAlign="start start">

    <div class="input-wrapper divider"> <!-- start fxLayout wrapper -->
      <h4>Nombre corto:</h4>
      <mat-form-field appearance="fill" class="medium">
        <mat-label>Nombre corto</mat-label>
        <input matInput type="text" formControlName="short_name" placeholder="Ingrese el nombre corto">
      </mat-form-field>

      <h4>Nombre:</h4>
      <mat-form-field appearance="fill" class="large">
        <mat-label>Nombre</mat-label>
        <input matInput type="text" formControlName="name" placeholder="Ingrese el nombre">
      </mat-form-field>

      <h4>OID:</h4>
      <mat-form-field appearance="fill" class="large">
        <mat-label>OID</mat-label>
        <input matInput type="text" formControlName="OID" placeholder="Ingrese el OID">
      </mat-form-field>

      <hr class="dashed" /><br/>

      <h4>Estado:</h4>
      <mat-radio-group aria-label="Estado" color="primary" formControlName="status">
        <mat-radio-button value="true">Activo</mat-radio-button>
        <mat-radio-button value="false">Inactivo</mat-radio-button>
      </mat-radio-group>

      <br/><br/>
    </div> <!-- end fxLayout wrapper -->

    <div class="input-wrapper text-center"> <!-- start fxLayout wrapper -->
      <img class="form_nodes" src="../../../../../assets/img/nodes.png" alt="nodes">
    </div> <!-- end fxLayout wrapper -->

  </div>

  <div class="action-wrapper"fxLayout="row" fxLayoutAlign="end center">
    <div> <!-- start fxLayout wrapper -->
      <button mat-flat-button type="button" (click)="onCancel();">CANCELAR</button>
      <button mat-flat-button type="submit" color="primary">GUARDAR</button> <!-- [disabled]="form_data.invalid" -->
    </div> <!-- end fxLayout wrapper -->
  </div>
</form>
