/*----------------------------------------------------------------------------------------------------------------------*/
/* DEFINE CSS THEMES: */
/*----------------------------------------------------------------------------------------------------------------------*/
/* LIGHT THEME: */
.light-theme {
  /* global : */
  --base-color-01: #fff;
  --base-color-02: #dddddd94;
  --base-color-03: #f6f6f6;
  --base-color-04: #e5e5e5ad;
  --base-color-05: #eaeaef;
  --opposite-color-01: #1e1e2f;
  --opposite-color-02: #5d5d79;
  --opposite-color-03: rgba(0, 0, 0, 0.678);
  --oposite-color-04: #8e91a9c6;
  --soft-color-01: #5d5d79c4;
  --soft-color-02: #8888a68d;
  --soft-color-03: #e5e5e555;
  --soft-color-04: #4e4e792a;
  --base-icon-color: #666689f0;

  /* login: */
  --login-form-bg-color: #eaeaefa6;
  --login-document-bg-color: #eaeaef;

  /* header: */
  --header-bg-color: #404070;
  --header-txt-color: #ddd;

  /* sidenav: */
  --sidenav-bg-color: #f6f6f6;
  --sidenav-txt-color: #27293d;

  /* lists: */
  --list-txt-color: #1e1e2fd4;
  --list-header-color: #6b6b7d;
  --list-color-alt: #e8e8e87b;
  --list-color-hover: #e8e8e877;
  --list-border-color: #c9c8c8;
  --list-xsl-bg-color: #e5e5e5;
  --list-domain-color: #eaeaef;
  --list-stripped-color: #dadadda6;

  /* forms: */
  --form-field-bg-color: rgba(0,0,0,.1);
  --form-field-disabled-bg-color: rgba(0,0,0,.05);
  --form-disabled-txt-color: rgba(0,0,0,.5);
  --form-documents-bg-color: rgb(224, 217, 217);

  /* pager: */
  --pager-active-color: #414153e0;
  --pager-disabled-color: #41415353;

  /* calendar: */
  --calendar-header-bg-color: #eaeaef;
  --calendar-cell-border-color: #4d4f6521;
  --calendar-disabled-col-bg-color: #2021340a;

  /* specific styles: */
  --earth-planet-opacity: 0.05;
  --form-nodes-opacity: 0.05;
  --sirius-opacity: 0.15;
  --mat-divider-color: rgba(0,0,0,0.12);
  --mat-tab-label-color: #000;
  --current-wrap-bg-color: #eaeaef;
  --report-control-bg-color: #dedee2;
  --report-control-txt-color: #5d5d79;
  --report-control-txt-finished: #a581e0;
  --petct-dose-mbq-bg-color: #188869;
  --petct-dose-mci-bg-color: #b55659;
  --petct-recomended-dose-color: #eaeaef;
  --settings-bg-color: #21223307;
  --settings-btn-bg-color: #27293d11;
  --report-rewiew-bg-color: #eaeaef;
  --chart-bg-color: #eaeaef;

  /* theme colors: */
  --pink: #d53a9d;
  --pink-alt: #b03687ea;
  --pink-intense: #e91e63;
  --pink-intense-alt: #c2185bea;

  --purple: #743ad5;
  --purple-alt: #5933a1ea;
  --purple-intense: #4f318fea;
  --purple-opacity: #733ad597;
  --purple-opaque: #6d4bac;

  --orange: #ff6f69;
  --orange-alt: #d96261ea;
  --orange-intense: #f44336;
  --orange-intense-alt: #cd382d;

  --gray: #607d8bea;
  --gray-alt: #455566ea;
  --gray-opaque: #4e4e79ea;
  --gray-opacity: #4e4e79d8;
  --gray-light: #b6b7c0;
  --gray-default: #424242ea;
    
  --gold: goldenrod;
  --gold-highlighted: rgb(157, 112, 0);

  --green: #159a70ea;
  --green-highlighted: #0ec17c;
  --green-opaque: #14a074;

  --light-blue: #05a3ff;
}

/* DARK THEME: */
.dark-theme {
  /* global : */
  --base-color-01: #1e1e2f;
  --base-color-02: #2d2d47;
  --base-color-03: #27293d;
  --base-color-04: #232338;
  --base-color-05: #3d3f51;
  --opposite-color-01: #ddd;
  --opposite-color-02: #fff;
  --opposite-color-03: rgba(255, 255, 255, 0.678);
  --oposite-color-04: #444657;
  --soft-color-01: #4e4e79;
  --soft-color-02: #54546b;
  --soft-color-03: #4d4f65;
  --soft-color-04: #4e4e7968;
  --base-icon-color: #b0bec5;

  /* login: */
  --login-form-bg-color: #27293d;
  --login-document-bg-color: #242538;

  /* header: */
  --header-bg-color: #27293d;
  --header-txt-color: #ddd;

  /* sidenav: */
  --sidenav-bg-color: #2d2d47;
  --sidenav-txt-color: #ddd;

  /* lists: */
  --list-txt-color: #fff;
  --list-header-color: #bebfc5;
  --list-color-alt: #2e304b94;
  --list-color-hover: #2b2d42;
  --list-border-color: #393a51;
  --list-xsl-bg-color: #27293d;
  --list-domain-color: #2e3043;
  --list-stripped-color: #2a2c3f;

  /* forms: */
  --form-field-bg-color: rgba(255,255,255,.1);
  --form-field-disabled-bg-color: rgba(255,255,255,.05);
  --form-disabled-txt-color: rgba(255,255,255,.5);
  --form-documents-bg-color: rgba(56,59,86,1);

  /* pager: */
  --pager-active-color: rgba(255, 255, 255, 0.678);
  --pager-disabled-color: #414153;

  /* calendar: */
  --calendar-header-bg-color: #2e304b;
  --calendar-cell-border-color: #4d4f65;
  --calendar-disabled-col-bg-color: #202134be;

  /* specific styles: */
  --earth-planet-opacity: 0.5;
  --form-nodes-opacity: 0.45;
  --sirius-opacity: 1;
  --mat-divider-color: rgba(255,255,255,0.12);
  --mat-tab-label-color: #fff;
  --current-wrap-bg-color: #2e304b;
  --report-control-bg-color: #4e4e79;
  --report-control-txt-color: #fff;
  --report-control-txt-finished: #c4acea;
  --petct-dose-mbq-bg-color: #188869;
  --petct-dose-mci-bg-color: #b55659;
  --petct-recomended-dose-color: #43466e79;
  --settings-bg-color: #212233cb;
  --settings-btn-bg-color: #27293d;
  --report-rewiew-bg-color: #2d2d47;
  --chart-bg-color: #2d2f46;

  /* theme colors: */
  --pink: #d53a9d;
  --pink-alt: #b03688;
  --pink-intense: #e91e63;
  --pink-intense-alt: #c2185b;

  --purple: #743ad5;
  --purple-alt: #5933a1;
  --purple-intense: #4f318f;
  --purple-opacity: #733ad597;
  --purple-opaque: #6d4bac;

  --orange: #ff6f69;
  --orange-alt: #d96261;
  --orange-intense: #f44336;
  --orange-intense-alt: #cd382d;

  --gray: #607d8b;
  --gray-alt: #455566;
  --gray-opaque: #4e4e79;
  --gray-opacity: #4e4e79d8;
  --gray-light: #b6b7c0;
  --gray-default: #424242;
    
  --gold: goldenrod;
  --gold-highlighted: rgb(240, 206, 122);

  --green: #159a70;
  --green-highlighted: #05ffa1;
  --green-opaque: #14a074;

  --light-blue: #05a3ff;
}
/*----------------------------------------------------------------------------------------------------------------------*/


/*----------------------------------------------------------------------------------------------------------------------*/
/* GENERAL */
/*----------------------------------------------------------------------------------------------------------------------*/
html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: var(--base-color-01);
  color: var(--opposite-color-01);
}

.clear{
  clear: both;
}

.non-display{
  display: none !important;
}

.dashed{
  border: var(--soft-color-01) 1px dashed;
	border-style: none none dashed;
	margin-top: 5px !important;
	margin-bottom: 5px !important;
}

.soft-alt{
  border:var(--soft-color-04) 1px solid;
  border-style: none none solid;
	margin-top: 5px !important;
	margin: 0px !important;
}

.divider{
  border-right: 2px solid var(--green-highlighted);
}

.divider-alt {
  border-right: 2px solid var(--oposite-color-04);
}

.color-ok{
  color: var(--green-highlighted) !important;
}

.color-fail{
  color: var(--orange) !important;
}

.color-ok-alt{
  color: var(--pink) !important;
}

.color-fail-alt{
  color: var(--purple) !important;
}

.underline-ok {
  border-bottom: 2px solid var(--green-highlighted);
}

.underline-fail {
  border-bottom: 2px solid var(--orange);
}

.underline-ok-alt {
  border-bottom: 2px solid var(--pink);
}

.underline-fail-alt {
  border-bottom: 2px solid var(--purple);
}

.text-left{
  text-align: left !important;
}

.text-center{
  text-align: center !important;
}

.text-right{
  text-align: right !important;
}

/* Spacer for dual align */
.mat-spacer {
  flex: 1 1 auto;
}

/* badges */
.badge {
  cursor: pointer;
  padding: 2px 5px 2px 5px;
  background-color: var(--gray-opaque);
  color: #fff;
  border-radius: 3px;
  margin-top: 2px;
  margin-bottom: 2px;
  margin-left: 10px;
  margin-right: 0px;
  float: left;
}

.badge-primary {
  cursor: pointer;
  padding: 2px 5px 2px 5px;
  background-color: var(--pink-intense);
  border-radius: 3px;
  margin-top: 2px;
  margin-bottom: 2px;
  margin-left: 10px;
  margin-right: 0px;
  float: left;
}

.badge-accent {
  cursor: pointer;
  padding: 2px 5px 2px 5px;
  background-color: var(--gray);
  color: #fff;
  border-radius: 3px;
  margin-top: 2px;
  margin-bottom: 2px;
  margin-left: 10px;
  margin-right: 0px;
  float: left;
}

.badge-warn {
  cursor: pointer;
  padding: 2px 5px 2px 5px;
  background-color: var(--orange-intense);
  color: #fff;
  border-radius: 3px;
  margin-top: 2px;
  margin-bottom: 2px;
  margin-left: 10px;
  margin-right: 0px;
  float: left;
}

.badge-alt {
  cursor: pointer;
  padding: 2px 5px 2px 5px;
  background-color: var(--purple-intense);
  color: #fff;
  border-radius: 3px;
  margin-top: 2px;
  margin-bottom: 2px;
  margin-left: 10px;
  margin-right: 0px;
  float: left;
}

/* mark (highlighter pipe) */
mark {
  background: var(--gold);
  color: #1e1e2f;
  border-radius: 2px;
  padding: 1px;
}

.label-info {
  font-size: 13px;
  opacity: 0.75;
  background-color: var(--purple-alt);
  color: #fff;
  border-radius: 5px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;
  margin-left: 2px;
  margin-right: 2px;
}

.label-ok {
  font-size: 13px;
  opacity: 0.75;
  background-color: var(--green-highlighted);
  border-radius: 5px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;
  margin-left: 2px;
  margin-right: 2px;
}

.label-fail {
  font-size: 13px;
  opacity: 0.75;
  background-color: var(--orange);
  color: #fff;
  border-radius: 5px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;
  margin-left: 2px;
  margin-right: 2px;
}

.label-accent {
  font-size: 13px;
  opacity: 0.75;
  background-color: var(--gray);
  border-radius: 5px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;
  margin-left: 2px;
  margin-right: 2px;
}

.label-alt {
  font-size: 13px;
  opacity: 0.75;
  background-color: var(--pink);
  color: #fff;
  border-radius: 5px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;
  margin-left: 2px;
  margin-right: 2px;
}

.label-light {
  font-size: 13px;
  opacity: 0.75;
  color: #1e1e2f;
  background-color: var(--gray-light);
  border-radius: 5px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;
  margin-left: 2px;
  margin-right: 2px;
}

.label-tab {
  font-size: 23px !important;
}

.rounded {
  border-radius: 50%;
}

.export-icon {
  color: var(--green-highlighted) !important;
}

.export-xslx {
  border-radius: 0px 0px 5px 5px !important;
  background-color: var(--list-xsl-bg-color) !important;
  color: var(--opposite-color-02) !important;
  font-size: 12px !important;
  padding: 0px 10px 0px 7px !important;
  box-shadow: none !important;
  margin-right: 0px !important;
  margin-left: 0px !important;
  margin-bottom: 0px !important;
  margin-top: 0px !important;
}

.settings-card {
  text-align: left;
  background: var(--base-color-02);
  color: var(--opposite-color-02);
  opacity: 0.8;
  border-left: 2px solid var(--green-opaque);
  padding: 20px;
  border-radius: 5px;
}

.domain-container {
  background-color: var(--list-domain-color);
  margin: 0px -17px 0px 8px;
  padding: 8px;
  border-radius: 5px;
}

.current-wrap {
  background-color: var(--current-wrap-bg-color) !important;
  border-radius: 4px;
  padding: 0px 0px 0px 12px;
  margin-bottom: 10px;
}

.MBq {
  background-color: var(--petct-dose-mbq-bg-color) !important;
  color: #fff;
}

.mCi {
  background-color: var(--petct-dose-mci-bg-color) !important;
  color: #fff;
}
/*----------------------------------------------------------------------------------------------------------------------*/


/*----------------------------------------------------------------------------------------------------------------------*/
/* CHARTS: */
/*----------------------------------------------------------------------------------------------------------------------*/
.chart-responsive {
  background-color: var(--chart-bg-color);
  border-radius: 4px;
  padding-right: 2%;
  margin-left: 1%;
  float: left;
  padding-top: 1%;
}

.chart-wrapper {
  padding: 0% 1% 2% 2%;
  display: flex;
  overflow: hidden;
}

.chart-col-30 {
  width: 29.65% !important;
}

.chart-col-50 {
  width: 46% !important;
}

.chart-col-100 {
  width: 95% !important;
}
/*----------------------------------------------------------------------------------------------------------------------*/


/*----------------------------------------------------------------------------------------------------------------------*/
/* FLOW STATES */
/*----------------------------------------------------------------------------------------------------------------------*/
/* Appointments: */
.A01 {
  background-color: var(--green);
  color: #fff !important;
}

.A02 {
  background-color: var(--orange-alt);
  color: #fff !important;
}

/* Appointment request: */
.AR01, .AR02, .AR03, .AR04 {
  color: #fff !important;
}

.AR05 {
  background-color: var(--pink-alt);
  color: #fff !important;
}

.AR06 {
  background-color: var(--green);
  color: #fff !important;
}

.AR07 {
  background-color: var(--orange-alt);
  color: #fff !important;
}

/* Performing: */
.P01, .P02, .P03, .P04, .P05, .P06 {
  background-color: var(--gray-alt);
  color: #fff !important;
  
}

.P07 {
  background-color: var(--pink-alt);
  color: #fff !important;
}

.P08 {
  background-color: var(--purple-alt);
  color: #fff !important;
}

.P09, .P10 {
  background-color: var(--green);
  color: #fff !important;
}

.P11 {
  background-color: var(--orange-alt);
  color: #fff !important;
}
/*----------------------------------------------------------------------------------------------------------------------*/


/*----------------------------------------------------------------------------------------------------------------------*/
/* LISTS */
/*----------------------------------------------------------------------------------------------------------------------*/
.mat-table {
  width: 100%;
  color: var(--opposite-color-01);
  background-color: var(--base-color-03) !important;
}

.mat-header-cell {
  color: var(--list-header-color);
  border-color: var(--list-border-color) !important;
}

.mat-cell {
  padding-top: 8px !important;
  padding-bottom: 8px !important;
  color: var(--list-txt-color);
  border-color: var(--list-border-color) !important;
}

.mat-row:hover {
  background-color: var(--list-color-hover);
}

.mat-paginator {
  color: var(--opposite-color-01);
  background-color: var(--base-color-03);
}

.response-info {
  font-size: 12px !important;
  padding: 10px;
  color: var(--opposite-color-01);
  background-color: var(--base-color-03) !important;
}

.column-alt {
  background-color: var(--list-color-alt) !important;
  padding-left: 5px !important;
  padding-right: 5px !important;
}

.mat-table .mat-icon {
  color: var(--base-icon-color);
}

.reporting-indicator.mat-primary {
  color: var(--pink-intense-alt) !important;
}

/* Table Header color:
.mat-header-cell {
  background: #f7f7f7;
}
*/

/* Stripped table:
.mat-row:nth-child(even){
  background-color: var(--base-color-03);
}

.mat-row:nth-child(odd){
  background-color: var(--list-color-hover);
}
*/
/*----------------------------------------------------------------------------------------------------------------------*/


/*----------------------------------------------------------------------------------------------------------------------*/
/* SIMPLE TABLE */
/*----------------------------------------------------------------------------------------------------------------------*/
.simple-table {
  background-color: var(--base-color-03);
  color: var(--opposite-color-02);
  border-collapse: collapse;
  width: 98%;
  margin-left: 4%;
  margin-bottom: 4%;
  border-radius: 5px;
}

.simple-table td {
  font-size: 14px;
  padding: 8px;
}

/* Stripped table: */
.simple-table tr:nth-child(even) {
  background-color: var(--list-stripped-color);
}
/*----------------------------------------------------------------------------------------------------------------------*/


/*----------------------------------------------------------------------------------------------------------------------*/
/* FORMS */
/*----------------------------------------------------------------------------------------------------------------------*/
.form-element{
  background-color: var(--base-color-03);
  color: var(--opposite-color-01);
  border-radius: 4px;
  max-width: 100% !important;
  overflow-x: hidden !important;
}

.input-wrapper{
  width: 100%;
  padding: 12px 12px 12px 20px;
}

.sub-wrapper {
  margin-left: 0px !important;
  padding-left: 0px !important;
}

.form_nodes {
  margin-top: 10px;
  padding: 10px;
  width: 45%;
  max-width: 551px;
  max-height: 497px;
  opacity: var(--form-nodes-opacity);
}

.form_sirius {
  margin-top: 30px;
  padding: 10px;
  width: 60%;
  max-width: 500px;
  opacity: 0.35;
}

.form-element a, .form-element button, .form-element input, .form-element mat-form-field, .form-element label, .form-element mat-radio-button{
  margin-right: 8px;
}

.form-element mat-form-field.small{
  max-width: 100px;
}

.form-element mat-form-field.medium{
  min-width: 200px;
  width: 40%;
}

.form-element mat-form-field.large{
  min-width: 200px;
  width: 70%;
}

.form-element mat-form-field.full{
  min-width: 200px;
  width: 98%;
}

.action-wrapper{
  padding: 12px 5px 12px 12px;
  background: var(--base-color-02);
}

.mat-menu-content, .mat-select-panel, .mat-autocomplete-panel, .mat-expansion-panel {
  background-color: #3d3f51;
  color: var(--opposite-color-02);
}

.mat-selected {
  background-color: #353644 !important;
  color: var(--opposite-color-02) !important;
}

.tab-icon {
  margin-right: 8px;
}

.validate-error-tab, .validate-error{
  color: var(--orange-intense);
}

.unselected {
  border-bottom: 3px solid var(--orange-intense) !important;
}

.small_button {
  font-size: 12px !important;
  padding: 0px 7px 0px 7px !important;
  box-shadow: none !important;
  margin-right: 5px !important;
  margin-bottom: 3px !important;
  margin-top: 5px !important;
}

.form-element .mat-form-field-flex {
  background-color: var(--form-field-bg-color);
}

.form-element .mat-form-field-appearance-fill.mat-form-field-disabled .mat-form-field-flex {
  background-color: var(--form-field-disabled-bg-color);
}

.mat-form-field-underline, .mat-form-field-ripple {
  background-color: var(--opposite-color-02) !important;
}

.mat-form-field-invalid .mat-form-field-underline, .mat-form-field-invalid .mat-form-field-ripple {
  background-color: var(--orange-intense) !important;
}

.mat-checkbox-frame {
  border-color: var(--base-icon-color) !important;
  opacity: 0.8;
}

/* Mat Checkbox selected Background:
.mat-checkbox-checked .mat-checkbox-background {
  background-color: var(--green-highlighted) !important;
}
*/

.mat-primary .mat-checkbox-checkmark-path {
  stroke: #fff !important;
}

.mat-radio-outer-circle {
  border-color: var(--base-icon-color);
  opacity: 0.8;
}

.mat-datepicker-toggle-default-icon, .mat-select-arrow, .mat-select-value {
  color: var(--opposite-color-02);
}

.mat-form-field .mat-select.mat-select-disabled .mat-select-arrow  {
  color: var(--opposite-color-02);
}

.mat-select-min-line {
  color: var(--form-disabled-txt-color) !important;
}

/* Datepicker */
.mat-calendar{
  background-color: #27293d !important;
}
/*----------------------------------------------------------------------------------------------------------------------*/


/*----------------------------------------------------------------------------------------------------------------------*/
/* NOTIFICATIONS: */
/*----------------------------------------------------------------------------------------------------------------------*/
.mat-snack-bar-container {
  background-color: var(--base-color-05);
  color: var(--opposite-color-02);
}

.mat-dialog-container {
  background-color: var(--base-color-03);
  color: var(--opposite-color-02);
}

.mat-dialog-title {
  padding-bottom: 10px;
}
/*----------------------------------------------------------------------------------------------------------------------*/


/*----------------------------------------------------------------------------------------------------------------------*/
/* ANGULAR MATERIAL ADJUST THEME : */
/*----------------------------------------------------------------------------------------------------------------------*/
.mat-list-item {
  color: var(--opposite-color-01) !important;
}

.mat-divider {
  border-color: var(--mat-divider-color) !important;
}

.main-toolbar .mat-icon {
  color: var(--header-txt-color) !important;
}

.mat-form-field-label, .mat-form-field, .mat-date-range-input-separator, .mat-input-element::placeholder {
  color: var(--base-icon-color) !important;
}

.mat-input-element:disabled {
  color: var(--opposite-color-04);
}

.mat-tab-label-content {
  color: var(--mat-tab-label-color) !important;
}

.label-accent {
  color: #ddd !important;
}

.mat-expansion-indicator, .mat-expansion-indicator::after {
    color: var(--opposite-color-02) !important;
}

.mat-form-field-invalid {
  color: var(--orange-intense) !important;
}

.mat-flat-button, .mat-raised-button, .mat-fab, .mat-mini-fab {
  background-color: var(--gray-default);
}

.mat-flat-button.mat-primary, .mat-raised-button.mat-primary, .mat-fab.mat-primary, .mat-mini-fab.mat-primary {
  background-color: var(--pink-intense-alt);
}
/*----------------------------------------------------------------------------------------------------------------------*/


/*----------------------------------------------------------------------------------------------------------------------*/
/* CKEDITOR CUSTOMIZATION: */
/*----------------------------------------------------------------------------------------------------------------------*/
.ck-editor {
  color: var(--opposite-color-02) !important;
  border-radius: 10px !important;
}

.ck-toolbar {
  background-color: var(--base-color-05) !important;
  border-color: var(--base-color-05) !important;
}

.ck-button {
  color: var(--opposite-color-02) !important;
}

.ck-button:hover {
  background-color: var(--soft-color-03) !important;
}

.ck-content {
  border-color: var(--base-color-05) !important;
  background-color: var(--soft-color-03) !important;
}

.ck-dropdown__panel {
  border-color: var(--base-color-05) !important;
}

.ck-list{
  background-color: var(--soft-color-03) !important;
}

.ck-editor__editable {
  min-height: 200px !important;
}

.ck-find-and-replace-form {
  background-color: var(--base-color-05) !important;
  border-color: var(--base-color-05) !important;
  color: var(--opposite-color-02) !important;
}

.ck-form__header {
  background-color: #303242 !important;
  border-bottom: none !important;
}

.ck-form__header__label {
  color: var(--opposite-color-02) !important;
}

.ck-input-text {
  color: var(--opposite-color-02) !important;
  background-color: var(--soft-color-03) !important;
  border: 1px var(--soft-color-03) !important;
}

.ck-input_focused {
  border-bottom: 3px solid var(--pink) !important;
  box-shadow: none !important;
}

.ck-labeled-field-view__status {
  color: var(--opposite-color-02) !important;
}

.ck-button-find {
  background-color: var(--purple-opacity) !important;
}

.ck-label {
  background-color: var(--soft-color-03) !important;
  color: var(--opposite-color-02) !important;
  border-radius: 5px;
}

.ck-on {
  background-color: var(--soft-color-03) !important;
}
/*----------------------------------------------------------------------------------------------------------------------*/


/*----------------------------------------------------------------------------------------------------------------------*/
/* FULLCALENDAR CUSTOMIZATION:
/*----------------------------------------------------------------------------------------------------------------------*/
.calendar-container {
  float: left;
  width: 80%;
  padding: 1%;
}

.slot-container {
  float: left;
  width: 15%;
  padding: 1%;
}

.fc-timegrid {
  background-color: var(--base-color-02);
}

.fc-theme-standard .fc-scrollgrid {
  border-radius: 5px !important;
  border: 1px solid var(--base-color-02) !important;
}

.fc-col-header {
  background-color: var(--calendar-header-bg-color);
  color: var(--opposite-color-02);
  font-size: 16px !important;
  padding: 5px !important;
}

.fc-toolbar-title {
  color: var(--opposite-color-02);
}

.fc-timegrid-slot-label-cushion {
  color: var(--opposite-color-02);
}

.fc-theme-standard td, .fc-theme-standard th {
  border-color: var(--calendar-cell-border-color) !important;
}

.fc-day-today {
  background: none !important;
}

.fc-timegrid-event {
  box-shadow: none !important;
  margin-right: 0 !important;
}

.fc-timegrid-col-events {
  margin: 0 1px 0 2px !important;
}

.fc .fc-cell-shaded, .fc .fc-day-disabled {
  background-color: var(--calendar-disabled-col-bg-color) !important;
}

.invisible-datepicker {
  opacity: 0 !important;
  max-height: 0px !important;
  z-index: -99999 !important;
  margin-top: -40px !important;
}

.fc-datepicker-button {
  background-color: var(--soft-color-01) !important;
  border: none !important;
  font-weight: 500 !important;
}

.fc-normal_slots-button {
  background-color: #b0bec5 !important;
  color: #17191a !important;
  border: none !important;
  font-weight: 500 !important;
}

.fc-urgency_slots-button {
  background-color: var(--orange-intense-alt) !important;
  border: none !important;
  font-weight: 500 !important;
}

.fc-bg-event > .fc-event-title {
  color: #17191a !important;
  font-weight: bold !important;
  font-style: normal !important;
}
/*----------------------------------------------------------------------------------------------------------------------*/


/*----------------------------------------------------------------------------------------------------------------------*/
/* NGX CHARTS CUSTOMIZATION:
/*----------------------------------------------------------------------------------------------------------------------*/
.ngx-charts text {
  fill: var(--opposite-color-02) !important; 
}

.ngx-charts .gridline-path {
  stroke: #ffffff20 !important;
}
/*----------------------------------------------------------------------------------------------------------------------*/