.documents {
  padding-left: 10px;
}

.patient-details {
  cursor: pointer;
  color: var(--gold-highlighted);
}

mat-chip.line-break {
  height: auto;
  line-height: 1.1em;
}

.overbooking {
  color: #ff7c7c !important;
}