<form class="form-element" [formGroup]="form" (ngSubmit)="onSubmit()">
  <div fxLayout="row" fxLayoutAlign="start start">

    <div class="input-wrapper divider"> <!-- start fxLayout wrapper -->
      <h4>Sucursal:</h4>
      <mat-form-field appearance="fill" class="large">
        <mat-label>Sucursal</mat-label>
        <mat-select formControlName="domain" (selectionChange)="onChangeBranch($event)" placeholder="Seleccione la sucursal">
          <div *ngFor="let currentBranch of availableBranches">
            <div *ngFor="let currentOrganization of availableOrganizations">
              <mat-option *ngIf="currentBranch.fk_organization == currentOrganization._id" value="{{ currentOrganization._id + '.' + currentBranch._id }}">{{ currentOrganization.short_name }} ► {{ currentBranch.short_name }}</mat-option>
            </div>
          </div>
        </mat-select>
      </mat-form-field>

      <h4>Nombre:</h4>
      <mat-form-field appearance="fill" class="large">
        <mat-label>Nombre</mat-label>
        <input matInput type="text" formControlName="name" placeholder="Ingrese el nombre">
      </mat-form-field>

      <br/><hr class="dashed" /><br/>

      <h4>Procedimientos:</h4>
      <mat-form-field appearance="fill" class="large">
        <mat-label>Procedimientos</mat-label>
        <mat-select formControlName="fk_procedures" placeholder="Seleccione las modalidades" multiple>
          <div *ngFor="let currentProcedure of availableProcedures">
            <mat-option value="{{ currentProcedure._id }}">{{ currentProcedure.name }}</mat-option>
          </div>
        </mat-select>
      </mat-form-field>

      <br/><br/>
    </div> <!-- end fxLayout wrapper -->

    <div class="input-wrapper text-center"> <!-- start fxLayout wrapper -->
      <img class="form_nodes" src="../../../../../assets/img/nodes.png" alt="nodes">
    </div> <!-- end fxLayout wrapper -->

  </div>

  <div class="action-wrapper"fxLayout="row" fxLayoutAlign="end center">
    <div> <!-- start fxLayout wrapper -->
      <button mat-flat-button type="button" (click)="onCancel();">CANCELAR</button>
      <button mat-flat-button type="submit" color="primary">GUARDAR</button> <!-- [disabled]="form_data.invalid" -->
    </div> <!-- end fxLayout wrapper -->
  </div>
</form>
