<form class="form-element" [formGroup]="form" (ngSubmit)="onSubmit()">
  <div fxLayout="row" fxLayoutAlign="start start">

    <div class="input-wrapper divider"> <!-- start fxLayout wrapper -->
      <h4>{{ 'PROCEDURE_CATEGORIES.FORM.BRANCH_LABEL' | i18n }}</h4>
      <mat-form-field appearance="fill" class="large">
        <mat-label>{{ 'PROCEDURE_CATEGORIES.FORM.BRANCH_PLACEHOLDER' | i18n }}</mat-label>
        <mat-select formControlName="domain" (selectionChange)="onChangeBranch($event)" placeholder="{{ 'PROCEDURE_CATEGORIES.FORM.BRANCH_SELECT' | i18n }}">
          <div *ngFor="let currentBranch of availableBranches">
            <div *ngFor="let currentOrganization of availableOrganizations">
              <mat-option *ngIf="currentBranch.fk_organization == currentOrganization._id" value="{{ currentOrganization._id + '.' + currentBranch._id }}">{{ currentOrganization.short_name }} ► {{ currentBranch.short_name }}</mat-option>
            </div>
          </div>
        </mat-select>
      </mat-form-field>

      <h4>{{ 'PROCEDURE_CATEGORIES.FORM.NAME_LABEL' | i18n }}</h4>
      <mat-form-field appearance="fill" class="large">
        <mat-label>{{ 'PROCEDURE_CATEGORIES.FORM.NAME_PLACEHOLDER' | i18n }}</mat-label>
        <input matInput type="text" formControlName="name" placeholder="{{ 'PROCEDURE_CATEGORIES.FORM.NAME_INPUT' | i18n }}">
      </mat-form-field>

      <br/><hr class="dashed" /><br/>

      <h4>{{ 'PROCEDURE_CATEGORIES.FORM.PROCEDURES_LABEL' | i18n }}</h4>
      <mat-form-field appearance="fill" class="large">
        <mat-label>{{ 'PROCEDURE_CATEGORIES.FORM.PROCEDURES_PLACEHOLDER' | i18n }}</mat-label>
        <mat-select formControlName="fk_procedures" placeholder="{{ 'PROCEDURE_CATEGORIES.FORM.PROCEDURES_SELECT' | i18n }}" multiple>
          <div *ngFor="let currentProcedure of availableProcedures">
            <mat-option value="{{ currentProcedure._id }}">{{ currentProcedure.name }}</mat-option>
          </div>
        </mat-select>
      </mat-form-field>

      <br/><br/>
    </div> <!-- end fxLayout wrapper -->

    <div class="input-wrapper text-center"> <!-- start fxLayout wrapper -->
      <img class="form_nodes" src="../../../../../assets/img/nodes.png" alt="nodes">
    </div> <!-- end fxLayout wrapper -->

  </div>

  <div class="action-wrapper"fxLayout="row" fxLayoutAlign="end center">
    <div> <!-- start fxLayout wrapper -->
      <button mat-flat-button type="button" (click)="onCancel();">{{ 'PROCEDURE_CATEGORIES.FORM.CANCEL' | i18n }}</button>
      <button mat-flat-button type="submit" color="primary">{{ 'PROCEDURE_CATEGORIES.FORM.SAVE' | i18n }}</button> <!-- [disabled]="form_data.invalid" -->
    </div> <!-- end fxLayout wrapper -->
  </div>
</form>
