<form class="form-element" [formGroup]="form" (ngSubmit)="onSubmit()">
  <div fxLayout="row" fxLayoutAlign="start start">

    <div class="input-wrapper divider"> <!-- start fxLayout wrapper -->
      <h4>{{ 'procedure_categories.branch_required' | translate }}:</h4>
      <mat-form-field appearance="fill" class="large">
        <mat-label>{{ 'procedure_categories.branch' | translate }}</mat-label>
        <mat-select formControlName="domain" (selectionChange)="onChangeBranch($event)" [placeholder]="'procedure_categories.branch_placeholder' | translate">
          <div *ngFor="let currentBranch of availableBranches">
            <div *ngFor="let currentOrganization of availableOrganizations">
              <mat-option *ngIf="currentBranch.fk_organization == currentOrganization._id" value="{{ currentOrganization._id + '.' + currentBranch._id }}">{{ currentOrganization.short_name }} ► {{ currentBranch.short_name }}</mat-option>
            </div>
          </div>
        </mat-select>
      </mat-form-field>

      <h4>{{ 'procedure_categories.name_required' | translate }}:</h4>
      <mat-form-field appearance="fill" class="large">
        <mat-label>{{ 'procedure_categories.name' | translate }}</mat-label>
        <input matInput type="text" formControlName="name" [placeholder]="'procedure_categories.name_placeholder' | translate">
      </mat-form-field>

      <br/><hr class="dashed" /><br/>

      <h4>{{ 'procedure_categories.procedures' | translate }}:</h4>
      <mat-form-field appearance="fill" class="large">
        <mat-label>{{ 'procedure_categories.procedures' | translate }}</mat-label>
        <mat-select formControlName="fk_procedures" [placeholder]="'procedure_categories.procedures_placeholder' | translate" multiple>
          <div *ngFor="let currentProcedure of availableProcedures">
            <mat-option value="{{ currentProcedure._id }}">{{ currentProcedure.name }}</mat-option>
          </div>
        </mat-select>
      </mat-form-field>

      <br/><br/>
    </div> <!-- end fxLayout wrapper -->

    <div class="input-wrapper text-center"> <!-- start fxLayout wrapper -->
      <img class="form_nodes" src="../../../../../assets/img/nodes.png" alt="nodes">
    </div> <!-- end fxLayout wrapper -->

  </div>

  <div class="action-wrapper"fxLayout="row" fxLayoutAlign="end center">
    <div> <!-- start fxLayout wrapper -->
      <button mat-flat-button type="button" (click)="onCancel();">{{ 'procedure_categories.cancel' | translate }}</button>
      <button mat-flat-button type="submit" color="primary">{{ 'procedure_categories.save' | translate }}</button> <!-- [disabled]="form_data.invalid" -->
    </div> <!-- end fxLayout wrapper -->
  </div>
</form>
