<span *ngIf="this.sharedProp.current_patient && this.sharedProp.current_imaging && this.sharedProp.current_modality && this.sharedProp.current_procedure && this.sharedProp.current_slot && this.sharedProp.current_equipment && this.sharedProp.current_datetime; then thenBlockCurrentObj else elseBlockCurrentObj"></span>

<ng-template #thenBlockCurrentObj>
  <form class="form-element" [formGroup]="form" (ngSubmit)="onSubmit()" *ngIf="sharedProp.mainSettings != undefined && sharedProp.mainSettings.appSettings != undefined">
    <h2 class="form-title text-center underline-fail-alt">{{ 'APPOINTMENTS.FORM_INSERT.SUMMARY.TITLE' | i18n }}</h2>
    <div fxLayout="row" fxLayoutAlign="start start">

      <div class="input-wrapper divider-alt"> <!-- start fxLayout wrapper -->
        <h3 class="details-title">{{ 'APPOINTMENTS.FORM_INSERT.SUMMARY.APPOINTMENT_DATA_TITLE' | i18n }}</h3>
        <div class="current-wrap">
          <!-- appointment_date -->
          <div class="current-info divider-alt">
            <small>{{ 'APPOINTMENTS.FORM_INSERT.SUMMARY.APPOINTMENT_DATE' | i18n }}</small><br/>
            <span class="appointment-firts">{{ this.sharedProp.current_datetime.dateDay + '/' + this.sharedProp.current_datetime.dateMonth + '/' + this.sharedProp.current_datetime.dateYear }}</span>
          </div>

          <!-- appointment_start -->
          <div class="current-info divider-alt">
            <small>{{ 'APPOINTMENTS.FORM_INSERT.SUMMARY.START_TIME' | i18n }}</small><br/>
            <span class="appointment-firts">{{ this.sharedProp.current_datetime.startHours + ':' + this.sharedProp.current_datetime.startMinutes }}</span>
          </div>

          <!-- appointment_end -->
          <div class="current-info divider-alt">
            <small>{{ 'APPOINTMENTS.FORM_INSERT.SUMMARY.END_TIME' | i18n }}</small><br/>
            <span class="appointment-firts">{{ this.sharedProp.current_datetime.endHours + ':' + this.sharedProp.current_datetime.endMinutes }}</span>
          </div>

          <!-- equipment -->
          <div class="current-info text-center divider-alt">
            <small>{{ 'APPOINTMENTS.FORM_INSERT.SUMMARY.EQUIPMENT' | i18n }}</small><br/>
            <span class="badge-accent" matTooltip="{{ 'AET: ' + this.sharedProp.current_equipment.details.AET }}">
              <span>{{ this.sharedProp.current_equipment.details.name }}</span>
            </span>
          </div>

          <!-- urgency -->
          <div class="current-info text-center">
            <small>{{ 'APPOINTMENTS.FORM_INSERT.SUMMARY.URGENCY' | i18n }}</small><br/>
            <div *ngIf="this.sharedProp.current_urgency; then thenBlockUrgency else elseBlockUrgency"></div>
            <ng-template #thenBlockUrgency><mat-icon class="color-fail" matTooltip="{{ 'SLOTS.LIST.TOOLTIPS.URGENT' | i18n }}">directions_run</mat-icon></ng-template>
            <ng-template #elseBlockUrgency><mat-icon color="accent" matTooltip="{{ 'SLOTS.LIST.TOOLTIPS.NORMAL' | i18n }}">man</mat-icon></ng-template>
          </div>

          <div class="clear"></div>
        </div>

        <hr class="dashed" /><br/>

        <h3 class="details-title">{{ 'APPOINTMENTS.FORM_INSERT.SUMMARY.PREPARATION_TITLE' | i18n }}</h3>
        <div class="current-wrap preparation-wrap">
          <!-- preparation -->
          <div class="current-info">
            <div *ngIf="this.sharedProp.current_procedure.preparation !== undefined && this.sharedProp.current_procedure.preparation.length > 0; then thenBlockPreparation else elseBlockPreparation"></div>

            <ng-template #thenBlockPreparation>
              <span innerHTML="{{ this.sharedProp.current_procedure.preparation }}"></span>
            </ng-template>

            <ng-template #elseBlockPreparation>
              <span>{{ 'APPOINTMENTS.FORM_INSERT.SUMMARY.NO_PREPARATION' | i18n }}</span>
            </ng-template>
          </div>

          <div class="clear"></div>
        </div>

        <hr class="dashed" /><br/>

        <!-- friendly password -->
        <h3 class="details-title">{{ 'APPOINTMENTS.FORM_INSERT.SUMMARY.ACCESS_KEY_TITLE' | i18n }}</h3>
        <div class="friendly-pass-wrap" *ngIf="this.sharedProp.current_friendly_pass !== ''">
          <div class="current-info">{{ 'APPOINTMENTS.FORM_INSERT.SUMMARY.RANDOM_PASSWORD' | i18n }}</div>
          <div class="current-info">
            <span class="friendly-pass">{{ this.sharedProp.current_friendly_pass }}</span>
          </div>
          <div class="clear"></div><hr class="dashed" />
          <small><strong>{{ 'APPOINTMENTS.FORM_INSERT.SUMMARY.PASSWORD_NOTE' | i18n }}</strong></small>
        </div>
      </div> <!-- end fxLayout wrapper -->

      <div class="input-wrapper"> <!-- start fxLayout wrapper -->
        <span *ngIf="this.sharedProp.current_patient">
          <span *ngIf="this.sharedProp.current_patient.person">
            <h3 class="details-title">{{ 'APPOINTMENTS.FORM_INSERT.PATIENT.TITLE' | i18n }}</h3>
            <div class="current-wrap">
              <!-- documents -->
              <div class="current-info">
                <small>{{ 'APPOINTMENTS.FORM_INSERT.PATIENT.DOCUMENTS' | i18n }}</small><br/>
                <span *ngFor="let current of this.sharedProp.current_patient.person.documents" >
                  <span matTooltip="{{ country_codes[current.doc_country_code].name }}" class="flag-icon flag-icon-{{ country_codes[current.doc_country_code].alpha_2 | lowercase }}"></span>&nbsp;
                  <span matTooltip="{{ document_types[current.doc_type] }}">
                    <span>{{ current.document }}</span>
                  </span>
                  <br/>
                </span>
              </div>

              <!-- names -->
              <div class="current-info">
                <small>{{ 'APPOINTMENTS.FORM_INSERT.PATIENT.FULL_NAME' | i18n }}</small><br/>
                <span class="current-firts">
                  <span>{{ this.sharedProp.current_patient.person.name_01 }}</span>

                  <span *ngIf="this.sharedProp.current_patient.person.name_02">
                    <span> {{ this.sharedProp.current_patient.person.name_02 }}</span>
                  </span>

                  <span> {{ this.sharedProp.current_patient.person.surname_01 }}</span>

                  <span *ngIf="this.sharedProp.current_patient.person.surname_02">
                    <span> {{ this.sharedProp.current_patient.person.surname_02 }}</span>
                  </span>
                </span>
              </div>

              <div class="clear"></div>
            </div>

            <div class="clear"></div>

            <div class="current-wrap">
              <!-- birth_date -->
              <div class="current-info">
                <small>{{ 'APPOINTMENTS.FORM_INSERT.PATIENT.BIRTH_DATE' | i18n }}</small><br/>
                <span class="current-firts">{{ this.sharedProp.current_patient.person.birth_date | date:"dd/MM/yyyy":"UTC" }}</span>
              </div>

              <!-- genre -->
              <div class="current-info text-center">
                <small>{{ 'APPOINTMENTS.FORM_INSERT.PATIENT.GENDER' | i18n }}</small><br/>
                <span [ngSwitch]="this.sharedProp.current_patient.person.gender" matTooltip="{{ gender_types[this.sharedProp.current_patient.person.gender] }}">
                  <span *ngSwitchCase="1"><mat-icon class="male">man</mat-icon></span>
                  <span *ngSwitchCase="2"><mat-icon class="female">woman</mat-icon></span>
                  <span *ngSwitchCase="3"><mat-icon class="other">wc</mat-icon></span>
                </span>
              </div>

              <!-- status -->
              <div class="current-info text-center">
                <small>{{ 'APPOINTMENTS.FORM_INSERT.PATIENT.STATUS' | i18n }}</small><br/>
                <span *ngIf="this.sharedProp.current_patient.status; then thenBlock else elseBlock"></span>
                <ng-template #thenBlock><mat-icon class="color-ok" matTooltip="{{ 'BRANCHES.LIST.STATUS.ACTIVE' | i18n }}">done</mat-icon></ng-template>
                <ng-template #elseBlock><mat-icon class="color-fail" matTooltip="{{ 'BRANCHES.LIST.STATUS.INACTIVE' | i18n }}">clear</mat-icon></ng-template>
              </div>

              <div class="clear"></div>
            </div>

          </span>
        </span>

        <hr class="dashed"/><br/>

        <span *ngIf="this.sharedProp.current_imaging">
          <span *ngIf="this.sharedProp.current_imaging.organization && this.sharedProp.current_imaging.branch && this.sharedProp.current_imaging.service && this.sharedProp.current_modality">
            <h3 class="details-title">{{ 'APPOINTMENTS.FORM_INSERT.STUDY.TITLE' | i18n }}</h3>

            <div class="current-wrap">
              <!-- imaging -->
              <div class="current-info">
                <small>{{ 'APPOINTMENTS.FORM_INSERT.STUDY.DOMAIN_HIERARCHY' | i18n }}</small><br/>
                <span class="current-firts">{{ this.sharedProp.current_imaging.organization.short_name + ' ► ' + this.sharedProp.current_imaging.branch.short_name + ' ► ' + this.sharedProp.current_imaging.service.name }}</span>
              </div>

              <div class="clear"></div>
            </div>

            <div class="clear"></div>

            <div class="current-wrap">
              <!-- procedure -->
              <div class="current-info text-center">
                <small>{{ 'APPOINTMENTS.FORM_INSERT.STUDY.PROCEDURE' | i18n }}</small><br/>
                <span class="badge-alt">
                  <span>{{ this.sharedProp.current_procedure.name }}</span>
                </span>
              </div>

              <!-- modality -->
              <div class="current-info text-center">
                <small>{{ 'APPOINTMENTS.FORM_INSERT.STUDY.MODALITY' | i18n }}</small><br/>
                <span class="badge" matTooltip="{{ this.sharedProp.current_modality.code_meaning }}">
                  <span>{{ this.sharedProp.current_modality.code_value }}</span>
                </span>
              </div>

              <!-- informed_consent -->
              <div class="current-info text-center">
                <small>{{ 'APPOINTMENTS.FORM_INSERT.STUDY.REQUIRES_INFORMED_CONSENT' | i18n }}</small><br/>
                <span *ngIf="this.sharedProp.current_procedure.informed_consent; then thenBlock else elseBlock"></span>
                <ng-template #thenBlock><mat-icon class="color-ok" matTooltip="{{ 'PROCEDURES.FORM.YES' | i18n }}">done</mat-icon></ng-template>
                <ng-template #elseBlock><mat-icon class="color-fail" matTooltip="{{ 'PROCEDURES.FORM.NO' | i18n }}">clear</mat-icon></ng-template>
              </div>

              <div class="clear"></div>
            </div>

          </span>
        </span>
      </div> <!-- end fxLayout wrapper -->
    </div>

    <hr class="dashed"/>

    <h2 class="form-title text-center underline-ok-alt">{{ 'APPOINTMENTS.FORM_INSERT.DETAILS.TITLE' | i18n }}</h2>
    <div fxLayout="row" fxLayoutAlign="start start">

      <div class="input-wrapper divider"> <!-- start fxLayout wrapper -->
        <h3 class="form-title text-center underline-fail-alt">{{ 'APPOINTMENTS.FORM_INSERT.REQUESTING_PARTY.TITLE' | i18n }}</h3>
        <br/>

        <h4>{{ 'APPOINTMENTS.FORM_INSERT.REQUESTING_PARTY.ORGANIZATION' | i18n }}</h4>
        <mat-form-field appearance="fill" class="large">
          <mat-label>{{ 'APPOINTMENTS.FORM_INSERT.REQUESTING_PARTY.ORGANIZATION' | i18n }}</mat-label>
          <mat-select formControlName="referring_organization" placeholder="{{ 'APPOINTMENTS.FORM_INSERT.REQUESTING_PARTY.ORGANIZATION_PLACEHOLDER' | i18n }}">
            <span *ngIf="appointmentsService.referringOrganizations">
              <div *ngFor="let currentOrganization of appointmentsService.referringOrganizations">
                <mat-option value="{{ currentOrganization._id }}">{{ currentOrganization.short_name }} ({{ currentOrganization.name }})</mat-option>
              </div>
            </span>
          </mat-select>
        </mat-form-field>

        <br/><hr class="dashed" />

        <!-- No report cases: Hide reporting_domain, report_before and reporting_user fields -->
        <span [class.non-display]="this.sharedProp.current_procedure.reporting_delay === undefined || this.sharedProp.current_procedure.reporting_delay === null || this.sharedProp.current_procedure.reporting_delay === ''">
          <h3 class="form-title text-center underline-fail-alt">{{ 'APPOINTMENTS.FORM_INSERT.INFORMING_PARTY.TITLE' | i18n }}</h3>
          <br/>

          <h4>{{ 'APPOINTMENTS.FORM_INSERT.INFORMING_PARTY.SERVICE' | i18n }}</h4>
          <mat-form-field appearance="fill" class="large">
            <mat-label>{{ 'APPOINTMENTS.FORM_INSERT.INFORMING_PARTY.SERVICE' | i18n }}</mat-label>
            <mat-select formControlName="reporting_domain" placeholder="{{ 'APPOINTMENTS.FORM_INSERT.INFORMING_PARTY.SERVICE_PLACEHOLDER' | i18n }}">
              <div *ngFor="let currentService of appointmentsService.availableServices">
                <div *ngFor="let currentBranch of appointmentsService.availableBranches">
                  <div *ngFor="let currentOrganization of appointmentsService.availableOrganizations">
                    <mat-option (click)="appointmentsService.findReportingUsers(currentService._id, form)" *ngIf="currentBranch.fk_organization == currentOrganization._id && currentService.fk_branch == currentBranch._id" value="{{ currentOrganization._id + '.' + currentBranch._id + '.' + currentService._id }}">{{ currentOrganization.short_name }} ► {{ currentBranch.short_name }} ► {{ currentService.name }}</mat-option>
                  </div>
                </div>
              </div>
            </mat-select>
          </mat-form-field>

          <h4>{{ 'APPOINTMENTS.FORM_INSERT.INFORMING_PARTY.DOCTOR' | i18n }}</h4>
          <mat-form-field appearance="fill" class="large">
            <mat-label>{{ 'APPOINTMENTS.FORM_INSERT.INFORMING_PARTY.DOCTOR' | i18n }}</mat-label>
            <mat-select formControlName="reporting_user" placeholder="{{ 'APPOINTMENTS.FORM_INSERT.INFORMING_PARTY.DOCTOR_PLACEHOLDER' | i18n }}">
              <div *ngFor="let currentReporting of appointmentsService.reportingUsers">
                <mat-option value="{{ currentReporting._id }}">
                  <!--names-->
                  {{ currentReporting.person.name_01 }}
                  <span *ngIf="currentReporting.person.name_02">
                    {{ ' ' + currentReporting.person.name_02 }}
                  </span>
                  <!--surnames-->
                  {{ ' ' + currentReporting.person.surname_01 }}
                  <span *ngIf="currentReporting.person.surname_02">
                    {{ ' ' + currentReporting.person.surname_02 }}
                  </span>
                </mat-option>
              </div>
            </mat-select>
          </mat-form-field>

          <h4>{{ 'APPOINTMENTS.FORM_INSERT.INFORMING_PARTY.REPORT_DUE_DATE' | i18n }}</h4>
          <mat-form-field appearance="fill" class="large" (click)="picker.open()">
            <mat-label>{{ 'ACTION.SELECT_DATE' | i18n }}</mat-label>
            <input matInput [matDatepicker]="picker" [min]="minDate" [max]="maxDate" formControlName="report_before" (keydown)="false">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-hint align="end">{{ 'SLOTS.FORM.DATE_HINT' | i18n }}</mat-hint>
          </mat-form-field>

          <br/><hr class="dashed" /><br/>
        </span>

        <h4>{{ 'ACTION.ANAMNESIS' | i18n }} <span class="label-info">min: 10, max: 1000</span>:</h4>
        <div [class.unselected]="anamnesisValidator == false">
          <ckeditor formControlName="anamnesis"  #anamnesis [editor]="customEditor" [config]="sharedProp.mainSettings.CKEditorConfig" data=""></ckeditor>
        </div>

        <br/><hr class="dashed" /><br/>

        <h4>{{ 'APPOINTMENTS.FORM_INSERT.DETAILS.INDICATIONS' | i18n }} <span class="label-info">min: 10, max: 1000</span>:</h4>
        <div [class.unselected]="indicationsValidator == false">
          <ckeditor formControlName="indications" #indications [editor]="customEditor" [config]="sharedProp.mainSettings.CKEditorConfig" data=""></ckeditor>
        </div>

        <br/><hr class="dashed" /><br/>

        <h3 class="form-title text-center underline-fail-alt">{{ 'APPOINTMENTS.FORM_INSERT.ADDRESS.TITLE' | i18n }}</h3>
        <br/>

        <!-- Current address start-->
        <div formGroupName="current_address">
          <div fxLayout="row" fxLayoutAlign="start start">
            <div class="input-wrapper sub-wrapper"> <!-- start fxLayout wrapper -->
              <h4>{{ 'APPOINTMENTS.FORM_INSERT.ADDRESS.COUNTRY' | i18n }}</h4>
              <span *ngIf="getKeys(appointmentsService.allCountries).length > 0; then thenBlockCountries else elseBlockCountries"></span>

              <ng-template #thenBlockCountries>
                <mat-form-field appearance="fill" class="full">
                  <mat-label>{{ 'APPOINTMENTS.FORM_INSERT.ADDRESS.COUNTRY' | i18n }}</mat-label>
                  <mat-select formControlName="country" placeholder="{{ 'USERS.FORM.PERSON_TAB.DOC_COUNTRY_PLACEHOLDER' | i18n }}">
                    <div *ngFor="let currentCountry of appointmentsService.allCountries">
                      <mat-option (click)="appointmentsService.setCurrentStates(currentCountry.isoCode, form)" value="{{ currentCountry.name }}">{{ currentCountry.flag }} &nbsp; {{ currentCountry.name }}</mat-option>
                    </div>
                  </mat-select>
                </mat-form-field>
              </ng-template>

              <ng-template #elseBlockCountries>
                <mat-form-field appearance="fill" class="full">
                  <mat-label>{{ 'APPOINTMENTS.FORM_INSERT.ADDRESS.COUNTRY' | i18n }}</mat-label>
                  <input matInput type="text" formControlName="country" placeholder="{{ 'APPOINTMENTS.FORM_INSERT.ADDRESS.COUNTRY_PLACEHOLDER' | i18n }}">
                </mat-form-field>
              </ng-template>
            </div> <!-- end fxLayout wrapper -->


            <div class="input-wrapper sub-wrapper"> <!-- start fxLayout wrapper -->
              <h4>{{ 'APPOINTMENTS.FORM_INSERT.ADDRESS.STATE' | i18n }}:</h4>
              <span *ngIf="getKeys(appointmentsService.currentStates).length > 0; then thenBlockStates else elseBlockStates"></span>

              <ng-template #thenBlockStates>
                <mat-form-field appearance="fill" class="full">
                  <mat-label>{{ 'APPOINTMENTS.FORM_INSERT.ADDRESS.STATE' | i18n }}</mat-label>
                  <mat-select formControlName="state" placeholder="{{ 'APPOINTMENTS.FORM_INSERT.ADDRESS.STATE_PLACEHOLDER' | i18n }}">
                    <div *ngFor="let currentState of appointmentsService.currentStates">
                      <mat-option (click)="appointmentsService.setCurrentCities(currentState.countryCode, currentState.isoCode, form)" value="{{ currentState.name.replace(' Department', '') }}">{{ currentState.name.replace(' Department', '') }}</mat-option>
                    </div>
                  </mat-select>
                </mat-form-field>
              </ng-template>

              <ng-template #elseBlockStates>
                <mat-form-field appearance="fill" class="full">
                  <mat-label>{{ 'APPOINTMENTS.FORM_INSERT.ADDRESS.STATE' | i18n }}</mat-label>
                  <input matInput type="text" formControlName="state" placeholder="{{ 'APPOINTMENTS.FORM_INSERT.ADDRESS.STATE_PLACEHOLDER' | i18n }}">
                </mat-form-field>
              </ng-template>
            </div> <!-- end fxLayout wrapper -->
          </div>


          <div fxLayout="row" fxLayoutAlign="start start">
            <div class="input-wrapper sub-wrapper"> <!-- start fxLayout wrapper -->
              <h4>{{ 'APPOINTMENTS.FORM_INSERT.ADDRESS.CITY' | i18n }}</h4>
              <span *ngIf="getKeys(appointmentsService.currentCities).length > 0; then thenBlockCities else elseBlockCities"></span>

              <ng-template #thenBlockCities>
                <mat-form-field appearance="fill" class="full">
                  <mat-label>{{ 'APPOINTMENTS.FORM_INSERT.ADDRESS.CITY' | i18n }}</mat-label>
                  <mat-select formControlName="city" placeholder="{{ 'APPOINTMENTS.FORM_INSERT.ADDRESS.CITY_PLACEHOLDER' | i18n }}">
                    <div *ngFor="let currentCity of appointmentsService.currentCities">
                      <mat-option value="{{ currentCity.name }}">{{ currentCity.name }}</mat-option>
                    </div>
                  </mat-select>
                </mat-form-field>
              </ng-template>

              <ng-template #elseBlockCities>
                <mat-form-field appearance="fill" class="full">
                  <mat-label>{{ 'APPOINTMENTS.FORM_INSERT.ADDRESS.CITY' | i18n }}</mat-label>
                  <input matInput type="text" formControlName="city" placeholder="{{ 'APPOINTMENTS.FORM_INSERT.ADDRESS.CITY_PLACEHOLDER' | i18n }}">
                </mat-form-field>
              </ng-template>
            </div> <!-- end fxLayout wrapper -->

            <div class="input-wrapper sub-wrapper"> <!-- start fxLayout wrapper -->
              <h4>{{ 'APPOINTMENTS.FORM_INSERT.ADDRESS.NEIGHBORHOOD' | i18n }}</h4>
              <mat-form-field appearance="fill" class="full">
                <mat-label>{{ 'APPOINTMENTS.FORM_INSERT.ADDRESS.NEIGHBORHOOD' | i18n }}</mat-label>
                <input matInput type="text" formControlName="neighborhood" placeholder="{{ 'APPOINTMENTS.FORM_INSERT.ADDRESS.NEIGHBORHOOD_PLACEHOLDER' | i18n }}">
              </mat-form-field>
            </div> <!-- end fxLayout wrapper -->
          </div>

          <h4>{{ 'APPOINTMENTS.FORM_INSERT.ADDRESS.ADDRESS' | i18n }}</h4>
          <mat-form-field appearance="fill" class="full">
            <mat-label>{{ 'APPOINTMENTS.FORM_INSERT.ADDRESS.ADDRESS' | i18n }}</mat-label>
            <input matInput type="text" formControlName="address" placeholder="{{ 'APPOINTMENTS.FORM_INSERT.ADDRESS.ADDRESS_PLACEHOLDER' | i18n }}">
          </mat-form-field>
        </div>
        <!-- Current address end -->

        <br/><hr class="dashed" /><br/>

        <h4>{{ 'APPOINTMENTS.FORM_INSERT.DETAILS.CONTACT' | i18n }}:</h4>
        <mat-form-field appearance="fill" class="large">
          <mat-label>{{ 'APPOINTMENTS.FORM_INSERT.DETAILS.CONTACT' | i18n }}</mat-label>
          <input matInput type="text" formControlName="contact" placeholder="{{ 'APPOINTMENTS.FORM_INSERT.ADDRESS.CONTACT_PLACEHOLDER' | i18n }}">
        </mat-form-field>
        
        <!-- Contrast (Check if is PET-CT procedure) [Hardset onSubmit] -->
        <div *ngIf="this.sharedProp.current_modality.code_value !== 'PT'">
          <br/><hr class="dashed" />

          <h3 class="form-title text-center underline-fail-alt">{{ 'APPOINTMENTS.FORM_INSERT.CONTRAST.TITLE' | i18n }}</h3>
          <!-- Contrast start-->
          <div formGroupName="contrast">
            <div fxLayout="row" fxLayoutAlign="start start">
              <div class="input-wrapper sub-wrapper"> <!-- start fxLayout wrapper -->
                <h4>{{ 'APPOINTMENTS.FORM_INSERT.CONTRAST.REQUEST' | i18n }}</h4>
                <mat-radio-group color="primary" formControlName="use_contrast" (change)="appointmentsService.onChangeContrast($event, form)">
                  <mat-radio-button value="true">{{ 'PROCEDURES.FORM.YES' | i18n }}</mat-radio-button>
                  <mat-radio-button value="false">{{ 'PROCEDURES.FORM.NO' | i18n }}</mat-radio-button>
                </mat-radio-group>
              </div> <!-- end fxLayout wrapper -->

              <div class="input-wrapper sub-wrapper"> <!-- start fxLayout wrapper -->
                <div [class.non-display]="appointmentsService.booleanContrast == false">
                  <h4>{{ 'APPOINTMENTS.FORM_INSERT.CONTRAST.TYPE' | i18n }}</h4>
                  <mat-form-field appearance="fill" class="full">
                    <mat-label>{{ 'APPOINTMENTS.FORM_INSERT.CONTRAST.TYPE' | i18n }}</mat-label>
                    <input matInput type="text" formControlName="description" placeholder="{{ 'APPOINTMENTS.FORM_INSERT.CONTRAST.TYPE_PLACEHOLDER' | i18n }}">
                  </mat-form-field>
                </div>
              </div> <!-- end fxLayout wrapper -->
            </div>
          </div>
          <!-- Contrast end-->
        </div>

        <hr class="dashed" /><br/>

        <h4>{{ 'APPOINTMENTS.LIST.TABLE.STATUS' | i18n }}:</h4>
        <mat-radio-group color="primary" formControlName="status">
          <mat-radio-button value="true">{{ 'BRANCHES.LIST.STATUS.ACTIVE' | i18n }}</mat-radio-button>
          <mat-radio-button value="false">{{ 'BRANCHES.LIST.STATUS.INACTIVE' | i18n }}</mat-radio-button>
        </mat-radio-group>

        <br/><br/>
      </div> <!-- end fxLayout wrapper -->

      <div class="input-wrapper"> <!-- start fxLayout wrapper -->
        <h3 class="form-title text-center underline-fail-alt">{{ 'APPOINTMENTS.FORM_INSERT.PATIENT.TITLE' | i18n }} <span class="label-alt">{{ 'APPOINTMENTS.FORM_INSERT.PATIENT.SENSITIVE_INFO' | i18n }}</span>:</h3>
        <br/>

        <!-- Private health start --->
        <div formGroupName="private_health">
          <div fxLayout="row" fxLayoutAlign="start start">
            <div class="input-wrapper sub-wrapper"> <!-- start fxLayout wrapper -->
              <h4>{{ 'PRIVATE_HEALTH.HEIGHT' | i18n }} <span class="label-info">{{ 'PRIVATE_HEALTH.CENTIMETERS' | i18n }}</span>:</h4>
              <mat-form-field appearance="fill" class="large">
                <mat-label>{{ 'PRIVATE_HEALTH.HEIGHT' | i18n }}</mat-label>
                <input type="text" icNumbers matInput formControlName="height" min="1" max="300">
              </mat-form-field>
            </div> <!-- end fxLayout wrapper -->

            <div class="input-wrapper sub-wrapper"> <!-- start fxLayout wrapper -->
              <h4>{{ 'PRIVATE_HEALTH.WEIGHT' | i18n }} <span class="label-info">{{ 'PRIVATE_HEALTH.KILOGRAMS' | i18n }}</span>:</h4>
              <mat-form-field appearance="fill" class="large">
                <mat-label>{{ 'PRIVATE_HEALTH.WEIGHT' | i18n }}</mat-label>
                <input type="text" icNumbersWD matInput formControlName="weight" min="1" max="300">
              </mat-form-field>
            </div> <!-- end fxLayout wrapper -->
          </div>

          <hr class="dashed" />

          <div fxLayout="row" fxLayoutAlign="start start">
            <div class="input-wrapper sub-wrapper"> <!-- start fxLayout wrapper -->
              <mat-checkbox formControlName="diabetes" color="primary">{{ 'PRIVATE_HEALTH.DIABETES' | i18n }}</mat-checkbox><br/>
              <mat-checkbox formControlName="hypertension" color="primary">{{ 'PRIVATE_HEALTH.HYPERTENSION' | i18n }}</mat-checkbox><br/>
              <mat-checkbox formControlName="epoc" color="primary">{{ 'PRIVATE_HEALTH.EPOC' | i18n }}</mat-checkbox><br/>
              <mat-checkbox formControlName="smoking" color="primary">{{ 'PRIVATE_HEALTH.SMOKING' | i18n }}</mat-checkbox><br/>
              <mat-checkbox formControlName="malnutrition" color="primary">{{ 'PRIVATE_HEALTH.MALNUTRITION' | i18n }}</mat-checkbox><br/>
              <mat-checkbox formControlName="obesity" color="primary">{{ 'PRIVATE_HEALTH.OBESITY' | i18n }}</mat-checkbox><br/>
              <mat-checkbox formControlName="asthma" color="primary">{{ 'PRIVATE_HEALTH.ASTHMA' | i18n }}</mat-checkbox><br/>
            </div> <!-- end fxLayout wrapper -->

            <div class="input-wrapper sub-wrapper"> <!-- start fxLayout wrapper -->
              <mat-checkbox formControlName="pregnancy" color="primary">{{ 'PRIVATE_HEALTH.PREGNANCY' | i18n }}</mat-checkbox><br/>
              <mat-checkbox formControlName="claustrophobia" color="primary">{{ 'PRIVATE_HEALTH.CLAUSTROPHOBIA' | i18n }}</mat-checkbox><br/>
              <mat-checkbox formControlName="renal_insufficiency" color="primary">{{ 'PRIVATE_HEALTH.RENAL_INSUFFICIENCY' | i18n }}</mat-checkbox><br/>
              <mat-checkbox formControlName="heart_failure" color="primary">{{ 'PRIVATE_HEALTH.HEART_FAILURE' | i18n }}</mat-checkbox><br/>
              <mat-checkbox formControlName="ischemic_heart_disease" color="primary">{{ 'PRIVATE_HEALTH.ISCHEMIC_HEART_DISEASE' | i18n }}</mat-checkbox><br/>
              <mat-checkbox formControlName="valvulopathy" color="primary">{{ 'PRIVATE_HEALTH.VALVULOPATHY' | i18n }}</mat-checkbox><br/>
              <mat-checkbox formControlName="arrhythmia" color="primary">{{ 'PRIVATE_HEALTH.ARRHYTHMIA' | i18n }}</mat-checkbox><br/>
            </div> <!-- end fxLayout wrapper -->

            <div class="input-wrapper sub-wrapper"> <!-- start fxLayout wrapper -->
              <mat-checkbox formControlName="hiv" color="primary">{{ 'PRIVATE_HEALTH.HIV' | i18n }}</mat-checkbox><br/>
              <mat-checkbox formControlName="cancer" color="primary">{{ 'PRIVATE_HEALTH.CANCER' | i18n }}</mat-checkbox><br/>
              <mat-checkbox formControlName="dementia" color="primary">{{ 'PRIVATE_HEALTH.DEMENTIA' | i18n }}</mat-checkbox><br/>
              <mat-checkbox formControlName="hyperthyroidism" color="primary">{{ 'PRIVATE_HEALTH.HYPERTHYROIDISM' | i18n }}</mat-checkbox><br/>
              <mat-checkbox formControlName="hypothyroidism" color="primary">{{ 'PRIVATE_HEALTH.HYPOTHYROIDISM' | i18n }}</mat-checkbox><br/>
            </div> <!-- end fxLayout wrapper -->
          </div>

          <mat-checkbox color="primary" (change)="appointmentsService.onCheckOtherPatology($event, form)">{{ 'PRIVATE_HEALTH.OTHER_PATOLOGY' | i18n }}</mat-checkbox><br/>

          <div [class.non-display]="appointmentsService.booleanPatology == false">
            <mat-form-field appearance="fill" class="full">
              <mat-label>{{ 'PRIVATE_HEALTH.OTHER_PATOLOGY' | i18n }}</mat-label>
              <input matInput type="text" formControlName="other" placeholder="{{ 'PRIVATE_HEALTH.OTHER_PATOLOGY_PLACEHOLDER' | i18n }}">
            </mat-form-field>
          </div>

          <br/><hr class="dashed" /><br/>

          <h4>{{ 'PRIVATE_HEALTH.MEDICATION' | i18n }} <span class="label-info">min: 2, max: 1000</span>:</h4>
          <ckeditor *ngIf="sharedProp.mainSettings" formControlName="medication" #medication [editor]="customEditor" [config]="sharedProp.mainSettings.CKEditorConfig" data=""></ckeditor>
          
          <br/>

          <h4>{{ 'PRIVATE_HEALTH.ALLERGIES' | i18n }}:</h4>
          <mat-form-field appearance="fill" class="full">
            <mat-label>{{ 'PRIVATE_HEALTH.ALLERGIES' | i18n }}</mat-label>
            <input matInput type="text" formControlName="allergies" placeholder="{{ 'PRIVATE_HEALTH.ALLERGIES_PLACEHOLDER' | i18n }}">
          </mat-form-field>

          <hr class="dashed" />

          <h4 class="form-title text-center underline-fail">{{ 'PRIVATE_HEALTH.IMPLANTS.TITLE' | i18n }}</h4>
          <br/>

          <div formGroupName="implants">
            <div fxLayout="row" fxLayoutAlign="start start">
              <div class="input-wrapper sub-wrapper"> <!-- start fxLayout wrapper -->
                <mat-checkbox formControlName="cochlear_implant" color="primary">{{ 'PRIVATE_HEALTH.IMPLANTS.COCHLEAR_IMPLANT' | i18n }}</mat-checkbox><br/>
                <mat-checkbox formControlName="cardiac_stent" color="primary">{{ 'PRIVATE_HEALTH.IMPLANTS.CARDIAC_STENT' | i18n }}</mat-checkbox><br/>
                <mat-checkbox formControlName="metal_prostheses" color="primary">{{ 'PRIVATE_HEALTH.IMPLANTS.METAL_PROSTHESES' | i18n }}</mat-checkbox><br/>
                <mat-checkbox formControlName="metal_shards" color="primary">{{ 'PRIVATE_HEALTH.IMPLANTS.METAL_SHARDS' | i18n }}</mat-checkbox><br/>
                <mat-checkbox formControlName="pacemaker" color="primary">{{ 'PRIVATE_HEALTH.IMPLANTS.PACEMAKER' | i18n }}</mat-checkbox><br/>
              </div> <!-- end fxLayout wrapper -->

              <div class="input-wrapper sub-wrapper"> <!-- start fxLayout wrapper -->
                <mat-checkbox (change)="appointmentsService.onCheckOtherImplants($event, form)" color="primary">{{ 'PRIVATE_HEALTH.IMPLANTS.OTHER_TYPE' | i18n }}</mat-checkbox><br/>

                <div [class.non-display]="appointmentsService.booleanImplants == false">
                  <mat-form-field appearance="fill" class="full">
                    <mat-label>{{ 'PRIVATE_HEALTH.IMPLANTS.OTHER_TYPE' | i18n }}</mat-label>
                    <input matInput type="text" formControlName="other" placeholder="{{ 'PRIVATE_HEALTH.IMPLANTS.OTHER_PLACEHOLDER' | i18n }}">
                  </mat-form-field>
                </div>
              </div> <!-- end fxLayout wrapper -->
            </div>
          </div>
          <hr class="dashed" />

          <h4 class="form-title text-center underline-fail">{{ 'PRIVATE_HEALTH.COVID19.TITLE' | i18n }}</h4>
          <br/>

          <div formGroupName="covid19">
            <mat-checkbox formControlName="had_covid" color="primary">{{ 'PRIVATE_HEALTH.COVID19.HAD_COVID' | i18n }}</mat-checkbox><br/>
            <mat-checkbox formControlName="vaccinated" color="primary">{{ 'PRIVATE_HEALTH.COVID19.VACCINATED' | i18n }}</mat-checkbox><br/>

            <br/>

            <h4>{{ 'PRIVATE_HEALTH.COVID19.DETAILS' | i18n }}:</h4>
            <mat-form-field appearance="fill" class="full">
              <mat-label>{{ 'PRIVATE_HEALTH.COVID19.DETAILS' | i18n }}</mat-label>
              <input matInput type="text" formControlName="details" placeholder="{{ 'PRIVATE_HEALTH.COVID19.DETAILS_PLACEHOLDER' | i18n }}">
            </mat-form-field>
          </div>
        </div>
        <!-- Private health end --->

        <hr class="dashed" />

        <h3 class="form-title text-center underline-fail-alt">{{ 'APPOINTMENTS.FORM_INSERT.HOSPITALIZATION.TITLE' | i18n }}</h3>
        <br/>

        <mat-radio-group color="primary" formControlName="outpatient" (change)="appointmentsService.onChangeOutpatient($event, form)">
          <mat-radio-button value="true">{{ 'APPOINTMENTS.LIST.TOOLTIPS.OUTPATIENT' | i18n }}</mat-radio-button>
          <mat-radio-button value="false">{{ 'APPOINTMENTS.LIST.TOOLTIPS.INPATIENT' | i18n }}</mat-radio-button>
        </mat-radio-group>

        <br/>

        <!-- Inpatient start -->
        <div formGroupName="inpatient" [class.non-display]="appointmentsService.booleanInpatient == false">
          <br/><hr class="dashed" />

          <div fxLayout="row" fxLayoutAlign="start start">
            <div class="input-wrapper sub-wrapper"> <!-- start fxLayout wrapper -->
              <h4>{{ 'APPOINTMENTS.FORM_INSERT.HOSPITALIZATION.TYPE' | i18n }}</h4>
              <mat-form-field appearance="fill" class="full">
                <mat-label>{{ 'APPOINTMENTS.FORM_INSERT.HOSPITALIZATION.TYPE' | i18n }}</mat-label>
                <mat-select formControlName="type" placeholder="{{ 'APPOINTMENTS.FORM_INSERT.HOSPITALIZATION.TYPE_PLACEHOLDER' | i18n }}">
                  <div *ngFor="let currentType of inpatient_types | keyvalue">
                    <mat-option value="{{ currentType.key }}">{{ currentType.value }}</mat-option>
                  </div>
                </mat-select>
              </mat-form-field>
            </div> <!-- end fxLayout wrapper -->

            <div class="input-wrapper sub-wrapper"> <!-- start fxLayout wrapper -->
              <h4>{{ 'APPOINTMENTS.FORM_INSERT.HOSPITALIZATION.WHERE' | i18n }}</h4>
              <mat-form-field appearance="fill" class="full">
                <mat-label>{{ 'APPOINTMENTS.FORM_INSERT.HOSPITALIZATION.WHERE' | i18n }}</mat-label>
                <input matInput type="text" formControlName="where" placeholder="{{ 'APPOINTMENTS.FORM_INSERT.HOSPITALIZATION.WHERE_PLACEHOLDER' | i18n }}">
              </mat-form-field>
            </div> <!-- end fxLayout wrapper -->
          </div>

          <div fxLayout="row" fxLayoutAlign="start start">
            <div class="input-wrapper sub-wrapper"> <!-- start fxLayout wrapper -->
              <h4>{{ 'APPOINTMENTS.FORM_INSERT.HOSPITALIZATION.ROOM' | i18n }}</h4>
              <mat-form-field appearance="fill" class="full">
                <mat-label>{{ 'APPOINTMENTS.FORM_INSERT.HOSPITALIZATION.ROOM' | i18n }}</mat-label>
                <input matInput type="text" formControlName="room" placeholder="{{ 'APPOINTMENTS.FORM_INSERT.HOSPITALIZATION.ROOM_PLACEHOLDER' | i18n }}">
              </mat-form-field>
            </div> <!-- end fxLayout wrapper -->

            <div class="input-wrapper sub-wrapper"> <!-- start fxLayout wrapper -->
              <h4>{{ 'APPOINTMENTS.FORM_INSERT.HOSPITALIZATION.CONTACT' | i18n }}</h4>
              <mat-form-field appearance="fill" class="full">
                <mat-label>{{ 'APPOINTMENTS.FORM_INSERT.HOSPITALIZATION.CONTACT' | i18n }}</mat-label>
                <input matInput type="text" formControlName="contact" placeholder="{{ 'APPOINTMENTS.FORM_INSERT.HOSPITALIZATION.CONTACT_PLACEHOLDER' | i18n }}">
              </mat-form-field>
            </div> <!-- end fxLayout wrapper -->
          </div>
        </div>
        <!-- Inpatient end -->

        <br/><hr class="dashed" />

        <h3 class="form-title text-center underline-fail-alt">{{ 'APPOINTMENTS.FORM_INSERT.CONSENTS.TITLE' | i18n }} <span class="label-info">{{ 'APPOINTMENTS.FORM_INSERT.CONSENTS.FILE_MAX_SIZE_PRE' | i18n }} {{ sharedProp.mainSettings.appSettings.file_max_size }} {{ 'APPOINTMENTS.FORM_INSERT.CONSENTS.FILE_MAX_SIZE_POST' | i18n }}</span>:</h3>
        <br/>

        <span *ngIf="getKeys(fileManager.controller.informed_consent.files).length > 0; then thenBlockInformedConsent else elseBlockInformedConsent"></span>

        <ng-template #thenBlockInformedConsent>
          <mat-chip-list>
            <mat-chip *ngFor="let informedConsentFile of fileManager.controller.informed_consent.files | keyvalue" class="primary-color">
              <mat-icon (click)="fileManager.download(informedConsentFile.key)">description</mat-icon><span (click)="fileManager.download(informedConsentFile.key)"> &nbsp; {{ 'APPOINTMENTS.FORM_INSERT.CONSENTS.INFORMED_CONSENT' | i18n }}</span> &nbsp;<mat-icon matTooltip="{{ 'COMMON.DELETE' | i18n }}" (click)="fileManager.delete(informedConsentFile.key, 'informed_consent')">close</mat-icon>
            </mat-chip>
          </mat-chip-list>
          <br/>
        </ng-template>

        <ng-template #elseBlockInformedConsent>
          <input type="file" (change)="fileManager.upload($event, 'informed_consent')" #fileInputInformedConsent style="display: none" />
          <button mat-flat-button type="button" [disabled]="fileManager.controller['informed_consent'].disabled" color="primary" (click)="fileInputInformedConsent.click()">
            <span *ngIf="fileManager.controller['informed_consent'].disabled; then thenBlockInformedConsentDisabled else elseBlockInformedConsentDisabled"></span>
            <ng-template #thenBlockInformedConsentDisabled><mat-icon>cloud_sync</mat-icon> {{ 'APPOINTMENTS.FORM_INSERT.CONSENTS.UPLOADING_INFORMED_CONSENT' | i18n }} (<small>{{ fileManager.uploadProgress }}%</small>)</ng-template>
            <ng-template #elseBlockInformedConsentDisabled><mat-icon>draw</mat-icon> {{ 'APPOINTMENTS.FORM_INSERT.CONSENTS.UPLOAD_INFORMED_CONSENT' | i18n }}</ng-template>
          </button>
          <br/><br/>
        </ng-template>

        <span *ngIf="getKeys(fileManager.controller.clinical_trial.files).length > 0; then thenBlockClinicalTrial else elseBlockClinicalTrial"></span>

        <ng-template #thenBlockClinicalTrial>
          <mat-chip-list>
            <mat-chip *ngFor="let clinicalTrialFile of fileManager.controller.clinical_trial.files | keyvalue" class="default-color">
              <mat-icon (click)="fileManager.download(clinicalTrialFile.key)">description</mat-icon><span (click)="fileManager.download(clinicalTrialFile.key)"> &nbsp; {{ 'APPOINTMENTS.FORM_INSERT.CONSENTS.RESEARCH_CONSENT' | i18n }}</span> &nbsp;<mat-icon matTooltip="{{ 'COMMON.DELETE' | i18n }}" (click)="fileManager.delete(clinicalTrialFile.key, 'clinical_trial')">close</mat-icon>
            </mat-chip>
          </mat-chip-list>
          <br/>
        </ng-template>

        <ng-template #elseBlockClinicalTrial>
          <input type="file" (change)="fileManager.upload($event, 'clinical_trial')" #fileInputClinicalTrial style="display: none" />
          <button mat-flat-button type="button" [disabled]="fileManager.controller['clinical_trial'].disabled" (click)="fileInputClinicalTrial.click()">
            <span *ngIf="fileManager.controller['clinical_trial'].disabled; then thenBlockClinicalTrialDisabled else elseBlockClinicalTrialDisabled"></span>
            <ng-template #thenBlockClinicalTrialDisabled><mat-icon>cloud_sync</mat-icon> {{ 'APPOINTMENTS.FORM_INSERT.CONSENTS.UPLOADING_RESEARCH_CONSENT' | i18n }} (<small>{{ fileManager.uploadProgress }}%</small>)</ng-template>
            <ng-template #elseBlockClinicalTrialDisabled><mat-icon>science</mat-icon> {{ 'APPOINTMENTS.FORM_INSERT.CONSENTS.UPLOAD_RESEARCH_CONSENT' | i18n }}</ng-template>
          </button>
          <br/><br/>
        </ng-template>

        <hr class="dashed" />

        <h3 class="form-title text-center underline-fail-alt">{{ 'APPOINTMENTS.FORM_INSERT.ATTACHMENTS.TITLE' | i18n }} <span class="label-info">{{ 'APPOINTMENTS.FORM_INSERT.CONSENTS.FILE_MAX_SIZE_PRE' | i18n }} {{ sharedProp.mainSettings.appSettings.file_max_size }} {{ 'APPOINTMENTS.FORM_INSERT.CONSENTS.FILE_MAX_SIZE_POST' | i18n }}</span>:</h3>
        <br/>

        <span *ngIf="getKeys(fileManager.controller.attached_files.files).length > 0; then thenBlockAttached else elseBlockAttached"></span>

        <ng-template #thenBlockAttached>
          <mat-chip-list>
            <mat-chip *ngFor="let currentAtachedFile of fileManager.controller.attached_files.files | keyvalue">
              <mat-icon (click)="fileManager.download(currentAtachedFile.key)">description</mat-icon><span (click)="fileManager.download(currentAtachedFile.key)"> &nbsp;{{ currentAtachedFile.value }}</span> &nbsp;<mat-icon matTooltip="{{ 'COMMON.DELETE' | i18n }}" (click)="fileManager.delete(currentAtachedFile.key, 'attached_files')">close</mat-icon>
            </mat-chip>
          </mat-chip-list>
          <br/>
        </ng-template>

        <ng-template #elseBlockAttached>
          <div class="text-center">
            <mat-icon>folder_off</mat-icon> <h3>{{ 'APPOINTMENTS.FORM_INSERT.ATTACHMENTS.NO_FILES_FOUND' | i18n }}</h3>
          </div>
        </ng-template>

        <hr class="dashed" /><br/>

        <div class="text-right">
          <input type="file" (change)="fileManager.upload($event, 'attached_files')" #fileInputAttached style="display: none" />
          <button mat-flat-button type="button" [disabled]="fileManager.controller['attached_files'].disabled" color="accent" (click)="fileInputAttached.click()">
            <span *ngIf="fileManager.controller['attached_files'].disabled; then thenBlockAttachedDisabled else elseBlockAttachedDisabled"></span>
            <ng-template #thenBlockAttachedDisabled><mat-icon>cloud_sync</mat-icon> {{ 'APPOINTMENTS.FORM_INSERT.ATTACHMENTS.UPLOADING_FILE' | i18n }} (<small>{{ fileManager.uploadProgress }}%</small>)</ng-template>
            <ng-template #elseBlockAttachedDisabled><mat-icon>attach_file</mat-icon> {{ 'APPOINTMENTS.FORM_INSERT.ATTACHMENTS.ATTACH_FILE' | i18n }}</ng-template>
          </button>
        </div>

        <br/>
      </div> <!-- end fxLayout wrapper -->
    </div>

    <div class="clear"></div>

    <div class="action-wrapper"fxLayout="row" fxLayoutAlign="end center">
      <div> <!-- start fxLayout wrapper -->
        <button mat-flat-button type="button" (click)="onCancel();">{{ 'COMMON.CANCEL' | i18n | uppercase }}</button>
        <button mat-flat-button type="submit" color="primary">{{ 'COMMON.SAVE' | i18n | uppercase }}</button>
      </div> <!-- end fxLayout wrapper -->
    </div>

  </form>
</ng-template>

<ng-template #elseBlockCurrentObj>
  <form class="form-element text-center">
    <br/>
    <mat-icon class="search-off-icon">search_off</mat-icon>

    <br/><br/><hr class="dashed" /><br/>
    <h4>{{ 'APPOINTMENTS.FORM_INSERT.ERROR.INSUFFICIENT_DATA' | i18n }}</h4>

    <button mat-flat-button type="button" (click)="onCancel();">{{ 'APPOINTMENTS.FORM_INSERT.ERROR.BACK_TO_LIST' | i18n }}</button>

    <br/><br/>
  </form>
</ng-template>
