<form class="form-element" [formGroup]="form" (ngSubmit)="onSubmitMaster()" *ngIf="sharedProp.mainSettings != undefined">
    <div fxLayout="row" fxLayoutAlign="start start">
      <div class="input-wrapper divider-alt"> <!-- start fxLayout wrapper -->
        <h3 class="details-title">{{ 'PERFORMING.FORM.DETAILS_TITLE' | i18n }}</h3>
        <div class="current-wrap">
          <!-- appointment_date -->
          <div class="current-info divider-alt">
            <small>{{ 'PERFORMING.FORM.APPOINTMENT_DATE' | i18n }}</small><br/>
            <span *ngIf="this.sharedProp.current_datetime" class="appointment-firts">{{ this.sharedProp.current_datetime.dateDay + '/' + this.sharedProp.current_datetime.dateMonth + '/' + this.sharedProp.current_datetime.dateYear }}</span>
          </div>
          
          <!-- checkin_time -->
          <div class="current-info divider-alt">
            <small>{{ 'PERFORMING.FORM.CHECKIN_TIME' | i18n }}</small><br/>
            <span *ngIf="this.sharedProp.current_datetime" class="appointment-firts">{{ checkin_time }}</span>
          </div>
          
          <!-- imaging -->
          <span *ngIf="this.sharedProp.current_imaging">
            <span *ngIf="this.sharedProp.current_imaging.organization && this.sharedProp.current_imaging.branch && this.sharedProp.current_imaging.service && this.sharedProp.current_modality">
              <div class="current-info divider-alt">
                <small>{{ 'PERFORMING.FORM.ORGANIZATION_BRANCH_SERVICE' | i18n }}</small><br/>
                <span class="current-firts">{{ this.sharedProp.current_imaging.organization.short_name + ' ► ' + this.sharedProp.current_imaging.branch.short_name + ' ► ' + this.sharedProp.current_imaging.service.name }}</span>
              </div>
            </span>
          </span>

          <!-- modality -->
          <span *ngIf="this.sharedProp.current_modality">
            <div class="current-info text-center">
              <small>{{ 'PERFORMING.FORM.MODALITY' | i18n }}</small><br/>
              <span class="badge" matTooltip="{{ this.sharedProp.current_modality.code_meaning }}">
                <span>{{ this.sharedProp.current_modality.code_value }}</span>
              </span>
            </div>
          </span>

          <div class="clear"></div>
        </div>

        <!-- patient -->
        <span *ngIf="this.sharedProp.current_patient">
          <span *ngIf="this.sharedProp.current_patient.person">
            <h3 class="details-title">{{ 'PERFORMING.FORM.PATIENT_DATA' | i18n }}</h3>
            <div class="current-wrap">
              <!-- documents -->
              <div class="current-info">
                <small>{{ 'PERFORMING.FORM.DOCUMENTS' | i18n }}</small><br/>
                <span *ngFor="let current of this.sharedProp.current_patient.person.documents" >
                  <span matTooltip="{{ country_codes[current.doc_country_code].name }}" class="flag-icon flag-icon-{{ country_codes[current.doc_country_code].alpha_2 | lowercase }}"></span>&nbsp;
                  <span matTooltip="{{ document_types[current.doc_type] }}">
                    <span>{{ current.document }}</span>
                  </span>
                  <br/>
                </span>
              </div>
              
              <!-- names -->
              <div class="current-info">
                <small>{{ 'PERFORMING.FORM.FULL_NAME' | i18n }}</small><br/>
                <span class="current-firts">
                  <span>{{ this.sharedProp.current_patient.person.name_01 }}</span>
  
                  <span *ngIf="this.sharedProp.current_patient.person.name_02">
                    <span> {{ this.sharedProp.current_patient.person.name_02 }}</span>
                  </span>
  
                  <span> {{ this.sharedProp.current_patient.person.surname_01 }}</span>
  
                  <span *ngIf="this.sharedProp.current_patient.person.surname_02">
                    <span> {{ this.sharedProp.current_patient.person.surname_02 }}</span>
                  </span>
                </span>
              </div>
              
              <div class="clear"></div>
            </div>
  
            <div class="clear"></div>
  
            <div class="current-wrap">
              <!-- birth_date -->
              <div class="current-info">
                <small>{{ 'PERFORMING.FORM.BIRTH_DATE' | i18n }}</small><br/>
                <span class="current-firts">{{ this.sharedProp.current_patient.person.birth_date | date:"dd/MM/yyyy":"UTC" }}</span>
              </div>
              
              <!-- genre -->
              <div class="current-info text-center">
                <small>{{ 'PERFORMING.FORM.GENDER' | i18n }}:</small><br/>
                <span [ngSwitch]="this.sharedProp.current_patient.person.gender" matTooltip="{{ gender_types[this.sharedProp.current_patient.person.gender] }}">
                  <span *ngSwitchCase="1"><mat-icon class="male">man</mat-icon></span>
                  <span *ngSwitchCase="2"><mat-icon class="female">woman</mat-icon></span>
                  <span *ngSwitchCase="3"><mat-icon class="other">wc</mat-icon></span>
                </span>
              </div>
              
              <!-- status -->
              <div class="current-info text-center">
                <small>{{ 'PERFORMING.FORM.STATUS' | i18n }}:</small><br/>
                <span *ngIf="this.sharedProp.current_patient.status; then thenBlock else elseBlock"></span>
                <ng-template #thenBlock><mat-icon class="color-ok" matTooltip="Activo">done</mat-icon></ng-template>
                <ng-template #elseBlock><mat-icon class="color-fail" matTooltip="Inactivo">clear</mat-icon></ng-template>
              </div>
              
              <div class="clear"></div>
            </div>
  
          </span>
        </span>

        <hr class="dashed" />

        <div class="text-center">
          <small>{{ 'PERFORMING.FORM.STUDY_IUID' | i18n }}</small><br/><span class="label-accent">{{ this.sharedProp.current_study_iuid }}</span>
        </div>
      </div> <!-- end fxLayout wrapper -->
  
      <div class="input-wrapper"> <!-- start fxLayout wrapper -->
        <!-- flow_state -->
        <h3 class="details-title">{{ 'PERFORMING.FORM.WORKFLOW' | i18n }}</h3>
        <div fxLayout="row" fxLayoutAlign="start start">
          <div class="input-wrapper sub-wrapper"> <!-- start fxLayout wrapper -->
            <mat-form-field appearance="fill" class="full">
              <mat-label>{{ 'PERFORMING.FORM.WORKFLOW_LABEL' | i18n }}</mat-label>
              <mat-select formControlName="flow_state">
                <div *ngFor="let currentFS of availableFS | keyvalue">
                  <mat-option value="{{ currentFS.key }}" (click)="setFlowState(currentFS.key)">{{ currentFS.value }}</mat-option>
                </div>
              </mat-select>
            </mat-form-field>
          </div> <!-- end fxLayout wrapper -->

          <div class="input-wrapper sub-wrapper"> <!-- start fxLayout wrapper -->
            <div [class.non-display]="booleanCancelation == false">
              <h4>{{ 'PERFORMING.FORM.CANCELLATION_REASONS' | i18n }}</h4>
              <mat-form-field appearance="fill" class="full">
                <mat-label>{{ 'PERFORMING.FORM.CANCELLATION_REASONS_LABEL' | i18n }}</mat-label>
                <mat-select formControlName="cancellation_reasons">-->
                  <div *ngFor="let currentReason of cancellation_reasons | keyvalue">
                    <mat-option value="{{ currentReason.key }}">{{ currentReason.value }}</mat-option>
                  </div>
                </mat-select>
              </mat-form-field>
            </div>
          </div> <!-- end fxLayout wrapper -->
        </div>

        <h4>{{ 'PERFORMING.FORM.URGENCY' | i18n }}</h4>
        <mat-radio-group color="primary" formControlName="urgency">
          <mat-radio-button value="true">{{ 'PERFORMING.FORM.YES' | i18n }}</mat-radio-button>
          <mat-radio-button value="false">{{ 'PERFORMING.FORM.NO' | i18n }}</mat-radio-button>
        </mat-radio-group>

        <div class="clear"></div><br/><hr class="dashed" /><br/>

        <h4>{{ 'PERFORMING.FORM.STATUS' | i18n }}:</h4>
        <mat-radio-group color="primary" formControlName="status">
          <mat-radio-button value="true">{{ 'PERFORMING.FORM.ACTIVE' | i18n }}</mat-radio-button>
          <mat-radio-button value="false">{{ 'PERFORMING.FORM.INACTIVE' | i18n }}</mat-radio-button>
        </mat-radio-group>

      </div> <!-- end fxLayout wrapper -->
    </div>
  
    <hr class="dashed"/>

    <mat-tab-group [selectedIndex]="tabIndex">

        <!-- APPOINTMENT DETAILS TAB: ------------------------------------------------------------------------------------------------------------------ -->
        <mat-tab>
            <ng-template mat-tab-label>
              <mat-icon class="tab-icon">perm_contact_calendar</mat-icon> {{ 'PERFORMING.FORM.APPOINTMENT_DETAILS_TAB' | i18n }}
              <mat-icon *ngIf="detailsTabErrors" class="validate-error-tab" matTooltip="{{ 'PERFORMING.FORM.TAB_VALIDATION_ERRORS' | i18n }}">priority_high</mat-icon>
            </ng-template>
            <app-tab-details></app-tab-details>
        </mat-tab>
        <!-- APPOINTMENT DETAILS TAB: ------------------------------------------------------------------------------------------------------------------ -->


        <!-- INJECTION TAB: -------------------------------------------------------------------------------------------------------------------------- -->
        <mat-tab>
            <ng-template mat-tab-label>
              <mat-icon class="tab-icon">vaccines</mat-icon> {{ 'PERFORMING.FORM.PROCEDURE_TAB' | i18n }}
              <mat-icon *ngIf="injectionTabErrors" class="validate-error-tab" matTooltip="{{ 'PERFORMING.FORM.TAB_VALIDATION_ERRORS' | i18n }}">priority_high</mat-icon>
            </ng-template>
            
            <div fxLayout="row" fxLayoutAlign="start start">
              <div class="input-wrapper divider"> <!-- start fxLayout wrapper -->
                <h3 class="form-title text-center underline-fail-alt">{{ 'PERFORMING.FORM.PREPARATION_DATA' | i18n }}</h3>
                <br/>

                <h4>{{ 'PERFORMING.FORM.PROCEDURE' | i18n }}:</h4>
                <mat-form-field appearance="fill" class="large">
                  <mat-label>{{ 'PERFORMING.FORM.PROCEDURE' | i18n }}</mat-label>
                  <mat-select formControlName="fk_procedure" placeholder="{{ 'PERFORMING.FORM.SELECT_PROCEDURE' | i18n }}">
                    <div *ngFor="let currentProcedure of availableProcedures">
                      <mat-option (click)="setProcedure(currentProcedure._id, currentProcedure.coefficient)" value="{{ currentProcedure._id }}">{{ currentProcedure.name }}</mat-option>
                    </div>
                  </mat-select>
                </mat-form-field>

                <hr class="dashed" /><br/>
                  
                <div formGroupName="injection" [class.non-display]="booleanContrast == false">
                  <div fxLayout="row" fxLayoutAlign="start start">
                    <div class="input-wrapper"> <!-- start fxLayout wrapper -->
                      <h4>{{ 'PERFORMING.FORM.CONTRAST_TYPE' | i18n }}</h4>
                      <mat-form-field appearance="fill" class="full">
                        <mat-label>{{ 'PERFORMING.FORM.CONTRAST_TYPE' | i18n }}</mat-label>
                        <input matInput type="text" formControlName="sync_contrast_description" (keyup)="syncContrastDescription()" placeholder="{{ 'PERFORMING.FORM.ENTER_VOLUME_ADMINISTERED' | i18n }}">
                      </mat-form-field>

                      <br/>

                      <h4>{{ 'PERFORMING.FORM.INJECTION_TIME' | i18n }} <span class="label-info">{{ 'PERFORMING.FORM.FORMAT_24H' | i18n }}</span>:</h4>
                      <mat-form-field appearance="fill">
                        <mat-label>{{ 'PERFORMING.FORM.INJECTION_TIME' | i18n }}</mat-label>
                        <input type="time" matInput formControlName="administration_time" min="00:00" max="24:00">
                        <button matSuffix mat-icon-button type="button" matTooltip="{{ 'PERFORMING.FORM.NOW' | i18n }}" (click)="setTimeNow('injection.administration_time');"><mat-icon>timer</mat-icon></button>
                      </mat-form-field>
                    </div> <!-- end fxLayout wrapper -->

                    <div class="input-wrapper"> <!-- start fxLayout wrapper -->
                      <h4>{{ 'PERFORMING.FORM.VOLUME_ADMINISTERED' | i18n }} <span class="label-info">mL</span></h4>
                      <mat-form-field appearance="fill" class="full">
                        <mat-label>{{ 'PERFORMING.FORM.VOLUME_ADMINISTERED' | i18n }}</mat-label>
                        <input matInput icNumbersWD type="text" formControlName="administered_volume" placeholder="{{ 'PERFORMING.FORM.ENTER_VOLUME_ADMINISTERED' | i18n }}">
                      </mat-form-field>
                    </div> <!-- end fxLayout wrapper -->
                  </div>

                  <div class="clear"></div>
                  <hr class="dashed"/><br/>
                </div>

                <h4>{{ 'PERFORMING.FORM.OBSERVATIONS' | i18n }} <span class="label-info">min: 10, max: 1000</span>:</h4>
                <ckeditor formControlName="observations" #injectionObservations [editor]="injectionObservationsEditor" [config]="sharedProp.mainSettings.CKEditorConfig" data=""></ckeditor>
                
                <br/><hr class="dashed" /><br/>

                <div formGroupName="injection" [class.non-display]="booleanContrast == false">
                  <h4>{{ 'PERFORMING.FORM.INJECTION_RESPONSIBLE' | i18n }}</h4>
                  <mat-form-field appearance="fill" class="large">
                    <mat-label>{{ 'PERFORMING.FORM.INJECTION_RESPONSIBLE' | i18n }}</mat-label>
                    <mat-select formControlName="injection_user" placeholder="{{ 'PERFORMING.FORM.SELECT_INJECTION_RESPONSIBLE' | i18n }}">
                      <span *ngIf="this.injectionServiceUsers">
                        <div *ngFor="let currentInjectionUser of this.injectionServiceUsers">
                          <mat-option value="{{ currentInjectionUser._id }}">
                            <!--names-->
                            {{ currentInjectionUser.person.name_01 }}
                            <span *ngIf="currentInjectionUser.person.name_02">
                              {{ ' ' + currentInjectionUser.person.name_02 }}
                            </span>
                            <!--surnames-->
                            {{ ' ' + currentInjectionUser.person.surname_01 }}
                            <span *ngIf="currentInjectionUser.person.surname_02">
                              {{ ' ' + currentInjectionUser.person.surname_02 }}
                            </span>
                          </mat-option>
                        </div>
                      </span>
                    </mat-select>
                  </mat-form-field>
                </div>

                <br/>

              </div> <!-- end fxLayout wrapper -->
      
              <div class="input-wrapper text-center" [class.non-display]="sharedProp.current_modality_code_value == 'PT'"> <!-- start fxLayout wrapper -->
                <img class="form_nodes" src="../../../../../assets/img/nodes.png" alt="nodes">
              </div> <!-- end fxLayout wrapper -->

              <div class="input-wrapper" [class.non-display]="sharedProp.current_modality_code_value != 'PT'"> <!-- start fxLayout wrapper -->
                <div formGroupName="injection">
                  <h3 class="form-title text-center underline-fail-alt">{{ 'PERFORMING.FORM.PET_CT_INJECTION_DATA' | i18n }}</h3>
                  <br/>
                  
                  <div formGroupName="pet_ct">
                    <div fxLayout="row" fxLayoutAlign="start start">
                      <div class="input-wrapper sub-wrapper"> <!-- start fxLayout wrapper -->
                        <h4>{{ 'PERFORMING.FORM.BATCH' | i18n }}</h4>
                        <mat-form-field appearance="fill" class="medium">
                          <mat-label>{{ 'PERFORMING.FORM.BATCH' | i18n }}</mat-label>
                          <input matInput type="text" formControlName="batch" placeholder="{{ 'PERFORMING.FORM.ENTER_BATCH' | i18n }}">
                        </mat-form-field>
                      </div> <!-- end fxLayout wrapper -->

                      <div class="input-wrapper sub-wrapper dose"> <!-- start fxLayout wrapper -->
                        <h4>{{ 'PERFORMING.FORM.RECOMMENDED_DOSE' | i18n }}</h4>
                        <span class="badge-warn badge-dose MBq">{{ sharedProp.recomended_dose }} MBq</span>
                        <span class="badge-warn badge-dose mCi">{{ sharedFunctions.MBqTomCi(sharedProp.recomended_dose) }} mCi</span>
                        <div class="clear"></div>
                        <br/>
                        <small>{{ 'PERFORMING.FORM.DOSE_CALCULATION' | i18n }}</small>
                      </div> <!-- end fxLayout wrapper -->
                    </div>

                    <hr class="dashed" /><br/>

                    <div fxLayout="row" fxLayoutAlign="start start">
                      <div class="input-wrapper sub-wrapper"> <!-- start fxLayout wrapper -->
                        <h4>{{ 'PERFORMING.FORM.SYRINGE_FULL_TIME' | i18n }} <span class="label-info">{{ 'PERFORMING.FORM.FORMAT_24H' | i18n }}</span>:</h4>
                        <mat-form-field appearance="fill" class="full">
                          <mat-label>{{ 'PERFORMING.FORM.SYRINGE_FULL_TIME' | i18n }}</mat-label>
                          <input type="time" matInput formControlName="syringe_full_time" min="00:00" max="24:00">
                          <button matSuffix mat-icon-button type="button" matTooltip="{{ 'PERFORMING.FORM.NOW' | i18n }}" (click)="setTimeNow('injection.pet_ct.syringe_full_time');"><mat-icon>timer</mat-icon></button>
                        </mat-form-field>
                      </div> <!-- end fxLayout wrapper -->
            
                      <div class="input-wrapper sub-wrapper"> <!-- start fxLayout wrapper -->
                        <h4>{{ 'PERFORMING.FORM.SYRINGE_FULL_ACTIVITY' | i18n }} <span class="label-info MBq">MBq</span>:</h4>
                        <mat-form-field appearance="fill" class="full">
                          <mat-label>{{ 'PERFORMING.FORM.SYRINGE_FULL_ACTIVITY' | i18n }}</mat-label>
                          <input icNumbersWD (keyup)="convertActivity($event, 'syringe_activity_full_mCi', 'mCi')" type="text" matInput formControlName="syringe_activity_full" min="1" max="900">
                        </mat-form-field>
                      </div> <!-- end fxLayout wrapper -->

                      <div class="input-wrapper sub-wrapper"> <!-- start fxLayout wrapper -->
                        <h4>{{ 'PERFORMING.FORM.SYRINGE_FULL_ACTIVITY' | i18n }} <span class="label-info mCi">mCi</span>:</h4>
                        <mat-form-field appearance="fill" class="full">
                          <mat-label>{{ 'PERFORMING.FORM.SYRINGE_FULL_ACTIVITY' | i18n }}</mat-label>
                          <input icNumbersWD (keyup)="convertActivity($event, 'syringe_activity_full', 'MBq')"  type="text" matInput formControlName="syringe_activity_full_mCi" min="1" max="900">
                        </mat-form-field>
                      </div> <!-- end fxLayout wrapper -->
                    </div>

                    <hr class="dashed" /><br/>

                    <div fxLayout="row" fxLayoutAlign="start start">
                      <div class="input-wrapper sub-wrapper"> <!-- start fxLayout wrapper -->
                        <h4>{{ 'PERFORMING.FORM.SYRINGE_EMPTY_TIME' | i18n }} <span class="label-info">{{ 'PERFORMING.FORM.FORMAT_24H' | i18n }}</span>:</h4>
                        <mat-form-field appearance="fill" class="full">
                          <mat-label>{{ 'PERFORMING.FORM.SYRINGE_EMPTY_TIME' | i18n }}</mat-label>
                          <input type="time" matInput formControlName="syringe_empty_time" min="00:00" max="24:00">
                          <button matSuffix mat-icon-button type="button" matTooltip="{{ 'PERFORMING.FORM.NOW' | i18n }}" (click)="setTimeNow('injection.pet_ct.syringe_empty_time');"><mat-icon>timer</mat-icon></button>
                        </mat-form-field>
                      </div> <!-- end fxLayout wrapper -->
            
                      <div class="input-wrapper sub-wrapper"> <!-- start fxLayout wrapper -->
                        <h4>{{ 'PERFORMING.FORM.SYRINGE_EMPTY_ACTIVITY' | i18n }} <span class="label-info MBq">MBq</span>:</h4>
                        <mat-form-field appearance="fill" class="full">
                          <mat-label>{{ 'PERFORMING.FORM.SYRINGE_EMPTY_ACTIVITY' | i18n }}</mat-label>
                          <input icNumbersWD (keyup)="convertActivity($event, 'syringe_activity_empty_mCi', 'mCi')" type="text" matInput formControlName="syringe_activity_empty" min="1" max="900">
                        </mat-form-field>
                      </div> <!-- end fxLayout wrapper -->

                      <div class="input-wrapper sub-wrapper"> <!-- start fxLayout wrapper -->
                        <h4>{{ 'PERFORMING.FORM.SYRINGE_EMPTY_ACTIVITY' | i18n }} <span class="label-info mCi">mCi</span>:</h4>
                        <mat-form-field appearance="fill" class="full">
                          <mat-label>{{ 'PERFORMING.FORM.SYRINGE_EMPTY_ACTIVITY' | i18n }}</mat-label>
                          <input icNumbersWD (keyup)="convertActivity($event, 'syringe_activity_empty', 'MBq')" type="text" matInput formControlName="syringe_activity_empty_mCi" min="1" max="900">
                        </mat-form-field>
                      </div> <!-- end fxLayout wrapper -->
                    </div>

                    <hr class="dashed" /><br/>

                    <small>
                      <button mat-flat-button color="accent" (click)="setAdministredActivity()" class="small_button" type="button">
                        <mat-icon class="tab-icon">vaccines</mat-icon> {{ 'PERFORMING.FORM.CALCULATE_ADMINISTERED_DOSE' | i18n }} &nbsp;
                      </button>
                    </small>

                    <div fxLayout="row" fxLayoutAlign="start start">
                      <div class="input-wrapper sub-wrapper"> <!-- start fxLayout wrapper -->
                        <h4>{{ 'PERFORMING.FORM.ADMINISTERED_ACTIVITY' | i18n }} <span class="label-info MBq">MBq</span>:</h4>
                        <mat-form-field appearance="fill" class="full">
                          <mat-label>{{ 'PERFORMING.FORM.ADMINISTERED_ACTIVITY' | i18n }}</mat-label>
                          <input icNumbersWD (keyup)="convertActivity($event, 'administred_activity_mCi', 'mCi')" type="text" matInput formControlName="administred_activity" min="1" max="900">
                        </mat-form-field>
                      </div> <!-- end fxLayout wrapper -->

                      <div class="input-wrapper sub-wrapper"> <!-- start fxLayout wrapper -->
                        <h4>{{ 'PERFORMING.FORM.ADMINISTERED_ACTIVITY' | i18n }} <span class="label-info mCi">mCi</span>:</h4>
                        <mat-form-field appearance="fill" class="full">
                          <mat-label>{{ 'PERFORMING.FORM.ADMINISTERED_ACTIVITY' | i18n }}</mat-label>
                          <input icNumbersWD (keyup)="convertActivity($event, 'administred_activity', 'MBq')" type="text" matInput formControlName="administred_activity_mCi" min="1" max="900">
                        </mat-form-field>
                      </div> <!-- end fxLayout wrapper -->
                    </div>

                    <hr class="dashed" /><br/>
                    
                    <h4>{{ 'PERFORMING.FORM.LABORATORY_RESPONSIBLE' | i18n }}</h4>
                    <mat-form-field appearance="fill" class="large">
                      <mat-label>{{ 'PERFORMING.FORM.LABORATORY_RESPONSIBLE' | i18n }}</mat-label>
                      <mat-select formControlName="laboratory_user" placeholder="{{ 'PERFORMING.FORM.SELECT_LABORATORY_RESPONSIBLE' | i18n }}">
                        <span *ngIf="this.injectionServiceUsers">
                          <div *ngFor="let currentLaboratoryUser of this.injectionServiceUsers">
                            <mat-option value="{{ currentLaboratoryUser._id }}">
                              <!--names-->
                              {{ currentLaboratoryUser.person.name_01 }}
                              <span *ngIf="currentLaboratoryUser.person.name_02">
                                {{ ' ' + currentLaboratoryUser.person.name_02 }}
                              </span>
                              <!--surnames-->
                              {{ ' ' + currentLaboratoryUser.person.surname_01 }}
                              <span *ngIf="currentLaboratoryUser.person.surname_02">
                                {{ ' ' + currentLaboratoryUser.person.surname_02 }}
                              </span>
                            </mat-option>
                          </div>
                        </span>
                      </mat-select>
                    </mat-form-field>
                    
                  </div>
                </div>
              </div> <!-- end fxLayout wrapper -->
              
              <div class="clear"></div>
          </div>
        </mat-tab>
        <!-- INJECTION TAB: -------------------------------------------------------------------------------------------------------------------------- -->


        <!-- ANESTHESIA TAB: --------------------------------------------------------------------------------------------------------------------------- -->
        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon class="tab-icon">monitor_heart</mat-icon> {{ 'PERFORMING.FORM.ANESTHESIA_TAB' | i18n }}
            <mat-icon *ngIf="anesthesiaTabErrors" class="validate-error-tab" matTooltip="Existen errores de validación bajo esta pestaña">priority_high</mat-icon>
          </ng-template>

          <div formGroupName="anesthesia">
            <div class="text-center">
              <br/>
              <h2>{{ 'PERFORMING.FORM.STUDY_REQUIRES_ANESTHESIA' | i18n }}</h2>
              <mat-radio-group color="primary" formControlName="use_anesthesia" (change)="onChangeAnesthesia($event, form)">
                <mat-radio-button value="true">{{ 'PERFORMING.FORM.YES' | i18n }}</mat-radio-button>
                <mat-radio-button value="false">{{ 'PERFORMING.FORM.NO' | i18n }}</mat-radio-button>
              </mat-radio-group>
            </div>
            
            <br/>
            
            <div [class.non-display]="booleanAnesthesia == false">
              <hr class="dashed" />
        
              <div fxLayout="row" fxLayoutAlign="start start">
                <div class="input-wrapper divider"> <!-- start fxLayout wrapper -->
                  <h3 class="form-title text-center underline-fail-alt">{{ 'PERFORMING.FORM.ANESTHESIOLOGIST_DATA' | i18n }}</h3>
                  <br/>

                  <h4>{{ 'PERFORMING.FORM.PROFESSIONAL_ID' | i18n }}</h4>
                  <mat-form-field appearance="fill" class="medium">
                    <mat-label>{{ 'PERFORMING.FORM.PROFESSIONAL_ID' | i18n }}</mat-label>
                    <input matInput type="text" formControlName="professional_id" placeholder="{{ 'PERFORMING.FORM.ENTER_PROFESSIONAL_ID' | i18n }}">
                  </mat-form-field>
          
                  <br/>
          
                  <h4>{{ 'PERFORMING.FORM.DOCUMENT' | i18n }}</h4>
                  <mat-form-field appearance="fill" class="medium">
                    <mat-label>{{ 'PERFORMING.FORM.DOCUMENT' | i18n }}</mat-label>
                    <input matInput type="text" formControlName="document" placeholder="{{ 'PERFORMING.FORM.ENTER_DOCUMENT' | i18n }}">
                  </mat-form-field>
        
                  <br/>
          
                  <h4>{{ 'PERFORMING.FORM.NAME' | i18n }}</h4>
                  <mat-form-field appearance="fill" class="large">
                    <mat-label>{{ 'PERFORMING.FORM.NAME' | i18n }}</mat-label>
                    <input matInput icSpecialCharsWS type="text" formControlName="name" placeholder="{{ 'PERFORMING.FORM.ENTER_NAME' | i18n }}">
                  </mat-form-field>
          
                  <br/>
          
                  <h4>{{ 'PERFORMING.FORM.SURNAME' | i18n }}</h4>
                  <mat-form-field appearance="fill" class="large">
                    <mat-label>{{ 'PERFORMING.FORM.SURNAME' | i18n }}</mat-label>
                    <input matInput icSpecialCharsWS type="text" formControlName="surname" placeholder="{{ 'PERFORMING.FORM.ENTER_SURNAME' | i18n }}">
                  </mat-form-field>
                </div> <!-- end fxLayout wrapper -->
          
                <div class="input-wrapper"> <!-- start fxLayout wrapper -->
                  <h3 class="form-title text-center underline-fail-alt">{{ 'PERFORMING.FORM.ANESTHESIA_PROCEDURE' | i18n }}</h3>
                  <br/>
                  
                  <h4>{{ 'PERFORMING.FORM.PERFORMED_PROCEDURE' | i18n }} <span class="label-info">min: 10, max: 1000</span>:</h4>
                  <div [class.unselected]="anesthesiaValidator == false">
                    <ckeditor formControlName="procedure" #procedure [editor]="procedureEditor" [config]="sharedProp.mainSettings.CKEditorConfig" data=""></ckeditor>
                  </div>
                </div> <!-- end fxLayout wrapper -->
              </div>
        
              <div class="clear"></div>
            </div>
          </div>
        </mat-tab>
        <!-- ANESTHESIA TAB: --------------------------------------------------------------------------------------------------------------------------- -->


        <!-- ACQUISITION TAB: -------------------------------------------------------------------------------------------------------------------------- -->
        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon class="tab-icon">airline_seat_flat</mat-icon> {{ 'PERFORMING.FORM.ACQUISITION_TAB' | i18n }}
            <mat-icon *ngIf="acquisitionTabErrors" class="validate-error-tab" matTooltip="Existen errores de validación bajo esta pestaña">priority_high</mat-icon>
          </ng-template>
                
            <div fxLayout="row" fxLayoutAlign="start start">
              <div class="input-wrapper divider"> <!-- start fxLayout wrapper -->
                <h3 class="form-title text-center underline-fail-alt">{{ 'PERFORMING.FORM.ACQUISITION_DATA' | i18n }}</h3>
                <br/>
                
                <h4>{{ 'PERFORMING.FORM.EQUIPMENT' | i18n }}</h4>
                <mat-form-field appearance="fill" class="large">
                  <mat-label>{{ 'PERFORMING.FORM.EQUIPMENT' | i18n }}</mat-label>
                  <mat-select formControlName="fk_equipment" placeholder="{{ 'PERFORMING.FORM.SELECT_EQUIPMENT' | i18n }}">
                    <div *ngFor="let currentEquipment of availableEquipments">
                      <mat-option (click)="setEquipment(currentEquipment._id)" value="{{ currentEquipment._id }}">{{ currentEquipment.name }}</mat-option>
                    </div>
                  </mat-select>
                </mat-form-field>

                <hr class="dashed" /><br/>

                <div formGroupName="acquisition">
                  <h4>{{ 'PERFORMING.FORM.ACQUISITION_TIME' | i18n }} <span class="label-info">{{ 'PERFORMING.FORM.FORMAT_24H' | i18n }}</span>:</h4>
                  <mat-form-field appearance="fill">
                    <mat-label>{{ 'PERFORMING.FORM.ACQUISITION_TIME' | i18n }}</mat-label>
                    <input type="time" matInput formControlName="time" min="00:00" max="24:00">
                    <button matSuffix mat-icon-button type="button" matTooltip="{{ 'PERFORMING.FORM.NOW' | i18n }}" (click)="setTimeNow('acquisition.time');"><mat-icon>timer</mat-icon></button>
                  </mat-form-field>

                  <h4>{{ 'PERFORMING.FORM.OBSERVATIONS' | i18n }} <span class="label-info">min: 10, max: 1000</span>:</h4>
                  <ckeditor formControlName="observations" #acquisitionObservations [editor]="acquisitionObservationsEditor" [config]="sharedProp.mainSettings.CKEditorConfig" data=""></ckeditor>

                  <br/><hr class="dashed"/><br/>

                  <h4>{{ 'PERFORMING.FORM.TECHNICIAN_CONSOLE' | i18n }}</h4>
                  <mat-form-field appearance="fill" class="large">
                    <mat-label>{{ 'PERFORMING.FORM.TECHNICIAN_CONSOLE' | i18n }}</mat-label>
                    <mat-select formControlName="console_technician" placeholder="{{ 'PERFORMING.FORM.SELECT_TECHNICIAN_CONSOLE' | i18n }}">
                      <span *ngIf="this.technicianServiceUsers">
                        <div *ngFor="let currentConsoleTechnician of this.technicianServiceUsers"><!-- 5 Técnicos-->
                          <mat-option value="{{ currentConsoleTechnician._id }}">
                            <!--names-->
                            {{ currentConsoleTechnician.person.name_01 }}
                            <span *ngIf="currentConsoleTechnician.person.name_02">
                              {{ ' ' + currentConsoleTechnician.person.name_02 }}
                            </span>
                            <!--surnames-->
                            {{ ' ' + currentConsoleTechnician.person.surname_01 }}
                            <span *ngIf="currentConsoleTechnician.person.surname_02">
                              {{ ' ' + currentConsoleTechnician.person.surname_02 }}
                            </span>
                          </mat-option>
                        </div>
                      </span>
                    </mat-select>
                  </mat-form-field>
                </div>

                <br/>
              </div> <!-- end fxLayout wrapper -->
    
              <div class="input-wrapper text-center"> <!-- start fxLayout wrapper -->
                <img class="form_nodes" src="../../../../../assets/img/nodes.png" alt="nodes">
              </div> <!-- end fxLayout wrapper -->
            </div>
    
            <div class="clear"></div>
        </mat-tab>
        <!-- ACQUISITION TAB: -------------------------------------------------------------------------------------------------------------------------- -->

        <!-- HISTORY TAB: ---------------------------------------------------------------------------------------------------------------- -->
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="tab-icon">history</mat-icon> {{ 'PERFORMING.FORM.PREVIOUS_STUDIES_TAB' | i18n }}
        </ng-template>

        <div *ngIf="previous; then thenBlockTable else elseBlockTable"></div>

        <ng-template #thenBlockTable>
          <div #main_list>
            <table mat-table [dataSource]="previous">
              <!-- current -->
              <ng-container matColumnDef="current">
                <th mat-header-cell *matHeaderCellDef class="text-center column-alt"></th>
                <td mat-cell *matCellDef="let element" class="text-center">
                  <span *ngIf="element._id == _id"><mat-icon class="current_item" matTooltip="Actual">arrow_forward</mat-icon></span>
                </td>
              </ng-container>

              <!-- flow_state -->
              <ng-container matColumnDef="flow_state">
                <th mat-header-cell *matHeaderCellDef class="text-center column-alt">{{ 'PERFORMING.LIST.TABLE.FLOW_STATE' | i18n }}</th>
                <td mat-cell *matCellDef="let element" class="text-center">
                  <!--See report-->
                  <span *ngIf="element.flow_state == 'P09'">
                    <button mat-mini-fab class="small_button_alt" type="button" (click)="sharedFunctions.reportReview(element._id)" matTooltip="{{ 'PERFORMING.LIST.TOOLTIPS.VIEW_REPORT' | i18n }}" color="accent">
                      <mat-icon>playlist_add_check</mat-icon>
                    </button>
                    <br/>
                  </span>

                  <!--flow_state-->
                  <span class="badge badge-mini {{ element.flow_state }}" matTooltip="{{ cancellation_reasons[element.cancellation_reasons] }}" *ngIf="element.flow_state">{{ performingFS[element.flow_state] }}</span>
                </td>
              </ng-container>

              <!-- date -->
              <ng-container matColumnDef="date">
                <th mat-header-cell *matHeaderCellDef class="text-center column-alt"> {{ 'PERFORMING.LIST.TABLE.DATE' | i18n }} </th>
                <td mat-cell *matCellDef="let element" class="text-center">
                  <span *ngIf="element.date">{{ element.date | date : "dd/MM/yyyy" : "UTC" }}</span>
                </td>
              </ng-container>

              <!-- checkin_time -->
              <ng-container matColumnDef="checkin_time">
                <th mat-header-cell *matHeaderCellDef class="text-center column-alt"> {{ 'PERFORMING.LIST.TABLE.CHECKIN_TIME' | i18n }} </th>
                <td mat-cell *matCellDef="let element" class="text-center">
                  <span *ngIf="element.date">{{ element.date | date : "HH:mm" : "UTC" }}</span>
                </td>
              </ng-container>

              <!-- patient_age -->
              <ng-container matColumnDef="patient_age">
                <th mat-header-cell *matHeaderCellDef matTooltip="{{ 'PERFORMING.LIST.TOOLTIPS.AGE' | i18n }}" class="text-center column-alt"> {{ 'PERFORMING.LIST.TABLE.PATIENT_AGE' | i18n }} </th>
                <td mat-cell *matCellDef="let element" class="text-center">
                  <span *ngIf="element.patient">
                    <span *ngIf="element.patient.person">
                      <span>{{ sharedFunctions.calculateAge(element.patient.person.birth_date, element.date) }}</span>
                    </span>
                  </span>
                </td>
              </ng-container>

              <!-- details -->
              <ng-container matColumnDef="details">
                <th mat-header-cell *matHeaderCellDef class="text-center column-alt"> {{ 'PERFORMING.LIST.TABLE.DETAILS' | i18n }} </th>
                <td mat-cell *matCellDef="let element">
                  <!-- procedure -->
                  <span *ngIf="element.procedure">
                    <span class="badge-alt" matTooltip="{{ element.procedure.code }}">{{ element.procedure.name }}</span>
                  </span>

                  <div class="clear"></div><hr class="dashed" />

                  <!-- equipment -->        
                  <span *ngIf="element.equipment; then thenBlockTableEquipment else elseBlockTableEquipment"></span>
                      <ng-template #thenBlockTableEquipment>
                      <span class="badge-accent" matTooltip="{{ 'AET: ' + element.equipment.AET }}">
                      <span>{{ element.equipment.name }}</span>
                      </span>
                  </ng-template>
                  <ng-template #elseBlockTableEquipment>{{ 'PERFORMING.LIST.NO_DATA' | i18n }}</ng-template>

                  <!-- modality -->
                  <span *ngIf="element.modality; then thenBlockTableModality else elseBlockTableModality"></span>
                  <ng-template #thenBlockTableModality>
                    <span class="badge" matTooltip="{{ element.modality.code_meaning }}">{{ element.modality.code_value }}</span>
                  </ng-template>
                  <ng-template #elseBlockTableModality>{{ 'PERFORMING.LIST.NO_DATA' | i18n }}</ng-template>
                </td>
              </ng-container>

              <!-- domain -->
              <ng-container matColumnDef="domain">
                <th mat-header-cell *matHeaderCellDef class="text-center column-alt">{{ 'PERFORMING.LIST.TABLE.DOMAIN' | i18n }}</th>
                <td mat-cell *matCellDef="let element">
                  <div *ngIf="element.appointment" class="domain-container">
                    <!--referring-->
                    <small><strong>{{ 'PERFORMING.LIST.DOMAIN.REQUESTING' | i18n }}</strong></small>
                    <span *ngIf="element.appointment.referring; then thenBlockReferring else elseBlockReferring"></span>
                    <ng-template #thenBlockReferring>
                      <small>
                        <span *ngIf="element.appointment.referring.organization">{{ element.appointment.referring.organization.short_name }}</span>
                        <span *ngIf="element.appointment.referring.branch"> ► {{ element.appointment.referring.branch.short_name }}</span>
                        <span *ngIf="element.appointment.referring.service"> ► {{ element.appointment.referring.service.name }}</span>
                      </small>
                    </ng-template>
                    <ng-template #elseBlockReferring>{{ 'PERFORMING.LIST.NO_DATA' | i18n }}</ng-template>

                    <hr class="dashed" />

                    <!--imaging-->
                    <small><strong>{{ 'PERFORMING.LIST.DOMAIN.IMAGING' | i18n }}</strong></small>
                    <span *ngIf="element.appointment.imaging; then thenBlockImaging else elseBlockImaging"></span>
                    <ng-template #thenBlockImaging>
                      <small>
                        <span *ngIf="element.appointment.imaging.organization">{{ element.appointment.imaging.organization.short_name }}</span>
                        <span *ngIf="element.appointment.imaging.branch"> ► {{ element.appointment.imaging.branch.short_name }}</span>
                        <span *ngIf="element.appointment.imaging.service"> ► {{ element.appointment.imaging.service.name }}</span>
                      </small>
                    </ng-template>
                    <ng-template #elseBlockImaging>{{ 'PERFORMING.LIST.NO_DATA' | i18n }}</ng-template>

                    <hr class="dashed" />

                    <!--reporting-->
                    <small><strong>{{ 'PERFORMING.LIST.DOMAIN.REPORTING' | i18n }}</strong></small>
                    <span *ngIf="element.appointment.reporting; then thenBlockReporting else elseBlockReporting"></span>
                    <ng-template #thenBlockReporting>
                      <small>
                        <span *ngIf="element.appointment.reporting.organization">{{ element.appointment.reporting.organization.short_name }}</span>
                        <span *ngIf="element.appointment.reporting.branch"> ► {{ element.appointment.reporting.branch.short_name }}</span>
                        <span *ngIf="element.appointment.reporting.service"> ► {{ element.appointment.reporting.service.name }}</span>
                      </small>
                    </ng-template>
                    <ng-template #elseBlockReporting>{{ 'PERFORMING.LIST.NO_DATA' | i18n }}</ng-template>
                  </div>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          </div>
        </ng-template>
                
        <!-- Await previous or not previous -->
        <ng-template #elseBlockTable>
          <div fxLayout="row" fxLayoutAlign="center center" class="response-info">
            {{ 'PERFORMING.FORM.NO_PREVIOUS_STUDIES' | i18n }}
          </div>
        </ng-template>
      </mat-tab>
      <!-- HISTORY TAB: ---------------------------------------------------------------------------------------------------------------- -->
    </mat-tab-group>

    <div class="action-wrapper"fxLayout="row" fxLayoutAlign="end center">
    <div> <!-- start fxLayout wrapper -->
        <button mat-flat-button type="button" (click)="onCancel();">{{ 'PERFORMING.FORM.CANCEL' | i18n }}</button>
        <button mat-flat-button type="button" color="primary" (click)="onSubmitMaster()" >{{ 'PERFORMING.FORM.SAVE' | i18n }}</button>
        <span *ngIf="['P01', 'P02', 'P03', 'P04', 'P05'].includes(form.value.flow_state)">
          <button mat-flat-button type="button" color="accent" [disabled]="nextStepButtonDisabled" (click)="onNextStep()" >{{ 'PERFORMING.FORM.SAVE_AND_ADVANCE' | i18n }}</button>
        </span>
    </div> <!-- end fxLayout wrapper -->
  </div>
</form>