<form class="form-element" [formGroup]="form" (ngSubmit)="onSubmit()">
  <div fxLayout="row" fxLayoutAlign="start start">

    <div class="input-wrapper divider"> <!-- start fxLayout wrapper -->
      <h4>{{ 'branches.organization' | translate }}:</h4>
      <mat-form-field appearance="fill" class="large">
        <mat-label>{{ 'branches.organization' | translate }}</mat-label>
        <mat-select formControlName="fk_organization" [placeholder]="'branches.select_organization' | translate">
          <div *ngFor="let currentOrganization of availableOrganizations">
            <mat-option value="{{ currentOrganization._id }}">{{ currentOrganization.short_name }} ({{ currentOrganization.name }})</mat-option>
          </div>
        </mat-select>
      </mat-form-field>

      <h4>{{ 'branches.short_name' | translate }}:</h4>
      <mat-form-field appearance="fill" class="medium">
        <mat-label>{{ 'branches.short_name' | translate }}</mat-label>
        <input matInput type="text" formControlName="short_name" [placeholder]="'branches.short_name_placeholder' | translate">
      </mat-form-field>

      <h4>{{ 'branches.name' | translate }}:</h4>
      <mat-form-field appearance="fill" class="large">
        <mat-label>{{ 'branches.name' | translate }}</mat-label>
        <input matInput type="text" formControlName="name" [placeholder]="'branches.name_placeholder' | translate">
      </mat-form-field>

      <h4>{{ 'branches.oid' | translate }}:</h4>
      <mat-form-field appearance="fill" class="large">
        <mat-label>{{ 'branches.oid' | translate }}</mat-label>
        <input matInput icNumbersWD type="text" formControlName="OID" [placeholder]="'branches.oid_placeholder' | translate">
      </mat-form-field>

      <h4>{{ 'branches.country' | translate }}:</h4>
      <mat-form-field appearance="fill" class="medium">
        <mat-label>{{ 'branches.country' | translate }}</mat-label>
        <mat-select formControlName="country_code">
          <div *ngFor="let currentCode of getKeys(country_codes, true)">
            <mat-option value="{{ currentCode }}"><span class="flag-icon flag-icon-{{ country_codes[currentCode].alpha_2 | lowercase }}"></span>&nbsp;&nbsp;&nbsp;{{ country_codes[currentCode].name }}</mat-option>
          </div>
        </mat-select>
      </mat-form-field>

      <h4>{{ 'branches.structure_id' | translate }}:</h4>
      <mat-form-field appearance="fill" class="large">
        <mat-label>{{ 'branches.structure_id' | translate }}</mat-label>
        <input matInput icNumbers type="text" formControlName="structure_id" [placeholder]="'branches.structure_id_placeholder' | translate">
      </mat-form-field>

      <h4>{{ 'branches.suffix' | translate }}:</h4>
      <mat-form-field appearance="fill" class="large">
        <mat-label>{{ 'branches.suffix' | translate }}</mat-label>
        <input matInput icNumbersWD type="text" formControlName="suffix" [placeholder]="'branches.suffix_placeholder' | translate">
      </mat-form-field>

      <br/><br/>
    </div> <!-- end fxLayout wrapper -->

    <div class="input-wrapper"> <!-- start fxLayout wrapper -->
      <h4>{{ 'branches.appointment_footer' | translate }} <span class="label-info">{{ 'branches.appointment_footer_min_max' | translate }}</span>:</h4>
      <ckeditor formControlName="appointment_footer" #appointmentFooter [editor]="appointmentFooterEditor" [config]="sharedProp.mainSettings.CKEditorConfig" data=""></ckeditor>

      <br/><hr class="dashed" /><br/>

      <div *ngIf="selectedLogoController; then thenBlockLogo else elseBlockLogo"></div>

      <ng-template #thenBlockLogo>
        <button mat-flat-button type="button" class="logo-button">
          <mat-icon>image</mat-icon> {{ 'branches.branch_logo' | translate }} <mat-icon *ngIf="form_action == 'update' && selectedFile === null" [matTooltip]="'branches.delete_logo' | translate" class="delete-logo" (click)="onDeleteFileRef('base64_logo')">close</mat-icon>
        </button>
        
      </ng-template>

      <ng-template #elseBlockLogo>
        <input type="file" (change)="onFileSelected($event)" #fileInput style="display: none" />
        <button mat-flat-button type="button" color="accent" (click)="fileInput.click()">
        <mat-icon>add_photo_alternate</mat-icon> {{ 'branches.select_branch_logo' | translate }}</button>
      </ng-template>

      <div class="clear"></div><br/><hr class="dashed" /><br/>

      <h4>{{ 'branches.status' | translate }}:</h4>
      <mat-radio-group [attr.aria-label]="'branches.status' | translate" color="primary" formControlName="status">
        <mat-radio-button value="true">{{ 'branches.active' | translate }}</mat-radio-button>
        <mat-radio-button value="false">{{ 'branches.inactive' | translate }}</mat-radio-button>
      </mat-radio-group>

    </div> <!-- end fxLayout wrapper -->

  </div>

  <div class="action-wrapper"fxLayout="row" fxLayoutAlign="end center">
    <div> <!-- start fxLayout wrapper -->
      <button mat-flat-button type="button" (click)="onCancel();">{{ 'branches.cancel' | translate }}</button>
      <button mat-flat-button type="submit" color="primary">{{ 'branches.save' | translate }}</button> <!-- [disabled]="form_data.invalid" -->
    </div> <!-- end fxLayout wrapper -->
  </div>
</form>
