<form class="form-element" [formGroup]="form" (ngSubmit)="onSubmit()">
  <div fxLayout="row" fxLayoutAlign="start start">

    <div class="input-wrapper divider"> <!-- start fxLayout wrapper -->
      <h4>{{ 'BRANCHES.FORM.ORGANIZATION_H4' | i18n }}</h4>
      <mat-form-field appearance="fill" class="large">
        <mat-label>{{ 'BRANCHES.FORM.ORGANIZATION_LABEL' | i18n }}</mat-label>
        <mat-select formControlName="fk_organization" placeholder="{{ 'BRANCHES.FORM.ORGANIZATION_PLACEHOLDER' | i18n }}">
          <div *ngFor="let currentOrganization of availableOrganizations">
            <mat-option value="{{ currentOrganization._id }}">{{ currentOrganization.short_name }} ({{ currentOrganization.name }})</mat-option>
          </div>
        </mat-select>
      </mat-form-field>

      <h4>{{ 'BRANCHES.FORM.SHORT_NAME_H4' | i18n }}</h4>
      <mat-form-field appearance="fill" class="medium">
        <mat-label>{{ 'BRANCHES.FORM.SHORT_NAME_LABEL' | i18n }}</mat-label>
        <input matInput type="text" formControlName="short_name" placeholder="{{ 'BRANCHES.FORM.SHORT_NAME_PLACEHOLDER' | i18n }}">
      </mat-form-field>

      <h4>{{ 'BRANCHES.FORM.NAME_H4' | i18n }}</h4>
      <mat-form-field appearance="fill" class="large">
        <mat-label>{{ 'BRANCHES.FORM.NAME_LABEL' | i18n }}</mat-label>
        <input matInput type="text" formControlName="name" placeholder="{{ 'BRANCHES.FORM.NAME_PLACEHOLDER' | i18n }}">
      </mat-form-field>

      <h4>{{ 'BRANCHES.FORM.OID_H4' | i18n }}</h4>
      <mat-form-field appearance="fill" class="large">
        <mat-label>{{ 'BRANCHES.FORM.OID_LABEL' | i18n }}</mat-label>
        <input matInput icNumbersWD type="text" formControlName="OID" placeholder="{{ 'BRANCHES.FORM.OID_PLACEHOLDER' | i18n }}">
      </mat-form-field>

      <h4>{{ 'BRANCHES.FORM.COUNTRY_H4' | i18n }}</h4>
      <mat-form-field appearance="fill" class="medium">
        <mat-label>{{ 'BRANCHES.FORM.COUNTRY_LABEL' | i18n }}</mat-label>
        <mat-select formControlName="country_code">
          <div *ngFor="let currentCode of getKeys(country_codes, true)">
            <mat-option value="{{ currentCode }}"><span class="flag-icon flag-icon-{{ country_codes[currentCode].alpha_2 | lowercase }}"></span>&nbsp;&nbsp;&nbsp;{{ country_codes[currentCode].name }}</mat-option>
          </div>
        </mat-select>
      </mat-form-field>

      <h4>{{ 'BRANCHES.FORM.STRUCTURE_ID_H4' | i18n }}</h4>
      <mat-form-field appearance="fill" class="large">
        <mat-label>{{ 'BRANCHES.FORM.STRUCTURE_ID_LABEL' | i18n }}</mat-label>
        <input matInput icNumbers type="text" formControlName="structure_id" placeholder="{{ 'BRANCHES.FORM.STRUCTURE_ID_PLACEHOLDER' | i18n }}">
      </mat-form-field>

      <h4>{{ 'BRANCHES.FORM.SUFFIX_H4' | i18n }}</h4>
      <mat-form-field appearance="fill" class="large">
        <mat-label>{{ 'BRANCHES.FORM.SUFFIX_LABEL' | i18n }}</mat-label>
        <input matInput icNumbersWD type="text" formControlName="suffix" placeholder="{{ 'BRANCHES.FORM.SUFFIX_PLACEHOLDER' | i18n }}">
      </mat-form-field>

      <br/><br/>
    </div> <!-- end fxLayout wrapper -->

    <div class="input-wrapper"> <!-- start fxLayout wrapper -->
      <h4>{{ 'BRANCHES.FORM.APPOINTMENT_FOOTER_H4' | i18n }} <span class="label-info">min: 10, max: 3000</span>:</h4>
      <ckeditor formControlName="appointment_footer" #appointmentFooter [editor]="appointmentFooterEditor" [config]="sharedProp.mainSettings.CKEditorConfig" data=""></ckeditor>

      <br/><hr class="dashed" /><br/>

      <div *ngIf="selectedLogoController; then thenBlockLogo else elseBlockLogo"></div>

      <ng-template #thenBlockLogo>
        <button mat-flat-button type="button" class="logo-button">
          <mat-icon>image</mat-icon> {{ 'BRANCHES.FORM.BRANCH_LOGO_BUTTON' | i18n }} <mat-icon *ngIf="form_action == 'update' && selectedFile === null" matTooltip="{{ 'BRANCHES.FORM.DELETE_ORGANIZATION_LOGO_TOOLTIP' | i18n }}" class="delete-logo" (click)="onDeleteFileRef('base64_logo')">close</mat-icon>
        </button>
        
      </ng-template>

      <ng-template #elseBlockLogo>
        <input type="file" (change)="onFileSelected($event)" #fileInput style="display: none" />
        <button mat-flat-button type="button" color="accent" (click)="fileInput.click()">
        <mat-icon>add_photo_alternate</mat-icon> {{ 'BRANCHES.FORM.SELECT_BRANCH_LOGO_BUTTON' | i18n }}</button>
      </ng-template>

      <div class="clear"></div><br/><hr class="dashed" /><br/>

      <h4>{{ 'BRANCHES.FORM.STATUS_H4' | i18n }}</h4>
      <mat-radio-group color="primary" formControlName="status">
        <mat-radio-button value="true">{{ 'BRANCHES.FORM.STATUS_ACTIVE' | i18n }}</mat-radio-button>
        <mat-radio-button value="false">{{ 'BRANCHES.FORM.STATUS_INACTIVE' | i18n }}</mat-radio-button>
      </mat-radio-group>

    </div> <!-- end fxLayout wrapper -->

  </div>

  <div class="action-wrapper"fxLayout="row" fxLayoutAlign="end center">
    <div> <!-- start fxLayout wrapper -->
      <button mat-flat-button type="button" (click)="onCancel();">{{ 'BRANCHES.FORM.CANCEL_BUTTON' | i18n }}</button>
      <button mat-flat-button type="submit" color="primary">{{ 'BRANCHES.FORM.SAVE_BUTTON' | i18n }}</button> <!-- [disabled]="form_data.invalid" -->
    </div> <!-- end fxLayout wrapper -->
  </div>
</form>
