<form class="form-element" [formGroup]="form" (ngSubmit)="onSubmit()">

  <mat-tab-group>

    <!-- PEOPLE TAB: ---------------------------------------------------------------------------------------------------------------- -->
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="tab-icon">person</mat-icon>
        Persona &nbsp;
        <span *ngIf="personOperation">
          <div [ngSwitch]="personOperation">
            <mat-icon *ngSwitchCase="'insert'" matTooltip="Insersión de nuevo registro" class="label-alt label-tab">add</mat-icon>
            <mat-icon *ngSwitchCase="'update'" matTooltip="Actualización de registro existente" class="label-info label-tab">edit</mat-icon>
          </div>
        </span>
        <mat-icon *ngIf="personTabErrors" class="validate-error-tab" matTooltip="Existen errores de validación bajo esta pestaña">priority_high</mat-icon>
      </ng-template>

      <div formGroupName="person">
        <h2 class="form-title text-center underline-fail-alt">
          Datos de la persona:
          <mat-icon class="label-light label-tab anonymize-button" (click)="anonymizeUser()" matTooltip="Anonimizar usuario">person_off</mat-icon>
        </h2>
        
        <div fxLayout="row" fxLayoutAlign="start start">
          <div class="input-wrapper divider"> <!-- start fxLayout wrapper -->
            <div class="documents">
              <h4>Documentos:</h4>
              <mat-form-field appearance="fill" class="medium document_inputs">
                <mat-label>País del documento</mat-label>
                <mat-select formControlName="doc_country_code" (selectionChange)="onSetDocument(true)">
                  <div *ngFor="let currentCode of getKeys(country_codes, true)">
                    <mat-option value="{{ currentCode }}"><span class="flag-icon flag-icon-{{ country_codes[currentCode].alpha_2 | lowercase }}"></span>&nbsp;&nbsp;&nbsp;{{ country_codes[currentCode].name }}</mat-option>
                  </div>
                </mat-select>
              </mat-form-field>

              <br/>

              <mat-form-field appearance="fill" class="medium document_inputs">
                <mat-label>Tipo de documento</mat-label>
                <mat-select formControlName="doc_type" (selectionChange)="onSetDocument(true)">
                  <div *ngFor="let currentDocType of document_types | keyvalue: unsorted">
                    <mat-option value="{{ currentDocType.key }}">{{ currentDocType.value }}</mat-option>
                  </div>
                </mat-select>
              </mat-form-field>

              <br/>

              <mat-form-field appearance="fill" class="medium document_inputs">
                <mat-label>Documento</mat-label>
                <input matInput type="text" formControlName="document" placeholder="Ingrese el documento" (blur)="onSetDocument()" (keyup)="validateDocument()">
              </mat-form-field>
            </div>


            <div *ngIf="getKeys(documents).length > 0" class="documents-info text-right">
              <small>Documento/s persona:</small><br/>
              <span *ngFor="let currentDoc of documents" >
                <span matTooltip="{{ country_codes[currentDoc.doc_country_code].name }}" class="flag-icon flag-icon-{{ country_codes[currentDoc.doc_country_code].alpha_2 | lowercase }}"></span>&nbsp;
                <span matTooltip="{{ document_types[currentDoc.doc_type] }}">
                  <span>{{ currentDoc.document }}</span>
                </span>
                <br/>
              </span>
            </div>

            <div *ngIf="this.registered_doc_type === true" class="validate-info text-right">
              <div *ngIf="this.validation_result; then thenBlock else elseBlock"></div>
              <ng-template #thenBlock><span class="label-accent" matTooltip="El documento ingresado cumple con la validación.">Validación de documento: <mat-icon class="validate-icon color-ok">done</mat-icon></span></ng-template>
              <ng-template #elseBlock><span class="label-accent" matTooltip="El documento ingresado NO cumple con la validación.">Validación de documento: <mat-icon class="validate-icon color-fail">clear</mat-icon></span></ng-template>
            </div>

            <div class="clear"></div>

            <hr class="dashed" /><br/>

            <h4>Nombres:</h4>
            <mat-form-field appearance="fill" class="medium">
              <mat-label>Primer nombre</mat-label>
              <input matInput icSpecialCharsWS type="text" formControlName="name_01" placeholder="Ingrese el primer nombre">
            </mat-form-field>

            <mat-form-field appearance="fill" class="medium">
              <mat-label>Segundo nombre</mat-label>
              <input matInput icSpecialCharsWS type="text" formControlName="name_02" placeholder="Ingrese el segundo nombre">
            </mat-form-field>

            <br/>

            <h4>Apellidos:</h4>
            <mat-form-field appearance="fill" class="medium">
              <mat-label>Primer apellido</mat-label>
              <input matInput icSpecialCharsWS type="text" formControlName="surname_01" placeholder="Ingrese el primer apellido">
            </mat-form-field>

            <mat-form-field appearance="fill" class="medium">
              <mat-label>Segundo apellido</mat-label>
              <input matInput icSpecialCharsWS type="text" formControlName="surname_02" placeholder="Ingrese el segundo apellido">
            </mat-form-field>

            <hr class="dashed" /><br/>

            <h4>Género:</h4>
            <mat-radio-group aria-label="Género" color="primary" formControlName="gender">
              <mat-radio-button [class.validate-error]="genderCheckErrors === true" (change)="genderCheckErrors = false" *ngFor="let currentGender of genderTypes | keyvalue;" value="{{ currentGender.key }}">{{ currentGender.value }}</mat-radio-button>
            </mat-radio-group>

            <br/><br/>

          </div> <!-- end fxLayout wrapper -->

          <div class="input-wrapper"> <!-- start fxLayout wrapper -->

            <h4>Fecha de nacimiento:</h4>
            <mat-form-field appearance="fill" class="medium" (click)="picker.open()">
              <mat-label>Seleccione fecha</mat-label>
              <input matInput [matDatepicker]="picker" formControlName="birth_date" (keydown)="false">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
              <mat-hint align="end">Click para selecionar una fecha ^</mat-hint>
            </mat-form-field>

            <br/><br/><hr class="dashed" /><br/>

            <h4>Teléfono de contacto:</h4>
            <mat-form-field appearance="fill" class="large">
              <mat-label>Número de teléfono</mat-label>
              <input matInput icNumbers type="text" formControlName="phone_numbers[0]" placeholder="Ingrese el número de teléfono">
              <mat-icon matSuffix>phone</mat-icon>
              <mat-hint align="start">Escriba la característica regional en caso de ser necesario</mat-hint>
            </mat-form-field>

            <br/><br/>

            <h4>Contacto alternativo:</h4>
            <mat-form-field appearance="fill" class="large">
              <mat-label>Número de teléfono</mat-label>
              <input matInput icNumbers type="text" formControlName="phone_numbers[1]" placeholder="Ingrese el número de teléfono alternativo">
              <mat-icon matSuffix>phone</mat-icon>
              <mat-hint align="start">Escriba la característica regional en caso de ser necesario</mat-hint>
            </mat-form-field>

          </div> <!-- end fxLayout wrapper -->
        </div>
      </div>
    </mat-tab>
    <!-- PEOPLE TAB: ---------------------------------------------------------------------------------------------------------------- -->


    <!-- USER TAB: ------------------------------------------------------------------------------------------------------------------ -->
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="tab-icon">account_circle</mat-icon>
        Usuario &nbsp;
        <span *ngIf="userOperation">
          <div [ngSwitch]="userOperation">
            <mat-icon *ngSwitchCase="'insert'" matTooltip="Insersión de nuevo registro" class="label-alt label-tab">add</mat-icon>
            <mat-icon *ngSwitchCase="'update'" matTooltip="Actualización de registro existente" class="label-info label-tab">edit</mat-icon>
          </div>
        </span>
        <mat-icon *ngIf="userTabErrors" class="validate-error-tab" matTooltip="Existen errores de validación bajo esta pestaña">priority_high</mat-icon>
      </ng-template>

      <div formGroupName="user">
        <h2 class="form-title text-center underline-fail-alt">Datos del usuario:</h2>
        <div fxLayout="row" fxLayoutAlign="start start">
          <div class="input-wrapper divider"> <!-- start fxLayout wrapper -->

            <h4>Correo electrónico:</h4>
            <mat-form-field appearance="fill" class="large">
              <mat-label>E-mail</mat-label>
              <input matInput type="text" id="IDtxtEmail" formControlName="email" placeholder="Ej: nombre@casilla.com" (change)="onSetEmail()">
              <mat-icon matSuffix (click)="setDefaultEmail()" matTooltip="Establecer correo por defecto">mail</mat-icon>
            </mat-form-field>

            <hr class="dashed" /><br/>

            <h4>Clave del usuario <span *ngIf="userOperation == 'update'" class="label-info">Vacío sino desea modificar</span>:</h4>

            <mat-form-field appearance="fill" class="large">
              <mat-label>Contraseña</mat-label>
              <input matInput type="password" formControlName="password" placeholder="Ingrese contraseña, mínimo 8 caracteres">
              <mat-hint align="start">Largo mínimo: 8 caracteres</mat-hint>
            </mat-form-field>

            <br/><br/>

            <mat-form-field appearance="fill" class="large">
              <mat-label>Reitere la contraseña</mat-label>
              <input matInput type="password" formControlName="password_repeat" placeholder="Reitere la contraseña">
            </mat-form-field>

            <hr class="dashed" /><br/>

            <h4>Estado:</h4>
            <mat-radio-group aria-label="Estado" color="primary" formControlName="status">
              <mat-radio-button value="true">Activo</mat-radio-button>
              <mat-radio-button value="false">Inactivo</mat-radio-button>
            </mat-radio-group>

            <br/><br/>

          </div> <!-- end fxLayout wrapper -->

          <div class="input-wrapper"> <!-- start fxLayout wrapper -->

            <h4>Datos del profesional:</h4>
            <mat-form-field appearance="fill" class="medium">
              <mat-label>Nº de profesional</mat-label>
              <input matInput type="text" formControlName="professional[id]" placeholder="Ingrese el número de profesional">
            </mat-form-field>

            <br/>

            <mat-form-field appearance="fill" class="large">
              <mat-label>Descripción</mat-label>
              <input matInput type="text" formControlName="professional[description]" placeholder="Ingrese una descripción del profesional">
            </mat-form-field>

            <hr class="dashed" /><br/>

            <h4>Carga horaria <span class="label-info">Semanal en horas</span>:</h4>
            <mat-form-field appearance="fill">
              <mat-label>Carga horaria</mat-label>
              <input matInput icNumbers type="text" formControlName="professional[workload]" placeholder="Ingrese carga horaria del profesional">
            </mat-form-field>

            <hr class="dashed" /><br/>

            <h4>Se encuentra de licencia:</h4>
            <mat-radio-group aria-label="Licencia" color="primary" formControlName="professional[vacation]">
              <mat-radio-button value="true">Si</mat-radio-button>
              <mat-radio-button value="false">No</mat-radio-button>
            </mat-radio-group>

            <br><br/>

          </div> <!-- end fxLayout wrapper -->

        </div>
      </div>
    </mat-tab>
    <!-- USER TAB: ------------------------------------------------------------------------------------------------------------------ -->


    <!-- PERMISSIONS TAB: ----------------------------------------------------------------------------------------------------------- -->
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="tab-icon">admin_panel_settings</mat-icon>
        Permisos &nbsp;
        <span *ngIf="userOperation">
          <div [ngSwitch]="userOperation">
            <mat-icon *ngSwitchCase="'insert'" matTooltip="Insersión de nuevo registro" class="label-alt label-tab">add</mat-icon>
            <mat-icon *ngSwitchCase="'update'" matTooltip="Actualización de registro existente" class="label-info label-tab">edit</mat-icon>
          </div>
        </span>
        <mat-icon *ngIf="permissionTabErrors" class="validate-error-tab" matTooltip="Existen errores de validación bajo esta pestaña">priority_high</mat-icon>
      </ng-template>

      <!-- 1: Superusuario, 2: Administrador -->
      <!-- Only superusers and administrators can set permissions -->
      <div class="permission-denied" [class.non-display]="sharedProp.userLogged.permissions[0].role == 1 || sharedProp.userLogged.permissions[0].role == 2">
        <mat-icon>gpp_maybe</mat-icon><br/><br/>
        Solo los administradores del sistema pueden establecer los permisos de los usuarios.<br/>
        Si necesita realizar cambios de accesos, por favor comuníquese con su administrador.
      </div>

      <span [class.non-display]="sharedProp.userLogged.permissions[0].role !== 1 && sharedProp.userLogged.permissions[0].role !== 2">
        <h2 class="form-title text-center underline-fail-alt">Permisos del usuario:</h2>
        <div fxLayout="row" fxLayoutAlign="start start">
          <div class="input-wrapper divider"> <!-- start fxLayout wrapper -->

            <h4>Rol:</h4>
            <mat-form-field appearance="fill" class="medium">
              <mat-label>Rol</mat-label>
              <mat-select formControlName="role" (selectionChange)="userService.onSetRole($event, form)">
                <div *ngFor="let currentRole of userRoles | keyvalue">
                  <div *ngIf="currentRole.key == 1; then thenBlockRole else elseBlockRole"></div>
                  <ng-template #thenBlockRole>
                    <!--Only superuser can add Superuser role -->
                    <mat-option *ngIf="sharedProp.userLogged.permissions[0].role == 1" value="{{ currentRole.key }}">{{ currentRole.value }}</mat-option>
                  </ng-template>

                  <ng-template #elseBlockRole>
                    <mat-option value="{{ currentRole.key }}">{{ currentRole.value }}</mat-option>
                  </ng-template>
                </div>
              </mat-select>
            </mat-form-field>

            <br/><hr class="dashed" /><br/>

            <h4>Tipo de dominio:</h4>
            <mat-radio-group aria-label="Tipo de dominio" color="primary" formControlName="domain_type">
              <mat-radio-button value ="organization" [disabled]="userService.disableRadioOrganization">Organización</mat-radio-button>
              <mat-radio-button value ="branch" [disabled]="userService.disableRadioBranch">Sucursal</mat-radio-button>
              <mat-radio-button value ="service" [disabled]="userService.disableRadioService">Servicio</mat-radio-button>
            </mat-radio-group>

            <br/><br/>

            <div [ngSwitch]="form.value.domain_type">
              <!--ORGANIZATION-->
              <span *ngSwitchCase="'organization'">
                <h4>Dominio:</h4>
                <mat-form-field appearance="fill" class="large">
                  <mat-label>Dominio</mat-label>
                  <mat-select formControlName="domain" placeholder="Seleccione el dominio">
                    <div *ngFor="let currentOrganization of availableOrganizations">
                      <mat-option value="{{ currentOrganization._id }}">{{ currentOrganization.short_name }} ({{ currentOrganization.name }})</mat-option>
                    </div>
                  </mat-select>
                </mat-form-field>
              </span>

              <!--BRANCH-->
              <span *ngSwitchCase="'branch'">
                <h4>Dominio:</h4>
                <mat-form-field appearance="fill" class="large">
                  <mat-label>Dominio</mat-label>
                  <mat-select formControlName="domain" placeholder="Seleccione el dominio">
                    <div *ngFor="let currentBranch of availableBranches">
                      <div *ngFor="let currentOrganization of availableOrganizations">
                        <mat-option *ngIf="currentBranch.fk_organization == currentOrganization._id" value="{{ currentBranch._id }}">{{ currentOrganization.short_name }} ► {{ currentBranch.short_name }} ({{ currentBranch.name }})</mat-option>
                      </div>
                    </div>
                  </mat-select>
                </mat-form-field>
              </span>

              <!--SERVICE-->
              <span *ngSwitchCase="'service'">
                <h4>Dominio:</h4>
                <mat-form-field appearance="fill" class="large">
                  <mat-label>Dominio</mat-label>
                  <mat-select formControlName="domain" placeholder="Seleccione el dominio">
                    <div *ngFor="let currentService of availableServices">
                      <div *ngFor="let currentBranch of availableBranches">
                        <div *ngFor="let currentOrganization of availableOrganizations">
                          <mat-option *ngIf="currentBranch.fk_organization == currentOrganization._id && currentService.fk_branch == currentBranch._id" value="{{ currentService._id }}">{{ currentOrganization.short_name }} ► {{ currentBranch.short_name }} ► {{ currentService.name }}</mat-option>
                        </div>
                      </div>
                    </div>
                  </mat-select>
                </mat-form-field>
              </span>
            </div>

            <hr class="dashed" /><br/>

            <h4>Concesiones particulares:</h4>
            <div fxLayout="row" fxLayoutAlign="start start" class="item-container" formArrayName="concessions">
              <div class="input-wrapper"> <!-- start fxLayout wrapper -->
                <ng-container *ngFor="let currentConcessions of userConcessions | keyvalue: unsorted; ; let i = index;">
                  <span *ngIf="i + 1 <= getMath.ceil(getKeys(userConcessions).length / 2)">
                    <mat-checkbox color="primary" (change)="onCheckConcession($event, currentConcessions.key)">{{ currentConcessions.value }}</mat-checkbox><br/>
                  </span>
                </ng-container>
              </div> <!-- end fxLayout wrapper -->

              <div class="input-wrapper"> <!-- start fxLayout wrapper -->
                <ng-container *ngFor="let currentConcessions of userConcessions | keyvalue: unsorted; ; let i = index;">
                  <span *ngIf="i + 1 > getMath.ceil(getKeys(userConcessions).length / 2)">
                    <mat-checkbox color="primary" (change)="onCheckConcession($event, currentConcessions.key)">{{ currentConcessions.value }}</mat-checkbox><br/>
                  </span>
                </ng-container>
              </div> <!-- end fxLayout wrapper -->
            </div>

            <br/><hr class="dashed" /><br/>

            <div class="text-right">
              <button mat-flat-button type="button" color="accent" (click)="userService.addPermission(form, permissions, selectedConcession)"><mat-icon>add</mat-icon> AÑADIR PERMISO</button>
            </div>

            <br/>
          </div> <!-- end fxLayout wrapper -->


          <div class="input-wrapper"> <!-- start fxLayout wrapper -->
            <div *ngIf="getKeys(permissions).length > 0; then thenBlockPermissions else elseBlockPermissions"></div>

            <ng-template #thenBlockPermissions>
              <h4>Permisos asignados al usuario:</h4>

              <div  class="permission-container">
                <ng-container *ngFor="let currentPermission of permissions; let permissionIndex = index;">

                    <!--ORGANIZATION DOMAIN-->
                    <span *ngIf="currentPermission.organization">
                      <div *ngFor="let currentOrganization of availableOrganizations">
                        <div *ngIf="currentOrganization._id == currentPermission.organization" class="permission-table">
                          <div class="permission-header">
                            <div class="permission-title">{{ userRoles[currentPermission.role] }}</div>
                            <div class="permission-button"><mat-icon matTooltip="Quitar éste permiso" (click)="userService.removePermission(permissionIndex, permissions)">close</mat-icon></div>
                            <div class="clear"></div>
                          </div>
                          <div><strong>Organización:</strong> {{ currentOrganization.short_name }} ({{ currentOrganization.name }})</div>
                          <div><strong>Conceciones: </strong>
                            <div *ngIf="currentPermission.concession && currentPermission.concession.length > 0 then thenBlockConcession else elseBlockConcession"></div>

                            <ng-template #thenBlockConcession>
                              <ng-container *ngFor="let currentConcession of currentPermission.concession;">
                                {{ userConcessions[currentConcession] + ', ' }}
                              </ng-container>
                            </ng-template>

                            <ng-template #elseBlockConcession>Sin concesiones.</ng-template>
                          </div>
                        </div>
                      </div>
                    </span>

                    <!--BRANCH DOMAIN-->
                    <span *ngIf="currentPermission.branch">
                      <div *ngFor="let currentBranch of availableBranches">
                        <div *ngFor="let currentOrganization of availableOrganizations">
                          <div *ngIf="currentBranch.fk_organization == currentOrganization._id && currentBranch._id == currentPermission['branch']" class="permission-table">
                            <div class="permission-header">
                              <div class="permission-title">{{ userRoles[currentPermission.role] }}</div>
                              <div class="permission-button"><mat-icon matTooltip="Quitar éste permiso" (click)="userService.removePermission(permissionIndex, permissions)">close</mat-icon></div>
                              <div class="clear"></div>
                            </div>
                            <div><strong>Sucursal:</strong> {{ currentOrganization.short_name }} ► {{ currentBranch.short_name }} ({{ currentBranch.name }})</div>
                            <div><strong>Conceciones: </strong>
                              <div *ngIf="currentPermission.concession && currentPermission.concession.length > 0; then thenBlockConcession else elseBlockConcession"></div>

                              <ng-template #thenBlockConcession>
                                <ng-container *ngFor="let currentConcession of currentPermission.concession;">
                                  {{ userConcessions[currentConcession] + ', ' }}
                                </ng-container>
                              </ng-template>

                              <ng-template #elseBlockConcession>Sin concesiones.</ng-template>
                            </div>
                          </div>
                        </div>
                      </div>
                    </span>

                    <!--SERVICE DOMAIN-->
                    <span *ngIf="currentPermission.service">
                      <div *ngFor="let currentService of availableServices">
                        <div *ngFor="let currentBranch of availableBranches">
                          <div *ngFor="let currentOrganization of availableOrganizations">
                            <div *ngIf="currentBranch.fk_organization == currentOrganization._id && currentService.fk_branch == currentBranch._id && currentService._id == currentPermission['service']" class="permission-table">
                              <div class="permission-header">
                                <div class="permission-title">{{ userRoles[currentPermission.role] }}</div>
                                <div class="permission-button"><mat-icon matTooltip="Quitar éste permiso" (click)="userService.removePermission(permissionIndex, permissions)">close</mat-icon></div>
                                <div class="clear"></div>
                              </div>
                              <div><strong>Servicio:</strong> {{ currentOrganization.short_name }} ► {{ currentBranch.short_name }} ► {{ currentService.name }}</div>
                              <div><strong>Conceciones: </strong>
                                <div *ngIf="currentPermission.concession && currentPermission.concession.length > 0; then thenBlockConcession else elseBlockConcession"></div>

                                <ng-template #thenBlockConcession>
                                  <ng-container *ngFor="let currentConcession of currentPermission.concession;">
                                    {{ userConcessions[currentConcession] + ', ' }}
                                  </ng-container>
                                </ng-template>

                                <ng-template #elseBlockConcession>Sin concesiones.</ng-template>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </span>
                </ng-container>
              </div>
            </ng-template>

            <ng-template #elseBlockPermissions>
              <br/><span class="label-accent">El usuario no posee permisos asignados</span>
            </ng-template>

            <br/><br/>

            <div class="permission-card">
              <mat-icon>info</mat-icon>&nbsp;
              <span>Para que se apliquen los cambios realizados sobre los permisos es necesario guardar el formulario.</span>
            </div>

          </div> <!-- end fxLayout wrapper -->
        </div>
      </span>
    </mat-tab>
    <!-- PERMISSIONS TAB: ----------------------------------------------------------------------------------------------------------- -->

  </mat-tab-group>

  <div class="action-wrapper"fxLayout="row" fxLayoutAlign="end center">
    <div> <!-- start fxLayout wrapper -->
      <button mat-flat-button type="button" (click)="onCancel();">CANCELAR</button>
      <button mat-flat-button type="submit" color="primary" [disabled]="disabled_save_button">GUARDAR</button>
    </div> <!-- end fxLayout wrapper -->
  </div>
</form>
