<form class="form-element" [formGroup]="form" (ngSubmit)="onSubmit()">

  <mat-tab-group>

    <!-- PEOPLE TAB: ---------------------------------------------------------------------------------------------------------------- -->
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="tab-icon">person</mat-icon>
        {{ 'USERS.FORM.PERSON_TAB.TITLE' | i18n }} &nbsp;
        <span *ngIf="personOperation">
          <div [ngSwitch]="personOperation">
            <mat-icon *ngSwitchCase="'insert'" matTooltip="{{ 'USERS.FORM.PERSON_TAB.INSERT_TOOLTIP' | i18n }}" class="label-alt label-tab">add</mat-icon>
            <mat-icon *ngSwitchCase="'update'" matTooltip="{{ 'USERS.FORM.PERSON_TAB.UPDATE_TOOLTIP' | i18n }}" class="label-info label-tab">edit</mat-icon>
          </div>
        </span>
        <mat-icon *ngIf="personTabErrors" class="validate-error-tab" matTooltip="{{ 'USERS.FORM.PERSON_TAB.VALIDATION_ERROR_TOOLTIP' | i18n }}">priority_high</mat-icon>
      </ng-template>

      <div formGroupName="person">
        <h2 class="form-title text-center underline-fail-alt">
          {{ 'USERS.FORM.PERSON_TAB.SUBTITLE' | i18n }}
          <mat-icon class="label-light label-tab anonymize-button" (click)="anonymizeUser()" matTooltip="{{ 'USERS.FORM.PERSON_TAB.ANONYMIZE_TOOLTIP' | i18n }}">person_off</mat-icon>
        </h2>
        
        <div fxLayout="row" fxLayoutAlign="start start">
          <div class="input-wrapper divider"> <!-- start fxLayout wrapper -->
            <div class="documents">
              <h4>{{ 'USERS.FORM.PERSON_TAB.DOCUMENTS_TITLE' | i18n }}</h4>
              <mat-form-field appearance="fill" class="medium document_inputs">
                <mat-label>{{ 'USERS.FORM.PERSON_TAB.DOC_COUNTRY_PLACEHOLDER' | i18n }}</mat-label>
                <mat-select formControlName="doc_country_code" (selectionChange)="onSetDocument(true)">
                  <div *ngFor="let currentCode of getKeys(country_codes, true)">
                    <mat-option value="{{ currentCode }}"><span class="flag-icon flag-icon-{{ country_codes[currentCode].alpha_2 | lowercase }}"></span>&nbsp;&nbsp;&nbsp;{{ country_codes[currentCode].name }}</mat-option>
                  </div>
                </mat-select>
              </mat-form-field>

              <br/>

              <mat-form-field appearance="fill" class="medium document_inputs">
                <mat-label>{{ 'USERS.FORM.PERSON_TAB.DOC_TYPE_PLACEHOLDER' | i18n }}</mat-label>
                <mat-select formControlName="doc_type" (selectionChange)="onSetDocument(true)">
                  <div *ngFor="let currentDocType of document_types | keyvalue: unsorted">
                    <mat-option value="{{ currentDocType.key }}">{{ currentDocType.value }}</mat-option>
                  </div>
                </mat-select>
              </mat-form-field>

              <br/>

              <mat-form-field appearance="fill" class="medium document_inputs">
                <mat-label>{{ 'USERS.FORM.PERSON_TAB.DOCUMENT_PLACEHOLDER' | i18n }}</mat-label>
                <input matInput type="text" formControlName="document" placeholder="{{ 'USERS.FORM.PERSON_TAB.DOCUMENT_INPUT' | i18n }}" (blur)="onSetDocument()" (keyup)="validateDocument()">
              </mat-form-field>
            </div>


            <div *ngIf="getKeys(documents).length > 0" class="documents-info text-right">
              <small>{{ 'USERS.FORM.PERSON_TAB.PERSON_DOCUMENTS' | i18n }}</small><br/>
              <span *ngFor="let currentDoc of documents" >
                <span matTooltip="{{ country_codes[currentDoc.doc_country_code].name }}" class="flag-icon flag-icon-{{ country_codes[currentDoc.doc_country_code].alpha_2 | lowercase }}"></span>&nbsp;
                <span matTooltip="{{ document_types[currentDoc.doc_type] }}">
                  <span>{{ currentDoc.document }}</span>
                </span>
                <br/>
              </span>
            </div>

            <div *ngIf="this.registered_doc_type === true" class="validate-info text-right">
              <div *ngIf="this.validation_result; then thenBlock else elseBlock"></div>
              <ng-template #thenBlock><span class="label-accent" matTooltip="{{ 'USERS.FORM.PERSON_TAB.DOCUMENT_VALIDATION_OK' | i18n }}">{{ 'USERS.FORM.PERSON_TAB.DOCUMENT_VALIDATION' | i18n }}<mat-icon class="validate-icon color-ok">done</mat-icon></span></ng-template>
              <ng-template #elseBlock><span class="label-accent" matTooltip="{{ 'USERS.FORM.PERSON_TAB.DOCUMENT_VALIDATION_FAIL' | i18n }}">{{ 'USERS.FORM.PERSON_TAB.DOCUMENT_VALIDATION' | i18n }}<mat-icon class="validate-icon color-fail">clear</mat-icon></span></ng-template>
            </div>

            <div class="clear"></div>

            <hr class="dashed" /><br/>

            <h4>{{ 'USERS.FORM.PERSON_TAB.NAMES_TITLE' | i18n }}</h4>
            <mat-form-field appearance="fill" class="medium">
              <mat-label>{{ 'USERS.FORM.PERSON_TAB.NAME1_PLACEHOLDER' | i18n }}</mat-label>
              <input matInput icSpecialCharsWS type="text" formControlName="name_01" placeholder="{{ 'USERS.FORM.PERSON_TAB.NAME1_INPUT' | i18n }}">
            </mat-form-field>

            <mat-form-field appearance="fill" class="medium">
              <mat-label>{{ 'USERS.FORM.PERSON_TAB.NAME2_PLACEHOLDER' | i18n }}</mat-label>
              <input matInput icSpecialCharsWS type="text" formControlName="name_02" placeholder="{{ 'USERS.FORM.PERSON_TAB.NAME2_INPUT' | i18n }}">
            </mat-form-field>

            <br/>

            <h4>{{ 'USERS.FORM.PERSON_TAB.SURNAMES_TITLE' | i18n }}</h4>
            <mat-form-field appearance="fill" class="medium">
              <mat-label>{{ 'USERS.FORM.PERSON_TAB.SURNAME1_PLACEHOLDER' | i18n }}</mat-label>
              <input matInput icSpecialCharsWS type="text" formControlName="surname_01" placeholder="{{ 'USERS.FORM.PERSON_TAB.SURNAME1_INPUT' | i18n }}">
            </mat-form-field>

            <mat-form-field appearance="fill" class="medium">
              <mat-label>{{ 'USERS.FORM.PERSON_TAB.SURNAME2_PLACEHOLDER' | i18n }}</mat-label>
              <input matInput icSpecialCharsWS type="text" formControlName="surname_02" placeholder="{{ 'USERS.FORM.PERSON_TAB.SURNAME2_INPUT' | i18n }}">
            </mat-form-field>

            <hr class="dashed" /><br/>

            <h4>{{ 'USERS.FORM.PERSON_TAB.GENDER_TITLE' | i18n }}</h4>
            <mat-radio-group color="primary" formControlName="gender">
              <mat-radio-button [class.validate-error]="genderCheckErrors === true" (change)="genderCheckErrors = false" *ngFor="let currentGender of genderTypes | keyvalue;" value="{{ currentGender.key }}">{{ currentGender.value }}</mat-radio-button>
            </mat-radio-group>

            <br/><br/>

          </div> <!-- end fxLayout wrapper -->

          <div class="input-wrapper"> <!-- start fxLayout wrapper -->

            <h4>{{ 'USERS.FORM.PERSON_TAB.BIRTH_DATE_TITLE' | i18n }}</h4>
            <mat-form-field appearance="fill" class="medium" (click)="picker.open()">
              <mat-label>{{ 'USERS.FORM.PERSON_TAB.BIRTH_DATE_PLACEHOLDER' | i18n }}</mat-label>
              <input matInput [matDatepicker]="picker" formControlName="birth_date" (keydown)="false">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
              <mat-hint align="end">{{ 'USERS.FORM.PERSON_TAB.BIRTH_DATE_HINT' | i18n }}</mat-hint>
            </mat-form-field>

            <br/><br/><hr class="dashed" /><br/>

            <h4>{{ 'USERS.FORM.PERSON_TAB.PHONE_TITLE' | i18n }}</h4>
            <mat-form-field appearance="fill" class="large">
              <mat-label>{{ 'USERS.FORM.PERSON_TAB.PHONE_PLACEHOLDER' | i18n }}</mat-label>
              <input matInput icNumbers type="text" formControlName="phone_numbers[0]" placeholder="{{ 'USERS.FORM.PERSON_TAB.PHONE_INPUT' | i18n }}">
              <mat-icon matSuffix>phone</mat-icon>
              <mat-hint align="start">{{ 'USERS.FORM.PERSON_TAB.PHONE_HINT' | i18n }}</mat-hint>
            </mat-form-field>

            <br/><br/>

            <h4>{{ 'USERS.FORM.PERSON_TAB.ALT_PHONE_TITLE' | i18n }}</h4>
            <mat-form-field appearance="fill" class="large">
              <mat-label>{{ 'USERS.FORM.PERSON_TAB.PHONE_PLACEHOLDER' | i18n }}</mat-label>
              <input matInput icNumbers type="text" formControlName="phone_numbers[1]" placeholder="{{ 'USERS.FORM.PERSON_TAB.ALT_PHONE_INPUT' | i18n }}">
              <mat-icon matSuffix>phone</mat-icon>
              <mat-hint align="start">{{ 'USERS.FORM.PERSON_TAB.PHONE_HINT' | i18n }}</mat-hint>
            </mat-form-field>

          </div> <!-- end fxLayout wrapper -->
        </div>
      </div>
    </mat-tab>
    <!-- PEOPLE TAB: ---------------------------------------------------------------------------------------------------------------- -->


    <!-- USER TAB: ------------------------------------------------------------------------------------------------------------------ -->
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="tab-icon">account_circle</mat-icon>
        {{ 'USERS.FORM.USER_TAB.TITLE' | i18n }} &nbsp;
        <span *ngIf="userOperation">
          <div [ngSwitch]="userOperation">
            <mat-icon *ngSwitchCase="'insert'" matTooltip="{{ 'USERS.FORM.PERSON_TAB.INSERT_TOOLTIP' | i18n }}" class="label-alt label-tab">add</mat-icon>
            <mat-icon *ngSwitchCase="'update'" matTooltip="{{ 'USERS.FORM.PERSON_TAB.UPDATE_TOOLTIP' | i18n }}" class="label-info label-tab">edit</mat-icon>
          </div>
        </span>
        <mat-icon *ngIf="userTabErrors" class="validate-error-tab" matTooltip="{{ 'USERS.FORM.PERSON_TAB.VALIDATION_ERROR_TOOLTIP' | i18n }}">priority_high</mat-icon>
      </ng-template>

      <div formGroupName="user">
        <h2 class="form-title text-center underline-fail-alt">{{ 'USERS.FORM.USER_TAB.SUBTITLE' | i18n }}</h2>
        <div fxLayout="row" fxLayoutAlign="start start">
          <div class="input-wrapper divider"> <!-- start fxLayout wrapper -->

            <h4>{{ 'USERS.FORM.USER_TAB.EMAIL_TITLE' | i18n }}</h4>
            <mat-form-field appearance="fill" class="large">
              <mat-label>{{ 'USERS.FORM.USER_TAB.EMAIL_PLACEHOLDER' | i18n }}</mat-label>
              <input matInput type="text" id="IDtxtEmail" formControlName="email" placeholder="{{ 'USERS.FORM.USER_TAB.EMAIL_INPUT' | i18n }}" (change)="onSetEmail()">
              <mat-icon matSuffix (click)="setDefaultEmail()" matTooltip="{{ 'USERS.FORM.USER_TAB.DEFAULT_EMAIL_TOOLTIP' | i18n }}">mail</mat-icon>
            </mat-form-field>

            <hr class="dashed" /><br/>

            <h4>{{ 'USERS.FORM.USER_TAB.PASSWORD_TITLE' | i18n }} <span *ngIf="userOperation == 'update'" class="label-info">{{ 'USERS.FORM.USER_TAB.PASSWORD_HINT_UPDATE' | i18n }}</span>:</h4>

            <mat-form-field appearance="fill" class="large">
              <mat-label>{{ 'USERS.FORM.USER_TAB.PASSWORD_PLACEHOLDER' | i18n }}</mat-label>
              <input matInput type="password" formControlName="password" placeholder="{{ 'USERS.FORM.USER_TAB.PASSWORD_INPUT' | i18n }}">
              <mat-hint align="start">{{ 'USERS.FORM.USER_TAB.PASSWORD_HINT' | i18n }}</mat-hint>
            </mat-form-field>

            <br/><br/>

            <mat-form-field appearance="fill" class="large">
              <mat-label>{{ 'USERS.FORM.USER_TAB.PASSWORD_REPEAT_PLACEHOLDER' | i18n }}</mat-label>
              <input matInput type="password" formControlName="password_repeat" placeholder="{{ 'USERS.FORM.USER_TAB.PASSWORD_REPEAT_PLACEHOLDER' | i18n }}">
            </mat-form-field>

            <hr class="dashed" /><br/>

            <h4>{{ 'USERS.FORM.USER_TAB.STATUS_TITLE' | i18n }}</h4>
            <mat-radio-group color="primary" formControlName="status">
              <mat-radio-button value="true">{{ 'USERS.FORM.USER_TAB.STATUS_ACTIVE' | i18n }}</mat-radio-button>
              <mat-radio-button value="false">{{ 'USERS.FORM.USER_TAB.STATUS_INACTIVE' | i18n }}</mat-radio-button>
            </mat-radio-group>

            <br/><br/>

          </div> <!-- end fxLayout wrapper -->

          <div class="input-wrapper"> <!-- start fxLayout wrapper -->

            <h4>{{ 'USERS.FORM.USER_TAB.PROFESSIONAL_TITLE' | i18n }}</h4>
            <mat-form-field appearance="fill" class="medium">
              <mat-label>{{ 'USERS.FORM.USER_TAB.PROFESSIONAL_ID_PLACEHOLDER' | i18n }}</mat-label>
              <input matInput type="text" formControlName="professional[id]" placeholder="{{ 'USERS.FORM.USER_TAB.PROFESSIONAL_ID_INPUT' | i18n }}">
            </mat-form-field>

            <br/>

            <mat-form-field appearance="fill" class="large">
              <mat-label>{{ 'USERS.FORM.USER_TAB.PROFESSIONAL_DESC_PLACEHOLDER' | i18n }}</mat-label>
              <input matInput type="text" formControlName="professional[description]" placeholder="{{ 'USERS.FORM.USER_TAB.PROFESSIONAL_DESC_INPUT' | i18n }}">
            </mat-form-field>

            <hr class="dashed" /><br/>

            <h4>{{ 'USERS.FORM.USER_TAB.WORKLOAD_TITLE' | i18n }} <span class="label-info">{{ 'USERS.FORM.USER_TAB.WORKLOAD_HINT' | i18n }}</span>:</h4>
            <mat-form-field appearance="fill">
              <mat-label>{{ 'USERS.FORM.USER_TAB.WORKLOAD_PLACEHOLDER' | i18n }}</mat-label>
              <input matInput icNumbers type="text" formControlName="professional[workload]" placeholder="{{ 'USERS.FORM.USER_TAB.WORKLOAD_INPUT' | i18n }}">
            </mat-form-field>

            <hr class="dashed" /><br/>

            <h4>{{ 'USERS.FORM.USER_TAB.ON_LEAVE_TITLE' | i18n }}</h4>
            <mat-radio-group color="primary" formControlName="professional[vacation]">
              <mat-radio-button value="true">{{ 'USERS.FORM.USER_TAB.ON_LEAVE_YES' | i18n }}</mat-radio-button>
              <mat-radio-button value="false">{{ 'USERS.FORM.USER_TAB.ON_LEAVE_NO' | i18n }}</mat-radio-button>
            </mat-radio-group>

            <br><br/>

          </div> <!-- end fxLayout wrapper -->

        </div>
      </div>
    </mat-tab>
    <!-- USER TAB: ------------------------------------------------------------------------------------------------------------------ -->


    <!-- PERMISSIONS TAB: ----------------------------------------------------------------------------------------------------------- -->
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="tab-icon">admin_panel_settings</mat-icon>
        {{ 'USERS.FORM.PERMISSIONS_TAB.TITLE' | i18n }} &nbsp;
        <span *ngIf="userOperation">
          <div [ngSwitch]="userOperation">
            <mat-icon *ngSwitchCase="'insert'" matTooltip="{{ 'USERS.FORM.PERSON_TAB.INSERT_TOOLTIP' | i18n }}" class="label-alt label-tab">add</mat-icon>
            <mat-icon *ngSwitchCase="'update'" matTooltip="{{ 'USERS.FORM.PERSON_TAB.UPDATE_TOOLTIP' | i18n }}" class="label-info label-tab">edit</mat-icon>
          </div>
        </span>
        <mat-icon *ngIf="permissionTabErrors" class="validate-error-tab" matTooltip="{{ 'USERS.FORM.PERSON_TAB.VALIDATION_ERROR_TOOLTIP' | i18n }}">priority_high</mat-icon>
      </ng-template>

      <!-- 1: Superusuario, 2: Administrador -->
      <!-- Only superusers and administrators can set permissions -->
      <div class="permission-denied" [class.non-display]="sharedProp.userLogged.permissions[0].role == 1 || sharedProp.userLogged.permissions[0].role == 2">
        <mat-icon>gpp_maybe</mat-icon><br/><br/>
        {{ 'USERS.FORM.PERMISSIONS_TAB.ADMIN_ONLY_MSG1' | i18n }}<br/>
        {{ 'USERS.FORM.PERMISSIONS_TAB.ADMIN_ONLY_MSG2' | i18n }}
      </div>

      <span [class.non-display]="sharedProp.userLogged.permissions[0].role !== 1 && sharedProp.userLogged.permissions[0].role !== 2">
        <h2 class="form-title text-center underline-fail-alt">{{ 'USERS.FORM.PERMISSIONS_TAB.SUBTITLE' | i18n }}</h2>
        <div fxLayout="row" fxLayoutAlign="start start">
          <div class="input-wrapper divider"> <!-- start fxLayout wrapper -->

            <h4>{{ 'USERS.FORM.PERMISSIONS_TAB.ROLE_TITLE' | i18n }}</h4>
            <mat-form-field appearance="fill" class="medium">
              <mat-label>{{ 'USERS.FORM.PERMISSIONS_TAB.ROLE_PLACEHOLDER' | i18n }}</mat-label>
              <mat-select formControlName="role" (selectionChange)="userService.onSetRole($event, form)">
                <div *ngFor="let currentRole of userRoles | keyvalue">
                  <div *ngIf="currentRole.key == 1; then thenBlockRole else elseBlockRole"></div>
                  <ng-template #thenBlockRole>
                    <!--Only superuser can add Superuser role -->
                    <mat-option *ngIf="sharedProp.userLogged.permissions[0].role == 1" value="{{ currentRole.key }}">{{ currentRole.value }}</mat-option>
                  </ng-template>

                  <ng-template #elseBlockRole>
                    <mat-option value="{{ currentRole.key }}">{{ currentRole.value }}</mat-option>
                  </ng-template>
                </div>
              </mat-select>
            </mat-form-field>

            <br/><hr class="dashed" /><br/>

            <h4>{{ 'USERS.FORM.PERMISSIONS_TAB.DOMAIN_TYPE_TITLE' | i18n }}</h4>
            <mat-radio-group color="primary" formControlName="domain_type">
              <mat-radio-button value ="organization" [disabled]="userService.disableRadioOrganization">{{ 'USERS.FORM.PERMISSIONS_TAB.DOMAIN_TYPE_ORG' | i18n }}</mat-radio-button>
              <mat-radio-button value ="branch" [disabled]="userService.disableRadioBranch">{{ 'USERS.FORM.PERMISSIONS_TAB.DOMAIN_TYPE_BRANCH' | i18n }}</mat-radio-button>
              <mat-radio-button value ="service" [disabled]="userService.disableRadioService">{{ 'USERS.FORM.PERMISSIONS_TAB.DOMAIN_TYPE_SERVICE' | i18n }}</mat-radio-button>
            </mat-radio-group>

            <br/><br/>

            <div [ngSwitch]="form.value.domain_type">
              <!--ORGANIZATION-->
              <span *ngSwitchCase="'organization'">
                <h4>{{ 'USERS.FORM.PERMISSIONS_TAB.DOMAIN_TITLE' | i18n }}</h4>
                <mat-form-field appearance="fill" class="large">
                  <mat-label>{{ 'USERS.FORM.PERMISSIONS_TAB.DOMAIN_PLACEHOLDER' | i18n }}</mat-label>
                  <mat-select formControlName="domain" placeholder="{{ 'USERS.FORM.PERMISSIONS_TAB.DOMAIN_SELECT' | i18n }}">
                    <div *ngFor="let currentOrganization of availableOrganizations">
                      <mat-option value="{{ currentOrganization._id }}">{{ currentOrganization.short_name }} ({{ currentOrganization.name }})</mat-option>
                    </div>
                  </mat-select>
                </mat-form-field>
              </span>

              <!--BRANCH-->
              <span *ngSwitchCase="'branch'">
                <h4>{{ 'USERS.FORM.PERMISSIONS_TAB.DOMAIN_TITLE' | i18n }}</h4>
                <mat-form-field appearance="fill" class="large">
                  <mat-label>{{ 'USERS.FORM.PERMISSIONS_TAB.DOMAIN_PLACEHOLDER' | i18n }}</mat-label>
                  <mat-select formControlName="domain" placeholder="{{ 'USERS.FORM.PERMISSIONS_TAB.DOMAIN_SELECT' | i18n }}">
                    <div *ngFor="let currentBranch of availableBranches">
                      <div *ngFor="let currentOrganization of availableOrganizations">
                        <mat-option *ngIf="currentBranch.fk_organization == currentOrganization._id" value="{{ currentBranch._id }}">{{ currentOrganization.short_name }} ► {{ currentBranch.short_name }} ({{ currentBranch.name }})</mat-option>
                      </div>
                    </div>
                  </mat-select>
                </mat-form-field>
              </span>

              <!--SERVICE-->
              <span *ngSwitchCase="'service'">
                <h4>{{ 'USERS.FORM.PERMISSIONS_TAB.DOMAIN_TITLE' | i18n }}</h4>
                <mat-form-field appearance="fill" class="large">
                  <mat-label>{{ 'USERS.FORM.PERMISSIONS_TAB.DOMAIN_PLACEHOLDER' | i18n }}</mat-label>
                  <mat-select formControlName="domain" placeholder="{{ 'USERS.FORM.PERMISSIONS_TAB.DOMAIN_SELECT' | i18n }}">
                    <div *ngFor="let currentService of availableServices">
                      <div *ngFor="let currentBranch of availableBranches">
                        <div *ngFor="let currentOrganization of availableOrganizations">
                          <mat-option *ngIf="currentBranch.fk_organization == currentOrganization._id && currentService.fk_branch == currentBranch._id" value="{{ currentService._id }}">{{ currentOrganization.short_name }} ► {{ currentBranch.short_name }} ► {{ currentService.name }}</mat-option>
                        </div>
                      </div>
                    </div>
                  </mat-select>
                </mat-form-field>
              </span>
            </div>

            <hr class="dashed" /><br/>

            <h4>{{ 'USERS.FORM.PERMISSIONS_TAB.CONCESSIONS_TITLE' | i18n }}</h4>
            <div fxLayout="row" fxLayoutAlign="start start" class="item-container" formArrayName="concessions">
              <div class="input-wrapper"> <!-- start fxLayout wrapper -->
                <ng-container *ngFor="let currentConcessions of userConcessions | keyvalue: unsorted; ; let i = index;">
                  <span *ngIf="i + 1 <= getMath.ceil(getKeys(userConcessions).length / 2)">
                    <mat-checkbox color="primary" (change)="onCheckConcession($event, currentConcessions.key)">{{ currentConcessions.value }}</mat-checkbox><br/>
                  </span>
                </ng-container>
              </div> <!-- end fxLayout wrapper -->

              <div class="input-wrapper"> <!-- start fxLayout wrapper -->
                <ng-container *ngFor="let currentConcessions of userConcessions | keyvalue: unsorted; ; let i = index;">
                  <span *ngIf="i + 1 > getMath.ceil(getKeys(userConcessions).length / 2)">
                    <mat-checkbox color="primary" (change)="onCheckConcession($event, currentConcessions.key)">{{ currentConcessions.value }}</mat-checkbox><br/>
                  </span>
                </ng-container>
              </div> <!-- end fxLayout wrapper -->
            </div>

            <br/><hr class="dashed" /><br/>

            <div class="text-right">
              <button mat-flat-button type="button" color="accent" (click)="userService.addPermission(form, permissions, selectedConcession)"><mat-icon>add</mat-icon> {{ 'USERS.FORM.PERMISSIONS_TAB.ADD_PERMISSION_BUTTON' | i18n }}</button>
            </div>

            <br/>
          </div> <!-- end fxLayout wrapper -->


          <div class="input-wrapper"> <!-- start fxLayout wrapper -->
            <div *ngIf="getKeys(permissions).length > 0; then thenBlockPermissions else elseBlockPermissions"></div>

            <ng-template #thenBlockPermissions>
              <h4>{{ 'USERS.FORM.PERMISSIONS_TAB.ASSIGNED_PERMISSIONS_TITLE' | i18n }}</h4>

              <div  class="permission-container">
                <ng-container *ngFor="let currentPermission of permissions; let permissionIndex = index;">

                    <!--ORGANIZATION DOMAIN-->
                    <span *ngIf="currentPermission.organization">
                      <div *ngFor="let currentOrganization of availableOrganizations">
                        <div *ngIf="currentOrganization._id == currentPermission.organization" class="permission-table">
                          <div class="permission-header">
                            <div class="permission-title">{{ userRoles[currentPermission.role] }}</div>
                            <div class="permission-button"><mat-icon matTooltip="{{ 'USERS.FORM.PERMISSIONS_TAB.REMOVE_PERMISSION_TOOLTIP' | i18n }}" (click)="userService.removePermission(permissionIndex, permissions)">close</mat-icon></div>
                            <div class="clear"></div>
                          </div>
                          <div><strong>{{ 'USERS.FORM.PERMISSIONS_TAB.ORGANIZATION' | i18n }}</strong> {{ currentOrganization.short_name }} ({{ currentOrganization.name }})</div>
                          <div><strong>{{ 'USERS.FORM.PERMISSIONS_TAB.CONCESSIONS' | i18n }}</strong>
                            <div *ngIf="currentPermission.concession && currentPermission.concession.length > 0 then thenBlockConcession else elseBlockConcession"></div>

                            <ng-template #thenBlockConcession>
                              <ng-container *ngFor="let currentConcession of currentPermission.concession;">
                                {{ userConcessions[currentConcession] + ', ' }}
                              </ng-container>
                            </ng-template>

                            <ng-template #elseBlockConcession>{{ 'USERS.FORM.PERMISSIONS_TAB.NO_CONCESSIONS' | i18n }}</ng-template>
                          </div>
                        </div>
                      </div>
                    </span>

                    <!--BRANCH DOMAIN-->
                    <span *ngIf="currentPermission.branch">
                      <div *ngFor="let currentBranch of availableBranches">
                        <div *ngFor="let currentOrganization of availableOrganizations">
                          <div *ngIf="currentBranch.fk_organization == currentOrganization._id && currentBranch._id == currentPermission['branch']" class="permission-table">
                            <div class="permission-header">
                              <div class="permission-title">{{ userRoles[currentPermission.role] }}</div>
                              <div class="permission-button"><mat-icon matTooltip="{{ 'USERS.FORM.PERMISSIONS_TAB.REMOVE_PERMISSION_TOOLTIP' | i18n }}" (click)="userService.removePermission(permissionIndex, permissions)">close</mat-icon></div>
                              <div class="clear"></div>
                            </div>
                            <div><strong>{{ 'USERS.FORM.PERMISSIONS_TAB.BRANCH' | i18n }}</strong> {{ currentOrganization.short_name }} ► {{ currentBranch.short_name }} ({{ currentBranch.name }})</div>
                            <div><strong>{{ 'USERS.FORM.PERMISSIONS_TAB.CONCESSIONS' | i18n }}</strong>
                              <div *ngIf="currentPermission.concession && currentPermission.concession.length > 0; then thenBlockConcession else elseBlockConcession"></div>

                              <ng-template #thenBlockConcession>
                                <ng-container *ngFor="let currentConcession of currentPermission.concession;">
                                  {{ userConcessions[currentConcession] + ', ' }}
                                </ng-container>
                              </ng-template>

                              <ng-template #elseBlockConcession>{{ 'USERS.FORM.PERMISSIONS_TAB.NO_CONCESSIONS' | i18n }}</ng-template>
                            </div>
                          </div>
                        </div>
                      </div>
                    </span>

                    <!--SERVICE DOMAIN-->
                    <span *ngIf="currentPermission.service">
                      <div *ngFor="let currentService of availableServices">
                        <div *ngFor="let currentBranch of availableBranches">
                          <div *ngFor="let currentOrganization of availableOrganizations">
                            <div *ngIf="currentBranch.fk_organization == currentOrganization._id && currentService.fk_branch == currentBranch._id && currentService._id == currentPermission['service']" class="permission-table">
                              <div class="permission-header">
                                <div class="permission-title">{{ userRoles[currentPermission.role] }}</div>
                                <div class="permission-button"><mat-icon matTooltip="{{ 'USERS.FORM.PERMISSIONS_TAB.REMOVE_PERMISSION_TOOLTIP' | i18n }}" (click)="userService.removePermission(permissionIndex, permissions)">close</mat-icon></div>
                                <div class="clear"></div>
                              </div>
                              <div><strong>{{ 'USERS.FORM.PERMISSIONS_TAB.SERVICE' | i18n }}</strong> {{ currentOrganization.short_name }} ► {{ currentBranch.short_name }} ► {{ currentService.name }}</div>
                              <div><strong>{{ 'USERS.FORM.PERMISSIONS_TAB.CONCESSIONS' | i18n }}</strong>
                                <div *ngIf="currentPermission.concession && currentPermission.concession.length > 0; then thenBlockConcession else elseBlockConcession"></div>

                                <ng-template #thenBlockConcession>
                                  <ng-container *ngFor="let currentConcession of currentPermission.concession;">
                                    {{ userConcessions[currentConcession] + ', ' }}
                                  </ng-container>
                                </ng-template>

                                <ng-template #elseBlockConcession>{{ 'USERS.FORM.PERMISSIONS_TAB.NO_CONCESSIONS' | i18n }}</ng-template>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </span>
                </ng-container>
              </div>
            </ng-template>

            <ng-template #elseBlockPermissions>
              <br/><span class="label-accent">{{ 'USERS.FORM.PERMISSIONS_TAB.NO_PERMISSIONS' | i18n }}</span>
            </ng-template>

            <br/><br/>

            <div class="permission-card">
              <mat-icon>info</mat-icon>&nbsp;
              <span>{{ 'USERS.FORM.PERMISSIONS_TAB.SAVE_FORM_INFO' | i18n }}</span>
            </div>

          </div> <!-- end fxLayout wrapper -->
        </div>
      </span>
    </mat-tab>
    <!-- PERMISSIONS TAB: ----------------------------------------------------------------------------------------------------------- -->

  </mat-tab-group>

  <div class="action-wrapper"fxLayout="row" fxLayoutAlign="end center">
    <div> <!-- start fxLayout wrapper -->
      <button mat-flat-button type="button" (click)="onCancel();">{{ 'USERS.FORM.CANCEL_BUTTON' | i18n }}</button>
      <button mat-flat-button type="submit" color="primary" [disabled]="disabled_save_button">{{ 'USERS.FORM.SAVE_BUTTON' | i18n }}</button>
    </div> <!-- end fxLayout wrapper -->
  </div>
</form>
