<form class="form-element" [formGroup]="form" (ngSubmit)="onSubmit()">
  <mat-tab-group>

    <!-- PEOPLE TAB: ---------------------------------------------------------------------------------------------------------------- -->
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="tab-icon">person</mat-icon>
        {{ 'APPOINTMENTS.SET_PATIENT.TABS.PERSON' | i18n }} &nbsp;
        <span *ngIf="personOperation">
          <div [ngSwitch]="personOperation">
            <mat-icon *ngSwitchCase="'insert'" matTooltip="{{ 'APPOINTMENTS.SET_PATIENT.TABS.INSERT_TOOLTIP' | i18n }}" class="label-alt label-tab">add</mat-icon>
            <mat-icon *ngSwitchCase="'update'" matTooltip="{{ 'APPOINTMENTS.SET_PATIENT.TABS.UPDATE_TOOLTIP' | i18n }}" class="label-info label-tab">edit</mat-icon>
          </div>
        </span>
        <mat-icon *ngIf="personTabErrors" class="validate-error-tab" matTooltip="{{ 'APPOINTMENTS.SET_PATIENT.TABS.VALIDATION_ERROR_TOOLTIP' | i18n }}">priority_high</mat-icon>
      </ng-template>

      <div formGroupName="person">
        <h2 class="form-title text-center underline-fail-alt">
          {{ 'APPOINTMENTS.SET_PATIENT.PERSON_DATA_TITLE' | i18n }}
          <mat-icon class="label-light label-tab anonymize-button" (click)="anonymizeUser()" matTooltip="{{ 'APPOINTMENTS.SET_PATIENT.ANONYMIZE_USER_TOOLTIP' | i18n }}">person_off</mat-icon>
        </h2>
        
        <div fxLayout="row" fxLayoutAlign="start start">
          <div class="input-wrapper divider"> <!-- start fxLayout wrapper -->
            <div class="documents">
              <h4>{{ 'APPOINTMENTS.FORM_INSERT.PATIENT.DOCUMENTS' | i18n }}</h4>
              <mat-form-field appearance="fill" class="medium document_inputs">
                <mat-label>{{ 'USERS.FORM.PERSON_TAB.DOC_COUNTRY_PLACEHOLDER' | i18n }}</mat-label>
                <mat-select formControlName="doc_country_code" (selectionChange)="onSetDocument(true)">
                  <div *ngFor="let currentCode of getKeys(country_codes, true)">
                    <mat-option value="{{ currentCode }}"><span class="flag-icon flag-icon-{{ country_codes[currentCode].alpha_2 | lowercase }}"></span>&nbsp;&nbsp;&nbsp;{{ country_codes[currentCode].name }}</mat-option>
                  </div>
                </mat-select>
              </mat-form-field>

              <br/>

              <mat-form-field appearance="fill" class="medium document_inputs">
                <mat-label>{{ 'USERS.FORM.PERSON_TAB.DOC_TYPE_PLACEHOLDER' | i18n }}</mat-label>
                <mat-select formControlName="doc_type" (selectionChange)="onSetDocument(true)">
                  <div *ngFor="let currentDocTypeKey of documentTypesKeys">
                    <mat-option value="{{ currentDocTypeKey }}">{{ ('DOCUMENT_TYPES.' + currentDocTypeKey) | i18n }}</mat-option>
                  </div>
                </mat-select>
              </mat-form-field>

              <br/>

              <mat-form-field appearance="fill" class="medium document_inputs">
                <mat-label>{{ 'USERS.FORM.PERSON_TAB.DOCUMENT_PLACEHOLDER' | i18n }}</mat-label>
                <input matInput type="text" formControlName="document" placeholder="{{ 'USERS.FORM.PERSON_TAB.DOCUMENT_INPUT' | i18n }}" (blur)="onSetDocument()" (keyup)="validateDocument()">
              </mat-form-field>
            </div>


            <div *ngIf="getKeys(documents).length > 0" class="documents-info text-right">
              <small>{{ 'USERS.FORM.PERSON_TAB.DOCUMENT_PLACEHOLDER' | i18n }}/s persona:</small><br/>
              <span *ngFor="let currentDoc of documents" >
                <span matTooltip="{{ country_codes[currentDoc.doc_country_code].name }}" class="flag-icon flag-icon-{{ country_codes[currentDoc.doc_country_code].alpha_2 | lowercase }}"></span>&nbsp;
                <span matTooltip="{{ ('DOCUMENT_TYPES.' + currentDoc.doc_type) | i18n }}">
                  <span>{{ currentDoc.document }}</span>
                </span>
                <br/>
              </span>
            </div>

            <div *ngIf="this.registered_doc_type === true" class="validate-info text-right">
              <div *ngIf="this.validation_result; then thenBlock else elseBlock"></div>
              <ng-template #thenBlock><span class="label-accent" matTooltip="{{ 'USERS.FORM.PERSON_TAB.DOCUMENT_VALIDATION_OK' | i18n }}">{{ 'USERS.FORM.PERSON_TAB.DOCUMENT_VALIDATION' | i18n }} <mat-icon class="validate-icon color-ok">done</mat-icon></span></ng-template>
              <ng-template #elseBlock><span class="label-accent" matTooltip="{{ 'USERS.FORM.PERSON_TAB.DOCUMENT_VALIDATION_FAIL' | i18n }}">{{ 'USERS.FORM.PERSON_TAB.DOCUMENT_VALIDATION' | i18n }} <mat-icon class="validate-icon color-fail">clear</mat-icon></span></ng-template>
            </div>

            <div class="clear"></div>

            <hr class="dashed" /><br/>

            <h4>{{ 'USERS.FORM.PERSON_TAB.NAMES_TITLE' | i18n }}</h4>
            <mat-form-field appearance="fill" class="medium">
              <mat-label>{{ 'USERS.FORM.PERSON_TAB.NAME1_PLACEHOLDER' | i18n }}</mat-label>
              <input matInput icSpecialCharsWS type="text" formControlName="name_01" placeholder="{{ 'USERS.FORM.PERSON_TAB.NAME1_INPUT' | i18n }}">
            </mat-form-field>

            <mat-form-field appearance="fill" class="medium">
              <mat-label>{{ 'USERS.FORM.PERSON_TAB.NAME2_PLACEHOLDER' | i18n }}</mat-label>
              <input matInput icSpecialCharsWS type="text" formControlName="name_02" placeholder="{{ 'USERS.FORM.PERSON_TAB.NAME2_INPUT' | i18n }}">
            </mat-form-field>

            <br/>

            <h4>{{ 'USERS.FORM.PERSON_TAB.SURNAMES_TITLE' | i18n }}</h4>
            <mat-form-field appearance="fill" class="medium">
              <mat-label>{{ 'USERS.FORM.PERSON_TAB.SURNAME1_PLACEHOLDER' | i18n }}</mat-label>
              <input matInput icSpecialCharsWS type="text" formControlName="surname_01" placeholder="{{ 'USERS.FORM.PERSON_TAB.SURNAME1_INPUT' | i18n }}">
            </mat-form-field>

            <mat-form-field appearance="fill" class="medium">
              <mat-label>{{ 'USERS.FORM.PERSON_TAB.SURNAME2_PLACEHOLDER' | i18n }}</mat-label>
              <input matInput icSpecialCharsWS type="text" formControlName="surname_02" placeholder="{{ 'USERS.FORM.PERSON_TAB.SURNAME2_INPUT' | i18n }}">
            </mat-form-field>

            <hr class="dashed" /><br/>

            <h4>{{ 'USERS.FORM.PERSON_TAB.GENDER_TITLE' | i18n }}</h4>
            <mat-radio-group color="primary" formControlName="gender">
              <mat-radio-button [class.validate-error]="genderCheckErrors === true" (change)="genderCheckErrors = false" *ngFor="let currentGenderKey of genderTypesKeys" value="{{ currentGenderKey }}">{{ ('GENDER_TYPES.' + currentGenderKey) | i18n }}</mat-radio-button>
            </mat-radio-group>

            <br/><br/>

          </div> <!-- end fxLayout wrapper -->

          <div class="input-wrapper"> <!-- start fxLayout wrapper -->

            <h4>{{ 'USERS.FORM.PERSON_TAB.BIRTH_DATE_TITLE' | i18n }}</h4>
            <mat-form-field appearance="fill" class="medium" (click)="picker.open()">
              <mat-label>{{ 'ACTION.SELECT_DATE' | i18n }}</mat-label>
              <input matInput [matDatepicker]="picker" formControlName="birth_date" (keydown)="false">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
              <mat-hint align="end">{{ 'SLOTS.FORM.DATE_HINT' | i18n }}</mat-hint>
            </mat-form-field>

            <br/><br/><hr class="dashed" /><br/>

            <h4>{{ 'USERS.FORM.PERSON_TAB.PHONE_TITLE' | i18n }}</h4>
            <mat-form-field appearance="fill" class="large">
              <mat-label>{{ 'USERS.FORM.PERSON_TAB.PHONE_PLACEHOLDER' | i18n }}</mat-label>
              <input matInput icNumbers type="text" formControlName="phone_numbers[0]" placeholder="{{ 'USERS.FORM.PERSON_TAB.PHONE_INPUT' | i18n }}">
              <mat-icon matSuffix>phone</mat-icon>
              <mat-hint align="start">{{ 'USERS.FORM.PERSON_TAB.PHONE_HINT' | i18n }}</mat-hint>
            </mat-form-field>

            <br/><br/>

            <h4>{{ 'USERS.FORM.PERSON_TAB.ALT_PHONE_TITLE' | i18n }}</h4>
            <mat-form-field appearance="fill" class="large">
              <mat-label>{{ 'USERS.FORM.PERSON_TAB.PHONE_PLACEHOLDER' | i18n }}</mat-label>
              <input matInput icNumbers type="text" formControlName="phone_numbers[1]" placeholder="{{ 'USERS.FORM.PERSON_TAB.PHONE_INPUT' | i18n }} alternativo">
              <mat-icon matSuffix>phone</mat-icon>
              <mat-hint align="start">{{ 'USERS.FORM.PERSON_TAB.PHONE_HINT' | i18n }}</mat-hint>
            </mat-form-field>

          </div> <!-- end fxLayout wrapper -->
        </div>
      </div>
    </mat-tab>
    <!-- PEOPLE TAB: ---------------------------------------------------------------------------------------------------------------- -->


    <!-- USER TAB: ------------------------------------------------------------------------------------------------------------------ -->
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="tab-icon">account_circle</mat-icon>
        {{ 'APPOINTMENTS.SET_PATIENT.TABS.USER' | i18n }} &nbsp;
        <span *ngIf="userOperation">
          <div [ngSwitch]="userOperation">
            <mat-icon *ngSwitchCase="'insert'" matTooltip="{{ 'APPOINTMENTS.SET_PATIENT.TABS.INSERT_TOOLTIP' | i18n }}" class="label-alt label-tab">add</mat-icon>
            <mat-icon *ngSwitchCase="'update'" matTooltip="{{ 'APPOINTMENTS.SET_PATIENT.TABS.UPDATE_TOOLTIP' | i18n }}" class="label-info label-tab">edit</mat-icon>
          </div>
        </span>
        <mat-icon *ngIf="userTabErrors" class="validate-error-tab" matTooltip="{{ 'APPOINTMENTS.SET_PATIENT.TABS.VALIDATION_ERROR_TOOLTIP' | i18n }}">priority_high</mat-icon>
      </ng-template>

      <div formGroupName="user">
        <h2 class="form-title text-center underline-fail-alt">{{ 'USERS.FORM.USER_TAB.SUBTITLE' | i18n }}</h2>
        <div fxLayout="row" fxLayoutAlign="start start">
          <div class="input-wrapper divider"> <!-- start fxLayout wrapper -->

            <h4>{{ 'USERS.FORM.USER_TAB.EMAIL_TITLE' | i18n }}</h4>
            <mat-form-field appearance="fill" class="large">
              <mat-label>{{ 'USERS.FORM.USER_TAB.EMAIL_PLACEHOLDER' | i18n }}</mat-label>
              <input matInput type="text" id="IDtxtEmail" formControlName="email" placeholder="{{ 'USERS.FORM.USER_TAB.EMAIL_INPUT' | i18n }}" (change)="onSetEmail()">
              <mat-icon matSuffix (click)="setDefaultEmail()" matTooltip="{{ 'USERS.FORM.USER_TAB.DEFAULT_EMAIL_TOOLTIP' | i18n }}">mail</mat-icon>
            </mat-form-field>

            <hr class="dashed" /><br/>

            <h4>{{ 'USERS.FORM.USER_TAB.PASSWORD_TITLE' | i18n }} <span *ngIf="userOperation == 'update'" class="label-info">{{ 'USERS.FORM.USER_TAB.PASSWORD_HINT_UPDATE' | i18n }}</span>:</h4>

            <mat-form-field appearance="fill" class="large">
              <mat-label>{{ 'USERS.FORM.USER_TAB.PASSWORD_PLACEHOLDER' | i18n }}</mat-label>
              <input matInput type="password" formControlName="password" placeholder="{{ 'USERS.FORM.USER_TAB.PASSWORD_INPUT' | i18n }}">
              <mat-hint align="start">{{ 'USERS.FORM.USER_TAB.PASSWORD_HINT' | i18n }}</mat-hint>
            </mat-form-field>

            <br/><br/>

            <mat-form-field appearance="fill" class="large">
              <mat-label>{{ 'USERS.FORM.USER_TAB.PASSWORD_REPEAT_PLACEHOLDER' | i18n }}</mat-label>
              <input matInput type="password" formControlName="password_repeat" placeholder="{{ 'USERS.FORM.USER_TAB.PASSWORD_REPEAT_PLACEHOLDER' | i18n }}">
            </mat-form-field>

            <hr class="dashed" /><br/>

            <h4>{{ 'APPOINTMENTS.FORM_INSERT.PATIENT.STATUS' | i18n }}</h4>
            <mat-radio-group color="primary" formControlName="status">
              <mat-radio-button value="true">{{ 'BRANCHES.LIST.STATUS.ACTIVE' | i18n }}</mat-radio-button>
              <mat-radio-button value="false">{{ 'BRANCHES.LIST.STATUS.INACTIVE' | i18n }}</mat-radio-button>
            </mat-radio-group>

            <br/><br/>

          </div> <!-- end fxLayout wrapper -->


          <div class="input-wrapper"> <!-- start fxLayout wrapper -->
            <!-- Only superuser can set patient organization -->
            <div [class.non-display]="sharedProp.userLogged.permissions[0].role !== 1">
              <h4>{{ 'APPOINTMENTS.SET_PATIENT.PATIENT_ORGANIZATION' | i18n }}<span class="label-info">{{ 'APPOINTMENTS.SET_PATIENT.PATIENT_PERMISSIONS' | i18n }}</span>:</h4>
              <mat-form-field appearance="fill" class="large">
                <mat-label>{{ 'ACTION.ORGANIZATION' | i18n }}</mat-label>
                <mat-select formControlName="organization"  placeholder="{{ 'ACTION.SELECT_ORGANIZATION' | i18n }}">
                  <div *ngFor="let currentOrganization of availableOrganizations">
                    <mat-option value="{{ currentOrganization._id }}">{{ currentOrganization.short_name }} ({{ currentOrganization.name }})</mat-option>
                  </div>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="text-center" [class.non-display]="sharedProp.userLogged.permissions[0].role === 1">
              <img class="form_nodes" src="../../../../../assets/img/nodes.png" alt="nodes">
            </div>
          </div> <!-- end fxLayout wrapper -->

        </div>
      </div>
    </mat-tab>
    <!-- USER TAB: ------------------------------------------------------------------------------------------------------------------ -->

  </mat-tab-group>

  <div class="action-wrapper"fxLayout="row" fxLayoutAlign="end center">
    <div> <!-- start fxLayout wrapper -->
      <button mat-flat-button type="button" (click)="onCancel();">{{ 'COMMON.CANCEL' | i18n | uppercase }}</button>
      <button mat-flat-button type="submit" color="primary" [disabled]="disabled_save_button">{{ 'APPOINTMENTS.SELECT_PROCEDURE.NEXT_BUTTON' | i18n }} &nbsp;►</button>
    </div> <!-- end fxLayout wrapper -->
  </div>
</form>
