<h1 mat-dialog-title class="underline-ok"><mat-icon>help</mat-icon>&nbsp; {{ 'DIALOGS.SEARCH_INFO.TITLE' | i18n }}</h1>
<div mat-dialog-content>
    <ul>
        <li>{{ 'DIALOGS.SEARCH_INFO.CASE_INSENSITIVE_START' | i18n }} <strong>{{ 'DIALOGS.SEARCH_INFO.CASE_INSENSITIVE_BOLD1' | i18n }}</strong> {{ 'DIALOGS.SEARCH_INFO.CASE_INSENSITIVE_MIDDLE' | i18n }} <strong>{{ 'DIALOGS.SEARCH_INFO.CASE_INSENSITIVE_BOLD2' | i18n }}</strong>{{ 'DIALOGS.SEARCH_INFO.CASE_INSENSITIVE_END' | i18n }}</li><br/>
        <li>{{ 'DIALOGS.SEARCH_INFO.REGEX_ALLOWED_START' | i18n }} <strong>{{ 'DIALOGS.SEARCH_INFO.REGEX_ALLOWED_BOLD1' | i18n }}</strong> {{ 'DIALOGS.SEARCH_INFO.REGEX_ALLOWED_MIDDLE' | i18n }} <strong>{{ 'DIALOGS.SEARCH_INFO.REGEX_ALLOWED_BOLD2' | i18n }}</strong>{{ 'DIALOGS.SEARCH_INFO.REGEX_ALLOWED_END' | i18n }}</li>
    </ul>

    <br/><hr class="dashed" />
    <div class="text-center"><strong>{{ 'DIALOGS.SEARCH_INFO.BASIC_METACHARS_BOLD1' | i18n }}</strong> {{ 'DIALOGS.SEARCH_INFO.BASIC_METACHARS_MIDDLE' | i18n }} <strong>{{ 'DIALOGS.SEARCH_INFO.BASIC_METACHARS_BOLD2' | i18n }}</strong></div>
    <hr class="dashed" /><br/>

    <span class="label-info">.</span> {{ 'DIALOGS.SEARCH_INFO.DOT_DESC' | i18n }}<br/>
    <span class="label-light">A<strong>.</strong>A &nbsp;<mat-icon>arrow_forward</mat-icon>&nbsp; A<mark>N</mark>A</span>
    <br/><br/>

    <span class="label-info">*</span> {{ 'DIALOGS.SEARCH_INFO.STAR_DESC' | i18n }}<br/>
    <span class="label-light">A<strong>.*</strong>A &nbsp;<mat-icon>arrow_forward</mat-icon>&nbsp; A<mark></mark>A | A<mark>N</mark>A | A<mark>NN</mark>A</span>
    <br/><br/>

    <span class="label-info">+</span> {{ 'DIALOGS.SEARCH_INFO.PLUS_DESC' | i18n }}<br/>
    <span class="label-light">A<strong>.+</strong>A &nbsp;<mat-icon>arrow_forward</mat-icon>&nbsp; A<mark>N</mark>A</span>
    <br/><br/>
    
    <span class="label-info">?</span> {{ 'DIALOGS.SEARCH_INFO.QUESTION_DESC' | i18n }}<br/>
    <span class="label-light">A<strong>.?</strong>A &nbsp;<mat-icon>arrow_forward</mat-icon>&nbsp; A<mark></mark>A | A<mark>N</mark>A</span>
    <br/><br/>

    <hr class="dashed" />
</div>
<div mat-dialog-actions>
  <span class="mat-spacer"></span>
  <button mat-flat-button mat-dialog-close [mat-dialog-close]="true" color="primary" cdkFocusInitial>{{ 'DIALOGS.SEARCH_INFO.OK' | i18n }}</button>
</div>
