<form class="form-element" [formGroup]="form" (ngSubmit)="onSubmit()">
  <div fxLayout="row" fxLayoutAlign="start start">

    <div class="input-wrapper divider"> <!-- start fxLayout wrapper -->
      <h4>{{ 'SERVICES.FORM.BRANCH_H4' | i18n }}</h4>
      <mat-form-field appearance="fill" class="large">
        <mat-label>{{ 'SERVICES.FORM.BRANCH_LABEL' | i18n }}</mat-label>
        <mat-select formControlName="fk_branch" (selectionChange)="onChangeBranch($event)" placeholder="{{ 'SERVICES.FORM.BRANCH_PLACEHOLDER' | i18n }}">
          <div *ngFor="let currentBranch of availableBranches">
            <div *ngFor="let currentOrganization of availableOrganizations">
              <mat-option *ngIf="currentBranch.fk_organization == currentOrganization._id" value="{{ currentBranch._id }}">{{ currentOrganization.short_name }} ► {{ currentBranch.short_name }} ({{ currentBranch.name }})</mat-option>
            </div>
          </div>
        </mat-select>
      </mat-form-field>

      <h4>{{ 'SERVICES.FORM.NAME_H4' | i18n }}</h4>
      <mat-form-field appearance="fill" class="large">
        <mat-label>{{ 'SERVICES.FORM.NAME_LABEL' | i18n }}</mat-label>
        <input matInput type="text" formControlName="name" placeholder="{{ 'SERVICES.FORM.NAME_PLACEHOLDER' | i18n }}">
      </mat-form-field>

      <h4>{{ 'SERVICES.FORM.EQUIPMENT_H4' | i18n }}</h4>
      <mat-form-field appearance="fill" class="large">
        <mat-label>{{ 'SERVICES.FORM.EQUIPMENT_LABEL' | i18n }}</mat-label>
        <mat-select formControlName="fk_equipments" (closed)="onChangeEquipment()" placeholder="{{ 'SERVICES.FORM.EQUIPMENT_PLACEHOLDER' | i18n }}" multiple>
          <div *ngFor="let currentEquipment of availableEquipments">
            <mat-option #matOption (click)="addModalities(matOption.selected, currentEquipment._id, currentEquipment.fk_modalities)" value="{{ currentEquipment._id }}">{{ currentEquipment.name }}</mat-option>
          </div>
        </mat-select>
      </mat-form-field>

      <h4>{{ 'SERVICES.FORM.MODALITY_H4' | i18n }}</h4>
      <mat-form-field appearance="fill" class="large">
        <mat-label>{{ 'SERVICES.FORM.MODALITY_LABEL' | i18n }}</mat-label>
        <mat-select formControlName="fk_modality" placeholder="{{ 'SERVICES.FORM.MODALITY_PLACEHOLDER' | i18n }}">
          <div *ngFor="let currentModality of availableModalities">
            <mat-option value="{{ currentModality._id }}">{{ currentModality.code_value }} ({{ currentModality.code_meaning }})</mat-option>
          </div>
        </mat-select>
      </mat-form-field>

      <h4>{{ 'SERVICES.FORM.STATUS_H4' | i18n }}</h4>
      <mat-radio-group color="primary" formControlName="status">
        <mat-radio-button value="true">{{ 'SERVICES.FORM.STATUS_ACTIVE' | i18n }}</mat-radio-button>
        <mat-radio-button value="false">{{ 'SERVICES.FORM.STATUS_INACTIVE' | i18n }}</mat-radio-button>
      </mat-radio-group>

      <br/><br/>
    </div> <!-- end fxLayout wrapper -->

    <div class="input-wrapper text-center"> <!-- start fxLayout wrapper -->
      <img class="form_nodes" src="../../../../../assets/img/nodes.png" alt="{{ 'SERVICES.FORM.NODES_ALT' | i18n }}">
    </div> <!-- end fxLayout wrapper -->

  </div>

  <div class="action-wrapper"fxLayout="row" fxLayoutAlign="end center">
    <div> <!-- start fxLayout wrapper -->
      <button mat-flat-button type="button" (click)="onCancel();">{{ 'SERVICES.FORM.CANCEL_BUTTON' | i18n }}</button>
      <button mat-flat-button type="submit" color="primary">{{ 'SERVICES.FORM.SAVE_BUTTON' | i18n }}</button> <!-- [disabled]="form_data.invalid" -->
    </div> <!-- end fxLayout wrapper -->
  </div>
</form>
