<form class="form-element" [formGroup]="form" (ngSubmit)="onSubmit()">
  <div fxLayout="row" fxLayoutAlign="start start">

    <div class="input-wrapper divider"> <!-- start fxLayout wrapper -->
      <h4>{{ 'modalities.meaning' | translate }}:</h4>
      <mat-form-field appearance="fill" class="medium">
        <mat-label>{{ 'modalities.meaning' | translate }}</mat-label>
        <input matInput type="text" formControlName="code_meaning" [placeholder]="'modalities.meaning_placeholder' | translate">
      </mat-form-field>

      <h4>{{ 'modalities.value' | translate }}:</h4>
      <mat-form-field appearance="fill" class="small">
        <mat-label>{{ 'modalities.value' | translate }}</mat-label>
        <input matInput icLetters type="text" formControlName="code_value" [placeholder]="'modalities.value_placeholder' | translate">
      </mat-form-field>

      <hr class="dashed" /><br/>

      <h4>{{ 'modalities.status' | translate }}:</h4>
      <mat-radio-group [attr.aria-label]="'modalities.status' | translate" color="primary" formControlName="status">
        <mat-radio-button value="true">{{ 'modalities.active' | translate }}</mat-radio-button>
        <mat-radio-button value="false">{{ 'modalities.inactive' | translate }}</mat-radio-button>
      </mat-radio-group>

      <br/><br/>
    </div> <!-- end fxLayout wrapper -->

    <div class="input-wrapper text-center"> <!-- start fxLayout wrapper -->
      <img class="form_nodes" src="../../../../../assets/img/nodes.png" alt="nodes">
    </div> <!-- end fxLayout wrapper -->

  </div>

  <div class="action-wrapper"fxLayout="row" fxLayoutAlign="end center">
    <div> <!-- start fxLayout wrapper -->
      <button mat-flat-button type="button" (click)="onCancel();">{{ 'modalities.cancel' | translate }}</button>
      <button mat-flat-button type="submit" color="primary">{{ 'modalities.save' | translate }}</button> <!-- [disabled]="form_data.invalid" -->
    </div> <!-- end fxLayout wrapper -->
  </div>
</form>
