<form class="form-element" [formGroup]="form" (ngSubmit)="onSubmit()">
  <div fxLayout="row" fxLayoutAlign="start start">

    <div class="input-wrapper divider"> <!-- start fxLayout wrapper -->
      <h4>{{ 'MODALITIES.LIST.CODE_MEANING' | i18n }}:</h4>
      <mat-form-field appearance="fill" class="medium">
        <mat-label>{{ 'MODALITIES.LIST.CODE_MEANING' | i18n }}</mat-label>
        <input matInput type="text" formControlName="code_meaning" [placeholder]="'MODALITIES.FORM.CODE_MEANING_PLACEHOLDER' | i18n">
      </mat-form-field>

      <h4>{{ 'MODALITIES.LIST.CODE_VALUE' | i18n }}:</h4>
      <mat-form-field appearance="fill" class="small">
        <mat-label>{{ 'MODALITIES.LIST.CODE_VALUE' | i18n }}</mat-label>
        <input matInput icLetters type="text" formControlName="code_value" [placeholder]="'MODALITIES.FORM.CODE_VALUE_PLACEHOLDER' | i18n">
      </mat-form-field>

      <hr class="dashed" /><br/>

      <h4>{{ 'MODALITIES.LIST.STATUS' | i18n }}:</h4>
      <mat-radio-group [attr.aria-label]="'MODALITIES.LIST.STATUS' | i18n" color="primary" formControlName="status">
        <mat-radio-button value="true">{{ 'ACTION.STATUS_ACTIVE' | i18n }}</mat-radio-button>
        <mat-radio-button value="false">{{ 'ACTION.STATUS_INACTIVE' | i18n }}</mat-radio-button>
      </mat-radio-group>

      <br/><br/>
    </div> <!-- end fxLayout wrapper -->

    <div class="input-wrapper text-center"> <!-- start fxLayout wrapper -->
      <img class="form_nodes" src="../../../../../assets/img/nodes.png" alt="nodes">
    </div> <!-- end fxLayout wrapper -->

  </div>

  <div class="action-wrapper"fxLayout="row" fxLayoutAlign="end center">
    <div> <!-- start fxLayout wrapper -->
      <button mat-flat-button type="button" (click)="onCancel();">{{ 'ACTION.CANCEL_BUTTON' | i18n }}</button>
      <button mat-flat-button type="submit" color="primary">{{ 'ACTION.SAVE_BUTTON' | i18n }}</button> <!-- [disabled]="form_data.invalid" -->
    </div> <!-- end fxLayout wrapper -->
  </div>
</form>
